﻿@{
    Layout = null;
}
@model MIC.AseanTalentSearch.Web.EF.Candidate
@{
    var themeName = string.Empty;
    if (string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["name"]))
    {
        themeName = ViewBag.ThemeName;
    }
    else
    {
        themeName = ViewContext.HttpContext.Request.Query["name"];
    }
    var listCM = (List<MIC.AseanTalentSearch.Web.Models.Candidate.CandidateCommentViewModel>)ViewBag.ListCommnet;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="~/Themes/@(themeName)/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/css/site.min.css" rel="stylesheet" />
    <style>
        #mn-comments {
            padding: 0px;
        }

            #mn-comments .avatar-cmt {
                overflow: hidden;
                background-repeat: no-repeat !important;
                background-attachment: scroll !important;
                background-position: center center !important;
                -webkit-background-size: cover !important;
                -moz-background-size: cover !important;
                background-size: cover !important;
                -o-background-size: cover !important;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                top: 10px;
            }

            #mn-comments .comments {
                border-bottom: 1px solid #e7eaf3;
                margin-bottom: 30px;
            }

            #mn-comments ul li {
                display: inline-block;
                float: left;
            }
    </style>
</head>
<body data-spy="scroll" data-target="#scrollly" data-offset="40">
    <section id="sidebar">
        <div class="sidebar-heading">
            <!-- Logo -->
            <div id="logo" class="text-center">
                <p class="image"><img style="width:100px; height:100px;" class="img-center" src="@(Model?.IdNavigation?.GeneralProfile?.Image)" alt="" /></p>
                <h1 id="title"> @(Model?.FullName ?? "<no name>") </h1>
                @*  <p id="job" class="text-center text-uppercase">Expected Job: @(Model?.ExpectedJobLevel?.JobLevelName ?? "<No experience>")</p>*@
            </div>
            <!-- Nav -->
            <nav id="scrollly">
                <ul class="nav">
                    <li class="active"><a href="#info">Information</a></li>
                    <li><a href="#skill">Skill</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section id="main">
        <!-- Banner -->
        <section id="top" class="one dark cover">
            <div id="banner" class="fill" style="background: url('@Url.Content($"~/Themes/{(themeName)}/image/bg-heder.png")'); height: 600px;">
                <div class="container">
                    <header>
                        <h1><em>Hello!</em></h1>
                        <h1 class="text-uppercase">I AM @(Model?.FullName ?? "<no name>")</h1>
                        <p>
                            <em>
                                I have experience in @if (Model.CandidateCategory != null && Model.CandidateCategory.Any())
                                {
                                    @String.Join(", ", Model.CandidateCategory.Select(m => m.Category.Name.Trim()))
                                } field.
                            </em>
                        </p>
                        <!-- Social Icons -->
                        <ul class="icons">
                            <li><a target="_blank" href="@Model?.Facebook" class="icon fa fa-facebook"></a></li>
                            <li><a target="_blank" href="@Model?.LinkedIn" class="icon fa fa-linkedin"></a></li>
                            <li><a target="_blank" href="@Model?.Instagram" class="icon fa fa-instagram"></a></li>
                            <li><a target="_blank" href="@Model?.Twitter" class="icon fa fa-twitter"></a></li>
                            <li><a target="_blank" href="@Model?.Youtube" class="icon fa fa-youtube-square"></a></li>
                        </ul>
                    </header>
                </div>
            </div>
        </section>
        <!-- Info -->
        <section id="info" class="even">
            <div class="container">
                <header>
                    <h2>INFORMATION</h2>
                </header>
                <div class="row">
                    <div class="col-lg-7 ">
                        <p class="text-content">
                            @Html.Raw(Model?.Summary)
                        </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="case-info left" style="text-align: left;">
                                    <li>Birthdate: @Model?.IdNavigation?.GeneralProfile?.BirthDate?.ToString("dd/MM/yyyy")</li>
                                    <li>Email: @(Model?.Email ?? "<No Email>")</li>
                                    <li>Phone number: @(Model?.PhoneNumber ?? "<No number phone>")</li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="case-info right">
                                    <li>Years of experience: @(Model?.YearsOfExperience)</li>
                                    <li>Address: @(Model?.Address)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-1">
                        <img class="img-center" src="@Url.Content($"~/Themes/{themeName}/image/info-img.png")" alt="">
                    </div>

                </div>
            </div>
        </section>
        <!-- Skill -->
        <section id="skill" class="odd">
            <div class="container">
                <header>
                    <h2>SKILL</h2>
                    <div class="square"></div>
                </header>
                <div class="row">
                    <div class="col-lg-12" id="circles">
                        @{
                            var tem = 0;
                        }
                        @foreach (var item in Model.CandidateSkill.Select(m => m.Skill))
                        {
                            <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                                <div class="first circle" data-id="@Model.CandidateSkill.Select(m => m.SkillLevel).ElementAt(tem)"></div>
                                @if ((Model?.CandidateSkill?.Select(m => m.SkillLevel).ElementAt(tem)) != null)
                                {
                                    <p id="percent" class="percent100">@Html.Raw(Model.CandidateSkill.Select(m => m.SkillLevel).ElementAt(tem)) %</p>
                                }
                                else
                                {
                                    <p id="percent" class="percent100">0%</p>
                                }
                                <p class="text-center footer-circle">@item.Name</p>
                            </div>
                            tem++;
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- Experience -->
        <section id="experience" class="even">
            <div class="container">
                <header>
                    <h2>EXPERIENCE</h2>
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="timeline">
                            @foreach (var item in Model.EmploymentHistory)
                            {
                                <li>
                                    <div class="timeline-badge info"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <div class=" row">
                                                <div class="col-md-3">
                                                    <div class="box-label box-label-date ">
                                                        @if (item?.EndedDate != null)
                                                        {
                                                            @Html.Raw(item?.StartedDate.ToString("MM/yyy") + " - " + item?.EndedDate?.ToString("MM/yyy"))
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("From " + item?.StartedDate.ToString("MM/yyy"))
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <p class="timeline-title">
                                                        <span>@item?.PositionTitle</span>
                                                    </p>
                                                    <p>@item?.CompanyName</p>
                                                    <p>
                                                        @Html.Raw(item?.Description ?? "")
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="education" class="even">
            <div class="container">
                <header>
                    <h2>EDUCATION</h2>
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="timeline">
                            @foreach (var item in Model.EducationHistory)
                            {
                                <li>
                                    <div class="timeline-badge"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-body">
                                            <div class=" row">
                                                <div class="col-md-3">
                                                    <div class="box-label box-label-date ">
                                                        @item?.BeginDate.ToString("MM/yyy") - @item?.EndDate.ToString("MM/yyy")
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <p class="timeline-title"><span>@(item?.Major?.Name ?? "no Major")</span></p>
                                                    <ul class="list-unstyled">
                                                        <li>@(item?.Major?.University?.Name ?? "<No university name>")</li>
                                                        <li>Bachelor: @(item?.Ranking)</li>
                                                        <li>Content: @Html.Raw(item?.Achievement ?? "")</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="mn-comments">
            <div class="education__process">
                <div class="container">
                    <div class="row">
                        <header>
                            <h2>COMMENTS</h2>
                        </header>
                        <div class="col-md-12">
                            <div>
                                @foreach (var item in listCM)
                                {
                                    <div class="comments">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>
                                                        <div class="avatar-cmt" style="background:url('@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))');"></div>
                                                    </li>
                                                    <li class="info-user">
                                                        <h4 style="color:#3a6bc4">@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h4>
                                                        <p><em>@item?._OldUniversity</em></p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-right rate pull-right">
                                                    <p>
                                                        @($"{item.CondidateComment.ModifiedDate: d.MM.yyyy | h:mm}")
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 content" style="margin:10px 0px">
                                                @Html.Raw(item.CondidateComment.Comment ?? "")
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        @*<section id="about" class="odd">
            <div class="container">
                <header>
                    <h2>ABOUT</h2>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Họ và tên">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Tiêu đề">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-large"></textarea>
                        </div>
                        <div class="text-center">
                            <button id="login-btn" type="submit" class="btn btn-details">GỬI TIN NHẮN</button>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="figure-container">
                            <div class="figure-item clearfix">
                                <div class="figure-image">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <div class="figure-content">
                                    <span class="figure-text">Phone</span>
                                    <span class="figure-number">@(Model?.PhoneNumber??"<no number Phone>")</span>
                                </div>
                            </div>
                        </div>
                        <div class="figure-container">
                            <div class="figure-item clearfix">
                                <div class="figure-image">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="figure-content">
                                    <span class="figure-text">Email</span>
                                    <span class="figure-number">@(Model?.Email??"<no Email>")</span>
                                </div>
                            </div>
                        </div>
                        <div class="figure-container">
                            <div class="figure-item clearfix">
                                <div class="figure-image">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="figure-content">
                                    <span class="figure-text">Address</span>
                                    <span class="figure-number">@(Model?.Address?? "<no Address>")</span>
                                    <hr>
                                    <ul class="icons">
                                        <li><a href="@Model?.Facebook" class="icon fa fa-facebook"></a></li>
                                        <li><a href="@Model?.LinkedIn" class="icon fa fa-linkedin"></a></li>
                                        <li><a href="@Model?.Instagram" class="icon fa fa-instagram"></a></li>
                                        <li><a href="@Model?.Twitter" class="icon fa fa-twitter"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
        <section id="map-page">
            <div id="map"></div>
        </section>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        © 2017 <a style="color:#000;" href="/">Contact Asean</a>. All rights reserved.
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div id="headerToggle"><a href="#header" class="toggle"></a></div>

    <script src="~/Themes/@(themeName)/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Themes/@(themeName)/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Themes/@(themeName)/lib/jquery-circle-progress/dist/circle-progress.min.js"></script>
    <script>
        $(".toggle").click(function (e) {
            e.preventDefault();
            $('body').toggleClass("header-visible");
        });
    </script>
    <script>
        $(document).ready(function () {
            if (window.performance) {
                console.info("window.performance work's fine on this browser");
            }
            if (performance.navigation.type == 1) {
                console.info("This page is reloaded");
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/CurriculumVitae/AddView',
                    data: { id: '@Model.Cvid.ToString()' }
                })
                    .done(function (result) {
                        console.log(result);
                    });
                console.info("This page is not reloaded");
            }
        })
    </script>
    <script>
        function initMap() {
            var uluru = { lat: 16.075322, lng: 108.222845 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script>
        var c1 = $('.first');
        c1.each(function (index) {
            $(this).circleProgress({
                startAngle: -Math.PI / 4 * 2,
                value: $(this).data('id') / 100,
                size: 130,
                lineCap: 'round',
                fill: { color: '#fff' }
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgX4Uu1lJxMK_4KxAFuApJZ9bE8sD_OPY&callback=initMap"></script>
</body>
</html>