﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>CONTACT ASEAN</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-social/bootstrap-social.css">
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/register.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/favicons/manifest.json">
    <link rel="mask-icon" href="~/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body style=" background: url('@Url.Content("~/images/bg-login3.png")');" id="bg-login">
    <!-- REGISTER -->
    @*<div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="register">
                            <div class="col-sm-7" id="register--center" style="background-color: #fff;">
                                <div class="register__form">
                                    <div class="home-page">
                                        <a asp-controller="Home" asp-action="Index">
                                            <img src="~/images/icon1.png" alt="">
                                            <span style="vertical-align: middle;">Home</span>
                                        </a>
                                    </div>
                                    <div id="main-wrapper">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 hidden-xs" style="background-color: #062d4c">
                                <div class="intro-form">
                                    <img class="img-center" src="~/images/LOGO_CONTACTASSEAN.png" alt="">
                                    <p class="text-center">Hello there !</p>
                                    <h2 class="text-center">welcome to Contact Asean.</h2>
                                    <div class="text-center image">
                                        <img src="~/images/icon.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <section class="banner-register fill " role="banner" style="background:url('/images/bg-signinsignup.jpg'); min-height: 950px; margin: 0 !important">
        
        <div id="banner-content-sg">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 hidden-xs hidden-sm">
                            <div class="title-sg">
                                <h3>Hello,</h3>
                                <h4>Welcome to <a asp-action="Index" asp-controller="Home" style="color:#fff;font-weight:bold">Contact Asean</a> </h4>
                                <a asp-action="Index" asp-controller="Home">
                                    <img src="~/images/logo-footer1.jpg" width="150" />
                                </a>
                            </div>
                           
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- Modal content-->
                            <div class="form-sg-header">
                                <ul class="nav nav-tabs">
                                    <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Login", "Account"),StringComparison.OrdinalIgnoreCase)?"active":"")'>
                                        <a asp-controller="Account" asp-action="Login">SIGN IN</a></li>
                                    <li><span>|</span></li>
                                    <li  class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Register", "Account"),StringComparison.OrdinalIgnoreCase)?"active":"")'>
                                        <a asp-controller="Account" asp-action="Register">SIGN UP</a></li>
                                </ul>
                            </div>
                            <div class="form-sg-body">
                                <div class="tab-content">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-login" style="background-color:#000;">
        <div class="container">
            <strong>&copy; @DateTime.Now.Year <a href="#">Contact Asean</a>.</strong> All rights
            reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
