<style>
    #work-step .owl-theme .owl-nav {
        margin-top: 30px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="img-step owl-carousel owl-theme">
                <img src="~/Images/image-new/STEP1.png" alt="">
                <img src="~/Images/image-new/STEP2.png" alt="">
                <img src="~/Images/image-new/STEP3.png" alt="">
                <img src="~/Images/image-new/STEP4.png" alt="">
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2 class="title-section text-uppercase">@T.T("Home.HowItWork")</h2>
            <ul id="carousel-custom-dots" class="steps owl-dots">
                <li class="owl-dot active"><a href="#"><span>Step1:</span> @T.T("Home.CreateAccount")</a></li>
                <li class="owl-dot"><a href="#"><span>Step2:</span> @T.T("Home.SearchJob")</a></li>
                <li class="owl-dot"><a href="#"><span>Step3:</span> @T.T("Home.SendResume")</a></li>
                <li class="owl-dot"><a href="#"><span>Step4:</span> @T.T("Home.GetJob")</a></li>
            </ul>
        </div>
    </div>
</div>