﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="~/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/fav/favicon-16x16.png">
    <link rel="manifest" href="~/fav/manifest.json">
    <link rel="mask-icon" href="~/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <title>Contact Asean | @ViewData["Title"]</title>
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/lib/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-month-picker/src/MonthPicker.css" rel="stylesheet" />

    <link href="~/css/site.min.css" rel="stylesheet" />
    <!-- jQuery 2.2.3 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/owl.carousel/dist/owl.carousel.min.js" charset="utf-8"></script>
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/bs-typeahead/js/bootstrap-typeahead.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Html.Raw(JavaScriptSnippet.FullScript)
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
    <section class="banner fill" role="banner" style="background:url('Image/image_temp/banner-home.jpg');">
        <header id="header" class="header-fixed">
            <div class="container">
                <div class="header-content clearfix">
                    <a class="logo" href="index.html"><img style="width: 100px; height: auto;" src="Image/image_temp/logo-footer1.jpg" alt=""></a>
                    <nav class="navigation" role="navigation">
                        <ul class="primary-nav">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="Alljob.html">All jobs</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">Startup</a></li>
                            <li><a href="policy.html">Policy</a></li>
                            <li class="dropdown language-choose">
                                <a href="" data-toggle="dropdown">
                                    <img src="Image/image_temp/england.png" alt=""><i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href=""><img src="Image/image_temp/england.png" alt=""></a></li>
                                    <li><a href=""><img src="Image/image_temp/VN.png" alt=""></a></li>
                                    <li><a href=""><img src="Image/image_temp/eng1.png" alt=""></a></li>
                                </ul>
                            </li>
                            <li class="divider"> | </li>
                            <li class="call-to-action"><a href="#" data-target="#myModal" data-toggle="modal">SIGN IN | SIGN UP</a></li>
                        </ul>
                    </nav>
                    <a href="#" class="nav-toggle">Menu<span></span></a>
                </div>
            </div>
        </header>
        <div id="banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="banner-content-left">
                                <div class="col-md-12">
                                    <div class="banner-text">
                                        <h2 class="animated slideInLeft">Find <span>the career</span> you deserve.</h2>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="Enter job title, position, skill...">
                                    </div>
                                    <p><em>Keywords: Designer, developer, web design... </em></p>
                                </div>
                                <div class="=col-md-6 col-sm-6 ">
                                    <div class="form-group">
                                        <select style="width: 100%" class="form-control advance-select">
                                            <option selected disabled value="">All categories</option>
                                            <option value="1">IT</option>
                                            <option value="2">Art</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="form-group">
                                        <select style="width: 100%" class="form-control advance-select">
                                            <option selected disabled value="">All locations</option>
                                            <option value="1">Nam</option>
                                            <option value="2">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a href="" class="btn btn-primary btn-job ">Find Jobs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-push-1 col-md-6 hidden-sm hidden-xs">
                        <div id="intro" class="owl-carousel owl-theme banner-content-right">
                            <img class="slide" src="Image/image_temp/ANH_SLIDER/1.png" alt="">
                            <img class="slide" src="Image/image_temp/ANH_SLIDER/2.png" alt="">
                            <img class="slide" src="Image/image_temp/ANH_SLIDER/3.png" alt="">
                            <img class="slide" src="Image/image_temp/ANH_SLIDER/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="jobs">
        <div class="container">
            <ul class="nav nav-tabs">
                <li id="hottest-jobs" class="pull-right"><a data-toggle="tab" href="#menu1">Hottest Jobs</a></li>
                <li class="active pull-right"><a data-toggle="tab" href="#home">Featured Jobs</a></li>
                <li id="title-jobs" class=" pull-left">We have <span>1000</span> available jobs for you</li>
            </ul>
            <div class="tab-content">
                <div id="menu1" class="tab-pane fade">
                    <h1>Hùng đẹp trai</h1>
                </div>
                <div id="home" class="tab-pane fade in active">
                    <div class=" table-responsive">
                        <table class="table table-condensed table-striped">
                            <tbody>
                                <tr>
                                    <td class="td_image">
                                        <div class="td-img-content"><img class="img-responsive" src="Image/image_temp/logo-tb-1.jpg" alt=""></div>
                                    </td>
                                    <td class="text-left">
                                        <p class="text-bold">Art Director</p>
                                        <p><em>Explore Minnesota company</em></p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 20.10.2017 - 31.10.2017</p>
                                    </td>
                                    <td>
                                        <p class="text-bold"><i class="fa fa-money" aria-hidden="true"></i> $500 - $1500</p>
                                    </td>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-orange btn-fill-horz">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_image">
                                        <div class="td-img-content"><img src="Image/image_temp/logo-tb-2.jpg" alt=""></div>
                                    </td>
                                    <td class="text-left">
                                        <p class="text-bold">Electrical Engineer</p>
                                        <p><em>Microsoft Innovation Center at Duy Tan University</em></p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 20.10.2017 - 31.10.2017</p>
                                    </td>
                                    <td>
                                        <p class="text-bold"><i class="fa fa-money" aria-hidden="true"></i> $500 - $1500</p>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-orange btn-fill-horz">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_image">
                                        <div class="td-img-content"><img class="img-responsive" src="Image/image_temp/logo-tb-3.jpg" alt=""></div>
                                    </td>
                                    <td class="text-left">
                                        <p class="text-bold">Tour Operator</p>
                                        <p><em>DuyTan Travel</em></p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 20.10.2017 - 31.10.2017</p>
                                    </td>
                                    <td>
                                        <p class="text-bold"><i class="fa fa-money" aria-hidden="true"></i> $500 - $1500</p>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-orange btn-fill-horz">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_image">
                                        <div class="td-img-content"><img src="Image/image_temp/logo-tb-4.jpg" alt=""></div>
                                    </td>
                                    <td class="text-left">
                                        <p class="text-bold">Junior UX Designer</p>
                                        <p><em>Apatie Seguros</em></p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 20.10.2017 - 31.10.2017</p>
                                    </td>
                                    <td>
                                        <p class="text-bold"><i class="fa fa-money" aria-hidden="true"></i> $500 - $1500</p>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-orange btn-fill-horz">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_image">
                                        <div class="td-img-content"><img src="Image/image_temp/logo-tb-5.jpg" alt=""></div>
                                    </td>
                                    <td class="text-left">
                                        <p class="text-bold">Senior Marketing</p>
                                        <p><em>Qantas company</em></p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 20.10.2017 - 31.10.2017</p>
                                    </td>
                                    <td>
                                        <p class="text-bold"><i class="fa fa-money" aria-hidden="true"></i> $500 - $1500</p>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-orange btn-fill-horz">View more</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="hottest" style="background:url('Image/image_temp/banner-home-middle1.jpg');" class="fill">
        <div class="container">
            <div class="row">
                <div class="col-md-push-6 col-md-6">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#companies">Hottest Companies</a></li>
                        <li class="device">|</li>
                        <li><a data-toggle="tab" href="#universities">Hottest Universities</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="companies" class="tab-pane fade in active">
                            <div id="hottest-img" class="owl-carousel owl-theme">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="cusLogo">
                                            <img src="Image/image_temp/logo-tb-1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="cusLogo">
                                            <img src="Image/image_temp/logo-tb-2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="cusLogo">
                                            <img src="Image/image_temp/logo-tb-3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="cusLogo">
                                            <img src="Image/image_temp/logo-tb-4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="cusLogo">
                                            <img src="Image/image_temp/logo-tb-5.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="cusLogo">
                                            <img src="Image/image_temp/logo-tb-2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="btn btn-orange btn-fill-horz">VIEW MORE</a>
                        </div>
                        <div id="universities" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-news">Latest News</h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="Image/image_temp/img-new-1.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                            <a href="#" class="btn btn-orange btn-fill-horz">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="Image/image_temp/img-new-2.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                            <a href="#" class="btn btn-orange btn-fill-horz">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="Image/image_temp/img-new-3.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                            <a href="#" class="btn btn-orange btn-fill-horz">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="work-step" style="background:url('Image/image_temp/banner-step.jpg');" class="fill">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="img-step owl-carousel owl-theme">
                        <img src="Image/image_temp/STEP1.png" alt="">
                        <img src="Image/image_temp/STEP2.png" alt="">
                        <img src="Image/image_temp/STEP3.png" alt="">
                        <img src="Image/image_temp/STEP4.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title-section text-uppercase">THIS IS HOW IT WORKS</h2>
                    <ul id="carousel-custom-dots" class="steps owl-dots">
                        <li class="owl-dot active"><a href=""><span>Step1:</span> Create an account</a></li>
                        <li class="owl-dot"><a href=""><span>Step2:</span> Search jobs</a></li>
                        <li class="owl-dot"><a href=""><span>Step3:</span> Send your resume</a></li>
                        <li class="owl-dot"><a href=""><span>Step4:</span> Get your job</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="banner-footer" style="background:url('Image/image_temp/banner-home-footer.jpg')" class="fill">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <h3>Set up your profile and upload a resume so employers can find you.</h3>
                </div>
                <div class="col-md-2 col-sm-12">
                    <a href="#" class="btn btn-orange btn-fill-horz pull-right">SIGN UP</a>
                </div>
            </div>
        </div>
    </section>
    <section id="header-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="footer-item">
                        <a href="index.html"><img src="Image/image_temp/logo-footer1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="footer-item">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>0236-3-827111 (Ext.221)</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-item">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>phongtochucdtu@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-item">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Room 221 - 03 Quang Trung street, Da Nang</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <nav id="navbar-footer" class="navbar navbar-default">
                        <div id="navbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="Alljob.html">All jobs</a></li>
                                <li><a href="">News</a></li>
                                <li><a href="">Startup</a></li>
                                <li><a href="policy.html">Policy</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right social">
                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright @ 2017 <a href="">Contact Asean</a>.All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-custom">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#modal-signin">@T.T("Home.Sign.In")</a></li>
                        <li><a data-toggle="tab" href="#modal-signup">@T.T("Home.Sign.Up")</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div id="modal-signin" class="tab-pane fade  in active">
                            <p class="text-center"><em>@T.T("Home.Sign.Up.With")Sign up with</em></p>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a class="btn btn-block btn-social btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                        Facebook
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <a class="btn btn-block btn-social btn-google">
                                        <span class="fa fa-google"></span>
                                        Google+
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <hr>
                                    <p class="text-center or"><em>Or</em></p>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Remember me?
                                        </label>
                                        <a href=""><em>Forgot password?</em></a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <a href="" class="btn btn-orange btn-fill-horz">SIGN IN</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="" data-dismiss="modal" class="btn btn-fill-horz btn-close">CLOSE</a>
                                </div>
                            </div>
                        </div>
                        <div id="modal-signup" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Confirm password</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Candidate
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Employer
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Instructor
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p>By clicking on "Register". I have read and accepted Privacy Policy of Contact Asean</p>
                                </div>
                                <div class="col-xs-6">
                                    <a href="" class="btn btn-orange btn-fill-horz">SIGN UP</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="" data-dismiss="modal" class="btn btn-fill-horz btn-close">CLOSE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- Bootstrap 3.3.6 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/lib/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/AdminLTE/plugins/fastclick/fastclick.js"></script>
    <script src="~/lib/matchHeight/dist/jquery.matchHeight-min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/AdminLTE/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/lib/AdminLTE/dist/js/demo.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js" charset="utf-8"></script>
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js" type="text/javascript"></script>
    @* <script src="~/areas/employer/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>*@
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-ui-month-picker/src/MonthPicker.js"></script>
    <script src="~/js/site.min.js"></script>
    <script>
    $(document).ready(function() {
        //Initialize Select2 Elements
        $(".select2").select2();
          @if (TempData["message"] != null) {
             @:toastr.success('@TempData["message"]');
          }
        @if (TempData["error"] != null) {
             @:toastr.error('@TempData["error"]');
          }
    });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @RenderSection("Scripts", required: false)
</body>
</html>

