﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/favicons/manifest.json">
    <link rel="mask-icon" href="~/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <title>Contact Asean | @ViewData["Title"]</title>
    <!-- Bootstrap 3.3.6 -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/lib/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/jquery-ui-month-picker/src/MonthPicker.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Montserrat:400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/lib/normalize-css/normalize.css">
    <link rel="stylesheet" href="~/css/employer.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <!-- jQuery 2.2.3 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/bs-typeahead/js/bootstrap-typeahead.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Html.Raw(JavaScriptSnippet.FullScript)
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body>
    @await Html.PartialAsync("_Navbar")
    
    
        <!-- Full Width Column -->
            <!-- Content Header (Page header) -->
            @RenderSection("content-header", false)
            <!-- Main content -->
                @RenderBody()
            <!-- /.content -->
            <!-- /.container -->
        <!-- /.content-wrapper -->
        @await Html.PartialAsync("_MainFooter")
    <div class="modal fade" id="modal-default" role="dialog">
        <div class="modal-dialog modal-lg modal-custom modal-child">
            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modal-edit" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
        <!-- /.modal-dialog -->
    </div>
        <!-- /.modal -->

        <div id="loading-area" style="display:none; position: fixed; top: 50%; left: 50%; z-index: 1000;">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    <!-- ./wrapper -->
    <!-- Bootstrap 3.3.6 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/lib/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/AdminLTE/plugins/fastclick/fastclick.js"></script>
    <script src="~/lib/matchHeight/dist/jquery.matchHeight-min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/AdminLTE/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/lib/AdminLTE/dist/js/demo.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/select2/select2.full.min.js" charset="utf-8"></script>
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js" type="text/javascript"></script>
    @* <script src="~/areas/employer/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>*@
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src= "~/lib/jquery-ui-month-picker/src/MonthPicker.js" ></script>
    <script src="~/js/site.min.js"></script>

    <script src="~/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/lib/matchHeight/dist/jquery.matchHeight-min.js"></script>
    <script src="~/js/main.js"></script>
    <script>
    $(document).ready(function() {
        //Initialize Select2 Elements
        $(".advance-select").select2({
            theme: "bootstrap",
            allowClear: true,
        });
        //$(".select2").select2();
          @if (TempData["message"] != null) {
             @:toastr.success('@TempData["message"]');
          }
/**/
/**/
        @if (TempData["error"] != null) {
             @:toastr.error('@TempData["error"]');
          }

    });
    </script>
    <script>
    $(document).ready(function() {
        $('.advance-select').select2({
        theme: "bootstrap"
        });
    });
    </script>
    
    <script>
    $(document).ready(function() {
        $('.nav-toggle').on('click', function() {
        $(this).toggleClass('close-nav');
        nav.toggleClass('open');
        return false;
        });
        nav.find('a').on('click', function() {
        $('.nav-toggle').toggleClass('close-nav');
        nav.toggleClass('open');
        });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#popular-show').owlCarousel({
                loop: true,
                responsiveClass: true,
                dots: true,
                //nav: true,
                slideBy: 4,
                autoplay: true,
                mouseDrag: true,
                autoplayTimeout: 5000,
                //navText: ["<span><i class='fa fa-chevron-left' aria-hidden='true'></i></span>", "<span><i class='fa fa-chevron-right' aria-hidden='true'></i></span>"],
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    480: {
                        items: 2,
                        nav: true
                    },
                    768: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 4,
                        nav: true
                    }
                }
            });
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @RenderSection("Scripts", required: false)
</body>
</html>

