﻿@model ProfileViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .avatar-nav {
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 20px;
        position:relative;
        top:15px;
    }
    .info-nav p {
        color: #fff;
        margin-left: 15px;
    }
    #header .nav-user{
        display:block;
        border-bottom:none;
    }
    #header.fixed .nav-user{
        
    }
    #header.fixed .navigation a.nav-user {
        border-top: none;
    }

    #header .header-content{
        padding-top:0px;
    }
    #header .header-content .logo img{
        margin-top:23px;
    }
</style>
@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle nav-user" data-toggle="dropdown" style="padding-top:0px">
            <!-- The user image in the navbar-->
            @{ 
                var img = String.IsNullOrEmpty(Model?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(Model.Image);
            }
            <ul class="profile-nav">
                <li>
                    <div class="avatar-nav" style="background:url('@img');"></div>
                    @*<div class="avatar-nav" style="background-color:aqua;"></div>*@
                </li>
                <li class="info-nav">
                    <p>@UserManager.GetUserName(User)</p>
                </li>
            </ul>
        </a>
        <ul class="dropdown-menu" style="background: none">
            <!-- The user image in the menu -->
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    @if (User.IsInRole("Candidate"))
                    {
                        <a asp-controller="Candidate" asp-action="Profile" class="btn btn-flat">@T.T("Home.Profile")</a>
                    }
                    else if (User.IsInRole("Employer"))
                    {
                        <a asp-area="Employer" asp-controller="Home" asp-action="Index" class="btn btn-flat">@T.T("Home.Management")</a>
                    }
                    else if (User.IsInRole("Administrator"))
                    {
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-flat">@T.T("Home.Management")</a>
                    }
                    else if (User.IsInRole("Instructor"))
                    {
                        <a asp-area="Instructor" asp-controller="Home" asp-action="Index" class="btn btn-flat">@T.T("Home.Management")</a>
                    }
                </div>
                <div class="pull-right">
                    <a asp-controller="Account" asp-action="LogOff" asp-area="default" class="btn btn-flat">@T.T("Home.Sign.Out")</a>
                </div>
            </li>
        </ul>
    </li>
}
else
{
    <li class="call-to-action">
        <a asp-controller="Account"
           asp-action="LoginAndRegister"
           data-ajax="true"
           data-toggle="modal"
           data-target="#modal-default"
           data-ajax-loading="#loading-area"
           data-ajax-failure="OnFailure"
           data-ajax-update="#modal-default #modal-content">
            @T.T("Home.Sign.In") | @T.T("Home.Sign.Up")
        </a>
    </li>
}

<!-- User Account Menu -->
    