﻿<section id="banner-footer" style="background:url('/Images/banner-home-footer.jpg')" class="fill">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <h3>@T.T("Home.SetupFooter")</h3>
            </div>

            <div class="col-md-2 col-sm-12">
                @if (User.IsInRole("Candidate"))
                {
                    <a asp-controller="Candidate" asp-action="Profile" class="btn btn-blue btn-fill-horz pull-right uppercase">@T.T("Home.AddYourResume")</a>
                }
            </div>
        </div>

    </div>
</section>
<section id="header-footer">
   @await Component.InvokeAsync("Statistics")
</section>
