﻿@*<div id="main-navbar" class="navbar navbar-default">
    <nav class="navbar navbar-static-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="@Url.Content("~/images/LOGO_CONTACTASSEAN.png")" class="img-responsive" /></a>
                @*<a asp-controller="Home" asp-action="Index" style="position: relative; z-index: 1000;" class="navbar-brand visible-xs"><img src="@Url.Content("~/images/logo.png")" class="img-responsive" /></a>*@
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left hidden-sm" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                       <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Recruiment"))?"active":"")'><a asp-controller="Recruiment" asp-action="Index">All jobs</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Policy", "Home"))?"active":"")'><a asp-controller="Home" asp-action="Policy">Policy</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Contact", "Home"))?"active":"")'><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @await Component.InvokeAsync("LoginNav")
                    </ul>
                </div>
                <!-- /.navbar-custom-menu -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>*@
@*<section class="child" role="banner">
    <header id="header" class="header-fixed @(((ViewContext.RouteData.Values["controller"].ToString()=="Home") && (ViewContext.RouteData.Values["action"].ToString()=="Index"))?"":"header-child")">
        <div class="container">
            <div class="header-content clearfix">
                <a class="logo" asp-action="Index" asp-controller="Home"><img style="width: 100px; height: auto;" src="~/Images/logo-footer1.jpg" alt=""></a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Index", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Recruiment"))?"active":"")'><a asp-controller="Recruiment" asp-action="Index">All jobs</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "News"))?"active":"")'><a asp-action="Index" asp-controller="News">News</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Startup"))?"active":"")'><a asp-action="Index" asp-controller="Startup">Startup</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Policy", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-controller="Home" asp-action="Policy">Policy</a></li>
                        <li class="dropdown language-choose">
                            <a href="" data-toggle="dropdown">
                                <img src="/Images/england.png" alt=""><i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href=""><img src="/Images/england.png" alt=""></a></li>
                                <li><a href=""><img src="/Images/VN.png" alt=""></a></li>
                                <li><a href=""><img src="/Images/eng1.png" alt=""></a></li>
                            </ul>
                        </li>
                        <li class="divider"> | </li>
                            @await Component.InvokeAsync("LoginNav")
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </div>
    </header>

</section>*@
@{ 
    var currentLang = T.language;
}
<section class="child" role="banner">
    <header id="header" class="header-fixed @(((ViewContext.RouteData.Values["controller"].ToString()=="Home") && (ViewContext.RouteData.Values["action"].ToString()=="Index"))?"":"header-child")">
        <div class="container">
            <div class="header-content clearfix">
                <a class="logo" asp-action="Index" asp-controller="Home"><img style="width: 100px; height: auto;" src="~/Images/logo-footer1.jpg" alt=""></a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Index", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-action="Index" asp-controller="Home">@T.T("Home.Home")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Recruiment"))?"active":"")'><a asp-controller="Recruiment" asp-action="Index">@T.T("Home.All.jobs")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "News"))?"active":"")'><a asp-action="Index" asp-controller="News">@T.T("Home.News")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Startup"))?"active":"")'><a asp-action="Index" asp-controller="Startup">@T.T("Home.Startup")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Policy", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-controller="Home" asp-action="Policy">@T.T("Home.Policy")</a></li>
                        <li class="dropdown language-choose">
                            <a href="" data-toggle="dropdown">
                                <img src="/@currentLang.Image" alt=""><i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var item in T.listLanguage)
                                {
                                    <li><a href="?lang=@item.LanguageCulture" class="language-icon" title="@item.Name"><img src="/@item.Image" alt=""></a></li>
                                }
                            </ul>
                        </li>
                        <li class="divider"> | </li>
                        @await Component.InvokeAsync("LoginNav")
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </div>
    </header>

</section>
