﻿@{
    ViewData["Title"] = "Error";
}
@await Component.InvokeAsync("SubJobSearchForm")
<section id="content-child">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pull-right content-404-img">
                    <img src="~/images/img1-404.png" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-404">
                    <h1>404</h1>
                    <h2>Oop, This Page Not Found!</h2>
                    <p>This is probably not what you’re looking for.............</p>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-close btn-fill-horz animated shake">GO BACK HOME</a>
                </div>
            </div>
        </div>
    </div>
</section>

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>*@
