@model List<AdminCategoryView>
@{
    ViewData["Title"] = "List Category";

}
@section heading{
    <h1>Category</h1>
}
<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<style>

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: none;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                <a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> @T.T("Admin.Create")</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 40%;">
                                @T.T("Admin.Name")
                            </th>
                            <th style="width: 30%;">
                                @T.T("Admin.ParentCategory")
                            </th>

                            <th style="width: 30%;">@T.T("Admin.Action")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Category.Name)
                                </td>
                                <td></td>


                                <td>
                                    <a asp-action="Edit" title="Edit Category" asp-route-id="@item.Category.Id" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                    <a asp-action="Create" title="Add Child Category" asp-route-id="@item.Category.Id" class="btn btn-primary"><i class="fa fa-plus"></i> @T.T("Admin.Add")</a>
                                    @if (item.Child.Count == 0)
                                    {
                                        <a asp-action="Delete" title="Delete Category" asp-route-id="@item.Category.Id" class="btn btn-danger"><i class="fa fa-trash"></i> @T.T("Admin.Delete")</a>
                                    }

                                </td>
                            </tr>
                            foreach (var child in item.Child)
                            {
                                <tr>
                                    <td style="padding-left:40px; color:#5a92ae">
                                        @Html.DisplayFor(m => child.Name)
                                    </td>
                                    <td>
                                        <b>@Html.DisplayFor(m => item.Category.Name)</b>
                                    </td>

                                    <td style="padding-left:20px;">
                                        <a asp-action="Edit" title="Edit Category" asp-route-id="@child.Id" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                        <a asp-action="Delete" title="Delete Category" asp-route-id="@child.Id" class="btn btn-danger"><i class="fa fa-trash"></i> @T.T("Admin.Delete")</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*<div class="text-center">
                        <ul class="pagination">
                            <pager />
                        </ul>
                    </div>*@
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script>
    $(function () {
        $(".table").DataTable();
    })
</script>