﻿@{
    Layout = null;
}
@model MIC.AseanTalentSearch.Web.EF.Candidate
@{
    var themeName = string.Empty;
    if (string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["name"]))
    {
        themeName = ViewBag.ThemeName;
    }
    else
    {
        themeName = ViewContext.HttpContext.Request.Query["name"];
    }

    var listCM = (List<MIC.AseanTalentSearch.Web.Models.Candidate.CandidateCommentViewModel>)ViewBag.ListCommnet;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="~/Themes/@(themeName)/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/css/site.min.css" rel="stylesheet" />
    <style>
        #mn-comments {
            padding: 0px;
        }

            #mn-comments .avatar-cmt {
                overflow: hidden;
                background-repeat: no-repeat !important;
                background-attachment: scroll !important;
                background-position: center center !important;
                -webkit-background-size: cover !important;
                -moz-background-size: cover !important;
                background-size: cover !important;
                -o-background-size: cover !important;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                top: 10px;
            }

            #mn-comments .comments {
                border-bottom: 1px solid #e7eaf3;
                margin-bottom: 30px;
            }

            #mn-comments ul li {
                display: inline-block;
            }
        .icons li{
            margin-right: 15px;
        }
        .rectange{
            top: 0px;
            left: 15px;
            position: relative;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#nav-custom" data-offset="40">
    <section id="banner-wrapper">
        <div id="banner" class="fill" style="background: url('@Url.Content($"~/Themes/{(themeName)}/image/banner.png")'); height: 600px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-center">@(Model?.FullName ?? "<no name>")</h1>
                        @*<p class="legend">@(Model?.ExpectedJobLevel?.JobLevelName ?? "<No experience>")</p>*@
                    </div>
                    <button type="button" class="btn btn-default btn-circle"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-default" id="nav-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@(Model?.FullName ?? "<no name>")</a>
            </div>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#info">Information</a></li>
                    <li><a href="#skill">Skill</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#experience">Experience</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <h3 id="box-title" class="text-center">Information</h3>
                        <p id="box-subtitle">Profile</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7" style="display: table;margin: 0 auto;">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="rectange">
                            <img style=" width:200px; height:255px;" src="@(Model?.IdNavigation?.GeneralProfile?.Image)" alt="">
                        </div>
                        <ul class="icons">
                            <li><a target="_blank" href="@Model?.Facebook" class="icon fa fa-facebook"></a></li>
                            <li><a target="_blank" href="@Model?.LinkedIn" class="icon fa fa-linkedin"></a></li>
                            <li><a target="_blank" href="@Model?.Instagram" class="icon fa fa-instagram"></a></li>
                            <li><a target="_blank" href="@Model?.Twitter" class="icon fa fa-twitter"></a></li>
                            <li><a target="_blank" href="@Model?.Youtube" class="icon fa fa-youtube-square"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-6">
                        <ul class="list-unstyled">
                            <li>Birthdate: @Model?.IdNavigation?.GeneralProfile?.BirthDate?.ToString("dd/MM/yyyy")</li>
                            <li>Email: @(Model?.Email ?? "<no email>")</li>
                            <li>Phone number: @(Model?.PhoneNumber)</li>
                            <li>Years of experience: @(Model?.YearsOfExperience)</li>
                            <li>Address: @(Model?.Address)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5">
                    <article class="description-info">
                        @Html.Raw(Model?.Summary)
                    </article>
                </div>
            </div><!--row-->
        </div>
    </section>
    <section id="skill" class="odd" style="padding: 0;">
        <div class="left">
            <div class="content">
                <div class="box">
                    <h3 id="box-title" class="text-center">Skill</h3>
                    @*<p id="box-subtitle">Kỹ năng nỗi bật</p>*@
                </div>
                <ul class="case-info">
                    @*<li>Xây dựng - thực hiện - kiểm soát kế hoạch</li>
                        <li>Sáng tạo ý tuởng các chuơng trình tiếp thị, thi đua nội bộ </li>
                        <li>Viết kịch bản sự kiện, kịch bản biểu diễn, kịch bản hài</li>
                        <li>Dẫn chuơng trình - MC, hoạt động sân khấu tốt</li>*@
                </ul>
            </div>
        </div>
        <div class="right">
            <div id="image" class="fill" style="background: url('@Url.Content($"~/Themes/{(themeName)}/image/article.png")'); height: 500px;">
                @{
                    var tem = 0;
                }
                @foreach (var item in Model.CandidateSkill.Select(m => m.Skill))
                {
                    <p class="title-progress">@item.Name<span style="float: right;">@(Model?.CandidateSkill?.Select(m => m.SkillLevel).ElementAt(tem))%</span></p>
                    <div class="progress" id="prog">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:@(Model?.CandidateSkill?.Select(m=>m.SkillLevel).ElementAt(tem))%"></div>
                    </div>
                    tem++;
                }
            </div>
        </div>
    </section>
    <section id="education" style="padding-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <h3 id="box-title" class="text-center">Education</h3>
                        <p id="box-subtitle">Education level</p>
                    </div>
                </div>
                <div class="timeline-centered">
                    @foreach (var item in Model.EducationHistory)
                    {
                        <article class="timeline-entry left-aligned">
                            <div class="timeline-entry-inner">
                                <div class="timeline-time" style="right: -275px;"><span>@item?.BeginDate.ToString("MM/yyy") - @item?.EndDate.ToString("MM/yyy")</span></div>
                                <div class="timeline-icon"></div>
                                <div class="timeline-label">
                                    <h2>@(item?.Major?.Name ?? "no Major")</h2>
                                    <ul>
                                        <li>@(item?.Major?.University?.Name ?? "No university")</li>
                                        <li>Content: @Html.Raw(item?.Achievement ?? "")</li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    }
                </div>
                <hr>
            </div>
        </div>
    </section>
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <h3 id="box-title" class="text-center">Experience</h3>
                        @*<p id="box-subtitle">Kinh nghiệm làm việc</p>*@
                    </div>
                </div>
                <div class="timeline-centered">
                    @foreach (var item in Model.EmploymentHistory)
                    {
                        <article class="timeline-entry left-aligned">
                            <div class="timeline-entry-inner">
                                <div class="timeline-time" style="right: -275px;">
                                    <span>
                                        @if (item?.EndedDate != null)
                                        {
                                            @Html.Raw(item?.StartedDate.ToString("MM/yyy") + " - " + item?.EndedDate?.ToString("MM/yyy"))
                                        }
                                        else
                                        {
                                            @Html.Raw("From " + item?.StartedDate.ToString("MM/yyy"))
                                        }
                                    </span>
                                </div>
                                <div class="timeline-icon"></div>
                                <div class="timeline-label">
                                    <h2>@item?.PositionTitle</h2>
                                    <p class="text-right">@item?.CompanyName</p>
                                    <h2>Job description</h2>
                                    <p class="text-right">
                                        @Html.Raw(item?.Description)
                                    </p>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
            <hr />
        </div>
    </section>

    <section id="mn-comments">
        <div class="education__process">
            <div class="container">
                <div class="row">
                    <div class="box">
                        <h3 id="box-title" class="text-center">Comments</h3>
                    </div>
                    <div class="col-md-12">
                        <div>
                            @foreach (var item in listCM)
                            {
                                <div class="comments">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul>
                                                <li>
                                                    <div class="avatar-cmt" style="background:url('@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))');"></div>
                                                </li>
                                                <li class="info-user">
                                                    <h4>@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h4>
                                                    <p><em>@item?._OldUniversity</em></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-right rate pull-right">
                                                <p style="background-color: #182153; box-sizing:border-box;padding:5px 10px; color: white">
                                                    @($"{item.CondidateComment.ModifiedDate: d.MM.yyyy | h:mm}")
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 content" style="margin:10px 0px">
                                            @Html.Raw(item.CondidateComment.Comment ?? "")
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    @*<section id="about" class="odd">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="form">
                            <p class="title-form">Gửi tin nhắn</p>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Họ và tên">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Email">
                            </div>
                            <label for="name">Tin nhắn</label>
                            <div class="form-group">
                                <textarea class="form-control form-large"></textarea>
                            </div>
                            <div class="text-center">
                                <button id="login-btn" type="submit" class="btn btn-details">GỬI TIN NHẮN</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="box">
                            <h3 id="box-title" class="text-center">&nbsp;&nbsp; LIÊN HỆ &nbsp;&nbsp;</h3>
                            <p id="box-subtitle">Hãy liên hệ với tôi</p>
                        </div>
                        <ul class="list-info">
                            <li class="title-list">Phone:</li>
                            <li>@(Model?.PhoneNumber)</li>
                            <li class="title-list">Email:</li>
                            <li>@(Model?.Email)</li>
                            <li class="title-list">Address:</li>
                            <li>@(Model?.Address)</li>
                        </ul>
                        <hr style="border-top: 1px solid #182153; width: 50%">
                        <ul class="icons">
                            <li><a href="#" class="icon fa fa-facebook">@Model?.Facebook</a></li>
                            <li><a href="#" class="icon fa fa-linkedin">@Model?.LinkedIn</a></li>
                            <li><a href="#" class="icon fa fa-instagram">@Model?.Instagram</a></li>
                            <li><a href="#" class="icon fa fa-twitter">@Model?.Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>*@
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2017 <a href="/" style="color:#ffffff;">Contact Asean</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Themes/@(themeName)/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Themes/@(themeName)/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            if (window.performance) {
                console.info("window.performance work's fine on this browser");
            }
            if (performance.navigation.type == 1) {
                console.info("This page is reloaded");
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/CurriculumVitae/AddView',
                    data: { id: '@Model.Cvid.ToString()' }
                })
                    .done(function (result) {
                        console.log(result);
                    });
                console.info("This page is not reloaded");
            }
        })
    </script>
</body>
</html>