﻿@using System.Globalization
@using System.Security.Claims
@model PositionJob

@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
    var numifo = new NumberFormatInfo();
    numifo.NumberGroupSeparator = ".";
}


@*<div class="box box-info animated fadeIn">
        <div class="box-header with-border bg-gray-light">
            <h3 class="box-title">Post new recruitment</h3>
        </div>
        <div class="box-body">
            <form asp-area="Employer" asp-controller="PositionJobs" asp-action="Create" data-ajax="true" data-ajax-method="post" data-ajax-update="#App" data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr)">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @await Html.PartialAsync("Partial/_ModelStatePartial")
                        </div>
                    </div>
                    <input type="hidden" asp-for="CompanyId"/>
                    <input type="hidden" asp-for="JobStatus"/>
                    <br/>

                    <div class="form-group">
                        <label asp-for="PositionTitle" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PositionTitle" class="form-control" placeholder="Position Title"/>
                            <span asp-validation-for="PositionTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="JobTypeId" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <select asp-for="JobTypeId" class="form-control" asp-items="ViewBag.JobTypeId"></select>
                        </div>
                        <label asp-for="Code" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <input asp-for="Code" class="form-control"/>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OpenDate" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="OpenDatePicker" class="form-control datepicker" value="@string.Format("{0:d}",Model.OpenDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" placeholder="Open date of recruitment" />
                                <input asp-for="OpenDate" type="hidden"/>
                            </div>
                            <span asp-validation-for="OpenDate" class="text-danger"></span>
                        </div>
                        <label asp-for="ClosedDate" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="ClosedDatePicker" class="form-control datepicker" value="@string.Format("{0:d}",Model.ClosedDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" placeholder="Close date of recruitment" />
                                <input asp-for="ClosedDate" type="hidden" />
                            </div>
                            <span asp-validation-for="ClosedDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinPay" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.MinPay)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Min salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                                <input type="hidden" asp-for="MinPay" />
                            </div>
                            <span asp-validation-for="MinPay" class="text-danger"></span>
                        </div>
                        <label asp-for="MaxPay" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.MaxPay)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Max salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                                <input type="hidden" asp-for="MaxPay" />
                            </div>
                            <span asp-validation-for="MaxPay" class="text-danger"></span>
                        </div>
                    </div>
                @*<div class="form-group">
                        <label asp-for="Currency" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <select asp-for="Currency" class="form-control">
                                <option value="VND">VND</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.Quantity)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Quantity" data-mask="000.000" data-mask-reverse="true" />
                        <input type="hidden" asp-for="Quantity" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobDescription" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="JobDescription" class="form-control tinymce" rows="7" placeholder="Job Description"></textarea>
                        <span asp-validation-for="JobDescription" class="text-danger"></span>
                    </div>
                </div>
                    <!--Job Requirements-->
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold text-gray">
                            <a data-toggle="collapse" href="#collapseRequirements" class="text-gray" aria-expanded="true">
                                <i class="fa fa-asterisk fa-fw text-aqua margin-r-5"></i>Requirements
                            </a>
                        </h3>
                    </div>
                     <br/>

                    <div id="collapseRequirements" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body no-padding">
                            <div class="form-group">
                                <label asp-for="JobLevelId" class="col-md-2 control-label"></label>
                                <div class="col-md-4">
                                    <select asp-for="JobLevelId" class="form-control" asp-items="ViewBag.JobLevelId"></select>
                                </div>
                                <label asp-for="EducationLevelId" class="col-md-2 control-label"></label>
                                <div class="col-md-4">
                                    <select asp-for="EducationLevelId" class="form-control" asp-items="ViewBag.EducationLevelId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="YearsOfExperienceRequirement" class="col-md-2 control-label"></label>
                                <div class="col-md-4">
                                    <input asp-for="YearsOfExperienceRequirement" class="form-control" placeholder="Years of experience requirement" />
                                    <span asp-validation-for="YearsOfExperienceRequirement" class="text-danger"></span>
                                </div>
                                <label asp-for="TravelRequired" class="col-md-2 control-label"></label>
                                <div class="col-md-4 checkbox">
                                    @Html.RadioButton("TravelRequired", true, Model.TravelRequired ?? false) <span class="margin-r-5">Yes</span>
                                    @Html.RadioButton("TravelRequired", false, !Model.TravelRequired ?? true) <span class="margin-r-5">No</span>
                                    <span asp-validation-for="TravelRequired" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="SkillRequirement" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea asp-for="SkillRequirement" class="form-control tinymce" rows="7" placeholder="Skill Requirement"></textarea>
                                    <span asp-validation-for="SkillRequirement" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Responsibilities" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea asp-for="Responsibilities" class="form-control tinymce" rows="7" placeholder="Responsibilities"></textarea>
                                    <span asp-validation-for="Responsibilities" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Job Categories-->
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold text-gray">
                            <a data-toggle="collapse" href="#collapseCategories" class="text-gray" aria-expanded="true">
                                <i class="fa fa-product-hunt fa-fw text-aqua margin-r-5"></i>Job Categories
                            </a>
                        </h3>
                    </div>
                    <br />
                    <div id="collapseCategories" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body no-padding">
                            @await Html.PartialAsync("Partial/_CompanyCategorySelectionPartial", new List<JobCategory>(), null)

                        </div>
                    </div>

                    <!--Job Locations-->
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold text-gray">
                            <a data-toggle="collapse" href="#collapseLocations" class="text-gray" aria-expanded="true">
                                <i class="fa fa-map-marker fa-fw text-aqua margin-r-5"></i>Job Locations
                            </a>
                        </h3>
                    </div>
                    <br />
                    <div id="collapseLocations" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body no-padding">
                            @await Html.PartialAsync("Partial/_CompanyLocationSelectionPartial", new List<JobLocation>(), null)
                        </div>
                    </div>

                    <!--Job Skills-->
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold text-gray">
                            <a data-toggle="collapse" href="#collapseSkills" class="text-gray" aria-expanded="true">
                                <i class="fa fa-share-alt fa-fw text-aqua margin-r-5"></i>Job Skills
                            </a>
                        </h3>
                    </div>
                    <br />
                    <div id="collapseSkills" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body no-padding">
                            @await Html.PartialAsync("Partial/_CompanySkillSelectionPartial", new List<JobSkill>(), null)

                        </div>
                    </div>

                    <!--Job Languages-->
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold">
                            <a data-toggle="collapse" href="#collapseLanguages" class="text-gray" aria-expanded="true">
                                <i class="fa fa-language fa-fw text-aqua margin-r-5"></i>Job Languages
                            </a>
                        </h3>
                    </div>
                    <br />
                    <div id="collapseLanguages" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body no-padding">
                            @await Html.PartialAsync("Partial/_CompanyLanguageSelectionPartial", new List<JobLanguage>(), null)
                        </div>
                    </div>

                    @*<div class="form-group">
                            <label asp-for="PayStatus" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="PayStatus" class="form-control" />
                                <span asp-validation-for="PayStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PayStatusView" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="PayStatusView" class="form-control" />
                                <span asp-validation-for="PayStatusView" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="form-group">
                            <label asp-for="JobStatus" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="JobStatus" class="form-control" />
                                <span asp-validation-for="JobStatus" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="TopNumber" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="TopNumber" class="form-control" />
                                <span asp-validation-for="TopNumber" class="text-danger"></span>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-info btn-flat"/>
                            <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Index" asp-route-companyId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="btn btn-default btn-flat" data-ajax="true" data-ajax-method="get" data-ajax-update="#App" data-ajax-failure="notifyStatusCode(xhr)">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>*@

<form asp-area="Employer" asp-controller="PositionJobs" asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @await Html.PartialAsync("Partial/_ModelStatePartial")
            </div>
        </div>
        <input type="hidden" asp-for="CompanyId" />
        <input type="hidden" asp-for="JobStatus" />
        <br />
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="PositionTitle"></label>
                <input asp-for="PositionTitle" class="form-control" placeholder="Position Title" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="JobTypeId"></label>
                <select asp-for="JobTypeId" class="form-control select2" asp-items="ViewBag.JobTypeId"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="OpenDate"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="OpenDatePicker" class="form-control datepicker" value="@string.Format("{0:d}",Model.OpenDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" placeholder="Open date of recruitment" />
                    <input asp-for="OpenDate" type="hidden" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ClosedDate"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="ClosedDatePicker" class="form-control datepicker" value="@string.Format("{0:d}",Model.ClosedDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" placeholder="Close date of recruitment" />
                    <input asp-for="ClosedDate" type="hidden" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MinPay"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.MinPay)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Min salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                    <input type="hidden" asp-for="MinPay" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MaxPay"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.MaxPay)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Max salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                    <input type="hidden" asp-for="MaxPay" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.Quantity)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Quantity" data-mask="000.000" data-mask-reverse="true" />
                <input type="hidden" asp-for="Quantity" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="JobDescription"></label>
                <textarea asp-for="JobDescription" class="form-control tinymce" rows="7" placeholder="Job Description"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <!--Job Requirements-->
    <h3 class="title-employer"><i class="fa fa-square" aria-hidden="true"></i>Requirements</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="JobLevelId"></label>
                <select asp-for="JobLevelId" class="form-control select2" aria-hidden="true" asp-items="ViewBag.JobLevelId"></select>
                <span asp-validation-for="JobLevelId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EducationLevelId"></label>
                <select asp-for="EducationLevelId" class="form-control select2" aria-hidden="true" asp-items="ViewBag.EducationLevelId"></select>
                <span asp-validation-for="EducationLevelId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="YearsOfExperienceRequirement"></label>
                <input asp-for="YearsOfExperienceRequirement" class="form-control" placeholder="Years of experience requirement" />
                <span asp-validation-for="YearsOfExperienceRequirement" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TravelRequired"></label><br />
                @Html.RadioButton("TravelRequired", true, Model.TravelRequired ?? false) <span class="margin-r-5">Yes</span>
                @Html.RadioButton("TravelRequired", false, !Model.TravelRequired ?? true) <span class="margin-r-5">No</span>
                <span asp-validation-for="TravelRequired" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="SkillRequirement"></label>
                <textarea asp-for="SkillRequirement" class="form-control tinymce" rows="7" placeholder="Skill Requirement"></textarea>
                <span asp-validation-for="SkillRequirement" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Responsibilities"></label>
                <textarea asp-for="Responsibilities" class="form-control tinymce" rows="7" placeholder="Responsibilities"></textarea>
                <span asp-validation-for="Responsibilities" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <!--Job Categories-->
    <h3 class="title-employer"><i class="fa fa-square" aria-hidden="true"></i>Job Categories</h3>
    <div class="row">
        @await Html.PartialAsync("Partial/_CompanyCategorySelectionPartial", new List<JobCategory>(), null)
    </div>
    <hr />
    <!--Job Locations-->
    <h3 class="title-employer"><i class="fa fa-square" aria-hidden="true"></i>Job Locations</h3>
    <div class="row">
        @await Html.PartialAsync("Partial/_CompanyLocationSelectionPartial", new List<JobLocation>(), null)
    </div>
    <hr />
    <!--Job Skills-->
    <h3 class="title-employer"><i class="fa fa-square" aria-hidden="true"></i>Job Skills</h3>
    <div class="row">
        @await Html.PartialAsync("Partial/_CompanySkillSelectionPartial", new List<JobSkill>(), null)
    </div>
    <hr />
    <!--Job Languages-->
    <h3 class="title-employer"><i class="fa fa-square" aria-hidden="true"></i>Job Languages</h3>
    <div class="row">
       @await Html.PartialAsync("Partial/_CompanyLanguageSelectionPartial", new List<JobLanguage>(), null)
    </div>

    @*<div class="form-group">
            <label asp-for="PayStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PayStatus" class="form-control" />
                <span asp-validation-for="PayStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PayStatusView" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PayStatusView" class="form-control" />
                <span asp-validation-for="PayStatusView" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group">
            <label asp-for="JobStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobStatus" class="form-control" />
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TopNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TopNumber" class="form-control" />
                <span asp-validation-for="TopNumber" class="text-danger"></span>
            </div>
        </div>*@
    <div class="row">
        <div class="col-sm-12 modal-footer">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-employer btn-fill-horz" />
                <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Index" asp-route-companyId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="btn btn-close btn-fill-horz"
                   style="margin-top:30px" >Back to List</a>
            </div>
        </div>
    </div>
</form>



@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
    await Html.RenderPartialAsync("_HtmlEditorScriptsPartial");
}