@model PositionJob

@{
    ViewData["Title"] = "Delete";
}
@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
}
<div class="box box-info animated fadeIn">
    <div class="box-header with-border bg-gray-light">
        <h3 class="box-title">Position Job : <span class="text-aqua">@Model.PositionTitle</span></h3>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dd>
                <h3 class="text-danger">Are you sure you want to delete this?</h3>
            </dd>
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.PositionTitle)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PositionTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OpenDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OpenDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClosedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClosedDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PayStatus)
            </dt>
            <dd>
                @if (Model.PayStatus ?? false)
                {
                    <span class="label label-info">Agreement</span>
                }
                else
                {
                    <span class="label label-default">Fixed</span>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PayStatusView)
            </dt>
            <dd>
                @if (Model.PayStatusView ?? false)
                {
                    <span class="label label-success">Allow</span>
                }
                else
                {
                    <span class="label label-danger">Not allow</span>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaxPay)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaxPay)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MinPay)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MinPay)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Currency)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Currency)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.YearsOfExperienceRequirement)
            </dt>
            <dd>
                <span class="badge bg-orange">@Html.DisplayFor(model => model.YearsOfExperienceRequirement)</span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobDescription)
            </dt>
            <dd>
                <div class="box-body bg-gray-light editable">@Html.Raw(Model.JobDescription)</div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SkillRequirement)
            </dt>
            <dd>
                <div class="box-body bg-gray-light editable">@Html.Raw(Model.SkillRequirement)</div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Responsibilities)
            </dt>
            <dd>
                <div class="box-body bg-gray-light editable">@Html.Raw(Model.Responsibilities)</div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobStatus)
            </dt>
            <dd>
                @if (Model.JobStatus ?? false)
                {
                    <span class="label label-success">Remain</span>
                }
                else
                {
                    <span class="label label-warning">Out of time</span>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TravelRequired)
            </dt>
            <dd>
                @if (Model.TravelRequired ?? false)
                {
                    <span class="label label-success">Yes</span>
                }
                else
                {
                    <span class="label label-warning">No</span>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TopNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TopNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobLevel.JobLevelName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobType.Name)
            </dd>
            <dd>
                <br />
                <form asp-area="Employer" asp-controller="PositionJobs" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <div class="form-actions no-color">
                        <button type="submit" class="btn btn-danger btn-flat">Delete</button>
                        <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Index" asp-route-companyId="@Model.CompanyId" class="btn btn-default btn-flat">Back to List</a>
                    </div>
                </form>
            </dd>
        </dl>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_HtmlEditorScriptsPartial");
}

<script>
    $(function () {
        tinymce.init({
            selector: 'div.editable',
            inline: true,
            toolbar: false,
            menubar: false
        });
    });
</script>