﻿@using System.Globalization
@model PositionJob

@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
    var numifo = new NumberFormatInfo();
    numifo.NumberGroupSeparator = ".";
}
<div class="box box-info animated fadeIn">
    <div class="box-header with-border bg-gray-light">
        <h3 class="title-employer">Edit : <span class="text-aqua">@Model.PositionTitle</span></h3>
    </div>
    <div class="box-body">
        <form asp-area="Employer" asp-controller="PositionJobs" asp-action="Edit" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="post" data-ajax-success="$(this).displayValidation(xhr);notifyStatusCode(xhr)" data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr)">
            <div class="form-horizontal">
                @await Html.PartialAsync("Partial/_ModelStatePartial")

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CompanyId" />
                <input type="hidden" asp-for="JobStatus"/>
                <br />

            <div class="form-group">
                <label asp-for="PositionTitle" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PositionTitle" class="form-control" placeholder="Position Title"/>
                    <span asp-validation-for="PositionTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobTypeId" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <select asp-for="JobTypeId" class="form-control" asp-items="ViewBag.JobTypeId"></select>
                </div>
                <label asp-for="Code" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Code" class="form-control"/>
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OpenDate" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" value="@string.Format("{0:dd/MM/yyyy}", Model.OpenDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" class="form-control datepicker" placeholder="Open date of recruitment"/>
                        <input asp-for="OpenDate" type="hidden"/>
                    </div>
                    <span asp-validation-for="OpenDate" class="text-danger"></span>
                </div>
                <label asp-for="ClosedDate" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" value="@string.Format("{0:dd/MM/yyyy}", Model.ClosedDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" class="form-control datepicker" placeholder="Close date of recruitment" />
                        <input type="hidden" asp-for="ClosedDate"/>
                    </div>
                    <span asp-validation-for="ClosedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MinPay" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.MinPay)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Min salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                        <input type="hidden" asp-for="MinPay" />
                    </div>
                    <span asp-validation-for="MinPay" class="text-danger"></span>
                </div>
                <label asp-for="MaxPay" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.MaxPay)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Max salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                        <input type="hidden" asp-for="MaxPay" />
                    </div>
                    <span asp-validation-for="MaxPay" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="Currency" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <select asp-for="Currency" class="form-control">
                        <option value="VND">VND</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
            </div>*@
                <div class="form-group">
                    <label asp-for="Quantity" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input class="form-control" value="@string.Format(numifo, "{0:N0}", Model.Quantity)" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Quantity" data-mask="000.000" data-mask-reverse="true" />
                        <input type="hidden" asp-for="Quantity" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobDescription" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="JobDescription" class="form-control tinymce" rows="7" placeholder="Job Description"></textarea>
                        <span asp-validation-for="JobDescription" class="text-danger"></span>
                    </div>
                </div>
                <hr />
            <!--Job Requirements-->
                <h3 class="title-employer">
                    <i class="fa fa-square"></i>
                    Requirements
                </h3>
                <div class="row">
                    <div id="collapseRequirements" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="box-body no-padding">
                            <div class="form-group">
                                <label asp-for="JobLevelId" class="col-md-2 control-label"></label>
                                <div class="col-md-4">
                                    <select asp-for="JobLevelId" class="form-control" asp-items="ViewBag.JobLevelId"></select>
                                </div>
                                <label asp-for="EducationLevelId" class="col-md-2 control-label"></label>
                                <div class="col-md-4">
                                    <select asp-for="EducationLevelId" class="form-control" asp-items="ViewBag.EducationLevelId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="YearsOfExperienceRequirement" class="col-md-2 control-label"></label>
                                <div class="col-md-4">
                                    <input asp-for="YearsOfExperienceRequirement" class="form-control" placeholder="Years of experience requirement" />
                                    <span asp-validation-for="YearsOfExperienceRequirement" class="text-danger"></span>
                                </div>
                                <label asp-for="TravelRequired" class="col-md-2 control-label"></label>
                                <div class="col-md-4 checkbox">
                                    @Html.RadioButton("TravelRequired", true, Model.TravelRequired ?? false) <span class="margin-r-5">Yes</span>
                                    @Html.RadioButton("TravelRequired", false, !Model.TravelRequired ?? true) <span class="margin-r-5">No</span>
                                    <span asp-validation-for="TravelRequired" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="SkillRequirement" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea asp-for="SkillRequirement" class="form-control tinymce" rows="7" placeholder="Skill Requirement"></textarea>
                                    <span asp-validation-for="SkillRequirement" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Responsibilities" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea asp-for="Responsibilities" class="form-control tinymce" rows="7" placeholder="Responsibilities"></textarea>
                                    <span asp-validation-for="Responsibilities" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <hr />
            <!--Job Categories-->
            <h3 class="title-employer">
                <i class="fa fa-square"></i>
                Job Categories
            </h3>
            <div id="collapseCategories" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="box-body no-padding">
                        @await Html.PartialAsync("Partial/_CompanyCategorySelectionPartial", Model.JobCategory, null)

                    </div>
                </div>
           <hr />

            <!--Job Locations-->
           <h3 class="title-employer">
               <i class="fa fa-square"></i>
               Job Locations
           </h3>
            <div id="collapseLocations" class="panel-collapse collapse in" aria-expanded="true">
                <div class="box-body no-padding">
                    @await Html.PartialAsync("Partial/_CompanyLocationSelectionPartial", Model.JobLocation, null)
                </div>
            </div>
            <hr />
            <!--Job Skills-->
            <h3 class="title-employer">
                <i class="fa fa-square"></i>
                Job Skills
            </h3>
            <div id="collapseSkills" class="panel-collapse collapse in" aria-expanded="true">
                <div class="box-body no-padding">
                    @await Html.PartialAsync("Partial/_CompanySkillSelectionPartial", Model.JobSkill, null)
                </div>
            </div>
            <hr />
            <!--Job Languages-->
            <h3 class="title-employer">
                <i class="fa fa-square"></i>
                Job Languages
            </h3>
            <div id="collapseLanguages" class="panel-collapse collapse in" aria-expanded="true">
                <div class="box-body no-padding">
                    @await Html.PartialAsync("Partial/_CompanyLanguageSelectionPartial", Model.JobLanguage, null)
                </div>
            </div>
                @*<div class="form-group">
                        <label asp-for="PayStatus" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PayStatus" class="form-control" />
                            <span asp-validation-for="PayStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PayStatusView" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PayStatusView" class="form-control" />
                            <span asp-validation-for="PayStatusView" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="form-group">
                        <label asp-for="JobStatus" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="JobStatus" class="form-control" />
                            <span asp-validation-for="JobStatus" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="TopNumber" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="TopNumber" class="form-control" />
                            <span asp-validation-for="TopNumber" class="text-danger"></span>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Update" class="btn btn-employer btn-fill-horz" />
                        <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Index" style="margin-top:30px" class="btn btn-default btn-flat">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
    await Html.RenderPartialAsync("_HtmlEditorScriptsPartial");
}