﻿@model Sakura.AspNetCore.IPagedList<PositionJob>
@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
}
@*@if (Model.Any())
    {
        <div class="row animated fadeIn">
            <div class="col-md-12"  id="ListRecruitment">
                <div class="box box-info">
                    <div class="box-header with-border bg-gray-light">
                        <h3 class="box-title">Post Recruitments <span class="badge bg-yellow">@ViewBag.Count</span></h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                        <div class="box-body no-padding bg-gray-light">
                            <a asp-area="Employer" asp-controller="Home" asp-action="Recruitment" asp-route-companyId="@ViewBag.CompanyId" class="uppercase btn btn-info btn-flat pull-left">
                                <i class="fa fa-plus margin-r-5"></i>
                                Add new recruitment
                            </a>
                        </div>
                    <div class="box-body">
                        @await Html.PartialAsync("Partial/_ModelStatePartial")
                        <ul class="products-list product-list-in-box">
                            @foreach (var item in Model)
                            {
                                <li class="item">
                                    <div class="product-img pad margin-r-5" style="min-width: 80px">
                                        @{
                                            var quantity = item.Quantity ?? 0;
                                        }
                                        <h2 class="no-margin text-aqua">@quantity </h2><small>candidates</small><br />
                                        @if (item.JobTypeId == 1)
                                        {
                                            <span class="label label-success">@item.JobType.Name</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning">@item.JobType.Name</span>
                                        }
                                        <br />
                                    </div>
                                    <div class="product-info">
                                        <span class="info-box-text"><b style="font-size: 18px;">@item.PositionTitle</b></span>
                                        <div class="pull-right">
                                            <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-flat btn-sm">Edit</a>
                                            <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-flat btn-sm">Delete</a>
                                        </div>
                                        <span class="product-description">OpenDate : @string.Format("{0:d}", item.OpenDate)</span>
                                        <span class="product-description">ClosedDate : @string.Format("{0:d}", item.ClosedDate)</span>
                                        <span class="product-description">Submitted Candidates : <span class="badge bg-orange">@item.JobApplication.Count</span></span>
                                    </div>
                                </li>
                                            }
                        </ul>
                        <div class="text-center">
                            <pager setting-link-attr-data-ajax="true" setting-link-attr-data-ajax-update="#ListRecruitment" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

                                            }
                                            else
                                            {
        <div class="callout callout-info">
            <h4>Notification !</h4>
            There is no recruitment of your company ...
        </div>
                                            }*@

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12" id="ListRecruitment">
            <div class="col-sm-6">
                <h3 class="title-nav">Post Recruitments <span class="badge bg-yellow">@ViewBag.Count</span></h3>
            </div>
            <div class="col-sm-6">
                <ul class="button-r text-right">
                    <li>
                        <a asp-area="Employer" asp-controller="Home" asp-action="Recruitment" asp-route-companyId="@ViewBag.CompanyId" class="btn btn-add-n">
                            <i class="fa fa-plus margin-r-5"></i>
                            Add new recruitment
                        </a>
                    </li>
                </ul>
            </div>
            @await Html.PartialAsync("Partial/_ModelStatePartial")
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Job type</th>
                        <th>open &amp; close day</th>
                        <th>apply</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    { 
                        <tr>
                        <td>
                            <ul>
                                <li>@item.PositionTitle</li>
                                @{
                                 var quantity = item.Quantity ?? 0;
                                }
                                <li><em>@quantity Candidates</em></li>
                            </ul>
                        </td>
                        @if (item.JobTypeId == 1)
                         {
                            <td>
                                <span class="full-time">@item.JobType.Name</span>
                            </td>
                         }
                         else
                         {                                
                            <td>
                                <span class="part-time">@item.JobType.Name</span>
                            </td>
                         }
                        <td><i class="fa fa-clock-o" aria-hidden="true"></i> @string.Format("{0:d}", item.OpenDate) - @string.Format("{0:d}", item.ClosedDate)</td>
                        <td><span class="badge bg-blue">@item.JobApplication.Count</span></td>
                        <td>
                            <ul>
                                <li style="float:left"><a asp-area="Employer" asp-controller="PositionJobs" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                                <li style="float:left"><a asp-area="Employer" asp-controller="PositionJobs" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                            </ul> 
                        </td>
                       </tr>
                    }
                </tbody>
            </table>            
        </div>
    </div>

}
else
{
    <div class="callout callout-info">
        <h4>Notification !</h4>
        There is no recruitment of your company ...
    </div>
}