﻿@using System.Security.Claims
@model IEnumerable<PositionJob>
@{
    Layout = null;
}
@if (Model.Any())
{
    <div class="row animated fadeIn">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border bg-gray-light">
                    <h3 class="box-title">
                        Recently Post Recruitments
                    </h3>
                </div>
                <div class="box-body">
                    @await Html.PartialAsync("Partial/_ModelStatePartial")
                    <ul class="products-list product-list-in-box">
                        @foreach (var item in Model)
                        {
                            <li class="item">
                                <div class="product-img pad margin-r-5" style="min-width: 80px">
                                    @{
                                        var quantity = item.Quantity ?? 0;
                                    }
                                    <h2 class="no-margin text-aqua">@quantity </h2><small>candidates</small><br/>
                                    @if (item.JobTypeId == 1)
                                    {
                                        <span class="label label-success">@item.JobType.Name</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">@item.JobType.Name</span>
                                    }
                                    <br/>
                                </div>
                                <div class="product-info">
                                    <span class="info-box-text"><b>@item.PositionTitle</b></span>
                                    <span class="product-description">OpenDate : @string.Format("{0:d}", item.OpenDate)</span>
                                    <span class="product-description">ClosedDate : @string.Format("{0:d}", item.ClosedDate)</span>
                                    <span class="product-description">Submitted Candidates : <span class="badge bg-orange">@item.JobApplication.Count</span></span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="box-footer no-padding">
                    <a asp-area="Employer" asp-controller="Home" asp-action="Recruitment" asp-route-companyId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="uppercase btn btn-block btn-info btn-flat">Add new recruitment</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="callout callout-info">
        <h4>Notification !</h4>
        There is no recruitment of your company ...
    </div>
}