﻿@model MIC.AseanTalentSearch.Web.EF.Candidate
@using System.Security.Claims
@{
    ViewData["Title"] = "Contact";
}
<div id="banner-child" class="fill" style="background:url('/images/image-new/banner-profile.jpg')">
    <div class="container">
        <div class="manager-banner">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <form method="post" asp-controller="Candidate" asp-action="UploadFilesAjax" enctype="multipart/form-data">
                                <div class="avatar-profile">
                                    <input type="file" name="files" id="files" style="display: none;" />
                                    <img onclick="preventDefault(event); document.getElementById('files').click();" style="width:120px;height:120px" src="@(String.IsNullOrEmpty(Model?.Image) ? Url.Content("~/images/avatar.jpg") : Url.Content(Model.Image))" alt="User Avatar">
                                </div>
                            </form>
                        </li>
                        <li class="info-user">
                            <h4>@Model.FullName</h4>
                            <p></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <h3 style="text-transform:uppercase">Looking for a Job</h3>
                        <p class="text-right">Join thousand of emplyers and earn what you deserve</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="manager-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                @await Component.InvokeAsync("CanidateProfileSitebar")
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="tab-content " style="background-color: #fff;">
                    <div id="mn-comments" class="tab-pane fade in active">
                        <h3 class="title-nav">Comments</h3>
                        @await Component.InvokeAsync("Comment", new { candidateId = Model.Cvid.ToString() })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*<div id="banner" class="fill" style="background: url('@Url.Content("~/images/banner-comment.png")')">
        <div class="banner--opacity">
        </div>
        <div class="banner__content">
            <h1 class=" text-center">COMMENT</h1>
            @*<p class=" text-center">Home / Contact</p>
        </div>
    </div>
    <section id="comment">
        <div class="container">
            <div class="row" id="comment-container">
                <div class="col-sm-12">
                    - Comments
                </div>
                @foreach (var item in Model)
                {
                    if (User.Identity.Name == ViewBag.CurrentUser)
                    {
                        <div class="comment-item clearfix">
                            <div class="col-md-12 instructor">
                                <div class="instructor-img">
                                    <img src="@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))" class="img-circle" width="80" height="80" alt="User Avatar" />
                                </div>
                                <div class="instructor-desc">
                                    <h3 class="instructor-name">@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h3>
                                    <div class="comment-info">
                                        <div class="col-lg-5">
                                            <p class="instructor-university">@item?._OldUniversity</p>
                                        </div>
                                        <div class="col-lg-5">
                                            @($"{item.CondidateComment.ModifiedDate:MMMM d, yyyy | h:mm tt}")
                                        </div>
                                        <div class="col-lg-2">
                                            <input id="toggle-activeStatus" value="@item.CondidateComment.Id" class="comment-date"
                                                   onchange="StatusChange(@item.CondidateComment.Id)" type="checkbox"
                                                   @Html.Raw(item.CondidateComment.CommentStatus != null && item.CondidateComment.CommentStatus.Value ? "checked" : "")
                                                   data-toggle="toggle" data-on="Active" data-off="Not active"
                                                   data-onstyle="success" data-offstyle="warning" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 comment-content">
                                    @Html.Raw(item.CondidateComment.Comment ?? "")
                                </div>

                            </div>
                        </div>
                    }
                    else if (item.CondidateComment.CommentStatus.Value)
                    {
                        <div class="comment-item clearfix">
                            <div class="col-md-12 instructor">
                                <div class="instructor-img">
                                    <img src="@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))" class="img-circle" width="80" height="80" alt="User Avatar" />
                                </div>
                                <div class="instructor-desc">
                                    <h3 class="instructor-name">@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h3>
                                    <div class="comment-info">
                                        <div class="col-lg-9">
                                            <p class="instructor-university">@item?._OldUniversity</p>
                                        </div>
                                        <div class="col-lg-3">
                                            @($"{item.CondidateComment.ModifiedDate:MMMM d, yyyy | h:mm tt}")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 comment-content">
                                    @Html.Raw(item.CondidateComment.Comment ?? "")
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>*@
@*<section id="policy">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @ViewData["response"]
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-sm-12">
                        <div class="policy__content">
                            <img src="@(String.IsNullOrEmpty(item?.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.UserComment?.GeneralProfile?.Image))" class="user-image" alt="User Avatar">
                            <div class="fullname">@(item?.UserComment?.GeneralProfile?.FirstName + " " + item?.UserComment?.GeneralProfile?.LastName)</div>
                            <div class="university-desc">
                                @item?.UserComment?.Instructor?.University?.Name
                            </div>
                            <div class="date-desc">
                                @($"{item.ModifiedDate:MMMM d, yyyy | h:mm tt}")
                            </div>
                            <div class="comment-desc">
                                @Html.Raw(item.Comment ?? "")
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>*@
<style>
    .btn-success {
        background: #00a65a !important;
        border-color: #008d4c;
        margin-top: 0px !important;
    }

    .btn-default {
        color: #333 !important;
        background-color: #d4d4d4;
        border-color: #8c8c8c;
        padding: 6px 12px;
    }

        .btn-default:hover {
            padding: 6px 12px !important;
            margin: 0px !important;
            background-color: #d4d4d4 !important;
        }

    .instructor-img {
        height: 85px;
    }
</style>

<script>
    function StatusChange(val) {
        $.ajax({
            url: "/Comment/SetValueStatus",
            type: "get",
            data: {
                Id: val,
            },
            success: function (resual) {
                toastr.success('Update successed!');
            }
        });
    }
</script>