@model IEnumerable<JobCategory>
@*<div class="form-group">
        <div class="col-md-push-2 col-md-10">

            <div id="CategoriesSeleted" style="white-space: nowrap; line-height: 300%;">
                @foreach (var item in Model)
                {
                    <span id="category_@item.CategoryId" class="pad bg-gray-light text-success margin-r-5" style="white-space: nowrap; line-height: 300%;">
                        @item.Category?.Name
                        <input type="hidden" name="CategoriesSeleted.Index" value="@item.CategoryId" />
                        <input type="hidden" name="CategoriesSeleted[@item.CategoryId].PositionJobId" value="@item.PositionJobId" />
                        <input type="hidden" name="CategoriesSeleted[@item.CategoryId].CategoryId" value="@item.CategoryId" />
                        <span onclick='removeCategory("@item.CategoryId")' class='btn btn-link'><i class='fa fa-remove text-danger'></i></span>
                    </span>
                }
            </div>
            <br />
            <div class="input-group">

                <select id="CategoryIdSelector" class="form-control select2" asp-items="ViewBag.CategoryId">
                    <option value="">-- Select Category --</option>
                </select>
                <div class="input-group-btn">
                    <button id="AddCategory" type="button" class="btn btn-success btn-flat">Add</button>
                </div>
            </div>


        </div>
    </div>*@
    <div class="col-sm-10">
        <div id="CategoriesSeleted">
            @foreach (var item in Model)
            {
                <span id="category_@item.CategoryId" class="tag-profile">
                    @item.Category?.Name
                    <input type="hidden" name="CategoriesSeleted.Index" value="@item.CategoryId" />
                    <input type="hidden" name="CategoriesSeleted[@item.CategoryId].PositionJobId" value="@item.PositionJobId" />
                    <input type="hidden" name="CategoriesSeleted[@item.CategoryId].CategoryId" value="@item.CategoryId" />
                    <span onclick='removeCategory("@item.CategoryId")' class='btn-link'><i class='fa fa-remove text-danger'></i></span>
                </span>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Categories</label>
            <select id="CategoryIdSelector" class="form-control select2" asp-items="ViewBag.CategoryId">
                <option value="">-- Select Category --</option>
            </select>
        </div>
        <div class="col-md-2">
            <button id="AddCategory" type="button" class="btn btn-add-n btn-fill-horz" style="margin-top:25px"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
        </div>
    </div>
<script>
    $(function () {
        $("#AddCategory").on('click', function () {
            let option = $("#CategoryIdSelector option:selected");
            let txt = option.text();
            let val = $("#CategoryIdSelector option:selected").val();
            if (val !== "" && !option.is(':disabled')) {
                addCategory(option.val(), option.text());
                $("#CategoryIdSelector option[value=" + val + "]").prop('disabled', true);
            }
        });
    });
    function addCategory(id, name) {
        let $container = $("<span id='category_" + id + "' class='tag-profile' style='margin-left:3px'>" + name + "</span>");
        let $index = $("<input type='hidden' name='CategoriesSeleted.Index' value='" + id + "' />");
        let $positionJobId = $("<input type='hidden' name='CategoriesSeleted[" + id + "].PositionJobId' value='" + id + "' />");
        let $categoryId = $("<input type='hidden' name='CategoriesSeleted[" + id + "].CategoryId' value='" + id + "' />");
        let $remove = $("<span onclick='removeCategory(" + id + ")' class='btn-link'><i class='fa fa-remove text-danger'></i></span>");

        $container.append($index, $positionJobId, $categoryId, $remove);
        $('#CategoriesSeleted').append($container);
    }
    function removeCategory(id) {
        console.log(id);
        $("#CategoryIdSelector option[value=" + id + "]").prop('disabled', false);
        id = '#category_' + id;
        $(id).remove();
    }
</script>

