@model IEnumerable<JobSkill>
@*<div class="form-group">
        <div class="col-md-push-2 col-md-10">
            <div id="SkillsSeleted" class="row">
                @foreach (var item in Model)
                {
                    <div id="skill_@item.KeySkillId" class="col-md-6">
                        <div class="box-body bg-gray-light">
                            <div class="input-group text-success">
                                @item.KeySkill?.Name
                                <input type="hidden" name="SkillsSeleted.Index" value="@item.KeySkillId" />
                                <input type="hidden" name="SkillsSeleted[@item.KeySkillId].PositionJobId" value="@item.PositionJobId" />
                                <input type="hidden" name="SkillsSeleted[@item.KeySkillId].KeySkillId" value="@item.KeySkillId" />
                                <input type="number" class="form-control" name="SkillsSeleted[@item.KeySkillId].YearsOfExperienceRequirement" placeholder="Years Of Experience Requirement" value="@item.YearsOfExperienceRequirement" />
                                <input type="text" class="form-control" name="SkillsSeleted[@item.KeySkillId].Comment" value="@item.Comment" placeholder="Comment" />
                                <span onclick='removeSkill("@item.KeySkillId")' class='btn btn-link'><i class='fa fa-remove text-danger'></i></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            <div class="input-group">
                <select id="SkillIdSelector" class='form-control select2' asp-items="ViewBag.SkillId">
                    <option value="">-- Select Skill --</option>
                </select>
                <div class="input-group-btn">
                    <button id="AddSkill" type="button" class="btn btn-success btn-flat">Add</button>
                </div>
            </div>
        </div>
    </div>*@
<div class="form-group">
    <div class="col-sm-10">
        <div id="SkillsSeleted" class="row">
            @foreach (var item in Model)
            {
                <div id="skill_@item.KeySkillId" class="col-md-6">
                    <div class="box-body bg-gray-light">
                        <div class="input-group text-success">
                            <span class="tag-profile">
                                @item.KeySkill?.Name
                                <span onclick='removeSkill("@item.KeySkillId")' class='btn-link'><i class='fa fa-remove text-danger'></i></span>
                            </span><br />
                            <input type="hidden" name="SkillsSeleted.Index" value="@item.KeySkillId" />
                            <input type="hidden" name="SkillsSeleted[@item.KeySkillId].PositionJobId" value="@item.PositionJobId" />
                            <input type="hidden" name="SkillsSeleted[@item.KeySkillId].KeySkillId" value="@item.KeySkillId" />
                            <input type="number" class="form-control" name="SkillsSeleted[@item.KeySkillId].YearsOfExperienceRequirement" placeholder="Years Of Experience Requirement" value="@item.YearsOfExperienceRequirement" />
                            <input type="text" class="form-control" name="SkillsSeleted[@item.KeySkillId].Comment" value="@item.Comment" placeholder="Comment" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10">
        <label>Skill</label>
        <select id="SkillIdSelector" class='form-control select2' asp-items="ViewBag.SkillId">
            <option value="">-- Select Skill --</option>
        </select>
    </div>
    <div class="col-sm-2">
        <button id="AddSkill" type="button" class="btn btn-add-n btn-fill-horz" style="margin-top:25px"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
    </div>
</div>
<script>
    $(function () {
        $("#AddSkill").on('click', function () {
            let option = $("#SkillIdSelector option:selected");
            let txt = option.text();
            let val = $("#SkillIdSelector option:selected").val();
            if (val !== "" && !option.is(':disabled')) {
                addSkill(option.val(), option.text());
                $("#SkillIdSelector option[value=" + val + "]").prop('disabled', true);
            }
        });
    });
    function addSkill(id, name) {
        let $container = $("<div class='input-group text-success'></div>");
        let $span = $("<span class='tag-profile'>" + name + "<span onclick='removeSkill(" + id + ")' class='btn-link'><i class='fa fa-remove text-danger'></i></span></span > <br />");
        let $index = $("<input type='hidden' name='SkillsSeleted.Index' value='" + id + "' />");
        let $positionJobId = $("<input type='hidden' name='SkillsSeleted[" + id + "].PositionJobId' value='" + id + "' />");
        let $skillId = $("<input type='hidden' name='SkillsSeleted[" + id + "].KeySkillId' value='" + id + "' />");
        let $yearsOfExperienceRequirement = $("<input type='number' class='form-control' name='SkillsSeleted[" + id + "].YearsOfExperienceRequirement' placeholder='Years Of Experience Requirement' />");
        let $comment = $("<input type='text' class='form-control' name='SkillsSeleted[" + id + "].Comment' placeholder='Comment' />");

        $container.append($span, $index, $positionJobId, $skillId, $yearsOfExperienceRequirement, $comment);
        let $a = $("<div class='box-body bg-gray-light'></div>");
        $a.append($container);
        let $b = $("<div id='skill_" + id + "' class='col-md-6'></div>");
        $b.append($a);

        $('#SkillsSeleted').append($b);
    }
    function removeSkill(id) {
        console.log(id);
        $("#SkillIdSelector option[value=" + id + "]").prop('disabled', false);
        id = '#skill_' + id;
        $(id).remove();
    }
</script>

