@model IEnumerable<JobLanguage>
@*<div class="form-group">
    <div class="col-md-push-2 col-md-10">
        <div id="LanguagesSeleted" class="row">
            @foreach(var item in Model)
            {
                <div id="language_@item.LanguageId" class="col-md-6">
                    <div class="box-body bg-gray-light">
                        <div class="input-group text-success">
                            @item.Language?.Name
                            <input type="hidden" name="LanguagesSeleted.Index" value="@item.LanguageId"/>
                            <input type="hidden" name="LanguagesSeleted[@item.LanguageId].PositionJobId" value="@item.LanguageId" />
                            <input type="hidden" name="LanguagesSeleted[@item.LanguageId].LanguageId" value="@item.LanguageId" />
                            <input type="text" class="form-control" name="LanguagesSeleted[@item.LanguageId].Certification" value="@item.Certification" placeholder="Certification" />
                            <input type="text" class="form-control" name="LanguagesSeleted[@item.LanguageId].ScoreOrLevel" value="@item.ScoreOrLevel" placeholder="Score Or Level" />
                            <span onclick='removeLanguage("@item.LanguageId")' class='btn btn-link'><i class='fa fa-remove text-danger'></i></span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="input-group">
            <select id="LanguageIdSelector" class="form-control select2" asp-items="ViewBag.LanguageId">
                <option value="">-- Select Language --</option>
            </select>
            <div class="input-group-btn">
                <button id="AddLanguage" type="button" class="btn btn-success btn-flat">Add</button>
            </div>
        </div>
        
        
    </div>
</div>*@
<div class="col-sm-10">
    <div class="form-group">
        <div id="LanguagesSeleted" class="row">
            @foreach (var item in Model)
            {
                <div id="language_@item.LanguageId" class="col-md-6">
                    <div class="box-body bg-gray-light">
                        <div class="input-group text-success">
                            <span class="tag-profile">
                                @item.Language?.Name
                                <span onclick='removeLanguage("@item.LanguageId")' class='btn-link'><i class='fa fa-remove text-danger'></i></span>
                            </span><br />
                            <input type="hidden" name="LanguagesSeleted.Index" value="@item.LanguageId" />
                            <input type="hidden" name="LanguagesSeleted[@item.LanguageId].PositionJobId" value="@item.LanguageId" />
                            <input type="hidden" name="LanguagesSeleted[@item.LanguageId].LanguageId" value="@item.LanguageId" />
                            <input type="text" class="form-control" name="LanguagesSeleted[@item.LanguageId].Certification" value="@item.Certification" placeholder="Certification" />
                            <input type="text" class="form-control" name="LanguagesSeleted[@item.LanguageId].ScoreOrLevel" value="@item.ScoreOrLevel" placeholder="Score Or Level" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="col-sm-10">
    <div class="form-group">
        <label>Language</label>
        <select id="LanguageIdSelector" class="form-control select2" asp-items="ViewBag.LanguageId">
            <option value="">-- Select Language --</option>
        </select>
    </div>
</div>
<div class="col-sm-2">
    <div class="form-group">
        <button id="AddLanguage" type="button" class="btn btn-add-n btn-fill-horz" style="margin-top:25px"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
    </div>
</div>
<script>
    $(function () {
        $("#AddLanguage").on('click', function() {
            let option = $("#LanguageIdSelector option:selected");
            let txt = option.text();
            let val = $("#LanguageIdSelector option:selected").val();
            if (val !== "" && !option.is(':disabled')) {
                addLanguage(option.val(), option.text());
                $("#LanguageIdSelector option[value=" + val + "]").prop('disabled', true);
            }
        });
    });
    function addLanguage(id, name) {
        let $container = $("<div class='input-group text-success'></div>");
        let $span = $("<span class='tag-profile'>" + name + "<span onclick='removeLanguage(" + id + ")' class='btn-link'><i class='fa fa-remove text-danger'></i></span></span><br />");
        let $index = $("<input type='hidden' name='LanguagesSeleted.Index' value='" + id + "' />");
        let $positionJobId = $("<input type='hidden' name='LanguagesSeleted[" + id + "].PositionJobId' value='" + id + "' />");

        let $certification = $("<input type='text' class='form-control' name='LanguagesSeleted[" + id + "].Certification' placeholder='Certification' />");
        let $scoreOrLevel = $("<input type='text' class='form-control' name='LanguagesSeleted[" + id + "].ScoreOrLevel' placeholder='Score Or Level'/>");

        let $languageId = $("<input type='hidden' name='LanguagesSeleted[" + id + "].LanguageId' value='" + id + "' />");

        $container.append($span,$index, $positionJobId, $languageId, $certification, $scoreOrLevel);
        let $a = $("<div class='box-body bg-gray-light'></div>");
        $a.append($container);
        let $b = $("<div id='language_" + id + "' class='col-md-6'></div>");
        $b.append($a);

        $('#LanguagesSeleted').append($b);
    }
    function removeLanguage(id) {
        $("#LanguageIdSelector option[value=" + id + "]").prop('disabled', false);
        id = '#language_' + id;
        $(id).remove();
    }
</script>

