@model IEnumerable<JobLocation>
@*<div class="form-group">
        <div class="col-md-push-2 col-md-10">

            <div id="LocationsSeleted" style="white-space: nowrap; line-height: 300%;">
                @foreach(var item in Model)
                {
                    <span id="location_@item.LocationId" class="pad bg-gray-light text-success margin-r-5" style="white-space: nowrap; line-height: 300%;">
                        @item.Location?.Name
                        <input type="hidden" name="LocationsSeleted.Index" value="@item.LocationId"/>
                        <input type="hidden" name="LocationsSeleted[@item.LocationId].PositionJobId" value="@item.PositionJobId" />
                        <input type="hidden" name="LocationsSeleted[@item.LocationId].LocationId" value="@item.LocationId" />
                        <span onclick='removeLocation("@item.LocationId")' class='btn btn-link'><i class='fa fa-remove text-danger'></i></span></span>
                }
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <select id="NationSeletor" class="form-control select2" onchange="NationChange();" asp-items="ViewBag.NationId">
                        <option value="">-- Select Nation --</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <select id="LocationSelector" class="form-control select2" asp-items="ViewBag.LocationId">
                            <option value="">-- Select Province --</option>
                        </select>
                        <div class="input-group-btn">
                            <button id="AddLocation" type="button" class="btn btn-success btn-flat">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="col-sm-10">
    <div class="form-group">
        <div id="LocationsSeleted">
            @foreach (var item in Model)
        {
            <span id="location_@item.LocationId" class="tag-profile">
                @item.Location?.Name
                <input type="hidden" name="LocationsSeleted.Index" value="@item.LocationId" />
                <input type="hidden" name="LocationsSeleted[@item.LocationId].PositionJobId" value="@item.PositionJobId" />
                <input type="hidden" name="LocationsSeleted[@item.LocationId].LocationId" value="@item.LocationId" />
                <span onclick='removeLocation("@item.LocationId")' class='btn-link'><i class='fa fa-remove text-danger'></i></span>
            </span>
    }
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-5">
        <label>Nation</label>
        <select id="NationSeletor" class="form-control select2" onchange="NationChange();" asp-items="ViewBag.NationId">
            <option value="">-- Select Nation --</option>
        </select>
    </div>
    <div class="col-md-5">
        <label>Province</label>
        <select id="LocationSelector" class="form-control select2" asp-items="ViewBag.LocationId">
            <option value="">-- Select Province --</option>
        </select>
    </div>
    <div class="col-md-2">

        <button id="AddLocation" type="button" class="btn btn-add-n btn-fill-horz" style="margin-top:25px"><i class="fa fa-plus" aria-hidden="true"> Add</i></button>
    </div>
</div>
<script>
    $(function () {
        $("#AddLocation").on('click', function () {
            var option = $("#LocationSelector option:selected");
            var txt = option.text();
            var val = $("#LocationSelector option:selected").val();
            if (val !== "" && !option.is(':disabled')) {
                addLocation(option.val(), option.text());
                $("#LocationSelector option[value=" + val + "]").prop('disabled', true);
            }
        });
    });
    function addLocation(id, name) {
        var $container = $("<span id='location_" + id + "' class='tag-profile' style='margin-left:3px'>" + name + "</span>");
        var $index = $("<input type='hidden' name='LocationsSeleted.Index' value='" + id + "' />");
        var $positionJobId = $("<input type='hidden' name='LocationsSeleted[" + id + "].PositionJobId' value='" + id + "' />");
        var $locationId = $("<input type='hidden' name='LocationsSeleted[" + id + "].LocationId' value='" + id + "' />");
        var $remove = $("<span onclick='removeLocation(" + id + ")' class='btn-link'><i class='fa fa-remove text-danger'></i></span>");

        $container.append($index, $positionJobId, $locationId, $remove);
        $('#LocationsSeleted').append($container);
    }
    function removeLocation(id) {
        $("#LocationSelector option[value=" + id + "]").prop('disabled', false);
        id = '#location_' + id;
        $(id).remove();
    }
    function NationChange() {
        var nationId = $("#NationSeletor").val();
        var $province = $("#LocationSelector");
        var provinceId = $province.val();

        $.ajax({
            type: "GET",
            url: "/Employer/Home/GetListProvince",
            data: {
                nationId: nationId
            },
            success: (function (resual) {
                $province.empty();
                $province.append(new Option("-- Select Province --", ""));
                $.each(resual, function (key, item) {
                    var nItem = new Option(item['name'], item['id']);
                    if (item['id'] == provinceId) {
                        nItem.selected = true;
                    }
                    $province.append(nItem);
                });
            })
        });
    }
</script>

