﻿@model Company
@{
    Layout = null;      
    var logo = Model.Logo ?? "/areas/employer/images/avatar/avatar1.png";
}
<img id="LogoPicker" src="@logo" alt="User Avatar">
<div class="text-muted" style="font-size: 10px">Click to upload image</div>
<form id="Concat" asp-area="Employer" asp-controller="Companies" asp-action="UpdateLogo" asp-route-id="@Model.Id"
      enctype="multipart/form-data" data-ajax="true" data-ajax-method="post"
      data-ajax-update="#OuterContaier_CompanyLogo"
      data-ajax-begin="$(this).closest('div.box').displayLoading();"
      data-ajax-complete=""
      data-ajax-success="$(this).removeLoading();notifyStatusCode(xhr)"
      data-ajax-failure="notifyStatusCode(xhr)">
    <input id="LogoUploader" name="LogoUploader" type="file" class="hidden"/>
</form>
@{
<script>
        $(function() {
            //$('#LogoPicker').on('click',
            //    function() {
            //        $('#LogoUploader').click();
            //    });
            //    $("#LogoUploader").on("change",
            //        function () {
            //        $("#Concat").submit();
            //    });
            $('#LogoPicker').on('click',
                function () {
                    $('#LogoUploader').click();
                });
            $("#LogoUploader").change(function (evt) {
                var fileUpload = $("#LogoUploader").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                data.append('id',@Model.Id );
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "Employer/Companies/UploadFilesAjax",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.warning('Warning! An error is occurred, please try again!');
                    }
                });
            });
        });
</script>
}