﻿@if (!ViewData.ModelState.IsValid)
{
    if (ViewData.ModelState.ContainsKey("Success"))
    {
        var msm = ViewData.ModelState.Values.FirstOrDefault(m => m.Errors.Any()).Errors.First().ErrorMessage;
        <script>
            $(function() {
                new PNotify({
                    type: 'info',
                    title: 'Success',
                    text: '@msm'
                });
            });
        </script>
    }
    else if (ViewData.ModelState.ContainsKey("Error"))
    {
        var msm = ViewData.ModelState.Values.FirstOrDefault(m => m.Errors.Any()).Errors.First().ErrorMessage;
        <script>
            $(function() {
                new PNotify({
                    type: 'notice',
                    title: 'Error',
                    text: '@msm'
                });
            });
        </script>
    }
    else
    {
        <div asp-validation-summary="All" class="alert bg-warning text-danger alert-dismissible animated fadeInRight">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
        </div>        
    }
}
