﻿<div class="panel bg-gray-light">
    <div class="panel-body">
        <i class="fa fa-info-circle margin-r-5 text-gray"></i>
        @if (!string.IsNullOrEmpty(ViewBag.Note))
        {
            <span class="text-gray">Ghi chú : </span>
            <span>@ViewBag.Note </span>
        }
    </div>
</div>