﻿@using System.Security.Claims
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="#" class="header bg-aqua">
                    <i class="fa fa-windows"></i> <span>Features</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @if (User.IsInRole("Employer"))
                    {
                        <li><a asp-area="Employer" asp-controller="Companies" asp-action="Edit" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"><i class="fa fa-book text-aqua"></i> Thông tin hồ sơ</a></li>
                    }
                    
                    <li><a asp-controller="Products" asp-action="Index"><i class="fa fa-star text-aqua"></i> Đăng tin tuyển dụng</a></li>
                    <li><a asp-controller="Merchants" asp-action="Index"><i class="fa fa-search text-aqua"></i> Tìm kiếm ứng viên</a></li>
                    <li><a asp-controller="Wholesalers" asp-action="Index"><i class="fa fa-envelope-o text-aqua"></i> Mời ứng tuyển</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>