﻿<div class="pull-right">
    <span class="text-gray" style="margin-right: 10px"><i class="fa fa-calendar-o"></i> @Model.CreatedDate.ToString("D") </span>
    <span class="text-gray" style="margin-right: 10px"><i class="fa fa-user"></i> @Model.CreatedBy </span>
    <span class="text-gray" style="margin-right: 10px"><i class="fa fa-calendar-o"></i> @Model.ModifiedDate.ToString("D") </span>
    <span class="text-gray" style="margin-right: 10px"><i class="fa fa-user"></i> @Model.ModifiedBy </span>
</div>