﻿@*<header class="main-header">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
        <span class="logo-mini"><b class="text-aqua">C</b><b class="text-blue">A</b></span>
        <span class="logo-lg text-aqua"><img src="/images/LOGO_CONTACTASSEAN.png" width="100" /></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu" style="margin-right: 10px">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle text-aqua" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user-o margin-r-5"></i> <b>@User.Identity.Name</b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="Employer" asp-controller="Home" asp-action="Profile"><i class="fa fa-bookmark-o fa-fw text-aqua"></i> Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Account/LogOff"><i class="fa fa-sign-out fa-fw text-aqua"></i> Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Content("~/signin")"><i class="fa fa-user-circle-o"></i> Log in</a></li>
                </ul>
            }
        </div>
    </nav>
</header>*@

@{
    var currentLang = T.language;
}
<section class="child" role="banner">
    <header id="header" class="header-fixed fixed @(((ViewContext.RouteData.Values["controller"].ToString()=="Home") && (ViewContext.RouteData.Values["action"].ToString()=="Index"))?"":"header-child")">
        <div class="container">
            <div class="header-content clearfix">
                <a class="logo" asp-action="Index" asp-controller="Home" asp-area="default"><img style="width: 100px; height: auto;" src="~/Images/logo-footer1.jpg" alt=""></a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav" style="margin-bottom:0px">
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Index", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-action="Index" asp-controller="Home" asp-area="default">@T.T("Home.Home")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Recruiment"))?"active":"")'><a asp-controller="Recruiment" asp-action="Index" asp-area="default">@T.T("Home.All.jobs")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "News"))?"active":"")'><a asp-action="Index" asp-controller="News" asp-area="default">@T.T("Home.News")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Startup"))?"active":"")'><a asp-action="Index" asp-controller="Startup" asp-area="default">@T.T("Home.Startup")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Policy", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-controller="Home" asp-action="Policy" asp-area="default">@T.T("Home.Policy")</a></li>
                        <li class="dropdown language-choose">
                            <a href="" data-toggle="dropdown">
                                <img src="/@currentLang.Image" alt=""><i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var item in T.listLanguage)
                                {
                                    <li><a href="?lang=@item.LanguageCulture" class="language-icon" title="@item.Name"><img src="/@item.Image" alt=""></a></li>
                                }
                            </ul>
                        </li>
                        <li class="divider"> | </li>
                        @await Component.InvokeAsync("LoginNav")
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </div>
    </header>

</section>
