﻿@model IEnumerable<MIC.AseanTalentSearch.Web.EF.Company>
@*<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title text-uppercase">Hottest companies</h3>
        <a asp-controller="Company" asp-action="List" class="arrow-left"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
         
        <div id="top-companies">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <a title="@item.Name" class="cusLogo" asp-controller="Company" asp-action="Details" asp-route-id="@item.Guid"><img class="salesLogoImage img-responsive" src="@(item.Logo??"/images/no-image-icon.png")"></a>
                }
            }
            else
            {
                <span>No job found!</span>
            }
        </div>
    </div>
    <!-- /.box-body -->
</div>*@
<div id="hottest-img" class="owl-carousel owl-theme">
    <div class="row">
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-xs-4">
                    <div>
                        <a title="@item.Name" class="cusLogo" asp-controller="Company" asp-action="Details" asp-route-id="@item.Guid">
                            <img class="salesLogoImage img-responsive" src="@(item.Logo ?? "/images/no-image-icon.png")">
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <span>@T.T("Home.NoCompanyFound")</span>
        }
    </div>

</div>
<a asp-controller="Company" asp-action="List" class="btn btn-blue btn-fill-horz">@T.T("Home.ViewMore")</a>