﻿@using System.Security.Claims
@model MIC.AseanTalentSearch.Web.EF.Company
@{
    ViewData["Title"] = "Company Create";
}
<script>
    let emp = $("#EmployerSidenav");
    emp.next().removeClass("col-lg-10 col-md-9");
    emp.remove();
</script>
<div class="animated zoomIn">
    <div class="login-box">
        <div class="login-logo">
            <a href="">Contact <b class="text-aqua">Asian</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Register to generate your profile</p>

            <form asp-area="Employer" asp-controller="Companies" asp-action="Create">
                <div class="form-group has-feedback">
                    @await Html.PartialAsync("Partial/_ModelStatePartial")
                </div>
                <input type="hidden" asp-for="Id" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
                <div class="form-group has-feedback">
                    <input asp-for="Name" class="form-control" placeholder="Enter your company name">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Email" class="form-control" placeholder="Company email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Phone" class="form-control" placeholder="Company phone">
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <select id="SelectNation" class="form-control" asp-items="ViewBag.NationId"><option value="">Select your nation</option></select>
                </div>
                <div class="form-group has-feedback">
                    <select id="SelectLocation" asp-for="LocationId" class="form-control"><option value="">Select your location</option></select>
                    <span asp-validation-for="LocationId" class="text-danger">
                    </span>
                </div>
                <div class="form-group has-feedback">
                    <textarea asp-for="Address" class="form-control" placeholder="Company address"></textarea>
                    <span class="glyphicon glyphicon-home form-control-feedback"></span>
                </div>
                <div class="box-footer no-padding">
                    <input type="submit" value="Generate Profile" class="btn btn-block btn-info btn-flat" />
                </div>
            </form>
            <br />
        </div>
    </div>
</div>
<script>
    $(function () {
        var locationsData = @Html.Raw(Json.Serialize(ViewBag.Locations));
        $("#SelectNation").on("change", function () {
            $('#SelectLocation').text("");
            $('#SelectLocation').append($('<option>',
                {
                    value: null,
                    text: "Select your location" 
                }));
            for (var i = 0, len = locationsData.length; i < len; i++) {
                if (locationsData[i].parentId == $(this).val()) {
                    $('#SelectLocation').append($('<option>',
                        {
                            value: locationsData[i].id,
                            text: locationsData[i].name 
                        }));
                }
            }
        }); 
    });
</script>