﻿@model MIC.AseanTalentSearch.Web.EF.Company
@{
    Layout = null;
}
<div class="row">
    <form asp-area="Employer" asp-controller="Companies" asp-action="Edit" data-ajax="true" data-ajax-method="post"
          data-ajax-success="$(this).displayValidation(xhr);notifyStatusCode(xhr)" data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr)">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Logo" />
        <div class="col-md-offset-2 col-md-12">
            @await Html.PartialAsync("Partial/_ModelStatePartial")
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IdNavigation"></label>
                <select class="form-control selectpicker" id="NationSelect" asp-items="ViewBag.NationId" onchange="NationChange()"></select>
                <span asp-validation-for="IdNavigation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Location"></label>
                <select asp-for="LocationId" class="form-control selectpicker" asp-items="ViewBag.Locations">
                    <option>--Select Province--</option>
                </select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Taxcode"></label>
                <input asp-for="Taxcode" class="form-control" />
                <span asp-validation-for="Taxcode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CompanySize"></label>
                <input asp-for="CompanySize" class="form-control" />
                <span asp-validation-for="CompanySize" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="AttractivePolicies"></label>
                <textarea asp-for="AttractivePolicies" class="form-control"></textarea>
                <span asp-validation-for="AttractivePolicies" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Introduction"></label>
                <textarea asp-for="Introduction" class="form-control tinymce" rows="15"></textarea>
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Summary"></label>
                <textarea asp-for="Summary" onchange="countChar(this)" onkeyup="countChar(this)" maxlength="500" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
                <p class="pull-right" id="charCountDown">500</p>
            </div>
        </div>
        <hr />
        <h3 class="title-employer"><i class="fa fa-square" aria-hidden="true"></i>Representation</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Owner"></label>
                    <input asp-for="Owner" class="form-control" />
                    <span asp-validation-for="Owner" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ContactPerson"></label>
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ContactPhone"></label>
                    <input asp-for="ContactPhone" class="form-control" />
                    <span asp-validation-for="ContactPhone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ContactPersonGender"></label><br />
                    @Html.RadioButton("ContactPersonGender", true, Model.ContactPersonGender ?? false) Nam
                    @Html.RadioButton("ContactPersonGender", false, !Model.ContactPersonGender ?? true) Nữ
                </div>
            </div>
        </div>
        <hr />
        <h3 class="title-employer"><i class="fa fa-square" aria-hidden="true"></i>Social Links</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Website"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Facebook"></label>
                    <input asp-for="Facebook" class="form-control" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Instagram"></label>
                    <input asp-for="Instagram" class="form-control" />
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LinkedIn"></label>
                    <input asp-for="LinkedIn" class="form-control" />
                    <span asp-validation-for="LinkedIn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Twitter"></label>
                    <input asp-for="Twitter" class="form-control" />
                    <span asp-validation-for="Twitter" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <input type="submit" value="Update" class="btn btn-employer btn-fill-horz" />
            </div>
        </div>
    </form>
</div>

@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
    await Html.RenderPartialAsync("_HtmlEditorScriptsPartial");
}
<script>
    function countChar(val) {
        var len = val.value.length;
        if (len >= 500) {
            val.value = val.value.substring(0, 500);
            $('#charCountDown').text(0);
        } else {
            $('#charCountDown').text(500 - len);
        }
    };
    $(document).ready(function () {

        $("#charCountDown").text(500-$("#Summary").text().length);

    })

</script>

