﻿@using MIC.AseanTalentSearch.Web.Areas.Admin.Models.User
@model UserViewModel
@{
    ViewData["Title"] = "Update User";
}
@section heading{
    <h1>User</h1>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Create">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger callout callout-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label">@T.T("Admin.UserName")</label>
                            <div class="col-md-10">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label">@T.T("Admin.Email")</label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserClaims" class="col-md-2 control-label">@T.T("Admin.UserClaims")</label>
                            <div class="col-lg-10">
                                @for (int i = 0; i < Model.UserClaims.Count; i++)
                                {
                                    <div class="col-lg-4">
                                        
                                        <label class="checkbox" asp-for="@Model.UserClaims[i].Selected"><input type="checkbox" asp-for="@Model.UserClaims[i].Selected" /> @Model.UserClaims[i].Text</label>
                                        <input type="hidden" asp-for="@Model.UserClaims[i].Value" />
                                        <input type="hidden" asp-for="@Model.UserClaims[i].Text" />
                                    </div>
                                }
                                @*@foreach (var UserClaims in Model.UserClaims)
                                    {
                                        <div class="col-lg-4">
                                            <input type="checkbox" asp-for="@UserClaims.Selected" />
                                            <label asp-for="@UserClaims.Selected">@UserClaims.Text</label>
                                            <input type="hidden" asp-for="@UserClaims.Value" />
                                            <input type="hidden" asp-for="@UserClaims.Text" />
                                        </div>
                                    }*@

                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="SelectedRoles" class="col-md-2 control-label">@T.T("Admin.Role")</label>
                            <div class="col-md-10">
                                <select class="selectpicker form-control" asp-for="SelectedRoles" asp-items="@Model.ApplicationRoles" data-live-search="true"></select>
                                <span asp-validation-for="SelectedRoles" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@T.T("Admin.Save")" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}