﻿
@model IEnumerable<MIC.AseanTalentSearch.Web.Areas.Admin.Models.User.UserGrid>
@{
    ViewData["Title"] = "List User";
}
@section heading{
    <h1>User</h1>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                <a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> @T.T("Admin.Create")</a>
                <form method="get" class="pull-right">
                    @*<div class="form-group">

                                <input type="text" class="form-control" name="search"/>


                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                            </button>

                    </div>*@
                    <div class="input-group" style="width:240px;">
                        <input type="text" class="form-control" name="search" placeholder="Username" aria-describedby="basic-addon1">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                            </button>
                            @*<button class="btn btn-secondary" type="button">Go!</button>*@
                        </span>
                    </div>
                </form>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @T.T("Admin.Name")
                            </th>
                            <th>
                                @T.T("Admin.Email")
                            </th>
                            <th>
                                @T.T("Admin.ApplicationRoles")
                            </th>
                            <th class="text-right" style="padding-right:100px;">@T.T("Admin.Action")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Email)
                                </td>
                                <td>
                                    @(String.Join(", ",item.ApplicationRoles))
                                </td>
                                <td class="text-right">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> @T.T("Admin.Delete")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination">
                        <pager />
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>