﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Log in";
}

<form asp-controller="User" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group has-feedback">
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group has-feedback">
        <input asp-for="Password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    Remember me?
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
        </div>
        <!-- /.col -->
    </div>
</form>
<a asp-action="ForgotPassword">Forgot password?</a>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}