 body {
  overflow-x: hidden;
 }
 *{
  margin:0;
  padding:0;
  border:none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
h2,h3,h4,span,h1,div,p{
  font-family: 'Cabin',sans-serif
}
a {
  text-decoration: none;
  outline: none;
  font-family: 'Cabin',sans-serif
}
a:hover, 
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}
ul{
  list-style-type:  none;
  font-family: 'Cabin',sans-serif
}

p {
  text-align: justify;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
.img-center {
  margin: 0 auto;
  display: block
}

/*NAV*/
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 20px;
  background-color: transparent;
  height: 70px;
  padding: 25px;
  margin-right: 100px;
}
@media (min-width: 768px){
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}
.navbar {
  border-radius: 0px;
  border: none;
  background-color: #fff;
  margin-bottom: 0px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
}
  .navbar-nav>li>a {
      padding-top: 25px;  
      padding-bottom: 25px;
  }
    .navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 18px;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*max width 768px*/
  
  .nav>li>a {
      padding-right: 25px;
      padding-left: 25px;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
      color: #f1c410;
      background-color: transparent;
  }
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
    border: none;
    margin-bottom: 0px;
  }
  .navbar-default {
    background-color: #242424;
    border:none;
  }
   .navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 18px;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
}
  .navbar-nav {
      margin:0;
  }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: #182153;
  }
  /*banner*/
  #banner{
    background-color: #ededed;
  }
  #banner header{
    margin-top: 200px;
  }
  header h1{
    font-weight: bold;
    font-size: 32px;
  }
  header p{
    font-weight: bold;
  }
  ul.icons li {
    display: inline-block;
  }
  ul.icons a {
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 2em;
    text-align: left;
    border: 0;
  }
  .icon:before {
    display: inline-block;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  .icons {
    margin-top: 30px;
    font-size: 15px;
    text-align: left;
  }
  .icons a {
    color: #41484c;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
  }
  .icons a:hover {
    color: #f1c410;
  }
  .header__title {
    background-color: #f1c410;
    color: #fff;
    width: 190px;
    position: relative;
    padding: 10px 0 10px 15px;
  }
  .header__title:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -18px;
    left: 30px;
    border-style: solid;
    border-width: 18px 0 0 18px;
    border-color: #f1c410 transparent transparent transparent;
}
/*intro*/
  #intro img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 12px solid rgba(0, 0, 0, 0.3);
    margin-top: 200px;
  }
  .intro__img {
    width: 50%;
    float: left;
  }
  .intro__content{
    padding-left: 50px;
  }
  #intro .intro__content p {
      color:#fff;
  }
  #intro .intro__content{
    width: 50%;
    height: 700px;
    position: relative;
    float: right;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #intro .intro__content:before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
    left: 0;
    top: 50%;
    margin-left: -20px;
  }
  #intro .content {
    margin-right: 5rem;
    margin-bottom: 10px;
  }
  .content{
     color: #fff;
     line-height: 30px;
     margin-bottom: 30px;
  }
  .intro__content ul{
    list-style: none;
  }
  .intro__content ul li{
    margin-top: 5px;
    background: url('../image/tick.png') no-repeat left center;
    padding: 5px 40px;
    color: #fff;
  }
  .intro__title{
    font-size: 90px;
    color: #757575;
    margin-top: 50px;
  }
  .intro__title span {
    font-size: 32px;
    color: #f1c410;
    position: relative;
    left: -30px;
    top: -10px;
  }
  #skill{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow-x: hidden;
    background-color: #242424;
  }
  .skill__left{
    width: 55%;
    padding: 0rem 3rem 3rem 20rem;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 64rem;
    margin: 0 auto;
  }
  .skill__right{
    flex-grow: 0;
    flex-shrink: 0;
    width: 45%;
    min-width: 25rem;
    border-radius: 0;
  }
  #image{
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    width: 100%;
    margin: auto;
    padding: 80px 0 60px 20px;
  }
  @media screen and (max-width: 1680px) {

      .skill__left {
        padding: 0rem 3rem 3rem 10rem ;
      }

    }
    @media screen and (max-width: 1280px) {
      .skill__left {
        padding: 0rem 3rem 2rem 5rem ;
      }
    }
    @media screen and (max-width: 980px) and (orientation: portrait) {

    #skill {
      -moz-flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      text-align: center !important;
    }
    .skill__left{
    width: 100%;
    padding: 0rem 3rem 1.75rem 3rem ;
    }
    .skill__right{
      width: 100%;
      flex-shrink: 0;
    }
  }
  #prog {
    margin-bottom: 40px;
    height: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
  .title-progress{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    width: 90%;
  }
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #f1c410;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
  .percent-progress {
    float: right;
  }
  .black-title {
    color: #000 !important;
    font-weight: bold;
  }
  #portfolio .intro__title{
    color: rgba(255, 255, 255, 0.6) !important;
  }
  /*nav pills*/
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover,.nav-pills>li>a:focus {
    color: #000;
    background-color: transparent;
    font-weight: bold;
  }
 .nav-pills>li>a {
    border-radius: 0px;
    margin-right: 10px;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
}
  .nav {
    padding-left: 0;
    margin: 20px 0 20px 0 ;
    list-style: none;
}
.center-pills {
  display: flex;
  justify-content: center;
}
#portfolio {
  padding-bottom: 40px;
}
#portfolio img{
  margin-bottom: 30px;
    width: 360px;
  height: 208px;
}

.figure-item {
  margin-bottom: 15px;
}
.figure-image {
  display: block;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.figure-image i{
  font-size: 30px;
  margin-top: 5px;
  margin-right: 20px;
  width: 30px;
}
.figure-content {
  text-align: left;
  margin-bottom: 20px;
}
.figure-number, .figure-text {
  font-size: 16px;
  display: block;
  color: #000;
}
#about .figure-content .icons{
  font-size: 15px;
  text-align: left;
}
#about .figure-content .icons a {
  color: #000;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
  }
#about .figure-content .icons a:hover {
  color: #f1c410;
}
#about .form{
  margin-top: 40px;
  background-color: #f1c410;
  padding: 30px;
}
#footer{
  text-align: left !important;
  padding: 15px 0 !important;
  background-color: #242424;
  color: #fff;
  font-size: 16px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border:none !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition:none !important;
    -o-transition:none !important;
    transition: none !important;
}
.btn-details{
  background-color: #000;
  color: #fff;
  border-radius: 0;
  margin-top: 20px;
  width: 100%;
}