﻿@using System.Linq
@using Microsoft.AspNetCore.Razor.Parser.SyntaxTree
@model System.Collections.Generic.IEnumerable<MIC.AseanTalentSearch.Web.EF.PositionJob>
@*<div class="job-list">
        @if (Model.Any())
        {
            <ul>
                @foreach (var item in Model)
                {
                    <li class="hot-job">
                        <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item?.Id" title="@item?.PositionTitle">
                            <span class="score"><span class="label label-warning">NEW</span></span>
                            <span class="job-title">
                                <strong class="text-clip">@item?.PositionTitle</strong>
                                <em class="text-clip">@item?.Company?.Name</em>
                            </span>
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <span>No job found!</span>
        }
    </div>*@
<span hidden>@((int)ViewBag.JobCount)</span>
<div class="table-responsive">
    
    <table class="table table-condensed table-striped">
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
            <tr>
                <a href="Recruiment/Details/@item.Id#detail" title="@item.PositionTitle">
                    <td class="td_image">
                        <div class="td-img-content">
                            <img class="img-responsive" src="@item.Company.Logo" title="@item.Company.Name" />
                        </div>
                    </td>
                    <td class="text-left">
                        <p class="text-bold">@item.PositionTitle</p>
                        <p>
                            <em>@item.Company.Name</em>
                        </p>
                    </td>
                    <td>
                        <p class="position">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            @foreach (var location in item.JobLocation)
                            {
                                <a style="color:#000;" asp-controller="Recruiment" asp-action="Index" asp-route-locationId="@location.LocationId">@(location != item.JobLocation.Last() ? location.Location.Name + "," : location.Location.Name)</a>
                            }
                        </p>
                    </td>
                    <td>
                        <p class="position">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            @string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)
                        </p>
                    </td>
                    <td>
                        <p class="text-bold position">
                            @{string salary = "Negotiation";
                            }
                            @if (item.PayStatusView == true)
                            {
                                if (User.Identity.IsAuthenticated)
                                {
                                    if (item.MinPay != null && item.MaxPay != null)
                                    {
                                        salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                                    }
                                    else if (item.MinPay != null && item.MaxPay == null)
                                    {
                                        salary = $"From: ${item.MinPay:N0}";
                                    }
                                    else if (item.MinPay == null && item.MaxPay != null)
                                    {
                                        salary = $"Up to: ${item.MaxPay:N0}";
                                    }
                                }
                                else
                                {
                                    salary = "Salary: Login to see";
                                }
                            }
                            else
                            {
                                if (item.MinPay != null && item.MaxPay != null)
                                {
                                    salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                                }
                                else if (item.MinPay != null && item.MaxPay == null)
                                {
                                    salary = $"From: ${item.MinPay:N0}";
                                }
                                else if (item.MinPay == null && item.MaxPay != null)
                                {
                                    salary = $"Up to: ${item.MaxPay:N0}";
                                }
                            }
                            @salary
                    </td>
                    @*<td>
                <a asp-controller="Recruiment" asp-action="Details" class="btn btn-orange btn-fill-horz" asp-route-id="@item.Id">View more</a>
            </td>*@

                </a>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td>@T.T("Home.NoJobFound")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
