﻿@{
    Layout = null;
}
@model MIC.AseanTalentSearch.Web.EF.Candidate
@{
    var themeName = string.Empty;
    if (string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["name"]))
    {
        themeName = ViewBag.ThemeName;
    }
    else
    {
        themeName = ViewContext.HttpContext.Request.Query["name"];
    }
    var listCM = (List<MIC.AseanTalentSearch.Web.Models.Candidate.CandidateCommentViewModel>)ViewBag.ListCommnet;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="~/Themes/@(themeName)/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/css/site.min.css" rel="stylesheet" />
    <style>
        #mn-comments {
            padding: 0px;
        }

            #mn-comments .avatar-cmt {
                overflow: hidden;
                background-repeat: no-repeat !important;
                background-attachment: scroll !important;
                background-position: center center !important;
                -webkit-background-size: cover !important;
                -moz-background-size: cover !important;
                background-size: cover !important;
                -o-background-size: cover !important;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                top: 10px;
            }

            #mn-comments .comments {
                border-bottom: 1px solid #e7eaf3;
                margin-bottom: 30px;
            }

            #mn-comments ul li {
                display: inline-block;
            }
    </style>
</head>
<body data-spy="scroll" data-target="#nav-custom" data-offset="40">
    <nav class="navbar navbar-default" id="nav-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@Model?.FullName</a>
            </div>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Information</a></li>
                    <li><a href="#skill">Skill</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#experience">Experience</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <header>
                        <h1 class="header__title"><em>HELLO!</em></h1>
                        <h1>I am @Model?.FullName</h1>
                        <p>
                            <em>
                                I have experience in @if (Model.CandidateCategory != null && Model.CandidateCategory.Any())
                                {
                                    @String.Join(", ", Model.CandidateCategory.Select(m => m.Category.Name.Trim()))
                                } field.
                            </em>
                        </p>

                        <!-- Social Icons -->
                        <ul class="icons">
                            <li><a target="_blank" href="@Model?.Facebook" class="icon fa fa-facebook"></a></li>
                            <li><a target="_blank" href="@Model?.LinkedIn" class="icon fa fa-linkedin"></a></li>
                            <li><a target="_blank" href="@Model?.Instagram" class="icon fa fa-instagram"></a></li>
                            <li><a target="_blank" href="@Model?.Twitter" class="icon fa fa-twitter"></a></li>
                            <li><a target="_blank" href="@Model?.Youtube" class="icon fa fa-youtube-square"></a></li>
                        </ul>
                    </header>
                </div>
                <div class="col-md-7">
                    <img class="img-center" src="~/Themes/@(themeName)/image/top.png" alt="" style="height: 600px;">
                </div>
            </div>
        </div>
    </section>
    <section id="intro" style="background: url('@Url.Content($"~/Themes/{themeName}/image/bg2.png")'); height: 700px;">
        <div class="intro__img">
            <img class="img-center" src="@(Model?.IdNavigation?.GeneralProfile?.Image)" />
        </div>
        <div class="intro__right">
            <div class="intro__content">
                <h1 class="intro__title">01<span>Information</span> </h1>
                <p class="content">
                    @Html.Raw(Model?.Summary ?? "")
                </p>
                <ul class="list-unstyled">
                    <li>Birthdate: @(Model?.IdNavigation?.GeneralProfile?.BirthDate?.ToString("dd/MM/yyyy"))</li>
                    <li>Email: @(Model?.Email)</li>
                    <li>Phone number: @(Model?.PhoneNumber)</li>
                    <li>Years of experience: @(Model?.YearsOfExperience)</li>
                    <li>Address: @(Model?.Address)</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="skill">
        <div class="skill__left">
            <div class="skill__content">
                <h1 class="intro__title">02<span>Skill</span> </h1>
                @{
                    var tem = 0;
                }
                @foreach (var item in Model?.CandidateSkill?.Select(m => m.Skill))
                {
                    <p class="title-progress">
                        @item.Name
                        @if ((Model?.CandidateSkill?.Select(m => m.SkillLevel).ElementAt(tem)) != null)
                        {
                            <span style="float: right;">@(Model?.CandidateSkill?.Select(m => m.SkillLevel).ElementAt(tem)) %</span>
                        }
                        else
                        {
                            <span style="float: right;">
                                0%
                            </span>
                        }
                    </p>
                    <div class="progress" id="prog">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:@(Model?.CandidateSkill?.Select(m=>m.SkillLevel).ElementAt(tem))%"></div>
                    </div>
                    tem++;
                }
            </div>
        </div>
        <div class="skill__right">
            <div id="image" style="background: url('@Url.Content($"~/Themes/{themeName}/image/skill.png ")'); height: 750px;">

            </div>
        </div>
    </section>
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="intro__title text-center" style="color: #e5e7e9 !important">03<span class="black-title">Experience</span></h1>
                </div>
                <div class="col-md-12">
                    <div class="timeline-centered">
                        @foreach (var item in Model.EmploymentHistory)
                        {
                            <article class="timeline-entry left-aligned">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-time" style="right: -250px;">
                                        <span>
                                            @if (item?.EndedDate != null)
                                            {
                                                @Html.Raw(item?.StartedDate.ToString("MM/yyy") + " - " + item?.EndedDate?.ToString("MM/yyy"))
                                            }
                                            else
                                            {
                                                @Html.Raw("From " + item?.StartedDate.ToString("MM/yyy"))
                                            }
                                        </span>
                                    </div>
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-label">
                                        <h2>@item?.PositionTitle</h2>
                                        <p class="text-right">@item?.CompanyName</p>
                                        <h2>Job description</h2>
                                        <p class="text-right">
                                            @Html.Raw(item?.Description ?? "")
                                        </p>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="education" style="background-color: #f6f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="intro__title text-center" style="color: #e5e7e9 !important">04<span class="black-title">Education</span></h1>
                </div>
                <div class="col-md-12">
                    <div class="timeline-centered">
                        @foreach (var item in Model.EducationHistory)
                        {
                            <article class="timeline-entry left-aligned">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-time" style="right: -250px;"><span>@item?.BeginDate.ToString("MM/yyy") - @item?.EndDate.ToString("MM/yyy")</span></div>
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-label">
                                        <h2>@item?.Major?.Name</h2>
                                        <ul>
                                            <li>@item?.Major?.University?.Name</li>
                                            <li>Content: @Html.Raw(item?.Achievement ?? "")</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mn-comments">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="intro__title text-center" style="color: #e5e7e9 !important">05<span class="black-title">Comments</span></h1>
                    </div>
                    <div class="col-md-12">
                        <div>
                            @foreach (var item in listCM)
                            {
                                <div class="comments">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul>
                                                <li>
                                                    <div class="avatar-cmt" style="background:url('@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))');"></div>
                                                </li>
                                                <li class="info-user">
                                                    <h4>@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h4>
                                                    <p><em>@item?._OldUniversity</em></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-right rate pull-right">
                                                <p>
                                                    @($"{item.CondidateComment.ModifiedDate: d.MM.yyyy | h:mm}")
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin:10px 0px">
                                            @Html.Raw(item.CondidateComment.Comment ?? "")
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
    </section>

    @*<section id="portfolio" style="background: url('image/bg23.png');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="intro__title text-center">05<span class="black-title">Portfolio</span></h1>
                    </div>
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-pills center-pills">
                                        <li class="active"><a data-toggle="pill" href="#home">TẤT CẢ</a></li>
                                        <li><a data-toggle="pill" href="#menu1">DỰ ÁN 1</a></li>
                                        <li><a data-toggle="pill" href="#menu2">DỰ ÁN 2</a></li>
                                        <li><a data-toggle="pill" href="#menu3">DỰ ÁN 3</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/1.png" alt="" style="width: 360px;">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/2.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/3.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/4.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/5.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/6.png" alt="">
                                        </div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/2.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6 ">
                                            <img src="image/2.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/2.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/3.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/3.png" alt="">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <img src="image/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    @*<section id="about" style="background-color: #fff;">
            <div class="container" style="padding-top: 30px; padding-bottom: 50px;">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="intro__title" style="color: #e5e7e9 !important">06<span class="black-title">About</span></h1>
                        <div class="figure-container">
                            <div class="figure-item clearfix">
                                <div class="figure-image">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <div class="figure-content">
                                    <span class="figure-text">Phone number</span>
                                    <span class="figure-number">@Model?.PhoneNumber</span>
                                </div>
                            </div>
                        </div>
                        <div class="figure-container">
                            <div class="figure-item clearfix">
                                <div class="figure-image">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="figure-content">
                                    <span class="figure-text">Email</span>
                                    <span class="figure-number">@Model?.Email</span>
                                </div>
                            </div>
                        </div>
                        <div class="figure-container">
                            <div class="figure-item clearfix">
                                <div class="figure-image">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="figure-content">
                                    <span class="figure-text">Address</span>
                                    <span class="figure-number">@Model?.Address</span>
                                    <hr style="border: 1px solid #000; width: 50%;">
                                    <ul class="icons">
                                        <li><a href="#" class="icon fa fa-facebook">@Model?.Facebook</a></li>
                                        <li><a href="#" class="icon fa fa-instagram">@Model?.Instagram</a></li>
                                        <li><a href="#" class="icon fa fa-bitbucket">@Model?.Twitter</a></li>
                                        <li><a href="#" class="icon fa fa-envelope">@Model?.LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <div class="form-group">
                                <label for="name">HỌ VÀ TÊN</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="name">EMAIL</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="name">TIÊU ĐỀ</label>
                                <input type="text" class="form-control" id="name">
                            </div>

                            <div class="form-group">
                                <label for="name">TIN NHẮN</label>
                                <textarea class="form-control form-large" style="height: 100px;"></textarea>
                            </div>
                            <div class="text-center">
                                <button id="login-btn" type="submit" class="btn btn-details">GỬI TIN NHẮN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2017 <a href="/" style="color:#fff;">Contact Asean</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Themes/@(themeName)/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Themes/@(themeName)/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            if (window.performance) {
                console.info("window.performance work's fine on this browser");
            }
            if (performance.navigation.type == 1) {
                console.info("This page is reloaded");
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/CurriculumVitae/AddView',
                    data: { id: '@Model.Cvid.ToString()' }
                })
                    .done(function (result) {
                        console.log(result);
                    });
                console.info("This page is not reloaded");
            }
        })
    </script>
</body>
</html>