﻿@using System.ComponentModel.DataAnnotations.Schema
@model IList<MIC.AseanTalentSearch.Web.Models.Candidate.Language>
@*<h1 class="section-title section-title-1"><i class="fa fa-fw fa-list"></i> Languages</h1>
    <hr class="underline underline-left">

    <div class="row">
        <div class="col-md-12">
            @if (Model != null && Model.Any())
            {
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().LanguageName)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Certification)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().ScoreOrLevel)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.LanguageName)</td>
                                <td>@Html.DisplayFor(m => item.Certification)</td>
                                <td>@Html.DisplayFor(m => item.ScoreOrLevel)</td>
                                <td><a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" data-toggle="modal" asp-controller="Candidate" asp-action="EditLanguage" asp-route-languageId="@item.LanguageId" data-target="#update-model"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            }

        </div>
    </div>
    <a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="edit-link" data-toggle="modal" asp-controller="Candidate" asp-action="AddLanguage" data-target="#update-model"><i class="fa fa-plus" aria-hidden="true"></i></a>*@

@*<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-fw fa-list"></i>

        <h3 class="box-title">Languages</h3>
        <div class="box-tools pull-right">
            <a asp-controller="Candidate"
               asp-action="AddLanguage"
               data-ajax="true"
               data-toggle="modal"
               data-target="#modal-default"
               data-ajax-loading="#loading-area"
               data-ajax-update="#modal-default .modal-content">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    @if (Model != null && Model.Any())
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-left:20px !important">@Html.DisplayNameFor(m => m.FirstOrDefault().LanguageName)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Certification)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().ScoreOrLevel)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="padding-left:20px !important">@Html.DisplayFor(m => item.LanguageName)</td>
                            <td>@Html.DisplayFor(m => item.Certification)</td>
                            <td>@Html.DisplayFor(m => item.ScoreOrLevel)</td>
                            <td>
                                <a asp-controller="Candidate"
                                   asp-action="EditLanguage"
                                   asp-route-languageId="@item.Id"
                                   data-ajax="true"
                                   data-toggle="modal"
                                   data-target="#modal-default"
                                   data-ajax-loading="#loading-area"
                                   data-ajax-update="#modal-default .modal-content" class="pull-right">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }

    <!-- /.box-body -->
</div>*@
<div class="skill">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Language</p>
    <div class="skill-progress">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-left:20px !important">@Html.DisplayNameFor(m => m.FirstOrDefault().LanguageName)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Certification)</th>
                    <th>@Html.DisplayNameFor(m => m.FirstOrDefault().ScoreOrLevel)</th>
                    <th>
                        <a asp-controller="Candidate"
                           asp-action="AddLanguage"
                           data-ajax="true"
                           data-toggle="modal"
                           data-target="#modal-edit"
                           data-ajax-loading="#loading-area"
                           data-ajax-update="#modal-edit .modal-content"
                           class="btn btn-orange btn-fill-horz btn-edit">
                            Add
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span class="tag-profile">@Html.DisplayFor(m => item.LanguageName)</span>
                        </td>
                        <td>@Html.DisplayFor(m => item.Certification)</td>
                        <td>@Html.DisplayFor(m => item.ScoreOrLevel)</td>
                        <td>
                            <a asp-controller="Candidate"
                               asp-action="EditLanguage"
                               asp-route-languageId="@item.Id"
                               data-ajax="true"
                               data-toggle="modal"
                               data-target="#modal-edit"
                               data-ajax-loading="#loading-area"
                               data-ajax-update="#modal-edit .modal-content" class="pull-right">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>