@model MIC.AseanTalentSearch.Web.Models.Candidate.SocialNetwork
    
<style>
    .nopadding{
        padding:0;
    }
</style>

    @*<div class="box box-solid">
        <div class="box-header with-border">
            <i class="fa fa-wifi"></i>

            <h3 class="box-title" style="margin-left: 5px;">Social Network</h3>
            <div class="box-tools pull-right">
                <a asp-controller="Candidate"
                   asp-action="EditSocialNetwork"
                   data-ajax="true"
                   data-toggle="modal"
                   data-target="#modal-default"
                   data-ajax-loading="#loading-area"
                   data-ajax-update="#modal-default .modal-content">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- /.box-header -->
        <div>
            <table class="table">              
                <tbody>                  
                        <tr>
                            <td style="padding-left:20px !important"><label asp-for="Facebook"></label></td>
                            <td>@Model.Facebook</td>                           
                        </tr>
                    <tr>
                        <td style="padding-left:20px !important"><label asp-for="Instagram"></label></td>
                        <td>@Model.Instagram</td>
                    </tr>
                    <tr>
                        <td style="padding-left:20px !important"><label asp-for="LinkedIn"></label></td>
                        <td>@Model.LinkedIn</td>
                    </tr>
                    <tr>
                        <td style="padding-left:20px !important"><label asp-for="Twitter"></label></td>
                        <td>@Model.Twitter</td>
                    </tr>
                   
                </tbody>
            </table>

        </div>


       
       
        <!-- /.box-body -->
    </div>*@
<div class="social-net">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Social Network</p>
    <a asp-controller="Candidate"
       asp-action="EditSocialNetwork"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-pencil">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <div class="row">
        <div class="col-md-6">
            <p class="th-info">@Html.DisplayNameFor(x => x.Facebook)</p>
            <a class="link @(Model.Facebook??"none")" href="@Model.Facebook">@(Model.Facebook ?? "None")</a>
        </div>
        <div class="col-md-6">
            <p class="th-info">@Html.DisplayNameFor(x => x.Instagram)</p>
            <a class="link @(Model.Instagram??"none")" href="@Model.Instagram">@(Model.Instagram ?? "None")</a>
        </div>
        <div class="col-md-6">
            <p class="th-info">@Html.DisplayNameFor(x => x.LinkedIn)</p>
            <a class="link @(Model.LinkedIn??"none")" href="@Model.LinkedIn">@(Model.LinkedIn ?? "None")</a>
        </div>
        <div class="col-md-6">
            <p class="th-info">@Html.DisplayNameFor(x => x.Twitter)</p>
            <a class="link @(Model.Twitter??"none")" href="@Model.Twitter">@(Model.Twitter ?? "None")</a>
        </div>
        <div class="col-md-6">
            <p class="th-info">@Html.DisplayNameFor(x => x.Youtube)</p>
            <a class="link @(Model.Youtube??"none")" href="@Model.Youtube">@(Model.Youtube ?? "None")</a>
        </div>
    </div>
</div>