﻿@model IList<MIC.AseanTalentSearch.Web.EF.CandidateSkill>
@*<h1 class="section-title section-title-1"><i class="fa fa-fw fa-flash"></i> Skills</h1>
<hr class="underline underline-left">

<div class="row">
    <div class="col-md-12">
        <ul class="list-inline">
            @if (Model.SkillName.Any())
            {
                foreach (var item in Model.SkillName)
                {
                    <li>@item</li>
                }
            }
        </ul>
    </div>
</div>

<a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="edit-link" data-toggle="modal" asp-controller="Candidate" asp-action="UpdateSkill" data-target="#update-model"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@


@*<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-fw fa-flash"></i>

        <h3 class="box-title">Skills</h3>
        <div class="box-tools pull-right">
            <a asp-controller="Candidate"
               asp-action="UpdateSkill"
               data-ajax="true" 
               data-toggle="modal" 
               data-target="#modal-default" 
               data-ajax-loading="#loading-area" 
               data-ajax-update="#modal-default .modal-content" >
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <ul class="list-inline">
            @if (Model.SkillName.Any())
            {
                foreach (var item in Model.SkillName)
                {
                    <li><a asp-controller="Recruiment" asp-action="Index" asp-route-JobName="@item" class="btn btn-block btn-primary">@item</a></li>
                }
            }*@
        @*</ul>
    </div>
    <!-- /.box-body -->
</div>*@
@*<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-fw fa-flash"></i>

        <h3 class="box-title" style="margin-left: 5px;">Skills</h3>
        <div class="box-tools pull-right">
            <a asp-controller="Candidate"
               asp-action="AddSkill"
               data-ajax="true"
               data-toggle="modal" 
               data-target="#modal-default" 
               data-ajax-loading="#loading-area" 
               data-ajax-update="#modal-default .modal-content" >
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    @if (Model != null && Model.Any())
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-left:20px !important">@Html.DisplayNameFor(m => m.FirstOrDefault().Skill.Name)</th>
                        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().SkillLevel)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="padding-left:20px !important">@item.Skill.Name</td>
                            <td>@item.SkillLevel %</td>
                            <td>
                                <a asp-controller="Candidate"
                                   asp-action="EditSkill"
                                   asp-route-Id="@item.SkillId"
                                   data-ajax="true"
                                   data-toggle="modal"
                                   data-target="#modal-default"
                                   data-ajax-loading="#loading-area"
                                   data-ajax-update="#modal-default .modal-content" class="pull-right">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }

    <!-- /.box-body -->
</div>*@
<div class="skill">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Skill</p>
    <a asp-controller="Candidate"
       asp-action="AddSkill"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-orange btn-fill-horz btn-edit">
        Add
    </a>
    <div class="skill-progress">
        @foreach (var item in Model)
        {
            <p class="title-progress">@item.Skill.Name
                <a asp-controller="Candidate"
                   asp-action="EditSkill"
                   asp-route-Id="@item.SkillId"
                   data-ajax="true"
                   data-toggle="modal"
                   data-target="#modal-edit"
                   data-ajax-loading="#loading-area"
                   data-ajax-update="#modal-edit .modal-content" class="pull-right">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <span class="pull-right" style="margin-right: 10px">@item.SkillLevel%</span>
            </p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@item.SkillLevel" aria-valuemin="0" aria-valuemax="100" style="width:@item.SkillLevel%">
                    <span class="sr-only">@item.SkillLevel% Complete</span>
                </div>
            </div>
        }
        
    </div>
</div>

<div id="candidate-languages">
    @await Component.InvokeAsync("CandidateLanguage")
</div>