﻿@model IList<MIC.AseanTalentSearch.Web.Models.Candidate.Reference>
@*<h1 class="section-title section-title-1"><i class="fa fa-fw fa-list"></i> References</h1>
    <hr class="underline underline-left">

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="pull-right" data-toggle="modal" asp-controller="Candidate" asp-action="EditReference" asp-route-id="@item.Id" data-target="#update-model"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <ul>
            <li><label class="text-uppercase">@Html.DisplayFor(m => item.FullName)</label></li>
            <li>@Html.DisplayFor(m => item.Position)</li>
            <li>@Html.DisplayFor(m => item.Company)</li>
            <li>@Html.DisplayFor(m => item.Email)</li>
            <li>@Html.DisplayFor(m => item.Phone)</li>
        </ul>
      }
    }

    <a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="edit-link" data-toggle="modal" asp-controller="Candidate" asp-action="AddReference" data-target="#update-model"><i class="fa fa-plus" aria-hidden="true"></i></a>*@

<div class="history">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>References</p>
    <a asp-controller="Candidate"
       asp-action="AddReference"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-orange btn-fill-horz btn-edit">
        Add
    </a>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="history-content">
                    <h3 class="name">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        @item.FullName
                        <a class="pull-right"
                           asp-controller="Candidate"
                           asp-action="EditReference"
                           asp-route-id="@item.Id"
                           data-ajax="true"
                           data-toggle="modal"
                           data-target="#modal-edit"
                           data-ajax-loading="#loading-area"
                           data-ajax-update="#modal-edit .modal-content">
                            <i class="fa fa-pencil" style="color:#a6acba" aria-hidden="true"></i>
                        </a>
                    </h3>
                    <ul class="list-unstyled referenceItem">
                        <li><i class="fa fa-star" aria-hidden="true"></i> @Html.DisplayFor(m => item.Position)</li>
                        <li><i class="fa fa-home" aria-hidden="true"></i> @Html.DisplayFor(m => item.Company)</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> @Html.DisplayFor(m => item.Email)</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> @Html.DisplayFor(m => item.Phone)</li>
                    </ul>
                </div>
            }
        }
        else
        {
            @:No information!
        }
    <!-- /.box-body -->
</div>