﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.Sumary
@*<h1 class="section-title section-title-1"><i class="fa fa-fw fa-list"></i> Summary</h1>
<hr class="underline underline-left">
<div class="row">
    <div class="col-md-12">
        @Html.Raw(Model.Text)
    </div>
</div>

<a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="edit-link" data-toggle="modal" asp-controller="Candidate" asp-action="UpdateSummary" data-target="#update-model"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@
<div class="summary">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Summary</p>
    <a asp-controller="Candidate"
       asp-action="UpdateSummary"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-pencil">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>        
    <div class="box-body">
        @Html.Raw(Model.Text)
    </div>
</div>
@*<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-fw fa-list"></i>

        <h3 class="box-title">Summary</h3>
        <div class="box-tools pull-right">
            <a asp-controller="Candidate"
               asp-action="UpdateSummary"
               data-ajax="true"
               data-toggle="modal"
               data-target="#modal-default"
               data-ajax-loading="#loading-area"
               data-ajax-update="#modal-default .modal-content">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>         
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
       @Html.Raw(Model.Text)
    </div>
    <!-- /.box-body -->
</div>*@