@model List<MIC.AseanTalentSearch.Web.Models.Candidate.CandidateCommentViewModel>
@{
    Layout = null;
}
<style>
    .btn.toggle{
        width:102px!important;
        margin-left:10px;
    }
    .toggle-on.btn{
        padding-right:30px;
    }
    .toggle-off{
        left:0%;
    }
    .btn{
        padding:6px 35px;
    }
    .btn-success{
        width: 100px;
    }
</style>
@foreach (var item in Model)
{
    if (User.Identity.Name == ViewBag.CurrentUser)
    {
        <div class="comments">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <div class="avatar-cmt" style="background:url('@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))');"></div>
                        </li>
                        <li class="info-user">
                            <h4>@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h4>
                            <p><em>@item?._OldUniversity</em></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right rate pull-right">
                        <p>
                            @($"{item.CondidateComment.ModifiedDate: d.MM.yyyy | h:mm}")
                        <input id="toggle-activeStatus" value="@item.CondidateComment.Id" class="comment-date"
                               onchange="StatusChange(@item.CondidateComment.Id)" type="checkbox"
                               @Html.Raw(item.CondidateComment.CommentStatus != null && item.CondidateComment.CommentStatus.Value ? "checked" : "")
                               data-toggle="toggle" data-on="Active" data-off="Not active"
                               data-onstyle="success" data-offstyle="warning" />
                    </p>
                    </div>
                </div>
                <div class="col-md-12 content">
                    @Html.Raw(item.CondidateComment.Comment ?? "")
                </div>
            </div>
        </div>

    }
    else if (item.CondidateComment.CommentStatus.Value)
    {
        <div class="comments">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <div class="avatar-cmt" style="background:url('@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))');"></div>
                        </li>
                        <li class="info-user">
                            <h4>@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h4>
                            <p><em>@item?._OldUniversity</em></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right rate pull-right">
                        <p>
                            @($"{item.CondidateComment.ModifiedDate: d.MM.yyyy | h:mm}")
                            <input id="toggle-activeStatus" value="@item.CondidateComment.Id" class="comment-date"
                                   onchange="StatusChange(@item.CondidateComment.Id)" type="checkbox"
                                   @Html.Raw(item.CondidateComment.CommentStatus != null && item.CondidateComment.CommentStatus.Value ? "checked" : "")
                                   data-toggle="toggle" data-on="Active" data-off="Not active"
                                   data-onstyle="success" data-offstyle="warning" />
                        </p>
                    </div>
                </div>
                <div class="col-md-12 content">
                    @Html.Raw(item.CondidateComment.Comment ?? "")
                </div>
            </div>
        </div>
    }
}