﻿@using MIC.AseanTalentSearch.Web.Models.Candidate
@model IList<MIC.AseanTalentSearch.Web.Models.Candidate.EducationHistory>
@*<h1 class="section-title section-title-2"><i class="fa fa-fw fa-graduation-cap"></i> Education History</h1>
    <hr class="underline underline-left">
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                @foreach (var item in Model)
                {
                    <li class="editable">
                        <div class="timeline-badge info"></div>
                        <div class="timeline-panel">
                            <div class="timeline-body">
                                <div class=" row">
                                    <div class="col-md-4">
                                        <div class="box-label box-label-date ">
                                            @Html.DisplayFor(m=>item.From) - @Html.DisplayFor(m => item.To)
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="pull-right" data-toggle="modal" asp-controller="Candidate" asp-action="EditEducation" asp-route-id="@item.Id" data-target="#update-model"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <p class="timeline-title">@Html.DisplayFor(m => item.Major)</p>
                                        <ul class="list-unstyled">
                                            <li>@Html.DisplayFor(m => item.UniversityName)</li>
                                            <li>@Html.DisplayFor(m => item.EducationLevelName)</li>
                                            <li>@Html.DisplayFor(m => item.Achievements)</li>
                                            <li>@Html.DisplayFor(m => item.Ranking)</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                }
            </ul>
        </div>
    </div>

    <a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="edit-link" data-toggle="modal" asp-controller="Candidate" asp-action="AddEducation" data-target="#update-model"><i class="fa fa-plus" aria-hidden="true"></i></a>*@
@*<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-fw fa-graduation-cap"></i>

        <h3 class="box-title">Education History</h3>
        <div class="box-tools pull-right">
            <a asp-controller="Candidate"
               asp-action="AddEducation"
               data-ajax="true"
               data-toggle="modal"
               data-target="#modal-default"
               data-ajax-loading="#loading-area"
               data-ajax-update="#modal-default .modal-content">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <ul class="timeline">
            @foreach (var item in Model)
            {
                <li>
                    <div class="timeline-badge info"></div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <div class=" row">
                                <div class="col-md-4">
                                    <div class="box-label box-label-date ">
                                        @Html.DisplayFor(m => item.From) - @Html.DisplayFor(m => item.To)
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a class="pull-right"
                                       asp-controller="Candidate"
                                       asp-action="EditEducation"
                                       asp-route-id="@item.Id"
                                       data-ajax="true"
                                       data-toggle="modal"
                                       data-target="#modal-default"
                                       data-ajax-loading="#loading-area"
                                       data-ajax-update="#modal-default .modal-content">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <p class="timeline-title">@Html.DisplayFor(m => item.Major)</p>
                                    <ul class="list-unstyled">
                                        <li>@Html.DisplayFor(m => item.UniversityName)</li>
                                        <li>@Html.DisplayFor(m => item.EducationLevelName)</li>
                                        <li>@Html.Raw(item.Achievements)</li>
                                        <li>@Html.DisplayFor(m => item.Ranking)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            }
        </ul>
    </div>
    <!-- /.box-body -->
</div>*@
<style>
    .history-content p {
        margin-left: 25px;
    }
    .select2-container--open .select2-dropdown--below{
        z-index:30000;
    }
</style>
<div class="history">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Education History</p>
    <a asp-controller="Candidate"
       asp-action="AddEducation"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-orange btn-fill-horz btn-edit">
        Add
    </a>
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="history-content">
                <h3 class="name">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>@Html.DisplayFor(m => item.UniversityName)
                    <a class="pull-right"
                       asp-controller="Candidate"
                       asp-action="EditEducation"
                       asp-route-id="@item.Id"
                       data-ajax="true"
                       data-toggle="modal"
                       data-target="#modal-edit"
                       data-ajax-loading="#loading-area"
                       data-ajax-update="#modal-edit .modal-content">
                        <i class="fa fa-pencil" style="color:#a6acba" aria-hidden="true"></i>
                    </a>
                </h3>

                <p class="major">@Html.DisplayFor(m => item.Major)</p>
                <p class="years">@Html.DisplayFor(m => item.From) - @Html.DisplayFor(m => item.To)</p>
                @Html.Raw(item.Achievements)
            </div>
        }
    }
    else
    {
        @:No information!
    }
</div>