﻿@using MIC.AseanTalentSearch.Web.Models.Candidate
@model IList<MIC.AseanTalentSearch.Web.Models.Candidate.EmploymentHistory>
@*<h1 class="section-title section-title-2"><i class="fa fa-fw fa-bank"></i> Employment History</h1>
    <hr class="underline underline-left">
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <div class="timeline-badge info"></div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <div class=" row">
                                        <div class="col-md-4">
                                            <div class="box-label box-label-date ">
                                                @Html.DisplayFor(m=>item.From) - @Html.DisplayFor(m=>item.To)
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="pull-right" data-toggle="modal" asp-controller="Candidate" asp-action="EditEmployerHistory" asp-route-id="@item.Id" data-target="#update-model"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <p class="timeline-title">@item.Position</p>
                                            <ul class="list-unstyled">
                                                <li>@item.Company</li>
                                            </ul>

                                            <ul class="list-unstyled">
                                                @Html.Raw(item.Description)
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="edit-link" data-toggle="modal" asp-controller="Candidate" asp-action="AddEmployerHistory" data-target="#update-model"><i class="fa fa-plus" aria-hidden="true"></i></a>*@

<div class="history">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Employment History</p>
    <a asp-controller="Candidate"
       asp-action="AddEmployerHistory"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-orange btn-fill-horz btn-edit">
        Add
    </a>
    <!-- /.box-header -->
    <div class="history-content">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="history-content">
                    <h3 class="name">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        @item.Company
                        <a class="pull-right"
                           asp-controller="Candidate"
                           asp-action="EditEmployerHistory"
                           asp-route-id="@item.Id"
                           data-ajax="true"
                           data-toggle="modal"
                           data-target="#modal-edit"
                           data-ajax-loading="#loading-area"
                           data-ajax-update="#modal-edit .modal-content">
                            <i class="fa fa-pencil" style="color:#a6acba" aria-hidden="true"></i>
                        </a>
                    </h3>

                    <p class="major">@Html.DisplayFor(m => item.Position)</p>
                    <p class="years">@Html.DisplayFor(m => item.From) - @Html.DisplayFor(m => item.To)</p>
                    @Html.Raw(item.Description)
                </div>
            }
        }
        else
        {
            @:No information!
        }
    </div>
    <!-- /.box-body -->
</div>