@model Sakura.AspNetCore.IPagedList<MIC.AseanTalentSearch.Web.Areas.Employer.Helpers.ResultViewSave>
@{
    var listSaved = (List<MIC.AseanTalentSearch.Web.EF.SaveCandidate>)ViewBag.ListSaved;
    var listComId = listSaved.Select(x => x.CompanyId).ToList();
    var listRs = Model.Select(x => x.CompanyId).Union(listComId);
}
@if (Model.Any())
{
    <div class="row" id="mn-searchcandidate">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="title-nav">Employers Viewed your CV</h3>
                </div>
            </div>
            <div class="row" id="ShowListCandidate">
                @foreach (var rs in Model)
                {
                    <div class="result">
                        <div class="row">
                            <div class="col-md-2">
                                @{ var item = rs.Company; }
                                @if (item.Logo == null)
                                {
                                    <div class="result-img fill" style="background-image: url(/images/avatar.png)"></div>
                                }
                                else if (item.Logo.Contains("http"))
                                {
                                    <div class="result-img" style="background-image: url('@Url.Content(item.Logo)');"></div>
                                }
                                else
                                {
                                    var avatar = item.Logo;
                                    <div class="result-img" style="background-image: url('@avatar');"></div>
                                }
                            </div>
                            <div class="col-md-3">
                                <p class="result-title">
                                    <a href="@Url.Content("/Company/Details/" + item.Guid)" class="view-detail-a" target="blank">@item.Name</a>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p class="view-detail">@rs.SaveDetail.Count() <br />View</p>
                            </div>
                            <div class="col-md-2">                                
                                @if (listComId.Contains(rs.CompanyId))
                                {
                                    <p class="view-detail" style="color:darkcyan">
                                        <i class="fa fa-check"></i><br />
                                        Saved your CV
                                    </p>
                                }
                            </div>
                            <div class="col-md-3">
                                @if (rs.SaveDetail.Count() > 0)
                                {
                                    <p class="view-detail">@String.Format("{0:dd/MM/yyyy}", rs.SavedDate) <br /> Last viewed</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}
else
{
    <div>
        <h4>Notification !</h4>
        There is no Company view of your CV ...
    </div>
}
@{ if (Model.Count() > 0)
    {
        <div class="text-center">
            <pager current-page="@Model.PageIndex" total-page="@Model.TotalPage" setting-link-attr-data-ajax="true"
                   setting-link-attr-data-ajax-method="get" />
        </div>
        }
    }
    <style>
        .view-detail {
            text-align: center;
            vertical-align: middle;
            color: #5d626f;
        }

        .view-detail-a {
            margin-left: 5px;
            font-weight: bold;
            vertical-align: middle;
        }
    </style>