﻿@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@model Sakura.AspNetCore.IPagedList<MIC.AseanTalentSearch.Web.EF.InterviewInvitation>
@{
    Layout = null;
}
<form asp-controller="Candidate" asp-action="RemoveInterviewInvitation" method="post">
            <div class="box-heading">
                <div class="clearfix">
                    <div class="pull-left">
                        <h3 class="title-nav">Interview Invitations</h3>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-delete"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div class="inviation">

                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-sm-11 col-xs-10">
                                <ul>
                                    <li>
                                        <div class="logo-job">
                                            <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.PositionJobId" class="job-logo">
                                                @{
                                                    var logoSrc = item.Company.Logo ?? "images/employerlogo1.png";
                                                }
                                                <img class="img-responsive" src="@logoSrc" alt="@item.Company.Name">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="info-job-ii">
                                        <h4>
                                            <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.PositionJobId" title="@(item.PositionJob.PositionTitle)" class="job-item-info">
                                                 <strong class="job-title"> @(item.PositionJob.PositionTitle)</strong>
                                            </a>
                                        </h4>
                                        <p><em>
                                            <a class="job-search__company" asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid"><span data-url="@Url.Action("Details", "Company", new { id = item.CompanyId })" title="@(item.Company.Name ?? "No name")">@(item.Company.Name ?? "No name")</span></a>
                                            
                                            </em>
                                        </p>
                                        <p class="time">@string.Format("{0:dd/MM/yyyy | HH:mm:ss}", item.CreatedDate)</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                                <label class="checkbox-inline">
                                    <input name="invitation[]" type="checkbox" value="@item.Id">&nbsp;
                                </label>
                            </div>
                            <div class="col-xs-12 content" style="margin-bottom:0px">
                                @Html.Raw(item.LetterContent)
                            </div>
                            <div class="col-md-12" style="margin-bottom:20px">
                                <a data-toggle="collapse" href="#collapseInterviewInvitation_@item.Id" aria-expanded="false" class="btn btn-orange btn-fill-horz">Detail Invitation</a>
                            </div>
                            <div id="collapseInterviewInvitation_@item.Id" class="pad panel-collapse collapse out col-md-12" aria-expanded="false">
                                <hr style="margin-top:0px" />
                                <div class="info-invia">
                                    <span>
                                        <i class="fa fa-user"></i>
                                        @item.ContactPersonName
                                    </span>
                                    <span>
                                        <i class="fa fa-phone"></i>
                                        @item.ContactPhone
                                    </span>
                                    <span>
                                        <i class="fa fa-envelope"></i>
                                        @item.ContactEmail
                                    </span>
                                </div>
                            </div>
                        </div>
                     }
                    <div class="text-center">
                        <div class="navigation-a">
                            <pager />
                        </div>
                    </div>
                  }
            </div>
</form>