﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.PersonalInformation
@*<h1 class="section-title section-title-1"><i class="fa fa-fw fa-suitcase"></i> Contact Information</h1>
<hr class="underline underline-left">
<div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.FirstName)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.FirstName)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.LastName)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.LastName)
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.Email)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.Email)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.Phone)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.Phone)
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.DateOfBirth)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.DateOfBirth)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.Nationality)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.Nationality)
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.Gender)</label>
        <div class="view-field">
            <p>
                @(Model.Gender == null ? "Unknown" : (Model.Gender == true ? "Male" : "Female"))
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.MaritalStatusValue)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.MaritalStatusValue)
            </p>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <label>@Html.DisplayNameFor(m => m.Country)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.Country)
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.HomeCity)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.HomeCity)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.HomeDistrict)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.HomeDistrict)
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.Address)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.Address)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.YearsOfExperience)</label>
        <div class="view-field">
            <p>
                @Html.DisplayFor(m => m.YearsOfExperience)
            </p>
        </div>
    </div>
</div>
<a data-ajax="true" data-ajax-success="OnUpdateModalLoadSuccess" class="edit-link" data-toggle="modal" asp-controller="Candidate" asp-action="UpdateInfomation" data-target="#update-model"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@

<div class="contact-info">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Contact Information</p>
    <a asp-controller="Candidate"
       asp-action="UpdateInfomation"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-pencil">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(m => m.FirstName)</p>
                <p>
                    @Html.DisplayFor(m => m.FirstName)
                </p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(m => m.LastName)</p>
                <p class="infor-contact">
                    @Html.DisplayFor(m => m.LastName)
                </p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">Full name</p>
            <p>@Model.FirstName @Model.LastName</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(m => m.DateOfBirth)</p>
                <p>
                    @Html.DisplayFor(m => m.DateOfBirth)
                </p>
        </div>
        <div class="col-md-4 col-sm-6">
            <label asp-for="Phone" class="th-info"></label>
            <p>@Model.Phone</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(x=>x.Email)</p>
            <p>@Model.Email</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(x=>x.Gender)</p>
            <p>@(Model.Gender == null ? "Unknown" : (Model.Gender == true ? "Male" : "Female"))</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">Marital status</p>
            <p>Single</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(x=>x.YearsOfExperience)</p>
            <p>@Model.YearsOfExperience</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(x=>x.Address)</p>
            <p>@Model.Address</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(x=>x.HomeCity)</p>
            <p>@Model.HomeCity</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <p class="th-info">@Html.DisplayNameFor(x=>x.Country)</p>
            <p>@Model.Country</p>
        </div>
    </div>
</div>