﻿@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@model Sakura.AspNetCore.IPagedList<MIC.AseanTalentSearch.Web.EF.PositionJob>
@{
    Layout = null;
}
<style>
    input[type=checkbox]{
        position:inherit !important;
    }
</style>
<form asp-controller="Candidate" asp-action="RemoveSavedJob" method="post">
            <div class="box-heading">
                <div class="clearfix">
                    <div class="pull-left">
                        <h3 class="title-nav">Saved Jobs</h3>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-delete"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div class="job-detail-related">
                <table class="table table-condensed table-striped table-responsive">
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="td_image">
                                        <div class="td-img-content">
                                            <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.Id" class="job-logo">
                                                @{
                                                    var logoSrc = item.Company.Logo ?? "images/employerlogo1.png";
                                                }
                                                <img title="@(item.Company.Name ?? "No name")" class="img-responsive" src="@logoSrc">
                                            </a>

                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <p class="text-bold">
                                            <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.Id" title="@(item.PositionTitle)" class="job-item-info">
                                                <strong class="job-title"> @(item.PositionTitle)</strong>
                                            </a>
                                        </p>
                                        <p>
                                            <em>
                                                <a class="job-search__company" asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid"><span data-url="@Url.Action("Details", "Company", new {id = item.CompanyId})" title="@(item.Company.Name ?? "No name")">@(item.Company.Name ?? "No name")</span></a> /
                                                <span>
                                                    @{
                                                        var locations = item.JobLocation.Select(m => m.Location);
                                                    }
                                                    @for (int i = 0; i < locations.Count(); i++)
                                                    {
                                                        <a asp-controller="Recruiment" asp-action="Index" asp-route-LocationId="@locations.ElementAt(i).Id" class="location"> @locations.ElementAt(i).Name</a>
                                                        if (i < locations.Count() - 1)
                                                        {
                                                            @:,
                                                                        }
                                                    }
                                                </span>
                                            </em>
                                        </p>
                                    </td>
                                    <td>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> @string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)</p>
                                    </td>
                                    <td>
                                        <label class="checkbox-inline">
                                            <input name="position[]" type="checkbox" value="@item.Id">
                                        </label>
                                    </td>
                                </tr>
                             }
                                
                          }
                    </tbody>
                </table>
                        <div class="text-center">
                            <div class="navigation-a">
                                <pager />
                            </div>
                        </div>
            </div>
</form>