﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.WorkingPreference

<div class="preferences">
    <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>Preferences</p>
    <a asp-controller="Candidate"
       asp-action="AddPreference"
       data-ajax="true"
       data-toggle="modal"
       data-target="#modal-edit"
       data-ajax-loading="#loading-area"
       data-ajax-update="#modal-edit .modal-content"
       class="btn btn-pencil">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <div class="prefer-content">
        <div class="row">
            <div class="col-md-6">
                <p class="th-info">@Html.DisplayNameFor(m => m.LocationId)</p>
                @foreach (var item in Model.LocationName)
                {
                    <span class="tag-profile">@item</span>
                }
            </div>
            <div class="col-md-6">
                <p class="th-info">@Html.DisplayNameFor(m => m.CategoryId)</p>
                @foreach (var item in Model.CategoryName)
                {
                    <span class="tag-profile">@item</span>
                }
            </div>
            <div class="col-md-6">
                <p class="th-info">@Html.DisplayNameFor(m => m.JobLevelId)</p>
                @String.Join(", ", Model.JobLevelName)
            </div>
            <div class="col-md-6">
                <p class="th-info">@Html.DisplayNameFor(m => m.Salary)</p>
                @String.Join(", ", $"${Model.Salary:0.00}")
            </div>
            <div class="col-md-12">
                <p class="th-info">Expected benefits</p>
                @foreach (var benefit in Model.SelectedBenefits)
                {
                    if (Model.SelectedBenefits.IndexOf(benefit) == Model.SelectedBenefits.Count - 1)
                    {
                        <span>@benefit.BenefitName</span>
                    }
                    else
                    {
                        <span>@benefit.BenefitName ,</span>
                    }
                }
            </div>
        </div>
    </div>
</div>



@*<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-fw fa-list"></i>

        <h3 class="box-title">Preferences</h3>
        <div class="box-tools pull-right">
            <a asp-controller="Candidate"
               asp-action="AddPreference"
               data-ajax="true"
               data-toggle="modal"
               data-target="#modal-default"
               data-ajax-loading="#loading-area"
               data-ajax-update="#modal-default .modal-content">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.LocationId):</label>
        <div class="view-field">
            <p class="infor-contact">
                @String.Join(", ", Model.LocationName)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.CategoryId):</label>
        <div class="view-field">
            <p class="infor-contact">
                @String.Join(", ", Model.CategoryName)
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.JobLevelId):</label>
        <div class="view-field">
            <p class="infor-contact">
                @String.Join(", ", Model.JobLevelName)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <label>@Html.DisplayNameFor(m => m.Salary):</label>
        <div class="view-field">
            <p class="infor-contact">
                @String.Join(", ", $"${Model.Salary:0.00}")
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label>Expected benefits</label>
        <div class="table-responsive">
            <table style="width: 100%;">
            <tr>
            @{
                int cnt = 0;


                foreach (var benefit in Model.SelectedBenefits)
                {
                    if (cnt++ % 3 == 0)
                    {
                        @:</tr><tr>
                    }
                    @:<td>
                    <div class="checkbox">
                        <label><input type="checkbox"
                                      name="selectedCourses"
                                      value="@benefit.BenefitId"
                                      @(Html.Raw(benefit.Assigned ? "checked=\"checked\"" : "")) readonly="readonly" disabled="disabled"/>
                            @benefit.BenefitName</label>
                    </div>
                    @:</td>
                }
                @:</tr>
            }
        </table>
        </div>
    </div>
</div>
    </div>
    <!-- /.box-body -->
</div>*@