﻿@model MIC.AseanTalentSearch.Web.EF.Company

<form id="imageUpload" method="post" asp-controller="Employer" asp-action="UploadFilesAjax" enctype="multipart/form-data">
    <img id="employerLogo" src="@(String.IsNullOrEmpty(Model.Logo)?Url.Content("~/images/noimage.png"):Url.Content(PathOptions.Value.FrontImage + Model.Logo))" class="img-responsive img-center" alt="@(String.IsNullOrEmpty(Model.Logo)?"noimage":Model.Logo)">
    <input type="file" name="files" id="files" style="display: none;" />
    <button type="button" onclick="document.getElementById('files').click();" class="btn btn-details"><i class="fa fa-camera" aria-hidden="true"></i></button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

<script>
    $(document).ready(function () {
        $("#files").change(function (evt) {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadFilesAjax")",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    if (result.success) {
                        $("#employerLogo").attr("src", "@PathOptions.Value.FrontImage" + result.path);
                    } else {
                        $("#menu-infor .box-heading").html(result);
                    }
                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });
    });
</script>