﻿@model MIC.AseanTalentSearch.Web.Models.Employer.ProfileViewModel
@{
    ViewData["Title"] = "Employer Profile Edit";
}

@await Component.InvokeAsync("JobSearchForm", new {bgUrl = "~/images/bgchitietcty.png" })
<!-- thêm thẻ a cho div.item -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="site-bar">
                <div id="menu-infor">
                    @await Component.InvokeAsync("EmployerProfileSizebar")
                </div>
            </div>
            <div class="col-md-8" id="main-content">
                <div id="update-infor">
                    <form asp-controller="Employer" asp-action="AddOrUpdateProfile" method="post">
                        <h1 class="section-title section-title-1">Thông tin cá nhân</h1>
                        <hr class="underline underline-left">
                        @if (ViewData["success"] != null)
                        {
                            <div class="alert alert-success">
                                <strong>Success!</strong> @ViewData["success"]
                            </div>
                        }
                        
                        <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
                        <div class="row">
                            <div class="col-md-9 col-sm-6">
                                <div class="form-group">
                                    <label asp-for="CompanyName"></label>
                                    <input asp-for="CompanyName" class="form-control">
                                    <span class="text-danger" asp-validation-for="CompanyName"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label asp-for="CompanyPhone"></label>
                                    <input asp-for="CompanyPhone" class="form-control">
                                    <span class="text-danger" asp-validation-for="CompanyPhone"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label asp-for="CompanySize"></label>
                                    <input asp-for="CompanySize" class="form-control"/>
                                    <span class="text-danger" asp-validation-for="CompanySize"></span>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="CompanyEmail"></label>
                                    <input asp-for="CompanyEmail" class="form-control">
                                    <span class="text-danger" asp-validation-for="CompanyEmail"></span>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Website"></label>
                                    <input asp-for="Website" type="text" class="form-control">
                                    <span class="text-danger" asp-validation-for="Website"></span>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Address"></label>
                                    <input asp-for="Address"  class="form-control" >
                                    <span class="text-danger" asp-validation-for="Address"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Introduction"></label>
                                    <textarea asp-for="Introduction" class="form-control"></textarea>
                                    <span class="text-danger" asp-validation-for="Introduction"></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn btn-details"  value="Update" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>