﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

@await Component.InvokeAsync("JobSearchForm", new { bgUrl = "~/images/bgchitietcty.png" })
<!-- thêm thẻ a cho div.item -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="site-bar">
                <div id="menu-infor">
                    @await Component.InvokeAsync("EmployerProfileSizebar")
                </div>
            </div>
            <div class="col-md-8" id="main-content">
                <div id="update-infor" class="form1">
                    <form asp-controller="Employer" asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
                        <h1 class="section-title section-title-1">Đổi mật khẩu</h1>
                        <hr class="underline underline-left">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="OldPassword"></label>
                                    <input asp-for="OldPassword" class="form-control">
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="NewPassword"></label>
                                    <input asp-for="NewPassword" class="form-control">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button type="submit" class="btn btn-details" href="#">UPDATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>