﻿@using MIC.AseanTalentSearch.Web.EF
@model MIC.AseanTalentSearch.Web.ViewComponents.PostRecruitment

@{
    ViewBag.Title = "PostRecruitment";
    Layout = "_Layout";
}

@await Component.InvokeAsync("JobSearchForm", new {bgUrl = "~/images/bgchitietcty.png"})

<!-- thêm thẻ a cho div.item -->
<section id="content">
<div class="container">
<div class="row">
<div class="col-md-4" id="site-bar">
    <div id="menu-infor">
        @await Component.InvokeAsync("EmployerProfileSizebar")
    </div>
</div>

<div class="col-md-8" id="main-content">
<div id="update-infor">
<h1 class="section-title section-title-1">Đăng ký thông tin tuyển dụng</h1>
<hr class="underline underline-left">
<form asp-controller="Employer" asp-action="PostRecruitment">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="CompanyId"/>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="PositionTitle" class="control-label"></label><b class="text-danger">*</b>
            <input asp-for="PositionTitle" class="form-control"/>
            <span asp-validation-for="PositionTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Sex" class="control-label"></label>
            <select asp-for="Sex" class="form-control">
                <option value="">-- Không yêu cầu</option>
                <option value="true">Nam</option>
                <option value="false">Nữ</option>
            </select>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="EducationLevelId" class="control-label"></label>
            <select asp-for="EducationLevelId" asp-items="@ViewBag.EducationLevelId" class="form-control">
                <option value="">-- Chọn trình độ học vấn</option>
            </select>
            <span asp-validation-for="EducationLevelId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="JobLevelId" class="control-label"></label>
            <select asp-for="JobLevelId" asp-items="@ViewBag.JobLevelId" class="form-control">
                <option value="">-- Chọn cấp bậc</option>
            </select>
            <span asp-validation-for="JobLevelId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="JobTypeId" class="control-label"></label>
            <select asp-for="JobTypeId" asp-items="@ViewBag.JobTypeId" class="form-control">
                <option value="">-- Chọn loại hình công việc</option>
            </select>
            <span asp-validation-for="JobTypeId" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MaxPay" class="control-label"></label>
            <input asp-for="MaxPay" class="form-control"/>
            <span asp-validation-for="MaxPay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MinPay" class="control-label"></label>
            <input asp-for="MinPay" class="form-control"/>
            <span asp-validation-for="MinPay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Currency" class="control-label"></label>
            <select asp-for="Currency" class="form-control">
                <option value="VND">VND</option>
                <option value="USD">USD</option>
                <option value="JP">JP</option>
            </select>
            <span asp-validation-for="Currency" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="YearsOfExperienceRequirement" class="control-label"></label>
            <select asp-for="YearsOfExperienceRequirement" class="form-control">
                <option value="">-- Không yêu cầu</option>
                <option value="1">Yêu cầu 1 năm kinh nghiệm</option>
                <option value="2">Yêu cầu 2 năm kinh nghiệm</option>
                <option value="3">Yêu cầu 3 năm kinh nghiệm</option>
                <option value="4">Yêu cầu 4 năm kinh nghiệm</option>
                <option value="5">Yêu cầu 5 năm kinh nghiệm</option>
            </select>
            <span asp-validation-for="YearsOfExperienceRequirement" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId" class="form-control">
                <option value="">-- Chọn ngành nghề</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="LocationId" class="control-label"></label>
            <select asp-for="LocationId" asp-items="@ViewBag.LocationId" class="form-control">
                <option value="">-- Chọn địa điểm</option>
            </select>
            <span asp-validation-for="LocationId" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="JobDescription" class="control-label"></label>
            <textarea asp-for="JobDescription" class="form-control"></textarea>
            <span asp-validation-for="JobDescription" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="SkillRequirement" class="control-label"></label>
            <textarea asp-for="SkillRequirement" class="form-control"></textarea>
            <span asp-validation-for="SkillRequirement" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Responsibilities" class="control-label"></label>
            <textarea asp-for="Responsibilities" class="form-control"></textarea>
            <span asp-validation-for="Responsibilities" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Quantity" class="control-label"></label>
            <input asp-for="Quantity" class="form-control"/>
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="OpenDate" class="control-label"></label>
            <input asp-for="OpenDate" class="form-control"/>
            <span asp-validation-for="OpenDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ClosedDate" class="control-label"></label>
            <input asp-for="ClosedDate" class="form-control"/>
            <span asp-validation-for="ClosedDate" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="TravelRequired" class="control-label"></label>
            @Html.RadioButtonFor(modelItem => Model.TravelRequired, "true") <span>Có</span>
            @Html.RadioButtonFor(modelItem => Model.TravelRequired, "false") <span>Không</span>
            <span asp-validation-for="TravelRequired" class="text-danger"></span>
        </div>
    </div>
</div>

<hr/>
<!--Thông tin liên hệ-->
<h1 class="section-title section-title-1">Thông tin liên hệ</h1>
<hr class="underline underline-left">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ContactName" class="control-label"></label>
            <input readonly="readonly" asp-for="ContactName" class="form-control"/>
            <span asp-validation-for="ContactName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ContactPhone" class="control-label"></label>
            <input readonly="readonly" asp-for="ContactPhone" class="form-control"/>
            <span asp-validation-for="ContactPhone" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="ContactEmail" class="control-label"></label>
            <input readonly="readonly" asp-for="ContactEmail" class="form-control"/>
            <span asp-validation-for="ContactEmail" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Cập nhập thông tin" class="btn btn-default"/>
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>
@section Scripts {
    <script>
        $(document).ready(function() {
            tinymce.init({
                selector: "textarea.normal-editor"
            });
        });
    </script>
}