﻿@model MIC.AseanTalentSearch.Web.Models.Employer.ProfileViewModel
@{
    ViewData["Title"] = "Employer Profile";
}

@await Component.InvokeAsync("JobSearchForm", new { bgUrl = "~/images/bgchitietcty.png" })
<!-- thêm thẻ a cho div.item -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="site-bar">
                <div id="menu-infor">
                    @await Component.InvokeAsync("EmployerProfileSizebar")
                </div>
            </div>
            <div class="col-md-8" id="main-content">
                <div id="update-infor">
                    <h1 class="section-title section-title-1">Thông tin cá nhân</h1>
                    <hr class="underline underline-left">
                    <div class="row">
                        <div class="col-md-7 col-sm-6">
                            <dl class="dl-horizontal case-info">
                                @*<dt>@Html.DisplayNameFor(m=>m.Account)</dt>
                                <dd>@Html.DisplayFor(m=>m.Account)</dd>*@
                                <dt>@Html.DisplayNameFor(m=>m.CompanyName)</dt>
                                <dd>@Html.DisplayFor(m=>m.CompanyName)</dd>
                                <dt>@Html.DisplayNameFor(m=>m.CompanySize)</dt>
                                <dd>@Html.DisplayFor(m=>m.CompanySize)</dd>
                                <dt>@Html.DisplayNameFor(m=>m.Address)</dt>
                                <dd>@Html.DisplayFor(m=>m.Address)</dd>
                            </dl>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <dl class="dl-horizontal case-info">
                                <dt>@Html.DisplayNameFor(m=>m.CompanyPhone)</dt>
                                <dd>@Html.DisplayFor(m=>m.CompanyPhone)</dd>
                                <dt>@Html.DisplayNameFor(m=>m.CompanyEmail)</dt>
                                <dd>@Html.DisplayFor(m=>m.CompanyEmail)</dd>
                                <dt>@Html.DisplayNameFor(m=>m.Website)</dt>
                                <dd>@Html.DisplayFor(m=>m.Website)</dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <dl class="dl-info">
                                <dt>@Html.DisplayNameFor(m=>m.Introduction)</dt>
                                <dd>@Html.Raw(Model.Introduction)</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>