@model List<MIC.AseanTalentSearch.Web.EF.News>
    @{
        var type = Model.FirstOrDefault();
    }
    @if (type != null)
    {
        if (type.Type)
        {
            <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>@T.T("News.RecentNews")</p>
            foreach (var item in Model)
            {
                <div class="recent-news">
                    <div class="row">
                        <div class="col-xs-4 custom-col">
                            <a asp-action="Detail" asp-controller="News" asp-route-id="@item.NewsId" class="img-news-recent">
                                <img src="@item.Picture" alt="">
                            </a>
                        </div>
                        <div class="col-xs-8 custom-col">
                            <a asp-action="Detail" asp-controller="News" asp-route-id="@item.NewsId" class="news-title">
                                @item.Title
                            </a>
                            <p class="news-time">@string.Format("{0:dd.MM.yyyy - HH:mm}", item.CreatedDate)</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>@T.T("Startup.RecentStartup")</p>
            foreach (var item in Model)
            {
                <div class="recent-news">
                    <div class="row">
                        <div class="col-xs-4 custom-col">
                            <a asp-action="Detail" asp-controller="Startup" asp-route-id="@item.NewsId" class="img-news-recent">
                                <img src="@item.Picture" alt="">
                            </a>
                        </div>
                        <div class="col-xs-8 custom-col">
                            <a asp-action="Detail" asp-controller="Startup" asp-route-id="@item.NewsId" class="news-title">
                                @item.Title
                            </a>
                            <p class="news-time">@string.Format("{0:dd.MM.yyyy - HH:mm}", item.CreatedDate)</p>
                        </div>
                    </div>
                </div>
            }
        }
    }
