@model CompanyMedia
@{
    Layout = null;
}

<section class="animated fadeIn">
    <form asp-area="Employer" asp-controller="CompanyMedias" asp-action="Create" asp-route-companyId="@Model.CompanyId" data-ajax="true" data-ajax-method="post" data-ajax-update="#Outer_CompanyMedia" data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr)">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @await Html.PartialAsync("Partial/_ModelStatePartial")
                </div>
            </div>

            <input type="hidden" asp-for="CompanyId"/>
            <input type="hidden" asp-for="ActiveBy" value="@User.Identity.Name"/>

            <div class="form-group">
                <label asp-for="Link" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Link" class="form-control"/>
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveDate" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input class="form-control datepicker" value="@string.Format("{0:d}",Model.ActiveDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" />
                    <input asp-for="ActiveDate" type="hidden"/>
                    <span asp-validation-for="ActiveDate" class="text-danger"></span>
                </div>
                <label asp-for="ClosedDate" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input class="form-control datepicker" value="@string.Format("{0:d}", Model.ClosedDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))" />
                    <input asp-for="ClosedDate" type="hidden"/>
                    <span asp-validation-for="ClosedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="col-md-2 control-label"></label>
                <div class="col-md-4 checkbox">
                    @Html.RadioButton("Type", true, Model.Type ?? false, new { @class = "" }) <span class="margin-r-5">Image</span>
                    @Html.RadioButton("Type", false, !Model.Type ?? true, new { @class = "" }) <span class="margin-r-5">Video</span>
                </div>
                <label asp-for="ActiveStatus" class="col-md-2 control-label"></label>
                <div class="col-md-4 checkbox">
                    @Html.RadioButton("ActiveStatus", true, Model.ActiveStatus ?? false, new { @class = "" }) <span class="margin-r-5">Yes</span>
                    @Html.RadioButton("ActiveStatus", false, !Model.ActiveStatus ?? true, new { @class = "" }) <span class="margin-r-5">No</span>
                </div>
            </div>
            <div class="form-group modal-footer">
                <div class="col-md-offset-2 col-md-10 pull-right">
                    <input type="submit" value="Create" class="btn btn-employer btn-fill-horz"/>
                    <a asp-area="Employer" asp-controller="CompanyMedias" asp-action="Index" asp-route-companyId="@Model.CompanyId" class="btn btn-default btn-flat" 
                       data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyMedia" data-ajax-failure="notifyStatusCode(xhr)" style="margin-top:30px">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</section>

@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
}