﻿@model IEnumerable<MIC.AseanTalentSearch.Web.Models.HottestUniversityViewModel>
<div id="universites-tabs" class="owl-carousel owl-theme">
    <div class="row">

        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-xs-4">
                    <div>
                        <a title="@item.University.Name" class="cusLogo" asp-controller="University" asp-action="Detail" asp-route-id="@item.University.Id">
                            <img class="salesLogoImage img-responsive" src="@(item.University.Logo??"/images/no-image-icon.png")" width="88" height="43">
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <span>@T.T("Home.NoUniversityFound")No university found!</span>
        }
    </div>
    <!-- /.box-body -->
</div>
<a class="btn btn-blue btn-fill-horz" asp-controller="University" asp-action="List">@T.T("Home.ViewMore")</a>
