@model MIC.AseanTalentSearch.Web.EF.Candidate

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WillingToRelocate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WillingToRelocate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsOfExperience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsOfExperience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dtustudent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dtustudent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtugraduatedYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtugraduatedYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtustudentCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtustudentCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cvlink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cvlink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedJobLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedJobLevel.JobLevelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Layout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Layout.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
