@model MIC.AseanTalentSearch.Web.EF.Candidate

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Candidate</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="LayoutId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="LayoutId" class="form-control" asp-items="ViewBag.LayoutId"></select>
                <span asp-validation-for="LayoutId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Facebook" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Instagram" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkedIn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Twitter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Summary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpectedCategory" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpectedCategory" class="form-control" />
                <span asp-validation-for="ExpectedCategory" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpectedSalary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpectedSalary" class="form-control" />
                <span asp-validation-for="ExpectedSalary" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpectedJobLevelId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ExpectedJobLevelId" class="form-control" asp-items="ViewBag.ExpectedJobLevelId"></select>
                <span asp-validation-for="ExpectedJobLevelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WillingToRelocate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WillingToRelocate" class="form-control" />
                <span asp-validation-for="WillingToRelocate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearsOfExperience" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="YearsOfExperience" class="form-control" />
                <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dtustudent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dtustudent" class="form-control" />
                <span asp-validation-for="Dtustudent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DtugraduatedYear" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DtugraduatedYear" class="form-control" />
                <span asp-validation-for="DtugraduatedYear" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DtustudentCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DtustudentCode" class="form-control" />
                <span asp-validation-for="DtustudentCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cvlink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cvlink" class="form-control" />
                <span asp-validation-for="Cvlink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsPublish" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsPublish" class="form-control" />
                <span asp-validation-for="IsPublish" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActiveStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActiveStatus" class="form-control" />
                <span asp-validation-for="ActiveStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActiveDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActiveDate" class="form-control" />
                <span asp-validation-for="ActiveDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActiveBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActiveBy" class="form-control" />
                <span asp-validation-for="ActiveBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
