﻿@using MIC.AseanTalentSearch.Web.Areas.Employer.Helpers
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@*@model IEnumerable<MIC.AseanTalentSearch.Web.EF.Candidate>*@
@model Sakura.AspNetCore.IPagedList<Candidate>
@using System;
@{
    Layout = null;
    long companyId;
    var comId = long.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out companyId) ? (object)companyId : null;
    var listSaved = (List<long>)ViewBag.ListSaved;
}
    @*<div class="box box-danger">
        <div class="box-header with-border bg-gray-light">
            @if (string.IsNullOrEmpty(ViewBag.TitlePartial))
            {
                <h3 class="box-title">
                    Candidate result <span class="badge bg-yellow">@ViewBag.Count</span>
                </h3>
            }
            else
            {
                <h3 class="box-title">@ViewBag.TitlePartial</h3>
            }

        </div>
    </div>
    <div class="row" id="ShowListCandidate">
        @{int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <div class="col-md-4 col-sm-6" style="padding-bottom: 5px;">
                <div class="info-box animated zoomIn">
                    <span class="info-box-icon bg-gray-light">
                        @if (item.Image == null)
                        {
                            <img src="~/images/avatar.png" width="150" class="img-responsive img-bordered border-aqua" />
                        }
                        else if (item.Image.Contains("http"))
                        {
                            <img src="@Url.Content(item.Image)" width="90" class="img-responsive img-bordered border-aqua" />
                        }
                        else
                        {
                            var avatar = item.Image;
                            <img src="@avatar" width="90" height="90" class="img-responsive img-bordered border-aqua" />
                        }
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text text-bold">@item.FullName</span>
                        <span class="info-box-text text-muted">
                            <i class="fa fa-clock-o fa-fw text-aqua"></i> @Humanize.GetElapsedTime(item.ActiveDate ?? DateTime.Now)
                        </span>
                        <span class="info-box-text text-muted">
                            <i class="fa fa-product-hunt fa-fw text-aqua"></i>
                            @foreach (var lo in item.CandidateCategory)
                            {
                                <small class="margin-r-5">@lo.Category.Name</small>
                            }
                        </span>
                        <span class="info-box-text text-muted">
                            <i class="fa fa-map-marker fa-fw text-aqua"></i>
                            @foreach (var lo in item.CandidateLocation)
                            {
                                <small class="margin-r-5">@lo.Location.Name</small>
                            }
                        </span>
                        <div id="searchCandidate_@item.Id" class="panel-collapse collapse out" aria-expanded="true">
                            <span class="info-box-text text-muted">
                                <i class="fa fa-share-alt fa-fw text-aqua"></i>
                                @foreach (var lo in item.CandidateSkill)
                                {
                                    <small class="margin-r-5">@lo.Skill.Name</small>
                                }
                            </span>
                            <span class="info-box-text text-muted">
                                <i class="fa fa-star fa-fw text-aqua"></i>
                                @if (item.ExpectedJobLevel != null)
                                {
                                    @item.ExpectedJobLevel.JobLevelName;
                                }
                            </span>
                            <span class="info-box-text text-muted">
                                <i class="fa fa-language fa-fw text-aqua"></i>
                                @foreach (var lo in item.CandidateLanguage)
                                {
                                    <small class="margin-r-5">@lo.Language.Name</small>
                                }
                            </span>
                            <span class="info-box-text text-muted">
                                <i class="fa fa-dollar fa-fw text-aqua"></i>
                                @string.Format("{0:N0}", item.ExpectedSalary)
                            </span>
                        </div>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="@Url.Content("/CurriculumVitae/ShowCv?id=" + item.Cvid)" target="blank" class="btn btn-default btn-sm btn-flat text-aqua">Profile</a>
                        @*<a asp-area="Employer"
                            asp-controller="InterviewInvitations"
                            asp-action="Create"
                            asp-route-candidateId="@item.Id"
                            asp-route-companyId="@ViewBag.CompanyId"
                            asp-route-positionJobId="@item.Id"
                            target="blank"
                            class="btn btn-default btn-sm btn-flat text-aqua">
                             Invite</a>*@@*
                        <a data-toggle="collapse" href="#searchCandidate_@item.Id" class="btn btn-default btn-sm btn-flat text-aqua">Show details</a>
                    </div>
                </div>
            </div>
            if (i == 3)
            {
                i = 0;
                <div style="clear:both"></div>
            }
        }
    </div>*@

   @* @{ if (Model.Count() > 0) { 
   <div class="text-center">
       <pager current-page="@Model.PageIndex" total-page="@Model.TotalPage" setting-link-attr-data-ajax="true"
           setting-link-attr-data-ajax-method="get" />
    @*<pager class="pagination" 
           setting-link-attr-data-ajax="true" 
           setting-link-attr-data-ajax-update="#Outer_CandidateSearch"
           setting-link-attr-data-ajax-method="get"
           />*@@*
</div>}
        }*@
<hr />
            @if (string.IsNullOrEmpty(ViewBag.TitlePartial))
            {
                <h3 class="title-nav">
                    Candidate result <span class="badge bg-yellow">@ViewBag.Count</span>
                </h3>
            }
            else
            {
                <h3 class="title-nav">@ViewBag.TitlePartial</h3>
            }
    <div class="row" id="ShowListCandidate">        
        @{int i = 0; }
                    @if (Model.Count() > 0)
        {
                        foreach (var item in Model)
                        {
                            i++;
        <div class="result">            
            <div class="row">
                <div class="col-md-2">
                    @if (item.Image == null)
                {

                            <div class="result-img fill" style="background-image: url(/images/avatar.png)"></div>
                    }
                    else if (item.Image.Contains("http"))
                    {
                            <div class="result-img" style="background-image: url('@Url.Content(item.Image)');"></div>
                    }
                    else
                    {
                        var avatar = item.Image;
                            <div class="result-img" style="background-image: url('@avatar');"></div>
                    }
                </div>
                <div class="col-md-7">
                    <p class="result-title">@item.FullName</p>
                    <p>
                    @foreach (var lo in item.CandidateCategory)
        {
            if (item.CandidateCategory.Last() == lo)
            {
                                <span>@lo.Category.Name</span>
                        }
            else
            {
                                <span>@lo.Category.Name,</span>
                        }
        }</p>
                    <p>
                    @foreach (var lo in item.CandidateLocation)
        {
            if (item.CandidateLocation.Last() == lo)
            {
                                <span>@lo.Location.Name</span>
                        }
            else
            {
                                <span>@lo.Location.Name,</span>
                        }
        }
                     </p>
                </div>
                <div class="col-md-3">
                    @if (listSaved.Contains(item.Id))
                    {
                        <input type="button" class="btn btn-add-n btn-fill-horz" style="margin-top:0px" value="Saved" />
                    }
                    else { 
                    <input type="button" class="btn btn-employer btn-fill-horz" id="Save@{@item.Id}" onclick="Save(@item.Id)" style="margin-top:0px" value="Save" />
                    }
                    <a href="@Url.Content("/CurriculumVitae/ShowCv?id=" + item.Cvid)" target="blank" class="btn btn-add-n btn-fill-horz">Profile</a>
                </div>
            </div>
        </div>
            }
        }
        else
        {
            <div class="result-empty">
                <img src="/images/search-empty-employer.jpg" alt="">
                <p class="text-center">Search for Candidates</p>
            </div>

        }
    </div>

    @{ if (Model.Count() > 0) { 
   <div class="text-center">
       <pager current-page="@Model.PageIndex" total-page="@Model.TotalPage" setting-link-attr-data-ajax="true"
           setting-link-attr-data-ajax-method="get" />
    @*<pager class="pagination" 
           setting-link-attr-data-ajax="true" 
           setting-link-attr-data-ajax-update="#Outer_CandidateSearch"
           setting-link-attr-data-ajax-method="get"
           />*@
</div>}
        }

@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
    await Html.RenderPartialAsync("_HtmlEditorScriptsPartial");
}

<script>

    $(document).ready(function (e) {
        $('.text-center ul li a').each(function (i) {
            $(this).attr('href',"");
        });
    });
    function Save(value) {        
        $.ajax({
            type: "post",
            url: "/Employer/Candidates/SaveCandidate",
            data: {
                id: value
            },
            success: (function (resual) {
                if (resual) {
                    $("#Save" + value).attr('value', 'Saved');
                    $("#Save" + value).removeClass("btn-employer");
                    $("#Save" + value).addClass('btn-add-n');
                }
            })
        });
    }
</script>
<style>
    .btn-add-n:focus {
        background-color: var(--main-color);
    }
</style>