@model IEnumerable<MIC.AseanTalentSearch.Web.EF.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
@*    <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facebook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instagram)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinkedIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Twitter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpectedCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpectedSalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WillingToRelocate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearsOfExperience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dtustudent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DtugraduatedYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DtustudentCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cvlink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPublish)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedJobLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WillingToRelocate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsOfExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dtustudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtugraduatedYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtustudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvlink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedJobLevel.JobLevelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Layout.Title)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
