﻿@{
    ViewData["Title"] = "Contact";
}
<div id="banner" class="fill" style="background: url('@Url.Content("~/images/banner-contact.png")')">
    <div class="banner--opacity">
    </div>
    <div class="banner__content">
        <h1 class=" text-center">Contact</h1>
        <p class=" text-center">Home / Contact</p>
    </div>
</div>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="contact__info text-center">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h3>Address</h3>
                    <p class="text-center">@Html.Raw(ViewBag.Address)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact__info text-center">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <h3>Email</h3>
                    <p class="text-center">@Html.Raw(ViewBag.Email)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact__info text-center">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h3>Call us</h3>
                    <p class="text-center">@Html.Raw(ViewBag.Phone)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="map-page">
    <div id="map"></div>
</section>
<script>
    function initMap() {
        var uluru = {
            lat: 16.075322,
            lng: 108.222845
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgX4Uu1lJxMK_4KxAFuApJZ9bE8sD_OPY&callback=initMap"></script>