﻿@{
    ViewData["Title"] = "Home Page";
}

<section id="section-slide">
    <!-- Set up your HTML -->
    <div id="intro" class="owl-carousel owl-theme">
        <div style="background:url('images/slider.jpg')" class="fill item">

        </div>
        <div style="background:url('images/slider.jpg')" class="fill item">

        </div>
        <div style="background:url('images/slider.jpg')" class="fill item">

        </div>
    </div>
</section>
<section id="popular-job">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">VIỆC LÀM NỔI BẬT</h1>
                <hr class="underline center-block">
            </div>
        </div>
        <div id="popular-show" class="owl-carousel owl-theme">
            <div class="item">
                <div class="box">
                    <div class="box-heading">
                        <div class="box-label box-label-blue">
                            FULL-TIME
                        </div>
                        <div class="image-container">
                            <img src="images/employer1.png" class="img-responsive img-center" alt="">
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="list-unstyled">
                            <li class="box-title">
                                <a href="#">NHÂN VIÊN BUỒNG PHÒNG</a>
                            </li>
                            <li class="box-sub-title">
                                <a href="#">Khách sạn Mường Thanh</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng
                            </li>
                            <li>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-footer text-center">
                        <a class="btn btn-details" href="#">CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="box-heading">
                        <div class="box-label box-label-orange">
                            PART-TIME
                        </div>
                        <div class="image-container">
                            <img src="images/employer2.png" class="img-responsive img-center" alt="">
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="list-unstyled">
                            <li class="box-title">
                                <a href="#">NHÂN VIÊN LẬP TRÌNH PHP</a>
                            </li>
                            <li class="box-sub-title">
                                <a href="#">Trung tâm sáng tạo Microsoft</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng
                            </li>
                            <li>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-footer text-center">
                        <a class="btn btn-details" href="#">CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="box-heading">
                        <div class="box-label box-label-green">
                            INTERNSHIP
                        </div>
                        <div class="image-container">
                            <img src="images/employer3.png" class="img-responsive img-center" alt="">
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="list-unstyled">
                            <li class="box-title">
                                <a href="#">NHÂN VIÊN QUẢN LÝ BƯU ĐIỆN</a>
                            </li>
                            <li class="box-sub-title">
                                <a href="#">Công ty FedEx Express</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng
                            </li>
                            <li>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-footer text-center">
                        <a class="btn btn-details" href="#">CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="box-heading">
                        <div class="box-label box-label-green">
                            PART-TIME
                        </div>
                        <div class="image-container">
                            <img src="images/employer4.png" class="img-responsive img-center" alt="">
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="list-unstyled">
                            <li class="box-title">
                                <a href="#">NHÂN VIÊN KINH DOANH BẤT ĐỘNG SẢN</a>
                            </li>
                            <li class="box-sub-title">
                                <a href="#">Phát đạt Corporation</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Hà Nội
                            </li>
                            <li>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-footer text-center">
                        <a class="btn btn-details" href="#">CHI TIẾT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="new-job">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title">VIỆC LÀM MỚI</h1>
                <hr class="underline underline-left">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <tr>
                    <td class="td_image"><img src="images/newjob1.png" alt=""></td>
                    <td>
                        <p class="text-bold">Nhân viên kinh doanh</p>
                        <p>Công ty TNHH Thiên Mỹ</p>
                    </td>
                    <td>
                        <p class="text-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017</p>
                    </td>
                    <td>
                        <p class="text-site">3 triệu - 5 triệu</p>
                    </td>
                    <td>
                        <div class="square square-blue">
                            FULL-TIME
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_image"><img src="images/newjob2.png" alt=""></td>
                    <td>
                        <p class="text-bold">Nhân viên kinh doanh</p>
                        <p>Công ty TNHH Thiên Mỹ</p>
                    </td>
                    <td>
                        <p class="text-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017</p>
                    </td>
                    <td>
                        <p class="text-site">3 triệu - 5 triệu</p>
                    </td>
                    <td>
                        <div class="square square-orange">
                            FULL-TIME
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_image"><img src="images/newjob3.png" alt=""></td>
                    <td>
                        <p class="text-bold">Nhân viên kinh doanh</p>
                        <p>Công ty TNHH Thiên Mỹ</p>
                    </td>
                    <td>
                        <p class="text-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017</p>
                    </td>
                    <td>
                        <p class="text-site">3 triệu - 5 triệu</p>
                    </td>
                    <td>
                        <div class="square square-green">
                            FULL-TIME
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_image"><img src="images/newjob4.png" alt=""></td>
                    <td>
                        <p class="text-bold">Nhân viên kinh doanh</p>
                        <p>Công ty TNHH Thiên Mỹ</p>
                    </td>
                    <td>
                        <p class="text-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017</p>
                    </td>
                    <td>
                        <p class="text-site">3 triệu - 5 triệu</p>
                    </td>
                    <td>
                        <div class="square square-green">
                            FULL-TIME
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_image"><img src="images/newjob5.png" alt=""></td>
                    <td>
                        <p class="text-bold">Nhân viên kinh doanh</p>
                        <p>Công ty TNHH Thiên Mỹ</p>
                    </td>
                    <td>
                        <p class="text-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017</p>
                    </td>
                    <td>
                        <p class="text-site">3 triệu - 5 triệu</p>
                    </td>
                    <td>
                        <div class="square square-blue">
                            FULL-TIME
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_image"><img src="images/newjob6.png" alt=""></td>
                    <td>
                        <p class="text-bold">Nhân viên kinh doanh</p>
                        <p>Công ty TNHH Thiên Mỹ</p>
                    </td>
                    <td>
                        <p class="text-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017</p>
                    </td>
                    <td>
                        <p class="text-site">3 triệu - 5 triệu</p>
                    </td>
                    <td>
                        <div class="square square-orange">
                            FULL-TIME
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_image"><img src="images/newjob7.png" alt=""></td>
                    <td>
                        <p class="text-bold">Nhân viên kinh doanh</p>
                        <p>Công ty TNHH Thiên Mỹ</p>
                    </td>
                    <td>
                        <p class="text-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng</p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017</p>
                    </td>
                    <td>
                        <p class="text-site">3 triệu - 5 triệu</p>
                    </td>
                    <td>
                        <div class="square square-blue">
                            FULL-TIME
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <a href="#" class="btn btn-details">XEM THÊM</a>
    </div>
</section>

<section id="combine-search" class="text-center">
    <div class="container">
        <div id="combie-container" class="row">
            <div class="col-lg-3">
                <h1>BẠN ĐANG TÌM KIẾM<br>ỨNG VIÊN?</h1>
                <a href="#" class=" btn btn-border-w">ĐĂNG TUYỂN</a>
            </div>
            <div class="col-lg-4">
                <h1>BẠN ĐANG TÌM KIẾM<br>MỘT CÔNG VIỆC?</h1>
                <a href="#" class="btn  btn-block-w">TÌM VIỆC</a>
            </div>
            <div class="col-lg-5 img-container visible-lg">
                <img src="images/bublebg.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">TIN TỨC</h1>
                <hr class="underline center-block">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="image_new_container">
                    <div class="news-image">
                        <img src="images/news1.jpg" alt="" class="img-responsive img-center">
                    </div>
                    <div class="new-container">
                        <div class="news-item">
                            <ul class="list-inline text-muted text-bold">
                                <li>23 THÁNG 2, 2017</li>
                                <li class="devide">-</li>
                                <li>0 BÌNH LUẬN</li>
                            </ul>
                            <h2 class="news-title">
                                Tìm việc online - Bạn đã biết cách để thành công?
                            </h2>
                            <div class="new-description">
                                Trước khi bạn bắt đầu ứng tuyển công việc online, điều quan trọng là bạn nên chuẩn bị một hồ sơ ứng tuyển ấn tượng...
                            </div>
                            <a href="#">XEM THÊM</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image_new_container">
                    <div class="news-image">
                        <img src="images/news2.jpg" alt="" class="img-responsive img-center">
                    </div>
                    <div class="new-container">
                        <div class="news-item">
                            <ul class="list-inline text-muted text-bold">
                                <li>23 THÁNG 2, 2017</li>
                                <li class="devide">-</li>
                                <li>0 BÌNH LUẬN</li>
                            </ul>
                            <h2 class="news-title">
                                9 Bí quyết xây dựng lòng tin nơi sếp nên thực hiện
                            </h2>
                            <div class="new-description">
                                Trong môi trường công sở, ai cũng muốn được sếp tin tưởng và trọng dụng. Tuy nhiên, để trở thành một nhân viên được...
                            </div>
                            <a href="#">XEM THÊM</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image_new_container">
                    <div class="news-image">
                        <img src="images/news3.jpg" alt="" class="img-responsive img-center">
                    </div>
                    <div class="new-container">
                        <div class="news-item">
                            <ul class="list-inline text-muted text-bold">
                                <li>23 THÁNG 2, 2017</li>
                                <li class="devide">-</li>
                                <li>0 BÌNH LUẬN</li>
                            </ul>
                            <h2 class="news-title">
                                10 cách giúp bạn tỏa sáng trong một buổi phỏng vấn
                            </h2>
                            <div class="new-description">
                                Kỹ năng trả lời phỏng vấn là một trong những yếu tố quan trọng để đạt được thành công trong một buổi phỏng vấn xin việc....
                            </div>
                            <a href="#">XEM THÊM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="figure" class="fill" style="background: url('images/figure.jpg'); position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="figure-container">
                    <div class="figure-item clearfix">
                        <div class="figure-image">
                            <img src="images/bag.png" alt="">
                        </div>
                        <div class="figure-content">
                            <span class="figure-number">932</span>
                            <span class="figure-text">Công việc</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="figure-container">
                    <div class="figure-item clearfix">
                        <div class="figure-image">
                            <img src="images/people.png" alt="">
                        </div>
                        <div class="figure-content">
                            <span class="figure-number">932</span>
                            <span class="figure-text">Công việc</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="figure-container">
                    <div class="figure-item clearfix">
                        <div class="figure-image">
                            <img src="images/building.png" alt="">
                        </div>
                        <div class="figure-content">
                            <span class="figure-number">932</span>
                            <span class="figure-text">Công việc</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="employer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">NHÀ TUYỂN DỤNG</h1>
                <hr class="underline center-block">
            </div>
        </div>
        <div id="employer-carousel" class="owl-carousel owl-theme">
            <div class="item">
                <img src="images/employerlogo1.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo2.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo3.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo4.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo5.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo6.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo6.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo5.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo4.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo3.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo2.png" class="img-center" alt="">
            </div>
            <div class="item">
                <img src="images/employerlogo1.png" class="img-center" alt="">
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#intro').owlCarousel({
                items: 1,
                nav: false,
                autoHeight: true,
                dots: false,
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true
            });

            $('#popular-show').owlCarousel({
                loop: true,
                responsiveClass: true,
                dots: false,
                nav: true,
                navText: ["<span><i class='fa fa-chevron-left' aria-hidden='true'></i></span>", "<span><i class='fa fa-chevron-right' aria-hidden='true'></i></span>"],
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: true
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: true
                    }
                }
            });

            $('#employer-carousel').owlCarousel({
                responsiveClass: true,
                nav: false,
                autoHeight: true,
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1

                    },
                    600: {
                        items: 3

                    },
                    1000: {
                        items: 6

                    }
                }
            });
        });
</script>
<script type="text/javascript">
        $(function() {
            $('.box-heading').matchHeight();
            $('.box-body').matchHeight();
        });
</script>
}