﻿@{
    ViewData["Title"] = "Home Page";
}

<section class="banner fill" role="banner" style="background:url('/images/image-new/banner-home.jpg');margin-bottom:0px !important">
    @await Component.InvokeAsync("JobSearchForm")
</section>
<section class="alljob-content">
    <div class="container">
        <div class="row">
            <h3 style="color:#fff;" class="text-center text-uppercase title-header">@T.T("Home.FeaturedJobs")</h3>
            <div id="popular-show" class="owl-carousel owl-theme">
                @await Component.InvokeAsync("FeaturedWork")
            </div>
        </div>
    </div>
</section>
<section id="jobs">
    <div class="container">
        <ul class="nav nav-tabs">
            <li id="title-jobs" class="pull-left">
                @T.T("Home.WeHave") <span id="JobCount">@ViewBag.JobCount</span> @T.T("Home.AvailableJobsForYou")
            </li>
            <li id="hottest-jobs" class="pull-right">
                <a data-toggle="tab" href="#home" aria-expanded="false">@T.T("Home.HightestJobs")</a>
            </li>
            <li class="pull-right">
                <a data-toggle="tab" href="#suggest" aria-expanded="false">@T.T("Home.SuggestedJobs")</a>
            </li>
            <li class="active pull-right">
                <a data-toggle="tab" href="#menu1" aria-expanded="true">@T.T("Home.HottestJobs")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade active in">
                @await Component.InvokeAsync("JobList", new { takeItem = 20, skip = 0 })
            </div>
            <div id="home" class="tab-pane fade">
                @await Component.InvokeAsync("JobList", new { takeItem = 20, skip = 0, isHeightest = true })
            </div>
            <div id="suggest" class="tab-pane fade">
                @await Component.InvokeAsync("SuggestedJobs", new { takeItem = 20, skip = 0 })
            </div>
        </div>
    </div>
</section>
<section id="hottest" class="fill" style="background:url('/images/image-new/banner-middle.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-push-6 col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#companies" data-toggle="tab" aria-expanded="true">
                            @T.T("Home.HottestCompanies")
                        </a>
                    </li>
                    <li class="device">|</li>
                    <li>
                        <a data-toggle="tab" href="#universities" aria-expanded="false">
                            @T.T("Home.HottestUniversities")
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="companies" class="tab-pane fade active in">
                        @await Component.InvokeAsync("HotestCompanies")
                    </div>
                    <div id="universities" class="tab-pane fade">
                        @await Component.InvokeAsync("UniversityList")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section id="hot-positions">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs  text-uppercase">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Hottest Jobs</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Suggested jobs</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Highest salary</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            @await Component.InvokeAsync("SuggestedJobs")
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            @await Component.InvokeAsync("JobList", new { takeItem = 20, skip = 0, isHeightest = true })
                        </div>
                        @*<div class="text-center" style="margin-top:40px;">
                            <a asp-controller="Recruiment" asp-action="Index" class="btn btn-default text-uppercase">show more jobs</a>
                        </div>*@
                        <!-- /.tab-pane -->
                    @*</div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>
            <div class="col-md-4">
                <div class="col-md-12 col-sm-6" style="padding:0 5px;">
                    @await Component.InvokeAsync("HotestCompanies")
                </div>
                <div class="col-md-12 col-sm-6" style="padding:0 5px;">
                    @await Component.InvokeAsync("UniversityList")
                </div> 
                
            </div>
        </div>
    </div>
</section>*@
<section id="latest-news">
    <div class="container">
        @await Component.InvokeAsync("LatestNews")
    </div>    
</section>
<section id="work-step" style="background:url('/Images/image-new/banner-bottom.jpg');" class="fill">
    @Html.Partial("_HowItWork");
</section>
@*<section id="ads-blocks">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#"><img src="https://images.vietnamworks.com/logo/234x234-Nestle-banner-New_101182.gif" class="img-responsive" /></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#"><img src="https://images.vietnamworks.com/logo/(3)-apps-234x234-android_100024.gif" class="img-responsive" /></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#"><img src="https://images.vietnamworks.com/logo/234x234_101227.gif" class="img-responsive" /></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#"><img src="https://images.vietnamworks.com/logo/234x234-Suntory-PepsiCo_100073.gif" class="img-responsive" /></a>
            </div>
        </div>
    </div>
</section>*@

@section scripts{
    
    <script type="text/javascript">
        $(function() {
            $('#popular-show .box-heading').matchHeight();
            $('#popular-show .box-body').matchHeight();

            var count = $('#menu1').find('span').first().text();
            $("#JobCount").text(count);  

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href") // activated tab
                var x = $(target).find('span').first().text();
                $("#JobCount").text(x);               
            });
        });
    </script>
}