﻿@{
    ViewData["Title"] = "Policy Page";
}

<div id="banner-child" class="fill" style="background: url('@Url.Content("~/images/banner-policy.jpg")'); height:272px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Policy</h2>
                <p class="text-center">Home | Policy</p>
            </div>
        </div>
    </div>
</div>
<section id="content-child">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Privacy Policy</h2>
                <div class="policy__content">
                    @Html.Raw(ViewBag.Policy??"")
                </div>
            </div>
        </div>
    </div>
</section>