﻿@model Layout
@{
    ViewData["Title"] = "Create Layout";
}
@section heading{
    <h1>Layout</h1>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Create"  enctype="multipart/form-data" method="post">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="col-md-2 control-label">@T.T("Admin.Title")</label>
                            <div class="col-md-10">
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label  class="col-md-2 control-label">@T.T("Admin.ThemeCV")</label>
                            <div class="col-md-10">
                               
                                <input type="file" id="file" name="file">
                                <p class="help-block">You can only attach a Zip file that is less than 100MB in size</p>
                            </div>
                        </div>  

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@T.T("Admin.Create")" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


<div>
    <a asp-action="Index">Back to list</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}