@model Sakura.AspNetCore.IPagedList<Layout>
    @{
        ViewData["Title"] = "List Layout";

    }
    @section heading{
        <h1>Layout</h1>
    }


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewData["Title"]</h3>

                    <div class="box-tools">

                    </div>
                </div>
                <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                    <a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> @T.T("Admin.Create")</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 40%;">
                                   @T.T("Admin.Title")
                                </th>

                                <th style="width: 30%;">@T.T("Admin.Picture")</th>
                                <th style="width: 30%;">@T.T("Admin.Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.Title)
                                    </td>
                                    <td>
                                        <img style="max-height:100px;" class="img-responsive pad" src="@Url.Content($"~/Themes/{@item.Title}/thumbnail.jpg")" alt="Photo">
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> @T.T("Admin.Delete")</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <ul class="pagination">
                            <pager />
                        </ul>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
