@model JobSearchViewModel

<div id="banner-child" class="fill" style="background:url('/Images/banner-404.jpg');min-height: 472px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="row">
                        <div class="col-md-12">
                            <div class="banner-text">
                                <h2 class="animate slideInLeft">
                                    @Html.Raw(T.T("Home.FindTheCareer"))
                                </h2>
                            </div>
                        </div>
                        <form id="jobSearchForm" class="flat-form" asp-controller="Recruiment" asp-action="Index" method="get" style="float:left">
                            <input asp-for="JobLevelId" value="@ViewData["JobLevelId"]" type="hidden" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input asp-for="JobName" value="@ViewData["JobName"]" class="form-control" placeholder="Enter job title, position, skill...">
                                    <p><em>@T.T("Home.Keywords")</em></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <select asp-for="CategoryId" asp-items="@Model.CategoryIdSelectList" class='form-control  advance-select' style="width: 100%; height: 44px;">
                                        <option value="">@T.T("Home.AllCategories")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <select asp-for="LocationId" asp-items="@Model.LocationIdSelectList" class='form-control  advance-select' style="width: 100%; height: 44px;">
                                        <option value="">@T.T("Home.AllLocations")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="@T.T("Home.FindJob")" class="btn btn-blue btn-fill-horz" style="width:100%; margin-top:20px;">
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <div class="col-md-push-2 col-md-5 hidden-sm hidden-xs">
                @*<dic class="pull-left">
                    <img class="img-404" src="~/images/img-404.png" />
                </dic>*@
                    <div id="sub-intro" class="owl-carousel owl-theme">
                        <img class="slide" src="~/Images/SLIDER/1.png" alt="fill item">
                        <img class="slide" src="~/Images/SLIDER/2.png" alt="fill item">
                        <img class="slide" src="~/Images/SLIDER/3.png" alt="fill item">
                    </div>
            </div>
        </div>
    </div>
</div>
