@font-face {
    font-family: UTMAlter;
    src: url("../UTM Alter Gothic.ttf");
}
*{
  margin:0;
  padding:0;
  border:none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
h2,h3,h4,span,h1,div,p{
  font-family: 'Cabin',sans-serif
}
a {
  text-decoration: none;
  outline: none;
  font-family: 'Cabin',sans-serif
}
a:hover, 
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}
ul{
  list-style-type:  none;
  font-family: 'Cabin',sans-serif
}
article{
  font-size: 16px;
  line-height: 30px;
  margin-top: -10px;
  color: #182153;
}
p {
  text-align: justify;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
section{
  padding: 80px 0 80px 0;
}
.odd {
  background-color: #eeeeee;
}
.odd #box-title {
  margin: 0;
}
.odd #box-subtitle {
  text-align: left;
  margin-left: 20px;
}
.odd .box{
  margin-bottom: 20px;
}
.img-center {
  margin: 0 auto;
  display: block
}
.text-center {
  text-align: center;
}
#banner-wrapper {
  padding: 0;
  margin: 0;
}
#banner{
  overflow: hidden;
  background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    width: 100%;
    margin: auto;
}
#banner {
  display: flex;
  align-items: center;
  /*center vertical*/
  position: relative;
}
#banner h1{
  font-family: UTMAlter;
  font-size: 48px;
  color: #fff;
  border: 2px solid #ccc;
  border-bottom: none;
  padding: 30px 60px;
  position: relative;
  /*center horizontal*/
  display: table;
  margin: 0 auto;
}

#banner h1:after,#banner h1:before{
  width:50px;
  height:2px;
  background:#fff;
  position:absolute;
  bottom:0%;
  content:'';
}
#banner h1:after{
  left:0%;
}
#banner h1:before{
  right:0%;
}
.legend {
  margin-top: -15px;
  padding: 0 10px;
  text-align: center;
  width: auto;
  color: #fff;
  font-size: 18px;
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 25px;
  background-color: transparent;
  display: table;
  margin: 0 auto;
  position: relative;
  bottom: -100px;
}
.btn-circle  i{
  color: #fff;
  font-size: 30px;
}
.btn-circle:hover,.btn-circle:focus, .btn-circle:active{
  background-color: rgba(255, 255, 255, 0.3);
  outline: none !important;
  outline-offset: 0 !important;
  border-color: #fff;
}
/*NAV*/
.navbar-default .navbar-brand {
  color: #fff;
  font-family: UTMAlter;
  font-size: 20px;
  background-color: #182153;
  height: 70px;
  padding: 25px;
  margin-right: 100px;
}
@media (min-width: 768px){
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}
.navbar {
  border-radius: 0px;
  border: none;
  background-color: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #182153;
    font-size: 16px;
    border-bottom: 2px solid  transparent;
}
  .navbar-nav>li>a {
      padding-top: 25px;  
      padding-bottom: 25px;
  }
    .navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 18px;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*max width 768px*/
  
  .nav>li>a {
      padding-right: 25px;
      padding-left: 25px;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
      color: #182153;
      background-color: transparent;
      border-bottom: 2px solid  #182153;
  }
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
    border: none;
  }
  .navbar-default {
    background-color: transparent;
    border:none;
  }
   .navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 18px;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-default .navbar-nav>li>a {
    color: #182153;
    font-size: 16px;
    border-bottom: 2px solid  transparent;
}
  .navbar-nav {
      margin:0;
  }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: #182153;
  }
  /*BOX HEADER SECTION*/
  #box-title{
  font-size: 24px;
  color: #182153;
  border: 2px solid #182153; 
  border-bottom: none;
  padding: 20px 30px;
  position: relative;
  /*center horizontal*/
  display: table;
  margin: 0 auto;
  font-weight: 700;
}
  #box-title:after,#box-title:before{
    width:20px;
    height:2px;
    background:#182153;
    position:absolute;
    bottom:0%;
    content:'';
  }
  #box-title:after{
    left:0%;
  }
  #box-title:before{
    right:0%;
  }
  #box-subtitle {
    margin-top: -12px;
    padding: 0 10px;
    text-align: center;
    width: auto;
    color: #182153;
    font-size: 16px;
  }
  .box{
    margin-bottom: 80px;
  }
  /*info*/
  #info .list-unstyled li {
    margin-bottom: 20px;
    font-size: 16px;
    color: #182153;
  }
  #info img{
    position: relative;
  }
  @media (max-width: 1200px){
    .description-info{
      margin-top: 30px;
    }
  }  
  .rectange {
    width: 200px;
    height: 260px;
    border: 2px solid #182153;
    position: absolute;
    top: -20px;
    left: 30px;
  }
  /*icons*/
  .icons li {
    display: inline-block;
    margin-right: 20px;
  }
  .icon:before {
    display: inline-block;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  .icons {
    margin-top: 30px;
    text-align: left;
  }
  .icons a {
    border: 2px solid #182153;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 2em;
    text-align: center;
    color: #182153;
    background-color: transparent;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
    -moz-transition: background-color  0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
  }
  .icons a:hover {
    color: #fff;
    background-color: #182153;
  }
  #skill {
    display: flex;
    flex-direction: row;
    align-items:  stretch;
    justify-content: flex-end;
    text-align: left;
    position: relative;
    overflow-x: hidden;
    padding: 0;
  }
  #skill .left{
    padding: 3rem 3rem 3rem 25rem ;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    max-width: 64rem;
    margin: 0 auto;
  }
  /*list menu*/
  .case-info{
    list-style: none;
  }
  .case-info li{
    margin-top: 20px;
    background: url('../image/icon1.png') no-repeat left center;
    padding: 10px 40px;
    color: #182153;
    text-align: left;
    font-size: 16px;
  }
  #skill .right {
      flex-grow: 0;
      flex-shrink: 0;
      width: 50%;
      min-width: 25rem;
      border-radius: 0;
  }
  #image{
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    width: 100%;
    margin: auto;
    padding: 80px 0 60px 20px;
  }
  /*progress*/
  #prog {
    margin-bottom: 40px;
    height: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 50%;
}
  .title-progress{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    width: 50%;
  }
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
  .percent-progress {
    float: right;
  }
   @media screen and (max-width: 1680px) {

      #skill .left {
        padding: 5rem 3rem 3rem 5rem ;
      }

    }
    @media screen and (max-width: 1280px) {

      #skill .left {
        padding: 4rem 3rem 2rem 4rem ;
      }
      #prog {
    margin-bottom: 40px;
    height: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}
  .title-progress{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
  }
    #image{
      overflow: hidden;
      background-repeat: no-repeat !important;
      background-attachment: scroll !important;
      background-position: center center !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -o-background-size: cover !important;
      width: 100%;
      margin: auto;
      padding: 80px 20px 60px 20px;
    }
}
    @media screen and (max-width: 980px) and (orientation: portrait) {

    #skill {
      -moz-flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      text-align: center !important;
    }
    #skill.odd #box-title {
      margin: 0 auto !important;
    }
    #skill.odd #box-subtitle {
      text-align: center !important;
      margin-left: 0px !important;
    }
    #skill .left{
    width: 100%;
    padding: 3.75rem 3rem 1.75rem 3rem ;
    }
    #skill .right{
      width: 100%;
      flex-shrink: 0;
    }

  }

  /*about*/
  #about .list-info li {
    font-size: 16px;
    color: #182153;
    margin-bottom: 8px;
  }
  #about .list-info li.title-list{
    font-weight: bold;
  }
  /*form*/
  .form{
    background-color: #182153;
    padding: 30px;
  }
  .form .title-form {
    font-size: 18px;
    color: #fff;
  }
  .form label{
    color: #fff;+
  }
  .form .form-large {
    height: 100px;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px 6px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #182153;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.btn-details, .btn-details:hover, .btn-details:focus{
  background-color: #182153;
  color: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
}
@media screen and (max-width: 768px){
    #about.odd .box {
      margin-top: 30px;
    }
}
/*footer*/
  #footer{
    background-color: #182153;
    padding: 20px 0;
  }
  #footer p {
    color: #fff;
    font-size: 18px;
  }