
.timeline-centered {
    position: relative;
    margin-bottom: 0px;
    margin-top: 100px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        position: absolute;
        display: block;
        width: 1px;
        background: #d7e1e2;
        left: 50%;
        top: 60px;
        bottom: 40px;
        margin-left: -4px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        width: 50%;
        float: right;
        margin-bottom: 10px;
        clear: both;
    }
        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }
        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -7px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -275px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 50px;
                    text-align: right;
                }

                    

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -13px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -275px;
                text-align: right;
                padding:5px 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                background-color: #182153;
            }
               .timeline-centered .timeline-entry.right-aligned .timeline-entry-inner .timeline-time:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 20px 20px 0;
                    border-color: transparent #182153 transparent transparent;
                    left: 0;
                    top: 0px;
                    margin-left: 223px;
                    -moz-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
               .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time:after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 20px 20px 0;
                    border-color: transparent #182153 transparent transparent;
                    left: 0;
                    top: 0px;
                    margin-left: -20px;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                    font-size: 18px;
                    color: #fff;
                    font-weight: bold;
                }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #182153;
                display: block;
                width: 20px;
                height: 20px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                margin-top: 12px;
                float: left;

            }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                padding:10px 0 20px 0;
                margin-left: 50px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
            }
             

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    color: #182153;
                    font-size: 16px;
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    line-height: 1.428571429;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label ul li {
                    font-weight: 
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    margin-bottom: 10px;
                }

               .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                }
