
 *{
  margin:0;
  padding:0;
  border:none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2,h3,h4,span,h1,div,p{
  font-family: 'Cabin',sans-serif
}
html{
  font-size: 100%;
}
a {
  text-decoration: none;
  outline: none;
  font-family: 'Cabin',sans-serif
}
a:hover, 
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}
ul{
  list-style-type:  none;
  font-family: 'Cabin',sans-serif
}

p {
  text-align: justify;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
section {
  padding: 80px 0;
}
.title {
  font-size: 30px;
  font-weight: bold;
}

.horizontal {
  border: 3px solid #15aebd;
  width: 35px;
  margin-top: 10px;
}
.text-article{
  line-height: 30px;
}
.text-white {
  color: #fff;
}
.img-center {
  margin: 0 auto;
  display: block
}
/*banner*/
#banner {
  background-color: #15aebd;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow-x: hidden;
  padding: 0;
}
.banner__image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 30%;
  min-width: 25rem;
  border-radius: 0;
}
#image{
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  width: 100%;
  margin: auto;
  padding: 80px 0 60px 20px;
}

.banner__text {
  padding: 3rem 3rem 3rem 7rem ;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
  max-width: 64rem;
  margin: 0 auto;
}
.profile__avatar img{
  position: absolute;
  left: 400px;
  top: 120px;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  display: block;
  width: 350px;
  height: 350px;
  border-radius: 0;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
  position: absolute;
  align-self: center;
}
@media screen and (max-width: 1900px) {
  .profile__avatar img{
    left: 70px;
    top: 120px;
  }
}
@media screen and (max-width: 1680px) {
  .profile__avatar img{
    left: 30px;
    top: 120px;
  }
}
@media screen and (max-width: 1200px) {
  .banner__text {
  padding: 3rem 3rem 3rem 3rem ;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
  max-width: 64rem;
  margin: 0 auto;
  }
}
@media screen and (max-width: 980px) {
  .banner__text {
  padding: 3rem 3rem 3rem 3rem ;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
  max-width: 64rem;
  margin: 0 auto;
  }
}
.profile__info h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.profile__info p {
  font-size: 16px;
  color: #005f68;
  font-weight: bold;
  margin-bottom: 30px;
}
.profile__info .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: #005f68;
    margin-bottom: 20px;
}
.profile__info .dl-horizontal dd {
    font-size: 16px;
    color: #fff;
}
/**/
/*icons*/
  ul.icons li {
    display: inline-block;
  }
  ul.icons a {
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 2em;
    text-align: left;
    border: 0;
  }
  .icon:before {
    display: inline-block;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  .icons {
    font-size: 15px;
    text-align: left;
  }
  .icons a {
    color: #fff ;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
  }
  .icons a:hover {
    color: #005f68;
  }
  .icon-bottom a{
    color: #15aebd;
  }
  .icon-bottom a:hover{
    color: #005f68;
  }
  
  /*skill*/
  #skill{
  overflow: hidden;
  background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    width: 100%;
    margin: auto;
}
/*experience*/
#experience{
  padding-bottom: 50px;
}
  /*progress*/
  #prog {
    height: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}
  .title-progress{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #15aebd;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
  .percent-progress {
    float: right;
  }
   #education {
      padding-top: 0;
      padding-bottom: 50px;
   }
  /* #education {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow-x: hidden;
  padding: 0;
  }
  .education__image {
    width: 40%;
    
  } */
  /* .education__image img {
    float: right;
  }
  .education__process {
    width: 60%;
  } */
  /*portfolio*/
  #portfolio {
    background-color:#15aebd;
  }
  /*nav pills*/
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover,.nav-pills>li>a:focus {
    color: #15aebd;
    background-color: #fff;
  }
 .nav-pills>li>a {
    border-radius: 0px;
    margin-right: 10px;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
    color: #fff;
    background-color: #15aebd;
    border: 1px solid #fff;
}
  .nav {
    padding-left: 0;
    margin: 30px 0 40px 0 ;
    list-style: none;
}
.center-pills {
  display: flex;
  justify-content: center;
}
#portfolio img{
  margin-bottom: 30px;

}
/*about*/
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btn-details{
  border-radius: 0;
  background-color: #15aebd;
  color: #fff;
}
.btn-details:hover{
  background-color: #15aebd ;
  opacity: 0.7;
  color: #fff;
}
.title-list {
  color: #15aebd;
}
.subtitle {
  margin-bottom: 30px;
}
#footer{
  padding: 20px 0;
  background-color: #15aebd;
  color: #fff;
}