﻿@{
    Layout = null;
    //var comid = User.Claims.ToList()[0].Value;
}
@model MIC.AseanTalentSearch.Web.EF.Candidate
@{
    var themeName = string.Empty;
    if (string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["name"]))
    {
        themeName = ViewBag.ThemeName;
    }
    else
    {
        themeName = ViewContext.HttpContext.Request.Query["name"];
    }

    var listCM = (List<MIC.AseanTalentSearch.Web.Models.Candidate.CandidateCommentViewModel>)ViewBag.ListCommnet;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="~/Themes/@(themeName)/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/@(themeName)/css/site.min.css" rel="stylesheet" />
    <style>
        #mn-comments{
            padding: 0px;
        }
        #mn-comments .avatar-cmt {
            overflow: hidden;
            background-repeat: no-repeat !important;
            background-attachment: scroll !important;
            background-position: center center !important;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            background-size: cover !important;
            -o-background-size: cover !important;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: relative;
            top: 10px;
        }
        #mn-comments .comments {
            border-bottom: 1px solid #e7eaf3;
            margin-bottom: 30px;
        }
        #mn-comments ul li{
            display: inline-block;
        }
    </style>
</head>
<body>

    <section id="banner">
        <div class="banner__image">
            <div id="image" class="fill" style="background: url('@Url.Content($"~/Themes/{themeName}/image/farrel-nobel-1033931.png")'); height: 600px;"></div>
        </div>
        <div class="banner__text">
            <div class="profile">
                <div class="profile__avatar">
                    <img src="@(Model?.IdNavigation?.GeneralProfile?.Image)" />
                </div>
                <div class="profile__info">
                    <h3 class="text-uppercase text-white">HELLO!</h3>
                    <h3 class="profile__info__name text-white">@(Model?.FullName ?? "no name")</h3>
                    <p class="text-uppercase">
                        I have experience in @if (Model.CandidateCategory != null && Model.CandidateCategory.Any())
                        {
                            @String.Join(", ", Model.CandidateCategory.Select(m => m.Category.Name.Trim()))
                        } field.
                    </p>
                    <dl class="dl-horizontal ">
                        <dt>Birthdate</dt>
                        <dd>@(Model?.IdNavigation?.GeneralProfile?.BirthDate?.ToString("dd/MM/yyyy"))</dd>
                        <dt>Email</dt>
                        <dd>@(Model?.Email)</dd>
                        <dt>Phone number</dt>
                        <dd>@(Model?.PhoneNumber)</dd>
                        <dt>Years of experience</dt>
                        <dd>@(Model?.YearsOfExperience)</dd>
                        <dt>Address</dt>
                        <dd>@Model?.Address</dd>
                    </dl>
                    <ul class="icons">
                        <li><a target="_blank" href="@Model?.Facebook" class="icon fa fa-facebook"></a></li>
                        <li><a target="_blank" href="@Model?.LinkedIn" class="icon fa fa-linkedin"></a></li>
                        <li><a target="_blank" href="@Model?.Instagram" class="icon fa fa-instagram"></a></li>
                        <li><a target="_blank" href="@Model?.Twitter" class="icon fa fa-twitter"></a></li>
                        <li><a target="_blank" href="@Model?.Youtube" class="icon fa fa-youtube-square"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center title">Information</h2>
                    <hr class="center-block horizontal">
                </div>
                <div class="col-md-10 col-md-offset-1 ">
                    <p class="text-center text-article">
                        @Html.Raw(Model?.Summary ?? "")
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="skill" style="background: url('@Url.Content($"~/Themes/{themeName}/image/bg.png")');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center title text-white">Skill</h2>
                    <hr class="center-block horizontal">
                </div>
                <div class="col-md-6 col-md-offset-3">
                    @{
                        var tem = 0;
                    }
                    @foreach (var item in Model.CandidateSkill.Select(m => m.Skill))
                    {
                        <p class="title-progress" style="margin-top:20px;">
                            @item.Name @if ((Model?.CandidateSkill?.Select(m => m.SkillLevel).ElementAt(tem)) != null)
                            {
                                <span style="float: right;">@(Model?.CandidateSkill?.Select(m => m.SkillLevel).ElementAt(tem)) %</span>
                            }
                            else
                            {
                                <span style="float: right;">
                                    0%
                                </span>
                            }
                        </p>
                        <div class="progress" id="prog">
                            <div class="progress-bar" role="progressbar" aria-valuemax="100" style="width:@(Model?.CandidateSkill?.Select(m=>m.SkillLevel).ElementAt(tem))%"></div>
                        </div>
                        tem++;
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center title">Experience</h2>
                    <hr class="center-block horizontal">
                </div>
                <div class="col-md-12">
                    <div class="timeline-centered">
                        @foreach (var item in Model.EmploymentHistory)
                        {
                            <article class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-time" style="left: -230px;">
                                        <span>
                                            @if (item?.EndedDate != null)
                                            {
                                                @Html.Raw(item?.StartedDate.ToString("MM/yyy") + " - " + item?.EndedDate?.ToString("MM/yyy"))
                                            }
                                            else
                                            {
                                                @Html.Raw("From " + item?.StartedDate.ToString("MM/yyy"))
                                            }
                                        </span>
                                    </div>
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-label">
                                        <h2>@item?.PositionTitle</h2>
                                        <p>@item?.CompanyName</p>
                                        <h2>Job description</h2>
                                        <p>
                                            @Html.Raw(item?.Description ?? "")
                                        </p>
                                    </div>
                                </div>
                            </article>
                        }

                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <section id="education">
        <div class="education__process">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center title">Education</h2>
                        <hr class="center-block horizontal">
                    </div>
                    <div class="col-md-12">
                        <div class="timeline-centered">
                            @foreach (var item in Model.EducationHistory)
                            {
                                <article class="timeline-entry">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-time" style="left: -230px;"><span>@item?.BeginDate.ToString("MM/yyy") - @item?.EndDate.ToString("MM/yyy")</span></div>
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-label">
                                            <h2>@item?.Major?.Name</h2>
                                            <ul>
                                                <li>@item?.Major?.University?.Name</li>
                                                <li>Content: @Html.Raw(item?.Achievement ?? "")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>

    </section>

    <section id="mn-comments">
        <div class="education__process">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center title">Comments</h2>
                        <hr class="center-block horizontal">
                    </div>
                    <div class="col-md-12">
                        <div>
                            @foreach (var item in listCM)
                            {
                            <div class="comments">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <div class="avatar-cmt" style="background:url('@(String.IsNullOrEmpty(item?.CondidateComment.UserComment?.GeneralProfile?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(item?.CondidateComment.UserComment?.GeneralProfile?.Image))');"></div>
                                            </li>
                                            <li class="info-user">
                                                <h4>@(item?.CondidateComment.UserComment?.GeneralProfile?.FirstName + " " + item?.CondidateComment.UserComment?.GeneralProfile?.LastName)</h4>
                                                <p><em>@item?._OldUniversity</em></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-right rate pull-right">
                                            <p>
                                                @($"{item.CondidateComment.ModifiedDate: d.MM.yyyy | h:mm}")
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 content" style="margin:10px 0px">
                                        @Html.Raw(item.CondidateComment.Comment ?? "")
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <p>© 2017 <a href="/" style="color:#ffffff;">Contact Asean</a>. All rights reserved.</p>
            </div>
        </div>
    </section>
    <script src="~/Themes/@(themeName)/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Themes/@(themeName)/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            if (window.performance) {
                console.info("window.performance work's fine on this browser");
            }
            if (performance.navigation.type == 1) {
                console.info("This page is reloaded");
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/CurriculumVitae/AddView',
                    data: { id: '@Model.Cvid.ToString()' }
                })
                    .done(function (result) {
                        console.log(result);
                    });
                console.info("This page is not reloaded");
            }
        })
    </script>
</body>
</html>