@model MIC.AseanTalentSearch.Web.EF.Major

@{
    ViewData["Title"] = "Edit";
}
@section heading{
    <h1>University</h1>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Edit">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label">@T.T("Admin.Name")</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnglishName" class="col-md-2 control-label">@T.T("Admin.EnglishName")</label>
                            <div class="col-md-10">
                                <input asp-for="EnglishName" class="form-control" />
                                <span asp-validation-for="EnglishName" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="ParentCode" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ParentCode" class="form-control" />
                                <span asp-validation-for="ParentCode" class="text-danger"></span>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="UniversityId" class="control-label col-md-2">@T.T("Admin.University")</label>
                            <div class="col-md-10">
                                <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.UniversityId"></select>
                                <span asp-validation-for="UniversityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EducationLevelId" class="control-label col-md-2">@T.T("Admin.Educationlevel")</label>
                            <div class="col-md-10">
                                <select asp-for="EducationLevelId" class="form-control" asp-items="ViewBag.EducationLevelId"></select>
                                <span asp-validation-for="EducationLevelId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@T.T("Admin.Save")" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>



<div>
    <a asp-action="Index">Back to list</a>
</div>
@* change active status *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<form asp-action="Edit">
        <div class="form-horizontal">
            <h4>Major</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EnglishName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EnglishName" class="form-control" />
                    <span asp-validation-for="EnglishName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ParentCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ParentCode" class="form-control" />
                    <span asp-validation-for="ParentCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UniversityId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.UniversityId"></select>
                    <span asp-validation-for="UniversityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EducationLevelId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="EducationLevelId" class="form-control" asp-items="ViewBag.EducationLevelId"></select>
                    <span asp-validation-for="EducationLevelId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ActiveDate" class="form-control" />
                    <span asp-validation-for="ActiveDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ActiveBy" class="form-control" />
                    <span asp-validation-for="ActiveBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
