
@model IEnumerable<Major>

@{
    ViewData["Title"] = "Index";
    var majorView = (MajorViewModel)ViewData["Major"];
}

@section heading{
    <h1>Major</h1>
}
<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<style>

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: none;
    }
</style>
<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <a asp-action="Create" class="btn btn-primary" asp-route-universityId="@majorView.universityId" asp-route-educationlevelId="@majorView.educationlevelId">
                    <i class='fa fa-plus'></i>
                    @T.T("Admin.Create")
                </a>

                <div class="box-tools">

                </div>
                <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                    <br />
                    <form asp-action="Index" asp-controller="Major">
                        <div class="col-lg-5">
                            @T.T("Admin.University") @T.T("Admin.Name") : <select id="universityId" name="universityId" class="form-control select2" asp-items="@majorView.UniversityList">
                                <option>All University</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            @T.T("Admin.EducationLevel") : <select id="educationlevelId" name="educationlevelId" class="form-control select2" asp-items="@majorView.EducationLevelList">
                                <option>All Major</option>
                            </select>

                        </div>
                        <br />
                        <input type="submit" value="Search" class="btn btn-default" />
                    </form>
                </div>

                <!-- /.box-header -->

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 50%;">
                                    @T.T("Admin.Name")
                                </th>

                                <th style="width: 50%;">@T.T("Admin.Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Major item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.Name)
                                    </td>

                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> @T.T("Admin.Delete")</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*<div class="text-center">
                            <div class="pagination">
                                <pager />
                            </div>
                        </div>*@
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".select2").select2();
        $(".table").DataTable();
    });
</script>