@model MIC.AseanTalentSearch.Web.EF.PositionJob

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>PositionJob</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CompanyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="JobTypeId" class ="form-control" asp-items="ViewBag.JobTypeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PositionTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OpenDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OpenDate" class="form-control" />
                <span asp-validation-for="OpenDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClosedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClosedDate" class="form-control" />
                <span asp-validation-for="ClosedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EducationLevelId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EducationLevelId" class ="form-control" asp-items="ViewBag.EducationLevelId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobLevelId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="JobLevelId" class ="form-control" asp-items="ViewBag.JobLevelId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PayStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PayStatus" class="form-control" />
                <span asp-validation-for="PayStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PayStatusView" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PayStatusView" class="form-control" />
                <span asp-validation-for="PayStatusView" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxPay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxPay" class="form-control" />
                <span asp-validation-for="MaxPay" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MinPay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MinPay" class="form-control" />
                <span asp-validation-for="MinPay" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Currency" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobDescription" class="form-control" />
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearsOfExperienceRequirement" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="YearsOfExperienceRequirement" class="form-control" />
                <span asp-validation-for="YearsOfExperienceRequirement" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SkillRequirement" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SkillRequirement" class="form-control" />
                <span asp-validation-for="SkillRequirement" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Responsibilities" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Responsibilities" class="form-control" />
                <span asp-validation-for="Responsibilities" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobStatus" class="form-control" />
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TravelRequired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TravelRequired" class="form-control" />
                <span asp-validation-for="TravelRequired" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TopNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TopNumber" class="form-control" />
                <span asp-validation-for="TopNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
