@model MIC.AseanTalentSearch.Web.EF.PositionJob

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PositionJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.PositionTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayStatusView)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayStatusView)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxPay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxPay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinPay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinPay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsOfExperienceRequirement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsOfExperienceRequirement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SkillRequirement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SkillRequirement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Responsibilities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Responsibilities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationLevel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobLevel.JobLevelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobType.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
