@model PositionJob

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section heading{
    <h1>Edit Position Job</h1>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Edit">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Id" />
                            <label class="control-label col-md-2">@T.T("Admin.Companyname")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.Company.Name</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.JobType")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.JobType.Name</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.Title")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.PositionTitle</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.Code")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.Code</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@T.T("Admin.EducationLevel")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.EducationLevel.Name</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.MaxPay")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.MaxPay</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.MinPay")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.MinPay</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Currency" class="col-md-2 control-label">@T.T("Admin.Currency")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Model.Currency</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="JobDescription" class="col-md-2 control-label">@T.T("Admin.JobDescription")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Html.Raw(Model.JobDescription)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="SkillRequirement" class="col-md-2 control-label">@T.T("Admin.SkillRequirement")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Html.Raw(Model.SkillRequirement)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Responsibilities" class="col-md-2 control-label">@T.T("Admin.Responsibilities")</label>
                            <div class="col-md-10" style="padding-top: 8px">
                                <p>@Html.Raw(Model.Responsibilities) </p>
                            </div>
                        </div>
                        <div class="form-group">
                        <label asp-for="CreatedDate" class="col-md-2 control-label">@T.T("Admin.CreateDate")</label>
                        <div class="col-md-10" style="padding-top: 8px">
                            <p>@Model.CreatedDate</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="JobStatus" class="col-md-2 control-label">@T.T("Admin.Status")</label>
                        <div class="col-md-10 checkbox" style="padding-top:0;">
                            <input id="toggle-activeStatus" type="checkbox" @Html.Raw(Model.JobStatus != null && Model.JobStatus.Value ? "checked" : "") data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                            <input id="activeStatus-value" type="hidden" asp-for="JobStatus" value="@Html.Raw(Model.JobStatus != null && Model.JobStatus.Value ? "True" : "False")" />
                            <span asp-validation-for="JobStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@T.T("Admin.Save")" class="btn btn-default" />
                        </div>
                    </div>

            </div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
</div>

@*<form asp-action="Edit">
        <div class="form-horizontal">
            <h4>PositionJob</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobTypeId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="JobTypeId" class="form-control" asp-items="ViewBag.JobTypeId"></select>
                    <span asp-validation-for="JobTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PositionTitle" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PositionTitle" class="form-control" />
                    <span asp-validation-for="PositionTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OpenDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="OpenDate" class="form-control" />
                    <span asp-validation-for="OpenDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClosedDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ClosedDate" class="form-control" />
                    <span asp-validation-for="ClosedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EducationLevelId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="EducationLevelId" class="form-control" asp-items="ViewBag.EducationLevelId"></select>
                    <span asp-validation-for="EducationLevelId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobLevelId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="JobLevelId" class="form-control" asp-items="ViewBag.JobLevelId"></select>
                    <span asp-validation-for="JobLevelId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PayStatus" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PayStatus" class="form-control" />
                    <span asp-validation-for="PayStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PayStatusView" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PayStatusView" class="form-control" />
                    <span asp-validation-for="PayStatusView" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MaxPay" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="MaxPay" class="form-control" />
                    <span asp-validation-for="MaxPay" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MinPay" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="MinPay" class="form-control" />
                    <span asp-validation-for="MinPay" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Currency" class="form-control" />
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="JobDescription" class="form-control" />
                    <span asp-validation-for="JobDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="YearsOfExperienceRequirement" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="YearsOfExperienceRequirement" class="form-control" />
                    <span asp-validation-for="YearsOfExperienceRequirement" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SkillRequirement" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SkillRequirement" class="form-control" />
                    <span asp-validation-for="SkillRequirement" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Responsibilities" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Responsibilities" class="form-control" />
                    <span asp-validation-for="Responsibilities" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobStatus" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="JobStatus" class="form-control" />
                    <span asp-validation-for="JobStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TravelRequired" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="TravelRequired" class="form-control" />
                    <span asp-validation-for="TravelRequired" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TopNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="TopNumber" class="form-control" />
                    <span asp-validation-for="TopNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>
@* change active status *@
<script>
    $(function () {
        $('#toggle-activeStatus').change(function () {

            $('#activeStatus-value').val($(this).prop('checked'));
        })
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
