@model Sakura.AspNetCore.IPagedList<PositionJob>
@*@model ReflectionIT.Mvc.Paging.PagingList<MIC.AseanTalentSearch.Web.EF.PositionJob>*@
@*@using ReflectionIT.Mvc.Paging*@
@*@addTagHelper *, ReflectionIT.Mvc.Paging*@
@{
    ViewData["Title"] = "List PositionJob";
}
@section heading{
    <h1>Active Position Job</h1>
}
<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
@*<style type="text/css">
    p.text-clip {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    table.table-hover tr th {
        float: left;
        display: block;
    }

    table.table-hover tr td {
        float: left;
        display: block;
    }
</style>*@
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            @*<form method="get">
                    <select name="filter"  asp-for ="@Model.RouteValue["Filter"]" asp-items="@ViewBag.ActiveList">
                            <option value="1" > All</option>
                            <option value="2"> Actived</option>
                            <option value="3"> No Actived</option>
                        </select>
                    <select name="filter">
                        <option value="1"> All</option>
                        <option value="2"> Actived</option>
                        <option value="3"> No Actived</option>
                    </select>

                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                    </button>
                </form>*@
            <!-- /.box-header -->
            <div class="row">
                <form method="get">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">@T.T("Admin.ActiveStatus")</label>
                            <div class="col-md-8">
                                <select asp-items="@(ViewBag.ActiveList)" class="form-control" name="filter" id="SelectStatus"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <hr />
            <div class="box table-responsive no-padding">
                <table class="table table-hover" style="min-width:500px;">
                    <thead>
                        <tr>
                            <th width="55%">
                                @T.T("Admin.Title")
                            </th>
                            <th class="text-center" width="15%">@T.T("Admin.PostedDate")</th>
                            <th class="text-center" width="15%">@T.T("Admin.ActiveStatus")</th>
                            <th class="text-center" width="15%">@T.T("Admin.Action")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="height: 10px;">
                                <td width="55%">
                                    <span style="overflow:hidden; text-overflow:ellipsis;display:block; ">
                                        @Html.DisplayFor(m => item.PositionTitle)
                                    </span>
                                </td>
                                <td class="text-center" width="15%">
                                    @(string.Format("{0:dd/MM/yyyy}", item?.CreatedDate))

                                </td>
                                <td class="text-center" width="15%">
                                    <input id="toggle-activeStatus" value="@item.Id" onchange="StatusChange(@item.Id)" type="checkbox" @Html.Raw(item.JobStatus != null && item.JobStatus.Value ? "checked" : "") data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning" />
                                    @*<input id="toggle-activeStatus" type="checkbox" @Html.Raw(item.JobStatus != null && item.JobStatus.Value ? "checked" : "") data-toggle="toggle" data-on="Active" data-off="Not active" data-onstyle="success" data-offstyle="warning">
                                        <input id="activeStatus-value" type="hidden" asp-for="JobStatus" value="@Html.Raw(item.JobStatus != null && item.JobStatus.Value ? "True" : "False")" />
                                        <span asp-validation-for="item.JobStatus" class="text-danger"></span>*@
                                </td>

                                @*<td>
                                        <div class="checkbox disabled">
                                            <label>
                                                <input type="checkbox" @Html.Raw(item.JobStatus != null && item.JobStatus.Value ? "checked" : "") disabled data-toggle="toggle" data-on="Active" data-off="Not active" data-onstyle="success" data-offstyle="warning">
                                            </label>
                                        </div>
                                    </td>*@
                                <td class="text-center" width="15%">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info" @*style="background-color: crimson; border-color: crimson" *@><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @*<div class="text-center">
                    <ul class="pagination">
                        <pager />
                    </ul>
                </div>*@

                @*<nav aria-label="Suppliers navigation example">
                        <vc:pager paging-list="@Model" />
                    </nav>*@

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script>
    function StatusChange(val) {
        $.ajax({
            url: "/Admin/PositionJob/ChangeStatus",
            type: "get",
            data: {
                JobId: val,
            },
            success: function (resual) {

            }
        });
    }
    $(function () {
        $(".table").DataTable();
    })

    //$(function () {

    //    $('#toggle-activeStatus').change(function () {
    //        var value = $(this).value;
    //        alert(value);
    //    })
    //})
</script>