@model IEnumerable<MIC.AseanTalentSearch.Web.EF.CompanyCategory>
@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
}
<section class="animated fadeIn">
    @await Html.PartialAsync("Partial/_ModelStatePartial")
    <a asp-area="Employer" asp-controller="CompanyCategories" asp-action="Create" asp-route-companyId="@ViewBag.CompanyId" 
       class="btn btn-add-n btn-fill-horz" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyCategory">
    <i class="fa fa-plus" aria-hidden="true"></i> Add new</a>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClosedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @if (item.ActiveStatus ?? false)
                            {
                                <span class="full-time">Actived</span>
                            }
                            else
                            {
                                <span class="part-time">No actived</span>
                            }
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ActiveDate)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ClosedDate)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ModifiedDate)
                        </td>
                        <td>
                            <ul>
                                <li><a asp-area="Employer" asp-controller="CompanyCategories" asp-action="Edit" asp-route-categoryId="@item.CategoryId" asp-route-companyId="@item.CompanyId" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyCategory"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                                <li><a asp-area="Employer" asp-controller="CompanyCategories" asp-action="Delete" asp-route-categoryId="@item.CategoryId" asp-route-companyId="@item.CompanyId" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyCategory"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-gray">No data ..</h4>
    }
</section>
