﻿@using MIC.AseanTalentSearch.Web.EF
@model IEnumerable<MIC.AseanTalentSearch.Web.EF.Layout>

<style>
    .btn-primary {
        background: #3c8dbc !important;
    }

        .btn-primary:hover {
            background: #00b3db !important;
        }
</style>
@{
    Candidate candidate = (Candidate)ViewBag.Candidate;


    var url = string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host);
}
<section id="layout-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <h3 class="box-title">Your CV@(candidate.Cvlink == null ? "(no)" : "")</h3>
                        <a asp-controller="Candidate"
                           asp-action="AddYourCV"
                           class="box-tools pull-right"
                           data-ajax="true"
                           data-toggle="modal"
                           data-target="#modal-edit"
                           data-ajax-loading="#loading-area"
                           data-ajax-failure="OnFailure"
                           data-ajax-update="#modal-default .modal-content">
                            <i class="@(candidate.Cvlink==null?"fa fa-plus":"fa fa-pencil")" title="@(candidate.Cvlink==null?"Add CV":"Update CV")" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (candidate.Cvlink != null)
                        {
                            string extension = candidate.Cvlink.Split('.')[candidate.Cvlink.Split('.').Length - 1];
                            if (extension.ToUpper().Equals("PDF"))
                            {
                                <img class="img-responsive pad" src="~/images/pdf_icon_300.jpg" alt="Photo">
                            }
                            else
                            {
                                <img class="img-responsive pad" src="~/images/word_icon_300.jpg" alt="Photo">
                            }
                            <a asp-controller="Candidate" asp-action="ActiveYourCV"  class="btn btn-success" style="margin-top:0 !important;">
                                @if (candidate.LayoutId == null)
                                {<i class="fa fa-check"></i>}
                                Active
                            </a>
                            <a target="_blank" asp-action="PreviewCV" asp-controller="CurriculumVitae" asp-route-id="@candidate.Cvid" class="btn btn-warning">Preview</a>
                            if (candidate.LayoutId == null)
                            {
                                <a href="#" class="btn btn-primary" id="copyLink">Copy CV Link</a>

                                <a href="@(url+Url.Action("ShowCv", "CurriculumVitae", new { id=candidate.Cvid }))" hidden id="linkURL"></a>
                            }
                        }
                        else
                        {
                            <img class="img-responsive pad" src="~/images/no_image_icon_300.jpg" alt="Photo">
                        }
                    </div>
                </div>
            </div>

            @foreach (var item in Model)
            {


                <div class="col-md-4 col-sm-6">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title">@item.Title</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="@Url.Content($"~/Themes/{@item.Title}/thumbnail.jpg")" alt="Photo">
                            <a asp-controller="Candidate" asp-action="ActiveLayout" asp-route-layoutName="@item.Title" class="btn btn-success" style="margin-top:0 !important;">
                                @if (item?.Title == candidate?.Layout?.Title)
                                {<i class="fa fa-check"></i>} Active
                            </a>
                            <a target="_blank" asp-action="Index" asp-route-name="@item.Title" asp-route-id="@candidate.Cvid" class="btn btn-warning">Preview</a>

                            @if (item?.Title == candidate?.Layout?.Title)
                            {
                                <a href="#" class="btn btn-primary" id="copyLink">Copy CV Link</a>

                                <a href="@(url+Url.Action("ShowCv", "CurriculumVitae", new { id=candidate.Cvid }))" hidden id="linkURL"></a>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $("#copyLink").click(function (e) {
            e.preventDefault();
            var dc = $("#linkURL").attr('href').toString();
            var aux = document.createElement("input");
            aux.setAttribute("value", dc);
            document.body.appendChild(aux);
            aux.select();
            // Copy the highlighted text
            var x = document.execCommand("copy");
            if (x == true) {

                toastr.success("Copy CV link to Clipboard Success");
            } else {
                toastr.error("Copy CV link to Clipboard Fail");

            }
            // Remove it from the body
            document.body.removeChild(aux);

        });

    });
</script>