
@{
    Layout = null;
    string url = string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host) + @Url.Content("/Uploads/CV/" + @ViewBag.CVLink);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.CVName</title>
</head>
<body>
    <iframe height="925" width="100%" src="@("http://docs.google.com/gview?url="+@url+"&embedded=true")"
            frameborder="0"></iframe>
</body>
</html>
