﻿@model Company
@if (Model != null)
{
    <div id="banner-child" class="fill" style="background:url('/images/image-new/banner-profile.jpg')">
        <div class="container">
            <div class="manager-banner-e">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="info-user">
                                <form method="post" asp-controller="Candidate" asp-action="UploadFilesAjax" enctype="multipart/form-data">
                                    <div class="avatar-profile-e">
                                        @await Html.PartialAsync("Partial/_CompanyLogoPartial", Model)
                                    </div>
                                    <div style="float:left">
                                        <h4>@Model.Name</h4>
                                        <p></p>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <h3 style="text-transform:uppercase">Looking for a Job</h3>
                            <p class="text-right">Join thousand of emplyers and earn what you deserve</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @*<aside>
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-info" style="height: auto !important; padding-bottom: 60px;">
                <h3 class="widget-user-username">@Model.Name</h3>
            </div>
            <div id="OuterContaier_CompanyLogo" class="widget-user-image" style="position: relative !important; top: -45px;">
            </div>

            <div class="box-footer no-padding">
                <div class="row">
                    <div class="description-block">
                        <h5 class="description-header text-blue">@Model.Email</h5>
                        <span class="description-text text-muted">@Model.Phone</span>
                        <div class="description-text text-muted text-sm">@Model.Address</div>
                    </div>
                </div>
                <ul class="nav nav-stacked">
                    <li>
                        <a asp-area="Employer" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard text-aqua margin-r-5"></i>Management Page</a>
                    </li>
                    <li>
                        <a asp-area="Employer" asp-controller="Home" asp-action="Profile"><i class="fa fa-bookmark-o text-aqua margin-r-5"></i>Profile settings</a>
                    </li>
                    <li>
                        <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Index"><i class="fa fa-star text-aqua margin-r-5"></i>Recruitment</a>
                    </li>
                    <li>
                        <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSearch"><i class="fa fa-search text-aqua margin-r-5"></i>Search Candidate</a>
                    </li>
                    <li>
                        <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSubmit"><i class="fa fa-heart text-aqua margin-r-5"></i>Submitted Candidates</a>
                    </li>
                    <li>
                        <a href="@Url.Content("/manage/changepassword")"><i class="fa fa-lock text-aqua margin-r-5"></i>Change password</a>
                    </li>
                </ul>

            </div>
        </div>
    </aside>*@
}