﻿@using System.Security.Claims
@using MIC.AseanTalentSearch.Web.Areas.Employer.Helpers
@model IEnumerable<MIC.AseanTalentSearch.Web.EF.InterviewInvitation>
@{
    Layout = null;
    long companyId;
    var comId =  long.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out companyId) ? (object)companyId : null;
}
@if (Model.Any())
{
    <div class="box box-info">
        <div class="box-header with-border bg-gray-light">
            <h3 class="box-title">Interview Invitation : <span class="badge bg-orange">@Model.Count()</span> <small>letters</small> </h3>
        </div>
        <div class="box-body no-padding">
            <div class="mailbox-controls">
            <!-- Check all button -->
            <button id="CheckAllLetter_Btn" type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            
            <div class="btn-group">
                <button id="InterviewInvitation_DeleteBtn" type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            </div>
            
            <a asp-area="Employer" 
                asp-controller="InterviewInvitations" 
                asp-action="Index" 
                asp-route-companyId="@comId" 
                data-ajax="true" data-ajax-method="post" 
                data-ajax-update="#Outer_InterviewInvitation" 
                data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr);"
                class="btn btn-default btn-sm">
                <i class="fa fa-refresh"></i>
            </a>
            </div>
            <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>
                    @foreach(var item in Model) {
                        <tr>
                            <td>
                                <input type="checkbox" name="InterviewInvitation" value="@item.Id">
                            </td>
                            <td class="mailbox-name"><a href="@Url.Content("/CurriculumVitae?candidateId=" + item.Candidate.Id)">@item.Candidate.FullName</a></td>
                            <td class="mailbox-subject">
                                <a asp-area="Employer" asp-controller="InterviewInvitations" asp-action="Edit" asp-route-id="@item.Id" class="text-bold">@item.Title ...</a>
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">@Humanize.GetElapsedTime(item.CreatedDate ?? DateTime.Now)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>
    </div>
}
else
{
    <div class="callout callout-info">
        <h4>Notification !</h4>
        There is no Interview Invitation Letter inbox ...
    </div>
}
<form id="InterviewInvitation_Form"
                asp-area="Employer"
                asp-controller="InterviewInvitations" 
                asp-action="Delete" 
                asp-route-companyId="@comId" 
                data-ajax="true" data-ajax-method="post" 
                data-ajax-update="#Outer_InterviewInvitation" 
                data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr);"
                class="hidden">
                <div id="Formcon"></div>
                <button type="submit">Delete</button>
                                
</form>
<script>
    $(function() {
        $('#InterviewInvitation_DeleteBtn').on('click', function() {
            let form = $('#Formcon');
            form.text('');
            $('input[name=InterviewInvitation]').each(function() {
                form.append($(this).clone());
            });
            $('#InterviewInvitation_Form').find('button').first().click();
        });
        $('#CheckAllLetter_Btn').on('click', function() {
            if($(this).hasClass('actived')) {
                $('input[name=InterviewInvitation]').each(function() {
                    $(this).prop('checked', false);
                });
                $(this).removeClass('actived');
            } else {
                $('input[name=InterviewInvitation]').each(function() {
                    $(this).prop('checked', true);
                });
                $(this).addClass('actived');
            }            
        });
    }); 
</script>
