﻿@using System.Security.Claims
@model IEnumerable<PositionJob>
@{
    Layout = null;
}
@*@if (Model.Any())
    {
        <div class="row animated fadeIn">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border bg-gray-light">
                        <h3 class="box-title">
                            Recently Post Recruitments
                        </h3>
                    </div>
                    <div class="box-body no-padding bg-gray-light">
                        <a asp-area="Employer" asp-controller="Home" asp-action="Recruitment" asp-route-companyId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="uppercase btn btn-info btn-flat pull-right"><i class="fa fa-plus margin-r-5"></i> Add new recruitment</a>

                    </div>
                    <div class="box-body">
                        @await Html.PartialAsync("Partial/_ModelStatePartial")
                        <ul class="products-list product-list-in-box">
                            @foreach (var item in Model)
                            {
                                <li class="item">
                                    <div class="product-img pad margin-r-5" style="min-width: 80px">
                                        @{
                                            var quantity = item.Quantity ?? 0;
                                        }
                                        <h2 class="no-margin text-aqua">@quantity </h2><small>candidates</small><br/>
                                        @if (item.JobTypeId == 1)
                                        {
                                            <span class="label label-success">@item.JobType.Name</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning">@item.JobType.Name</span>
                                        }
                                        <br/>
                                    </div>
                                    <div class="product-info">
                                        <span class="info-box-text"><b style="font-size: 18px;">@item.PositionTitle</b></span>
                                        <span class="product-description">OpenDate : @string.Format("{0:d}", item.OpenDate)</span>
                                        <span class="product-description">ClosedDate : @string.Format("{0:d}", item.ClosedDate)</span>
                                        <span class="product-description">Submitted Candidates : <span class="badge bg-orange">@item.JobApplication.Count</span></span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="box-footer pull-right">
                        <span class="margin-r-5">Last post :</span> <span class="text-bold text-muted"> @string.Format("{0:g}",Model.ElementAt(0)?.CreatedDate)</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="callout callout-info">
            <h4>Notification !</h4>
            There is no recruitment of your company ...
        </div>
    }*@

@if (Model.Any())
{
<h3 class="title-employer">
    <i class="fa fa-square" aria-hidden="true"></i>
    Recently Post Recruitments
</h3>
                @*<div class="box-body no-padding bg-gray-light">
                    <a asp-area="Employer" asp-controller="Home" asp-action="Recruitment" asp-route-companyId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="uppercase btn btn-info btn-flat pull-right"><i class="fa fa-plus margin-r-5"></i> Add new recruitment</a>
                </div>*@

    @await Html.PartialAsync("Partial/_ModelStatePartial")
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job type</th>
                <th>open &amp; close day</th>
                <th>apply</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul>
                            <li>@item.PositionTitle</li>
                            @{
                                var quantity = item.Quantity ?? 0;
                            }
                            <li><em style="font-size:14px">@quantity candidates</em></li>
                        </ul>
                    </td>
                    <td>
                        @if (item.JobTypeId == 1)
                        {
                            <span class="full-time">@item.JobType.Name</span>
                        }
                        else
                        {
                            <span class="part-time">@item.JobType.Name</span>
                        }
                    </td>
                    <td>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        @string.Format("{0:d}", item.OpenDate) - @string.Format("{0:d}", item.ClosedDate)
                    </td>
                    <td>@item.JobApplication.Count Applied</td>
                </tr>
            }
        </tbody>
    </table>
    <p class="pull-right">last post: <span style="font-weight: 700;">@string.Format("{0:g}", Model.ElementAt(0)?.CreatedDate)</span></p>

}
else
{
    <div class="callout callout-info">
        <h4>Notification !</h4>
        There is no recruitment of your company ...
    </div>
}