﻿@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@*<div class="info-box">
    <span class="info-box-icon bg-gray-light"><i class="fa fa-play text-aqua"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Link Medias</span>
        <span class="info-box-number">@ViewBag.MediaCount</span>
    </div>
</div>

<div class="info-box animated">
    <span class="info-box-icon bg-gray-light"><i class="fa fa-paper-plane-o text-aqua"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Benefits</span>
        <span class="info-box-number">@ViewBag.BenefitCount</span>
    </div>
</div>

<div class="info-box animated">
    <span class="info-box-icon bg-gray-light"><i class="fa fa-th-large text-aqua"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Categories</span>
        <span class="info-box-number">@ViewBag.CategoryCount</span>
    </div>
</div>*@
    <div class="content-p">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <ul>
                        <li><i class="fa fa-link" aria-hidden="true"></i></li>
                        <li><span>@ViewBag.MediaCount</span></li>
                        <li>Link media</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <ul>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li><span>@ViewBag.BenefitCount</span></li>
                        <li>Benefits</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <ul>
                        <li><i class="fa fa-th-large" aria-hidden="true"></i></li>
                        <li><span>@ViewBag.CategoryCount</span></li>
                        <li>Categories</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
