﻿@using System.Security.Claims
@using MIC.AseanTalentSearch.Web.Areas.Employer.Helpers
@model Sakura.AspNetCore.IPagedList<Candidate>
@{
    Layout = null;
}
@if (Model.Any())
{
    <div class="box box-danger">
        <div class="box-header with-border bg-gray-light">
            <h3 class="box-title">
                Suggest Candidate <span class="badge bg-yellow margin-r-5">@Model.Count()</span><small>candidates</small>
            </h3>
        </div>
        <div class="box-body no-padding bg-gray-light">
            <div class="pull-right">
                <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSearch" asp-route-companyId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="btn btn-info btn-flat"><i class="fa fa-search margin-r-5"></i> Search Candidate</a>
                <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSubmit" asp-route-companyId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="btn btn-info btn-flat"><i class="fa fa-heart margin-r-5"></i> Submitted Candidate</a>
            </div>        
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <div class="info-box animated zoomIn">
                    <span class="info-box-icon bg-gray-light">
                        @if (item.Image == null)
                        {
                            <img src="~/images/avatar.png" width="150" class="img-responsive img-bordered border-aqua" />
                        }
                        else if (item.Image.Contains("http"))
                        {
                            <img src="@Url.Content(item.Image)" width="150" class="img-responsive img-bordered border-aqua" />
                        }
                        else
                        {
                            var avatar = PathUpLoad.Value.FrontImage + item.Image;
                            <img src="@avatar" width="150" class="img-responsive img-bordered border-aqua" />
                        }
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text text-bold">@item.FullName</span>
                        <span class="info-box-text text-muted">
                            <i class="fa fa-clock-o fa-fw text-aqua"></i> @Humanize.GetElapsedTime(item.ActiveDate ?? DateTime.Now)
                        </span>
                        <span class="info-box-text text-muted">
                            <i class="fa fa-product-hunt fa-fw text-aqua"></i>
                            @foreach (var lo in item.CandidateCategory)
                            {
                                <small class="margin-r-5">@lo.Category.Name</small>
                            }
                        </span>
                        <span class="info-box-text text-muted">
                            <i class="fa fa-map-marker fa-fw text-aqua"></i>
                            @foreach (var lo in item.CandidateLocation)
                            {
                                <small class="margin-r-5">@lo.Location.Name</small>
                            }
                        </span>
                        <div id="suggestCandidate_@item.Id" class="panel-collapse collapse out" aria-expanded="true">
                            <span class="info-box-text text-muted">
                                <i class="fa fa-share-alt fa-fw text-aqua"></i>
                                @foreach (var lo in item.CandidateSkill)
                                {
                                    <small class="margin-r-5">@lo.Skill.Name</small>
                                }
                            </span>
                            <span class="info-box-text text-muted">
                                <i class="fa fa-star fa-fw text-aqua"></i>
                                @item.ExpectedJobLevel.JobLevelName
                            </span>
                            <span class="info-box-text text-muted">
                                <i class="fa fa-language fa-fw text-aqua"></i>
                                @foreach (var lo in item.CandidateLanguage)
                                {
                                    <small class="margin-r-5">@lo.Language.Name</small>
                                }
                            </span>
                            <span class="info-box-text text-muted">
                                <i class="fa fa-dollar fa-fw text-aqua"></i>
                                @string.Format("{0:N0}", item.ExpectedSalary)
                            </span>
                        </div>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="@Url.Content("/CurriculumVitae/ShowCv?id=" + item.Cvid)" target="blank" class="btn btn-default btn-sm btn-flat text-aqua">Profile</a>
                        <a asp-area="Employer" 
                           asp-controller="InterviewInvitations" 
                           asp-action="Create" 
                           asp-route-candidateId="@item.Id" 
                           asp-route-companyId="@ViewBag.CompanyId" 
                           asp-route-positionJobId="@item.Id" 
                           target="blank" 
                           class="btn btn-default btn-sm btn-flat text-aqua">
                            Invite</a>
                        <a data-toggle="collapse" href="#suggestCandidate_@item.Id" class="btn btn-default btn-sm btn-flat text-aqua">Show details</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    </div>

    <div class="text-center">
        <ul class="pagination">
            <pager />
        </ul>
    </div>
    <nav aria-label="Suppliers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>
}
