﻿@model ProfileViewModel
<style>
    .image-absolute{
        position:absolute;
        left:50px;
    }
    .image-avatar {
        width: 60px;
        height: 60px;
        border: 1px solid #fff7f2;
    }
    .al-center{
        text-align:center;
    }

</style>

@Html.Partial("~/Views/Candidate/_ManagerBar.cshtml",Model)
        @*<div class="box box-widget widget-user-2">
             Add the bg color to the header using any of the bg-* classes
            @*<form method="post" asp-controller="Candidate" asp-action="UploadFilesAjax" enctype="multipart/form-data">
                <div class="widget-user-header bg-yellow clearfix">
                    <div class="widget-user-image">
                        <input type="file" name="files" id="files" style="display: none;" />
                        <img onclick="preventDefault(event); document.getElementById('files').click();" class="img-circle equalsize" src="@(String.IsNullOrEmpty(Model?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(Model.Image))" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">@(Model?.FullName??"Updating...")</h3>
                    <h5 class="widget-user-desc">Lead Developer</h5>
                </div>
            </form>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li>
                        <div style="padding-top:15px;padding-left:15px;">
                            <h4 class="pull-left no-margin">Publish CV?</h4>
                            <label class="switch" style="margin-left:10px;margin-top:-4px;">
                                @{
                                    var isCheck = Model.IsPublishCV == true ? "checked = checked" : "";
                                }
                                <input name="isPublish" id="isPublish" type="checkbox" @isCheck>
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </li>
                    <li><a asp-controller="Candidate" asp-action="Profile">Profile</a></li>
                    <li><a asp-controller="CurriculumVitae" asp-action="ListCV">CV</a></li>
                    <li><a asp-controller="Comment" asp-action="Index" asp-route-candidateId="@Model.CvId">Comments</a></li>
                    <li><a asp-controller="Candidate" asp-action="ListSavedJob">Saved Jobs</a></li>
                    <li><a asp-controller="Candidate" asp-action="ListAppliedJob">Applied Jobs</a></li>
                    <li><a asp-controller="Candidate" asp-action="InterviewInvitation">Interview Invitations <span class="badge bg-orange">@Model.InterviewInvitationCount</span></a></li>
                    <li><a asp-controller="Manage" asp-action="ChangePassword">Reset Password</a></li>
                    <li>
                        <div style="padding:10px 0;" >
                            <p class="al-center" style="padding:10px;font-size:18px;font-weight:bold;color:#0082c3;">13</p>
                            <p class="al-center"><b>Your connections</b></p>
                            <center>
                                <a href="#" style="color:#0082c3;font-weight:bold;">See all</a>
                            </center>
                                <div style="margin:40px 0; position:relative; height:60px;" id="parent_avatar">
                                    <img title="Toan1" src="https://pbs.twimg.com/profile_images/831993825635745796/HnVmB0-k.jpg" class="img-circle image-absolute image-avatar" />
                                    <img title="Toan2" src="~/images/avatar.png" class="img-circle image-absolute image-avatar" />
                                    <img title="Toan3" src="http://i0.kym-cdn.com/photos/images/masonry/001/271/056/1c3.jpg" class="img-circle image-absolute image-avatar" />
                                    <img title="Toan4" src="https://wordsmith.org/words/images/avatar2_large.png" class="img-circle image-absolute image-avatar" />
                                </div>
                            <div class="al-center" style="padding:10px 0;">
                                <a asp-controller="Candidate" asp-action="MyFriends" style="color:#338ab5;">Find connections</a>
                            </div>
                        </div>
                    </li>

                    @*<li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                </ul>
            </div>
        </div>*@

    <script>
    function preventDefault(e) {
        e.preventDefault();
    }
    $(document).ready(function () {
        @*@if (!ViewData.ModelState.IsValid)
        {
            foreach (var value in ViewData.ModelState.Values)
            {
                foreach (var item in value.Errors)
                {
                    @:toastr.warning("@item.ErrorMessage");
                }
            }
        }*@

        $("#files").change(function (evt) {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadFilesAjax")",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.warning('Warning! An error is occurred, please try again!');
                }
            });
        });

        //publish CV
        $("#isPublish").change(function () {
            var $this = $(this);
            var data = $(this).is(":checked");
            $.ajax({
                type: "POST",
                url: "@Url.Action("TogglePublish")",
                data: {isPublish: data},
                success: function () {

                        toastr.success('Update successed!');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.warning('Warning! An error is occurred, please try again!');
                }
            });
        });


      //handle avatar
        $(window).on('resize', '', { 'width': $('#parent_avatar').width() }, onResizeWatch);
        //run on load page
        changePositionAvatar();

        function onResizeWatch(e) {
            changePositionAvatar();
            //console.log('old width', e.data.width);
            //console.log('new width', $('#parent_avatar').width());
            $(window).off('resize');
            $(window).on('resize', '', { 'width': $('#parent_avatar').width() }, onResizeWatch);
        }
        function changePositionAvatar() {
            var listImage = $('#parent_avatar').children();
            var widthOfAllImage = (listImage.length - 1) * 40 + 60;
            var leftImageStar = ($('#parent_avatar').width() - widthOfAllImage) / 2;
            for (var i = 0; i < listImage.length; i++) {
                listImage.eq(i).css({
                    left: leftImageStar + (i * 40)
                });
            }
        }

    });
    </script>
