@model MIC.AseanTalentSearch.Web.EF.InterviewInvitation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InterviewInvitation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LetterContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LetterContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendToEmailCandidate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendToEmailCandidate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Candidate.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionJob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionJob.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
