@using System.Security.Claims
@model MIC.AseanTalentSearch.Web.EF.InterviewInvitation

@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
    ViewData["Title"] = "Create";
}
<div class="box box-info">
    <div class="box-header with-border bg-gray-light">
        <h3 class="box-title">Interview Invitation Job : <span class="text-info">@Model.PositionJob.PositionTitle</span></h3>
    </div>
    <form asp-area="Employer" asp-controller="InterviewInvitations" asp-action="Edit" data-ajax="true" data-ajax-method="post" data-ajax-success="$(this).displayValidation(xhr);notifyStatusCode(xhr);" data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr);">
        <div class="box-body">
            <div class="form-group">
                @await Html.PartialAsync("Partial/_ModelStatePartial")
            </div>
            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="CompanyId">
            <input type="hidden" asp-for="CandidateId">
            <input type="hidden" asp-for="CandidateDisable">
            <input type="hidden" asp-for="PositionJobId">
            <input type="hidden" asp-for="ActiveBy" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
            <input type="hidden" asp-for="ActiveDate" value="@DateTime.Now">
            <input type="hidden" name="RecieverEmail" value="@Model.Candidate.Email">
            <input type="hidden" name="SenderName" value="@Model.Company.Name">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">From :</span>
                    <input readonly="readonly" class="form-control" value="@Model.Company.Name" />
                </div>
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">To :</span>
                    <input readonly="readonly" class="form-control" value="@Model.Candidate.FullName" />
                </div>
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Subject :</span>
                    <input asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                            <input asp-for="ContactPhone" class="form-control" placeholder="Contact Phone" />
                        </div>
                        <span asp-validation-for="ContactPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input asp-for="ContactEmail" class="form-control" placeholder="Contact Email" />
                        </div>
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-o fa-fw"></i></span>
                            <input asp-for="ContactPersonName" class="form-control" placeholder="Contact Person Name" />
                        </div>
                        <span asp-validation-for="ContactPersonName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea id="compose-textarea" asp-for="LetterContent" class="form-control tinymce" placeholder="Letter Content" rows="20"></textarea>
                <span asp-validation-for="LetterContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.CheckBox("SendToEmailCandidate", false) @Html.DisplayNameFor(m => m.SendToEmailCandidate)
            </div>
        </div>
        <div class="box-footer">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-info btn-flat" />
                <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSubmit" asp-route-companyId="@Model.CompanyId" class="btn btn-default btn-flat">Submitted Candidates List</a>
            </div>
        </div>
    </form>
</div>

@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
    await Html.RenderPartialAsync("_HtmlEditorScriptsPartial");
}