﻿@model MIC.AseanTalentSearch.Web.EF.Company
@{
    ViewData["Title"] = "Company - " + Model.Name;
}
@await Component.InvokeAsync("SubJobSearchForm")
<section class="alljob-detail content-company-detail">
    <div class="container">
        <div class="info-job">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="job-detail-img">
                                <img src="@Model.Logo" alt />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <h4 class="info-job-t">@Model.Name</h4>
                            <p>
                                <span>@T.T("Company.Phone"):</span>
                                @Model.Phone
                            </p>
                            <p>
                                <span>@T.T("Company.Email"):</span>
                                @Model.Email
                            </p>
                        </div>
                        <div class="col-sm-4 left">
                            <p>
                                <span>@T.T("Company.Website"):</span>
                                <a href="@Model.Website">@Model.Website</a>
                            </p>
                            <p>
                                <span>@T.T("Company.Address"):</span>
                                <span id="address-map" style="font-weight:400">@Model.Address</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="job-detail">
            <div class="row">
                <div class="col-md-8">
                    <div class="job-detail-modal height">
                        <h4 class="job-detail-t">@T.T("Company.Introduction")</h4>
                        <div class="company-detail-text">
                            @Html.Raw(Model.Introduction ?? "")
                        </div>
                        <hr />
                        <h4 class="job-detail-t">@T.T("Company.Benefits")</h4>
                        <div class="benefits">
                            @if (Model.CompanyBenefit != null && Model.CompanyBenefit.Any())
                            {
                                foreach (var item in Model.CompanyBenefit.Select(m => m.Benefit))
                                {
                                    <p><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> @item.Name</p>
                                }
                            }
                        </div>
                    </div>
                    <p class="job-detail-header" style="font-size:24px">
                        <i class="fa fa-square" aria-hidden="false"></i>
                        @T.T("Jobs.RelatedJobs")
                    </p>
                    <div class="job-detail-related">
                        @if (Model.PositionJob != null && Model.PositionJob.Any())
                        {
                            <table class="table table-condensed table-striped">
                                <tbody>
                                @foreach (var item in Model.PositionJob.OrderByDescending(x => x.ClosedDate))
                                {
                                    if (item.JobStatus == true)
                                    {
                                        <tr class="list-group" id="related-job">
                                            <td class="td_image">
                                                <div class="td-img-content">
                                                    <img class="img-responsive" src="@item?.Company.Logo" alt="@item?.Company.Name" />
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item?.Id" title="@item?.PositionTitle">
                                                    <p class="text-bold"> @item?.PositionTitle</p>
                                                </a>
                                                <p>
                                                    <em>
                                                        @item?.Company.Name
                                                    </em>
                                                    @if (item?.JobLocation.Count > 0)
                                                    {
                                                        @Html.Raw("/")
                                                    }
                                                    <span>
                                                        @foreach (var local in item?.JobLocation)
                                                        {
                                                            <a asp-controller="Recruiment" asp-action="Index" asp-route-locationId="@local.LocationId">@(local != item?.JobLocation.Last() ? local.Location.Name + "," : local.Location.Name)</a>
                                                        }
                                                    </span>
                                                </p>
                                            </td>
                                            <td class="right">
                                                <p style="float:right">
                                                    <i class="fa fa-clock-o"></i>
                                                    @string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                }
                                    </tbody>
                                </table>
                          }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="height">
                        <div class="share-job">
                            <p class="job-detail-header">
                                <i class="fa fa-square" aria-hidden="true"></i>
                                @T.T("Company.LocationMap")
                            </p>
                            <div id="map-page">
                                <div id="map">

                                </div>
                            </div>
                            <p class="job-detail-header">
                                <i class="fa fa-square" aria-hidden="true"></i>
                                @T.T("Company.Information")
                            </p>
                            <div class="company-information">
                                <p>@T.T("Company.PostedJobs"): @Model.PositionJob.Count</p>
                                <p>@T.T("Company.Location"): @Model.Location.Name</p>
                                <p>@T.T("Company.Size"): @Model.CompanySize</p>
                                <p>@T.T("Company.Categories"): <br /><br />
                                    @foreach (var job in Model.CompanyCategory)
                                    {
                                        <a class="btn btn-blue btn-fill-horz" style="margin:5px 0px;" asp-controller="Recruiment" asp-action="Index" asp-route-CategoryId="@job.Category.Id">@job.Category.Name</a>
                                    }
                                </p>
                            </div>
                            <hr />
                            <div class="share">
                                <a target="_blank" href="@(string.IsNullOrEmpty(Model.Facebook)?"#":Model.Facebook.Contains("http")?@Model.Facebook:"https://"+@Model.Facebook)" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a target="_blank" href="@(string.IsNullOrEmpty(Model.Twitter)?"#":(Model.Twitter.Contains("http")?Model.Twitter:"https://"+@Model.Twitter))" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a target="_blank" href="@(string.IsNullOrEmpty(Model.Instagram)?"#":(Model.Instagram.Contains("http")?@Model.Instagram:"https://"+@Model.Instagram))" class="googleplus">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a target="_blank" href="@(string.IsNullOrEmpty(Model.LinkedIn)?"#":(Model.LinkedIn.Contains("http")?@Model.LinkedIn:"https://"+@Model.LinkedIn))" class="linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div id="banner" class="fill" style="background: url('@Url.Content("~/images/banner-company.png")');"></div>*@
<!-- thêm thẻ a cho div.item -->
@*<section id="company-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-widget">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="img-container">
                                    <img src="@Model.Logo" alt="Logo Company" class="img-responsive img-center" width="190"/>                                 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="general-infor-left">
                                    <ul class="list-unstyled">
                                        <li><h3 class="text-bold title-company text-uppercase three-dots-nowrap" style="padding:5px 0px;">@Model.Name</h3></li>
                                        
                                        <li id="address-map"><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Address</li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> @Model.CompanySize</li>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i> @Model.Phone</li>
                                    </ul>
                                </div>
                            </div>
                            @*Mới thêm*@
                           
                            @*<div class="col-md-3">
                                <div class="general-infor-right">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i> @Model.Email</li>
                                        <li><i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank" href="@(string.IsNullOrEmpty(Model.Website)?"#":"http://"+Model.Website)">@Model.Website</a></li>
                                    </ul>
                                    <ul class="icons">
                                        <li><a target="_blank" href="@(string.IsNullOrEmpty(Model.Facebook)?"#":Model.Facebook.Contains("http")?@Model.Facebook:"https://"+@Model.Facebook)" class="icon fa fa-facebook-square"></a></li>
                                        <li><a target="_blank" href="@(string.IsNullOrEmpty(Model.Twitter)?"#":(Model.Twitter.Contains("http")?Model.Twitter:"https://"+@Model.Twitter))" class="icon fa fa-twitter-square"></a></li>
                                        <li><a target="_blank" href="@(string.IsNullOrEmpty(Model.Instagram)?"#":(Model.Instagram.Contains("http")?@Model.Instagram:"https://"+@Model.Instagram))" class="icon fa fa-instagram"></a></li>
                                        <li><a target="_blank" href="@(string.IsNullOrEmpty(Model.LinkedIn)?"#":(Model.LinkedIn.Contains("http")?@Model.LinkedIn:"https://"+@Model.LinkedIn))" class="icon fa fa-linkedin-square"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="box box-widget">
                    <div class="box-body detail-info">
                        <h3>Introduction</h3>
                               
                        <p>@Html.Raw(Model.Introduction ?? "")</p>
                    </div>
                </div>

                <div class="box box-widget">
                    <div class="box-body">
                        <h3>Category</h3>
                        <ul class="list-inline">
                            @if (Model.CompanyCategory != null && Model.CompanyCategory.Any())
                            {
                                foreach (var item in Model.CompanyCategory)
                                {
                                    <li><a asp-controller="Recruiment" asp-action="Index" asp-route-CategoryId="@item.CategoryId" class="btn btn-default">@item?.Category?.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="box box-widget ">
                    <div class="box-body">
                        <h3>Benefits</h3>
                        <ul class="list-unstyled benefits">
                            @if (Model.CompanyBenefit != null && Model.CompanyBenefit.Any())
                            {
                                foreach (var item in Model.CompanyBenefit.Select(m => m.Benefit))
                                {
                                    <li><i class="fa fa-check"></i> @item.Name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>

               
                <h3 style="color:#000000;">Recently Posted Jobs:</h3>
                <div class="box box-widget">
                    <div class="box-body">
                        @if (Model.PositionJob != null && Model.PositionJob.Any())
                        {
                        foreach(var item in Model.PositionJob.OrderByDescending(x=>x.ClosedDate))
                            {
                                if (item.JobStatus == true)
                                {
                                    <ul class="list-group" id="finding-job">
                                        <li class="list-group-item">
                                            <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.Id" style="display:block;" title="@item.PositionTitle">
                                                <div class="clearfix">
                                                    <div class="pull-left" style="width:500px;">
                                                        <div class="media-heading">
                                                            <h4 class="three-dots-nowrap">@item.PositionTitle</h4>
                                                        </div>
                                                        <div class="from-to">@string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)</div>
                                                    </div>
                                                    <div class="salary pull-right">
                                                        @{
                                                            string salary = "Negotiation";
                                                            if (item.MinPay != null || item.MaxPay != null)
                                                            {
                                                                salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                                                            }
                                                        }
                                                        <span id="span-money">@salary</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                 }
                             }
                          }
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box box-widget">
                    <div class="box-body">
                        <section id="map-page">
                            @*<div id="map_company"></div>*@
                        @*</section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<script>
    function initMap() {
        var addressCompany = $("#address-map").text().replace("Street", "").replace("street","");
        var api = "https://maps.googleapis.com/maps/api/geocode/json?address='" + addressCompany + "'&key=AIzaSyAtdbIhcOlK2AaOs8xrt8xoNTj2AB71Kok";
        var uluru;

        jQuery.getJSON(api, function (r) {
            var abc = $.parseJSON(JSON.stringify(r));
            var lat = abc['results'][0].geometry.location.lat;
            var lng = abc['results'][0].geometry.location.lng;
            uluru = { lat: lat, lng: lng };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        });
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtdbIhcOlK2AaOs8xrt8xoNTj2AB71Kok&callback=initMap" async defer></script>
