﻿@model Sakura.AspNetCore.IPagedList<HosttestCompanyViewModel>
@{
    ViewData["Title"] = "Companies";
}
@await Component.InvokeAsync("SubJobSearchForm")

@*<section id="hottest-list">
    <div class="container">
        <h3 class="text-center text-uppercase"> @ViewData["Title"]</h3>
        <hr class="text-center"/>
        <div id="job-search-result" class="box box-solid box-default">
            <div class="box-body">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="job-item">
                            <div class="relative">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-lg-2">
                                        <div class="logo job-search__logo">
                                            <a class="job-logo" asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid">
                                                @{
                                                    var logoSrc = item.Company.Logo ?? Url.Content("~/images/noimage.png");
                                                }
                                                <img title="@(item.Company.Name??"No name")" class="img-responsive" src="@logoSrc">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-9 col-lg-10">
                                        <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid" title="@(item.Company.Name)" class="relative">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span>
                                                        <strong class="job-title"> @item.Company.Name</strong>
                                                    </span>
                                                    <span class="address">@item.Company.Address</span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="location">
                                                        @item.Location?.Name<br />
                                                    <span class="vacancies">Jobs: @item.Vacancies</span>
                                                </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="text-center">
                        <ul class="pagination">
                            <pager />
                        </ul>
                    </div>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                            No result found!
                        </div>
                    }
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>*@
<section class="alljob-content-footer content-company">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="text-left title-header">@T.T("Company.Title")</h3>
                <div class="alljob-table">
                    <div>
                        <table class="table table-condensed table-striped">
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="td_image">
                                                <div class="td-img-content">
                                                        @{
                                                            var logoSrc = item.Company.Logo ?? Url.Content("~/images/noimage.png");
                                                        }
                                                        <img title="@(item.Company.Name??"No name")" class="img-responsive" src="@logoSrc">
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <p class="text-bold">
                                                    <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid" title="@(item.Company.Name)" class="relative">
                                                        @item.Company.Name
                                                    </a>
                                                </p>
                                                <p>
                                                    <em>@item.Company.Address</em>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                                                        @foreach (var job in item.Company.CompanyCategory)
                                                        {
                                                            <a asp-controller="Recruiment" asp-action="Index" asp-route-CategoryId="@job.Category.Id">@(job != item.Company.CompanyCategory.Last() ? job.Category.Name.Trim() + "," : job.Category.Name.Trim())</a>
                                                            
                                                        }
                                                </p>
                                            </td>
                                            @*<td>
                                                <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid" title="@(item.Company.Name)" class="btn btn-orange btn-fill-horz">
                                                    View more
                                                </a>
                                            </td>*@
                                        </tr>
                                        
                                        }
                                        <tr class="pagination-table">
                                            <td colspan="4">
                                                <div class="text-center">
                                                    <ul class="pagination">
                                                        <pager />
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <div class="alert alert-warning">
                                                    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                                                    @T.T("Home.NoCompanyFound")
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="job-detail-header" style="text-transform:uppercase">
                    <i class="fa fa-square" aria-hidden="true"></i>
                    @T.T("Home.FeaturedJobs")
                </p>
                <div class="for-card owl-carousel owl-theme">
                    @await Component.InvokeAsync("FeaturedWork")
                </div>
            </div>
        </div>
    </div>
</section>