 body {
  overflow-x: hidden;
 }
 *{
  margin:0;
  padding:0;
  border:none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2,h3,h4,span,h1,div,p{
  font-family: 'Cabin',sans-serif
}
a {
  text-decoration: none;
  outline: none;
  font-family: 'Cabin',sans-serif
}
a:hover, 
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}
ul{
  list-style-type:  none;
  font-family: 'Cabin',sans-serif
}

p {
  text-align: justify;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
.img-center {
  margin: 0 auto;
  display: block
}
.text-center {
  text-align: center;
}
#banner{
	overflow: hidden;
	background-repeat: no-repeat !important;
  	background-attachment: scroll !important;
  	background-position: center center !important;
  	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	background-size: cover !important;
  	-o-background-size: cover !important;
  	width: 100%;
  	margin: auto;
}
#headerToggle {
  display: none;
}
/*sidebar*/
  #sidebar {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #222629;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 265px;
  }
  #sidebar .sidebar-heading {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
  /*LOGO*/
  #logo h1#title{
    font-size: 24px;
  }
  #logo p#job{
    font-size: 14px;
  }
  #logo > p.image img {
    margin-top: 60px;
  }
  /*NAV-MENU*/
  #scrollly ul {
    margin-bottom: 0;
    margin-top: 30px;
  }
  #scrollly ul li a {
    display: block;
    padding: 15px 35px 15px 0;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    font-size: 16px;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
  }
  #scrollly ul li.active,  #scrollly ul li.active:hover, #scrollly ul li a:focus{
    background: #3a6bc4;
  }
  #scrollly ul li.active a, #scrollly ul li:hover a , #scrollly ul li a:focus {
    color: #fff;
  }
  #scrollly ul li:hover{
    background: rgba(0, 0, 0, 0.15);
  }
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
  /*MAIN*/
  #main {
    margin-left: 265px;
  }
  #main > section#top{
    padding: 0; 
  }
  #main > section {
    margin: 0;
    overflow: hidden;
    padding: 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    text-align: center;
  }
  #main > section.dark {
    color: #ddd;
    color: rgba(255, 255, 255, 0.75);
  }
  #main > section.dark h2, #main > section.dark h3, #main > section.dark h4, #main > section.dark h5, #main > section.dark h6 {
    color: inherit;
  }
  #main > section.dark a {
    color: #fff;
    border-color: inherit;
  }
  #main > section.dark a:hover {
    border-bottom-color: rgba(255, 255, 255, 0);
  }
  #main > section.cover {
    padding: 6em 0;
    background-size: cover;
    background-position: center center;
  }
  #main > section.one {
    background-color: transparent;
  }
  #main > section.odd {
    background-color: #3a6bc4;
    color: #fff;
  }
  #main > section.even {
    background-color: #fff;
  }
  /*#content banner*/
  #banner {
    padding-top: 230px;
  }
  #banner header h1{
    margin-bottom: 20px;
    word-spacing: 2px;
    text-align: left;
  }
  #banner header p{
    font-size: 24px; 
    word-spacing: 2px;
  }
  /* Icons banner */
  #banner ul{
    margin-top: 30px;
  }
  ul.icons li {
    display: inline-block;
  }
  ul.icons a {
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 2em;
    text-align: left;
    border: 0;
  }
  .icon:before {
    display: inline-block;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  #banner header .icons {
    font-size: 15px;
    text-align: left;
  }
  #banner header .icons a {
    color: #41484c;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
  }
  #banner header .icons a:hover {
    color: #fff;
  }
  /*header title section*/
  #main > section header{
    position: relative;
    margin-bottom: 50px;
  }
  #main > section header h2{
    font-weight: 700;
  }

  /*letter first*/
  .text-content{
    letter-spacing: 1.5px;
  }
  .dropcap {
    float: left;
    padding: 0 8px 0 0;
    display: block;
    color: #000;
    font-weight: 700;
    font-size: 40px;
  }
  /*list menu*/
  .case-info{
    text-align: left;
    margin-top: 20px;
    list-style: none;
  }
  .case-info li{
    margin-bottom: 20px;
    background: url('../image/square.png') no-repeat left center;
    padding-left: 30px;
  }
  /*about*/
  #about .form-group{
    margin-bottom: 30px;
  }
  #about .form-group .form-control {
    border-radius: 0px;
  }
  #about .form-group .form-large {
    height: 100px;
  }
  /*button*/
  .btn-details{
    border-radius: 0px;
    background-color: #2955a6;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
  }
  .btn.focus, .btn:focus, .btn:hover {
    opacity: 0.5;
    color: #fff;

}
.figure-item {
  margin-bottom: 15px;
}
.figure-image {
  display: block;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.figure-image i{
  font-size: 30px;
  margin-top: 5px;
  margin-right: 20px;
  width: 30px;
}
.figure-content {
  text-align: left;
  margin-bottom: 20px;
}
.figure-number, .figure-text {
  font-size: 16px;
  display: block;
  color: #fff;
}
#about .figure-content .icons{
  font-size: 15px;
  text-align: left;
}
#about .figure-content .icons a {
  color: #fff;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
  }
#about .figure-content .icons a:hover {
  color: #41484c;
}
/*SKILL*/
#circles{
  margin-top: 50px;
}
#circles .circle{
  position: relative;
}
.footer-circle {
  margin-top: 30px;
  margin-bottom: 30px
}
#percent {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
/*MAP*/
#map-page{
  padding: 0 !important;
}
#map{
   width:100%;
   height:400px;
}
/*footer*/
#footer{
  text-align: left !important;
  padding: 15px 0 !important;
}
  @media screen and (max-width: 960px) {
      html, body {
        overflow-x: hidden;
      }

      body, input, textarea, select {
        font-size: 16pt;
      }
    /* sidebar */
      #sidebar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        -webkit-overflow-scrolling: touch;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background: #222729 url("images/overlay.png");
        box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
      }
      #sidebar .sidebar-heading {
        position: relative;
      }
      #headerToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 2.25em;
        left: 0;
        position: fixed;
        top: 0;
        width: 3.25em;
        z-index: 10001;
      }
        #headerToggle .toggle {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          outline: 0;
          border: 0;
        }
         #headerToggle .toggle:before {
            font-family: FontAwesome;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\f0c9';
            color: #fff;
            font-size: 18px;
            line-height: 2.25em;
            background: rgba(128, 136, 144, 0.5);
            border-radius: 0.35em;
            text-align: center;
            position: absolute;
            left: 0.5em;
            top: 0.5em;
            display: block;
            width: 3.25em;
            height: 2.25em;
            line-height: 2.25em;
          }
      body.header-visible #main {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
      }
      body.header-visible #headerToggle {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
      }
      body.header-visible #sidebar {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
      }
      #main {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
        margin-left: 0;
      }
        #main > section {
          padding: 3em 0;
        }

        #main section.cover {
          padding: 4em 0;
        }
    }
  @media screen and (min-width: 961px) and (max-width: 1620px) {
    /* Main */
      #main > section {
        padding: 3em 0;
      }
      #main section.cover {
        padding: 5em 0;
      }
      .container {
      width: 960px;
  }
  }
/* Narrow */
  @media screen and (min-width: 961px) and (max-width: 1320px) {
    /* sidebar */
      body, input, textarea, select {
        font-size: 14pt;
      }
      span {
        font-size: 12pt;
      }

      .timeline .timeline-body .box-label-date {
        font-size: 18px !important;
        padding: 7px 0px  !important;
        margin-bottom:0px !important;
        color: #000;
        font-weight: 700;
        margin-top: 5px;
        text-align: left;
      }
      #sidebar {
        width: 20%;
      }
      #main {
        margin-left: 20%;
      }
      .container {
      width: 100%;
      padding: 0 2em 0 2em;
  }
  }
/* Mobile */
  @media screen and (max-width: 736px) {
      body, input, textarea, select {
        font-size: 14pt;
      }
      span{
        font-size: 12pt;
      }
      h2 {
        font-size: 1.5em;
        letter-spacing: 0;
        font-weight: 300;
      }
    /* Main */
      #main > section {
        padding: 2em 0;
      }
  }