
.timeline {
  list-style: none;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #eeeeee;
  left: 25px;
  margin-right: -1.5px;
}

.timeline > li {
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc( 100% - 35px );
  float: right;
  padding: 20px;
  position: relative;
}
.timeline>li> a.hover-timeline:hover .timeline-body {
  background-color: #000;
}
.timeline > li > .timeline-badge {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 35px;
  left: 16px;
  background-color: #d7e1e2;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
 
.timeline .timeline-body .box-label-date {
  font-size: 20px !important;
  padding: 7px 0px  !important;
  margin-bottom:0px !important;
  color: #000;
  font-weight: 700;
  margin-top: 5px;
  text-align: left;
}
.timeline .timeline-body .timeline-title{
  font-size: 18px;
  color: #000;
}
.timeline .timeline-body .timeline-title span{
  font-size: 20px;
  font-weight: bold;
  color: #3a6bc4 ;
  margin-right: 5px;
}
.timeline .timeline-body p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.timeline .timeline-body ul{
  text-align: left;
}
.timeline .timeline-body ul li{
  margin-bottom: 10px;
}