﻿@model JobSearchViewModel
<div id="banner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="row">
                    <div class="banner-content-left">
                        <div class="col-md-12">
                            <div class="banner-text">
                                <h2 class="animate slideInLeft">
                                    @Html.Raw(T.T("Home.FindTheCareer"))
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <form id="jobSearchForm" class="flat-form" asp-controller="Recruiment" asp-action="Index" method="get" style="float:left; width:100%;">
                                    <input asp-for="JobLevelId" value="@ViewData["JobLevelId"]" type="hidden"/>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input asp-for="JobName" value="@ViewData["JobName"]" class="form-control" placeholder="@T.T("Home.EnterJobTitle")">
                                            <p><em>@T.T("Home.Keywords")</em></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <select asp-for="CategoryId" asp-items="@Model.CategoryIdSelectList" class='form-control advance-select' style="width: 100%;">
                                                <option value="">@T.T("Home.AllCategories")</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <select asp-for="LocationId" asp-items="@Model.LocationIdSelectList" class='form-control advance-select' style="width: 100%;">
                                                <option value="">@T.T("Home.AllLocations")</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="@T.T("Home.FindJob")" class="btn btn-blue btn-fill-horz" style="width:100%; margin-top:20px;">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    @*<div class="container bg-grey">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <form id="jobSearchForm" class="flat-form" asp-controller="Recruiment" asp-action="Index" method="get">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input asp-for="JobName" class="form-control" placeholder="Enter job title, position, skill...">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <select asp-for="CategoryId" asp-items="@Model.CategoryIdSelectList" class='form-control select2' style="width: 100%; height: 44px;">
                                                <option value="">All categories</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <select asp-for="LocationId" asp-items="@Model.LocationIdSelectList" class='form-control select2' style="width: 100%; height: 44px;">
                                                <option value="">All locations</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="submit" value="Find Jobs" class="btn btn-block btn-primary btn-search-all">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-md-push-1 col-md-6 hidden-sm hidden-xs">
                <div id="intro" class="owl-carousel owl-theme banner-content-right">
                    <img class="slide" src="~/Images/SLIDER/1.png" alt="fill item">
                    <img class="slide" src="~/Images/SLIDER/2.png" alt="fill item">
                    <img class="slide" src="~/Images/SLIDER/3.png" alt="fill item">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#feature-work').owlCarousel({
            items: 1,
            nav: false,
            autoHeight: true,
            loop: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });
    });
</script>
