﻿@model StatisticsViewModel
<div class="container">
    @*<div class="row">
        <div class="col-sm-3 col-xs-6">
            <p>@Model.JobCount</p>
            <h4>JOBS</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <p>@($"{Model.CompanyCount:N00}")</p>
            <h4>Companies</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <p>@($"{Model.CandidateCount:N00}")</p>
            <h4>Candidates</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <p>@($"{Model.UniversityCount:N00}")</p>
            <h4>universities</h4>
        </div>
    </div>*@
    @*<hr class="hidden-xs" style="border-color:#324358;" />*@
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="footer-item">
                <a asp-action="Index" asp-controller="Home"><img src="@Url.Content("~/images/logo-footer1.jpg")"/></a>
            </div>            
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="footer-item">
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    @*@Html.Raw("0236-3-827111 (Ext.221)")*@
                    @Model.siteConfig.Where(x=>x.Key== "phone").FirstOrDefault().Value.Replace("<p>","").Replace("</p>","")
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="footer-item">
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    @*phongtochuc@gmail.com*@
                    @Model.siteConfig.Where(x => x.Key == "email").FirstOrDefault().Value.Replace("<p>", "").Replace("</p>", "")
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="footer-item">
                <p>
                    <i class="fa fa-location-arrow"></i>
                    @Model.siteConfig.Where(x => x.Key == "address").FirstOrDefault().Value.Replace("<p>", "").Replace("</p>", "")
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <nav id="navbar-footer" class="navbar navbar-default">
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Index", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-controller="Home" asp-action="Index">@T.T("Home.Home")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Recruiment"))?"active":"")'><a asp-controller="Recruiment" asp-action="Index">@T.T("Home.All.Jobs")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "News"))?"active":"")'><a asp-action="Index" asp-controller="News">@T.T("Home.News")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Startup"))?"active":"")'><a asp-action="Index" asp-controller="Startup">@T.T("Home.Startup")</a></li>
                        <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Policy", "Home"),StringComparison.OrdinalIgnoreCase)?"active":"")'><a asp-controller="Home" asp-action="Policy">@T.T("Home.Policy")</a></li>
                    </ul>
                    @await Component.InvokeAsync("SocialFooter")
                </div>
            </nav>
           
        </div>
    </div>
</div>
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    &copy; @DateTime.Now.Year <a href="#">Contact Asean</a>. All rights
                    reserved.
                </p>
            </div>
        </div>
        
        @*<ul class="icons pull-right">
            @await Component.InvokeAsync("SocialFooter")
        </ul>*@
    </div>

    <!-- /.container -->
</section>