@model Language
@{
    ViewData["Title"] = "Create Language";
}
@section heading{
    <h1>Language</h1>
}
<link href="~/lib/select2/dist/css/select2.min.css" type="text/css" rel="stylesheet" />
<link href="~/lib/AdminLTE/dist/css/AdminLTE.min.css" type="text/css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Create">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label">@T.T("Admin.Name")</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnglishName" class="col-md-2 control-label">@T.T("Admin.EnglishName")</label>
                            <div class="col-md-10">
                                <input asp-for="EnglishName" class="form-control" />
                                <span asp-validation-for="EnglishName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LanguageCulture" class="col-md-2 control-label">@T.T("Admin.Culture")</label>
                            <div class="col-md-10">
                                <select asp-for="LanguageCulture" class="form-control" asp-items="@ViewBag.Flag"></select>
                                <span asp-validation-for="LanguageCulture" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="col-md-2 control-label">@T.T("Admin.Picture")</label>
                            <div class="col-md-10">
                                <select asp-for="Image" class="form-control"></select>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" asp-for="IsCurrentLanguage">@T.T("Admin.IsCurrent")</label>
                            <div class="col-md-10">
                                <input id="toggle-activeIsCurrentLanguage" type="checkbox" data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                                <input id="activeIsCurrentLanguage-value" type="hidden" asp-for="IsCurrentLanguage" value="False" />
                                <span asp-validation-for="IsCurrentLanguage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" asp-for="Status">@T.T("Admin.Status")</label>
                            <div class="col-md-10">
                                <input id="toggle-activeStatus" type="checkbox" data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                                <input id="activeStatus-value" type="hidden" asp-for="Status" value="False" />
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@T.T("Admin.Create")" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


<div>
    <a asp-action="Index">Back to list</a>
</div>
@section Scripts {
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "GetGlobalization",
                method: "POST",
                success: function (resual) {
                    $.each(resual, function (e, item) {
                        $("#Image").append($('<option value=' + item.value + '>' + item.text + "</option>"));
                    })
                }
            });
            $("#LanguageCulture").select2();
            $("#Image").select2({
                templateResult: formatState,
                templateSelection: formatState
            });

            function formatState(state) {
                if (!state.id) {
                    return state.value;
                }
                var baseUrl = "/areas/admin/images/flags/";
                var $state = $(
                    '<span><img src="' + baseUrl + state.text + '" class="img-flag" /> '+ state.text + '</span>'
                );
                return $state;
            };
        })

    </script>
}