@model MIC.AseanTalentSearch.Web.EF.LocaleStringResource
<form asp-action="DeleteResources" id="deleteResource">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        @*<input type="hidden" asp-for="LanguageId" />
            <input type="hidden" asp-for="Page" />
            <input type="hidden" asp-for="ResourceName" />*@
        <div class="form-group">
            <label asp-for="Page" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Page" class="form-control" disabled />
                <span asp-validation-for="Page" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResourceName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResourceName" class="form-control" disabled />
                <span asp-validation-for="ResourceName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResourceValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResourceValue" class="form-control" disabled />
                <span asp-validation-for="ResourceValue" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>