@model Language
@{
    ViewData["Title"] = "Update Language";
}
@section heading{
    <h1>Language</h1>
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link href="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.css" type="text/css" rel="stylesheet" />
<link href="~/lib/select2/dist/css/select2.min.css" type="text/css" rel="stylesheet" />
<link href="~/lib/AdminLTE/dist/css/AdminLTE.min.css" type="text/css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3><hr />
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab_1">Infor</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab_2">String Resource</a>
                    </li>
                </ul>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <form asp-action="Edit">
                            <div class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Name" class="col-md-2 control-label">@T.T("Admin.Name")</label>
                                    <div class="col-md-10">
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EnglishName" class="col-md-2 control-label">@T.T("Admin.EnglishName")</label>
                                    <div class="col-md-10">
                                        <input asp-for="EnglishName" class="form-control" />
                                        <span asp-validation-for="EnglishName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LanguageCulture" class="col-md-2 control-label">@T.T("Admin.Culture")</label>
                                    <div class="col-md-10">
                                        <select asp-for="LanguageCulture" asp-items="@ViewBag.Culture" class="form-control"></select>
                                        <span asp-validation-for="LanguageCulture" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="col-md-2 control-label">@T.T("Admin.Picture")</label>
                                    <div class="col-md-10">
                                        <select asp-for="Image" asp-items="@ViewBag.Flag" class="form-control"></select>
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" asp-for="IsCurrentLanguage">@T.T("Admin.IsCurrent")</label>
                                    <div class="col-md-10">
                                        <input id="toggle-activeIsCurrentLanguage" type="checkbox" @Html.Raw(Model.IsCurrentLanguage ? "checked" : "") data-toggle="toggle" 
                                               data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                                        <input id="activeIsCurrentLanguage-value" type="hidden" asp-for="IsCurrentLanguage" value="@Html.Raw(Model.IsCurrentLanguage ? "True" : "False")" />
                                        <span asp-validation-for="IsCurrentLanguage" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" asp-for="Status">@T.T("Admin.Status")</label>
                                    <div class="col-md-10">
                                        <input id="toggle-activeStatus" type="checkbox" @Html.Raw(Model.Status ? "checked" : "") data-toggle="toggle" data-on="@T.T("Admin.Active")" 
                                               data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                                        <input id="activeStatus-value" type="hidden" asp-for="Status" value="@Html.Raw(Model.Status ? "True" : "False")" />
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="@T.T("Admin.Save")" class="btn btn-default" />
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="tab-pane form-horizontal" id="tab_2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @*<a href="#" data-id="@Model.Id" class="btn btn-add-n addResource">Add</a>*@
                                </div>
                            </div>
                        </div>
                        <table id="ListResource" class="table table-bordered table-hover">

                        </table>
                    </div>
                </div>
                
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>



<div>
    <a asp-action="Index">Back to list</a>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Resource</h4>
            </div>
            <div class="modal-body">
                <div id='myModalContent'></div>
            </div>
            <div class="modal-footer">
                <button id="buttonUpdateResource" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
@* Modal Delete *@
<div id='myModalDel' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Resource</h4>
            </div>
            <div class="modal-body">
                <h4>Do you want to delete resource ?</h4>
                <div id='myModalContentDel'></div>
            </div>
            <div class="modal-footer">
                <button id="buttonDeleteResource" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<div id='myModalAdd' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Resource</h4>
            </div>
            <div class="modal-body">
                <div id='myModalContentAdd'></div>
            </div>
            <div class="modal-footer">
                <button id="buttonAddResource" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "GetGlobalization",
                method: "POST",
                success: function (resual) {
                    $.each(resual, function (e, item) {
                        $("#Image").append($('<option value=' + item.value + '>' + item.text + "</option>"));
                    })
                }
            });
            $("#LanguageCulture").select2();
            $("#Image").select2({
                templateResult: formatState,
                templateSelection: formatState
            });

            function formatState(state) {
                if (!state.id) {
                    return state.value;
                }
                var baseUrl = "/areas/admin/images/flags/";
                var $state = $(
                    '<span><img src="' + baseUrl + state.text + '" class="img-flag" /> ' + state.text + '</span>'
                );
                return $state;
            };
        })

        var listData = [];
        var table;
        $(function () {
            //LoadData();
            table = $("#ListResource").DataTable({
                ajax: {
                    url: 'GetListLocale?Id=' + $("#Id").val(),
                },
                columns: [
                    {
                        data: "page",
                        title: "Page",
                    },
                    {
                        data: "resourceName",
                        title: "ResourceName"
                    },
                    {
                        data: "resourceValue",
                        title: "ResourceValue"
                    },
                    {
                        data: "null",
                        title: "#",
                        render: function (data, type, row) {
                            return "<a href='#' data-id='" + row.id + "' class=\"btn btn-default editResource\" style=\"padding: 6px 12px;\">" +
                                "<span class=\"fa fa-edit\"></span>" +
                                "Edit" +
                                "</a>"
                                + "<a href='#' data-id='" + row.id + "' class=\"btn btn-default deleteResource\" style=\"padding: 6px 12px;\">" +
                                "<span class=\"fa fa-user-times\"></span>" +
                                "Delete" +
                                "</a>";

                        }
                    }
                ]
            });
        });


        function OnEdit(value) {

        }

        //update resource
        $(function () {
            $(document).on('click', "a.addResource", function (e) {
                //debugger;
                e.preventDefault();
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: false };
                $.ajax({
                    type: "GET",
                    url: "AddResource",
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": @Model.Id },
                    success: function (data) {
                        //debugger;
                        $('#myModalContentAdd').html(data);
                        $('#myModalAdd').modal(options);
                        $('#myModalAdd').modal('show');
                        alert("loaded");
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });                
            });
            $("#buttonAddResource").click(function () {
                if ($("#addResource").valid()) {
                    $.ajax({
                        url: "AddResource",
                        type: "POST",
                        data: $("#addResource").serialize(),
                        success: function (resual) {
                            if (resual != null && resual.success) {
                                $('#myModalAdd').modal('hide');
                            }
                            table.ajax.reload();
                        }
                    });
                }
            });


            $(document).on('click', "a.editResource", function (e) {
                //debugger;
                e.preventDefault();
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: false };
                $.ajax({
                    type: "GET",
                    url: "EditResource",
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#buttonUpdateResource").click(function () {
                if ($("#updateResource").valid()) {
                    $.ajax({
                        url: "EditResource",
                        type: "POST",
                        data: $("#updateResource").serialize(),
                        success: function (resual) {
                            if (resual != null && resual.success) {
                                var x = $('a.editResource[data-id=' + resual.resourceId + ']').parent().parent().children('td:nth-child(3)');
                                x.text(resual.resourceValue);
                                $('#myModal').modal('hide');
                            }
                            // table.ajax.reload();
                        }
                    });
                }
            });
        });
        //delete resource
        $(function () {
            $(document).on('click', "a.deleteResource", function (e) {
                //debugger;
                e.preventDefault();
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: "DeleteResource",
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContentDel').html(data);
                        $('#myModalDel').modal(options);
                        $('#myModalDel').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#buttonDeleteResource").click(function () {
                if ($("#deleteResource").valid()) {
                    $.ajax({
                        url: "DeleteResource",
                        type: "POST",
                        data: $("#deleteResource").serialize(),
                        success: function (resual) {
                            if (resual != null && resual.success) {
                                var x = $('a.deleteResource[data-id=' + resual.resourceId + ']').parent().parent();
                                x.remove();//remove tr
                                $('#myModalDel').modal('hide');
                            }
                            // table.ajax.reload();
                        }
                    });
                }
            });
        });
        
</script>

}
