@model SiteConfig
@{
    ViewData["Title"] = "Create Site Config";
}
@section heading{
    <h1>Site Config</h1>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Create">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Key" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Key" class="form-control" />
                                <span asp-validation-for="Key" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Value" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <textarea style="min-height:320px;" asp-for="Value" class="form-control advanced-editor"></textarea>
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


<div>
    <a href="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}