@model IEnumerable<SiteConfig>
@{
    ViewData["Title"] = "List Key Config";
}
@section heading{
    <h1>Config Site</h1>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                <a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> Create</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                @Html.DisplayNameFor(m => m.Key)
                            </th>
                            <th style="width: 60%;">
                                @Html.DisplayNameFor(m => m.Value)
                            </th>
                            <th style="width: 20%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <b>
                                        @Html.DisplayFor(m => item.Key)
                                    </b>

                                </td>
                                <td>
                                    <div  class="ellipsis">
                                        @Html.Raw(item.Value)
                                    </div>
                                   
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-key="@item.Key" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination">
                        <pager />
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
