@model MIC.AseanTalentSearch.Web.EF.Company

@{
    ViewData["Title"] = "Create";
}
@section heading{
    <h1>Company</h1>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Create">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Website" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Website" class="form-control" />
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LocationId" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Taxcode" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Taxcode" class="form-control" />
                                <span asp-validation-for="Taxcode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactPhone" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ContactPhone" class="form-control" />
                                <span asp-validation-for="ContactPhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactPerson" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ContactPerson" class="form-control" />
                                <span asp-validation-for="ContactPerson" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactPersonGender" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ContactPersonGender" class="form-control" />
                                <span asp-validation-for="ContactPersonGender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Owner" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Owner" class="form-control" />
                                <span asp-validation-for="Owner" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanySize" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="CompanySize" class="form-control" />
                                <span asp-validation-for="CompanySize" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Logo" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Logo" class="form-control" />
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Introduction" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Introduction" class="form-control" />
                                <span asp-validation-for="Introduction" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Facebook" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Facebook" class="form-control" />
                                <span asp-validation-for="Facebook" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Instagram" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Instagram" class="form-control" />
                                <span asp-validation-for="Instagram" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LinkedIn" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="LinkedIn" class="form-control" />
                                <span asp-validation-for="LinkedIn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Twitter" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Twitter" class="form-control" />
                                <span asp-validation-for="Twitter" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AttractivePolicies" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="AttractivePolicies" class="form-control" />
                                <span asp-validation-for="AttractivePolicies" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



@*<form asp-action="Create">
        <div class="form-horizontal">
            <h4>Company</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Id" class ="form-control" asp-items="ViewBag.Id"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Taxcode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Taxcode" class="form-control" />
                    <span asp-validation-for="Taxcode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ContactPhone" class="form-control" />
                    <span asp-validation-for="ContactPhone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonGender" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ContactPersonGender" class="form-control" />
                    <span asp-validation-for="ContactPersonGender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Owner" class="form-control" />
                    <span asp-validation-for="Owner" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CompanySize" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CompanySize" class="form-control" />
                    <span asp-validation-for="CompanySize" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Logo" class="form-control" />
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Introduction" class="form-control" />
                    <span asp-validation-for="Introduction" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Facebook" class="form-control" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Instagram" class="form-control" />
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LinkedIn" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LinkedIn" class="form-control" />
                    <span asp-validation-for="LinkedIn" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Twitter" class="form-control" />
                    <span asp-validation-for="Twitter" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AttractivePolicies" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="AttractivePolicies" class="form-control" />
                    <span asp-validation-for="AttractivePolicies" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveStatus" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ActiveStatus" class="form-control" />
                    <span asp-validation-for="ActiveStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ActiveDate" class="form-control" />
                    <span asp-validation-for="ActiveDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ActiveBy" class="form-control" />
                    <span asp-validation-for="ActiveBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
