@model MIC.AseanTalentSearch.Web.EF.Company
@{
    ViewData["Title"] = "Update Company";
}
@section heading{
    <h1>Company</h1>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Edit">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" disabled />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActiveStatus" class="col-md-2 control-label"></label>
                            <div class="col-md-10 checkbox" style="padding-top:0;">
                                <input id="toggle-activeStatus" type="checkbox" @Html.Raw(Model.ActiveStatus != null && Model.ActiveStatus.Value ? "checked" : "") data-toggle="toggle" data-on="Activated" data-off="Not Activated" data-onstyle="success" data-offstyle="warning">
                                <input id="activeStatus-value" type="hidden" asp-for="ActiveStatus" value="@Html.Raw(Model.ActiveStatus != null && Model.ActiveStatus.Value ? "True" : "False")" />
                                <span asp-validation-for="ActiveStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@* change active status *@
<script>
    $(function () {
        $('#toggle-activeStatus').change(function () {
            $('#activeStatus-value').val($(this).prop('checked'));
        })
    
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
