@model MIC.AseanTalentSearch.Web.EF.News
@{
    ViewData["Title"] = "Create";
}

@section heading{
    <h1>Create New</h1>
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewData["Title"]</h3>
                </div>
                <div class="box-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CreatedDate" value="@DateTime.Now" />
                            <input type="hidden" asp-for="ModifiedDate" value="@DateTime.Now" />

                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Title">@T.T("Admin.Title")</label>
                                <div class="col-md-10">
                                    <input asp-for="Title" class="form-control" required />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Picture">@T.T("Admin.Picture")</label>
                                <div class="col-md-10">
                                    <input type="hidden" asp-for="Picture" class="form-control" />
                                    <div class="col-md-10 checkbox" style="padding-top:0;">
                                        <input type="file" id="logo" name="formFile" />
                                        <div id="logoshow">

                                        </div>
                                        <p class="help-block">The file type be gif, png, jpeg or jpg and less than 2MB in size</p>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Description">@T.T("Admin.Description")</label>
                                <div class="col-md-10">
                                    <textarea asp-for="Description" class="form-control advanced-editor"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Content">@T.T("Admin.Content")</label>
                                <div class="col-md-10">
                                    <textarea asp-for="Content" class="form-control advanced-editor"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Status">@T.T("Admin.Status")</label>
                                <div class="col-md-10">
                                    <input id="toggle-activeStatus" type="checkbox" data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                                    <input id="activeStatus-value" type="hidden" asp-for="Status" value="False" />
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@T.T("Admin.Save")" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <a asp-action="Index">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#toggle-activeStatus').change(function () {

            $('#activeStatus-value').val($(this).prop('checked'));
        })

        //change logo selected
        $("#logo").change(function (e) {

            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                var file = e.originalEvent.srcElement.files[i];

                var img = document.createElement("img");
                img.width = 100;
                img.height = 100;
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#logoshow").html(img);
            }
        });
    })
</script>