@model List<MIC.AseanTalentSearch.Web.EF.News>
@{
    ViewData["Title"] = "List News";
}
@section heading{
    <h1>News Manager</h1>
}
<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<style>

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: none;
    }
</style>
<style type="text/css">
    p.text-clip {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> @T.T("Admin.Create")</a>
            </div>
            <div class="box table-responsive no-padding">
                <table class="table table-hover" style="min-width:500px;">
                    <thead>
                        <tr>
                            <th width="55%">
                                @T.T("Admin.Title")
                            </th>
                            <th class="text-center" width="15%">@T.T("Admin.PostedDate")</th>
                            <th class="text-center" width="15%">@T.T("Admin.ActiveStatus")</th>
                            <th class="text-center" width="15%">@T.T("Admin.Action")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="height: 10px;">
                                <td width="55%">
                                    <span style="overflow:hidden; text-overflow:ellipsis;display:block; ">
                                        @Html.DisplayFor(m => item.Title)
                                    </span>
                                </td>
                                <td class="text-center" width="15%">
                                    @(string.Format("{0:dd/MM/yyyy}", item?.CreatedDate))

                                </td>
                                <td class="text-center" width="15%">
                                    <input id="toggle-activeStatus" value="@item.NewsId" onchange="StatusChange(@item.NewsId)" type="checkbox" @Html.Raw(item.Status ? "checked" : "")
                                           data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning" />

                                </td>

                                @*<td>
                                        <div class="checkbox disabled">
                                            <label>
                                                <input type="checkbox" @Html.Raw(item.JobStatus != null && item.JobStatus.Value ? "checked" : "") disabled data-toggle="toggle" data-on="Active" data-off="Not active" data-onstyle="success" data-offstyle="warning">
                                            </label>
                                        </div>
                                    </td>*@
                                <td class="text-center" width="15%">
                                    <a asp-action="Edit" asp-route-id="@item.NewsId" class="btn btn-info" @*style="background-color: crimson; border-color: crimson" *@><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                    <a asp-action="Delete" asp-route-id="@item.NewsId" class="btn btn-info" @*style="background-color: crimson; border-color: crimson" *@><i class="fa fa-pencil"></i> @T.T("Admin.Delete")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @*<div class="text-center">
                    <ul class="pagination">
                        <pager />
                    </ul>
                </div>*@
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script>
    function StatusChange(val) {
        $.ajax({
            url: "/Admin/Startup/ChangeStatus",
            type: "post",
            data: {
                Id: val,
            },
            success: function (resual) {
                toastr.success(resual);
            }
        });
    }

    $(function () {
        $(".table").DataTable();
    })
</script>