﻿@using System
@using Microsoft.AspNetCore.Mvc
@model MIC.AseanTalentSearch.Web.Models.Candidate.WorkingPreference

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Edit Preferences</h4>
</div>

<form 
    method="post" 
    asp-controller="Candidate" 
    asp-action="AddPreference" 
       data-ajax="true" 
    data-ajax-method="POST" 
      data-ajax-loading="#loading-area"
      data-updated-block="#working-preferences" 
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LocationId"></label>
                    <select multiple="multiple" asp-for="LocationId" asp-items="@Model.Locations" style="width: 100%;" class="form-control advance-select">                       
                    </select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Salary"></label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" asp-for="Salary"/>
                    </div>
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" asp-items="@Model.ExpectedCategory" style="width: 100%;" class="form-control advance-select" data-live-search="true"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="JobLevelId"></label>
                    <select class="form-control advance-select" asp-for="JobLevelId" asp-items="@Model.JobLevels"></select>
                    <span asp-validation-for="JobLevelId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Expected benefits</label>
                @if (Model.SelectedBenefits != null && Model.SelectedBenefits.Any())
                {
                    <table style="width: 100%;">
                        <tr>
                        @{
                            int cnt = 0;


                            foreach (var benefit in Model.SelectedBenefits)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                <input type="checkbox"
                                       name="BeneficIds"
                                       value="@benefit.BenefitId"
                                       @(Html.Raw(benefit.Assigned ? "checked=\"checked\"" : ""))/>
                                @benefit.BenefitName
                                @:</td>
                            }
                            @:</tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-close btn-fill-horz">SAVE</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $(".js-example-basic-multiple").select2();
        $(".locationList").select2(@*{
            ajax: {
                url: '@Url.Action("GetJobLocation","Location")',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 1

        }*@);
        $(document).ready(function () {
            $(".advance-select").select2({
                theme: "bootstrap",
                allowClear: true,
            });

            $("form").submit(function () {
                $("#modal-edit").modal("hide");
            })
        });
    });
</script>
