﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.KeySkill

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Add skill</h4>
</div>

<form method="post" id="addSkill"
      asp-controller="Candidate"
      asp-action="AddSkill"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-updated-block="#key-skill"
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Skill"></label>
                    <select class="form-control advance-select" asp-for="Id" asp-items="@Model.List" style="width: 100%;"></select>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Level"></label>  (%)
                    <input asp-for="Level" class="form-control" required />
                    <span asp-validation-for="Level" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-close btn-fill-horz">ADD</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-multiple").select2({
            tags: true,
            tokenSeparators: [","]
        });
    });
    $(document).ready(function () {
        $(".advance-select").select2({
            theme: "bootstrap",
            allowClear: true,
        });

        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#addSkill").validate({
            rules: {
                Level: {
                    required: true,
                    range: [1, 100]
                }
            }
        });
        $("form").submit(function () {
            $('#modal-edit').modal("hide");
        });
    });
</script>