﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.EducationHistory
<script src="~/lib/tinymce/tinymce.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: ".normal-editor"
    });
</script>
<style>
    .select2-container .select2-selection--single{
        height:40px !important;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Edit Education History</h4>
</div>
<form method="post"
      asp-controller="Candidate"
      asp-action="EditEducation"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-updated-block="#education-history"
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="UniversityInfor1">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UniversityId" style="width:100%;"></label>
                        <select asp-for="UniversityId" asp-items="@Model.University" onchange="getMajor()" style="width:100%" data-live-search="true" class="form-control advance-select"></select>
                        <span asp-validation-for="UniversityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EducationLevelId" style="width:100%;"></label>
                        <select asp-for="EducationLevelId" style="width:100%;" asp-items="@Model.EducationLevels" onchange="getMajor()" class="form-control"></select>
                        <span asp-validation-for="EducationLevelId" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" id="FormAddMajor" style="display: none;">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Major</label>
                    <div class="pull-right">
                        <a id="AddMajor" href="#.modal-content" onclick="showAddMajor()" style="height:25px;">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <input id="NewMajorLabel" class="form-control" type="text" />
                    <div id="MajorValidation" style="color:#a94442;display:none;">Please enter Major Name</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label style="height:15px;"></label>
                    <button type="button" class="btn btn-block btn-primary" onclick="AddMajor()" style="width: 100%;">Add Major</button>
                </div>
            </div>
        </div>

        <div id="NormalForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @*<label asp-for="MajorId" style="width:100%;"></label>*@
                        <label asp-for="MajorId"></label>
                        <div class="pull-right">
                            <a id="AddMajor" href="#.modal-content" onclick="showAddMajor()" style="height:25px;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                        <select asp-for="MajorId" style="width:100%;" asp-items="@Model.Majors" class="form-control"></select>
                        <span asp-validation-for="MajorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Ranking"></label>
                        <input asp-for="Ranking" style="height:44px;" class="form-control" />
                        <span asp-validation-for="Ranking" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="From"></label>
                        <input asp-for="From" class="form-control mydatetime" placeholder="MM/yyyy" />
                        <span asp-validation-for="From" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="To"></label>
                        <input asp-for="To" class="form-control mydatetime" placeholder="MM/yyyy" />
                        <span asp-validation-for="To" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Achievements"></label>
                        <textarea asp-for="Achievements" class="form-control normal-editor"></textarea>
                        <span asp-validation-for="Achievements" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick='deleteEducation("#education-history",@Model.Id, "@Url.Action("RemoveEducation","Candidate")")' 
                        type="button" id="delete-education" class="btn btn-delete"><i class="fa fa-trash"></i></button>
                <button type="submit" class="btn btn-close btn-fill-horz">SAVE</button>
                <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>

</form>


<script type="text/javascript">

    $(document).ready(function () {

        $(".advance-select").select2({
            theme: "bootstrap",
            allowClear: true,
            });
        $('form').submit(function () {
            $("#modal-edit").modal("hide");
        })
        $('.mydatetime').MonthPicker({ Button: false });
    });


    //show add major
    function showAddMajor() {
        var formAdd = document.getElementById("FormAddMajor");
        var formNormal = document.getElementById("NormalForm");
        var formInfor = document.getElementById("UniversityInfor");
        if (formAdd.getAttribute("style") == "display: none;") {
            formAdd.setAttribute("style", "display: block;");
            formNormal.setAttribute("style", "display: none");
            formInfor.getElementsByTagName("select")[0].setAttribute("disabled", "true");
            formInfor.getElementsByTagName("select")[0].setAttribute("style", "display: none");
            formInfor.getElementsByTagName("select")[1].setAttribute("disabled", "true");
            formInfor.getElementsByTagName("select")[1].setAttribute("style", "display: none");
            $("#AddMajor i").get()[0].setAttribute("class", "fa fa-minus");
        }
        else {
            formAdd.setAttribute("style", "display: none;");
            formInfor.setAttribute("style", "display: block");
            formNormal.setAttribute("style", "display: block");
            formInfor.getElementsByTagName("select")[0].removeAttribute("disabled");
            formInfor.getElementsByTagName("select")[0].setAttribute("style", "display: block");
            formInfor.getElementsByTagName("select")[1].removeAttribute("disabled");
            formInfor.getElementsByTagName("select")[1].setAttribute("style", "display: block");
            $("#AddMajor i").get()[0].setAttribute("class", "fa fa-plus");
            $("#MajorValidation").hide();
            $("#NewMajorLabel").val('');
        }
    }

    //
    function AddMajor()
    {
        var x = document.getElementById("UniversityId");
        var l = $("#EducationLevelId").val();

        var _major = $("#NewMajorLabel").val();
        if (_major == "")
        {
            $("#MajorValidation").show();
            //alert("Please enter Major!");
        }else {
            var i = x.options[x.selectedIndex].value;
            $.ajax({
                url: '@Url.Action("InsertMajor")',
                type: "POST",
                data: {
                    universityId: i,
                    name: _major,
                    educationLevel: l
                },
                success: function (resual) {
                    $("#NewMajorLabel").val('');
                    if (resual > 0) {
                        getMajor(resual);
                        toastr.success('Add successed!');
                        showAddMajor();
                    }
                    else if (resual==-1) {
                        toastr.error('Major Already exists!');
                    } else {
                        toastr.error('Add Major Fail!');
                    }
                }
            });
        }
    }



    function getMajor(value) {
        var x = document.getElementById("UniversityId");
        var y = document.getElementById("EducationLevelId");

        var listMajor = document.getElementById("MajorId");
        while (listMajor.options.length) {
            listMajor.remove(0);
        }

        var i = x.options[x.selectedIndex].value;
        var j = y.options[y.selectedIndex].value;
        $.ajax({
            url: "/University/GetMajorByUniversity",
            type: "GET",
            dataType: 'json',
            data: {
                uid: i,
                elid: j
            },
            success: function (major) {
                if (major.count != 0) {
                    $.each(major, function (key, item) {
                        var nItem = new Option(item['name'], item['id']);
                        if (item['id'] == value) {
                            nItem.selected = true;
                        }
                        listMajor.options.add(nItem);
                    })
                }
            }
        });
    }
</script>

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css">