@model MIC.AseanTalentSearch.Web.Models.Candidate.KeySkill

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Edit skill</h4>
</div>

<form method="post"
      asp-controller="Candidate"
      asp-action="EditSkill"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-updated-block="#key-skill"
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Skill"></label>
                    <select class="form-control advance-select" asp-for="Id" asp-items="@Model.List"></select>
                    <span asp-validation-for="Id" class="text-danger"></span>
                    <input asp-for="OldId" type="hidden" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Level"></label> (%)
                    <input asp-for="Level" class="form-control" />
                    <span asp-validation-for="Level" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button onclick='deleteSkill("#key-skill",@Model.Id, "@Url.Action("DeleteSkill","Candidate")")' type="button" id="delete-skill" class="btn btn-delete"><i class="fa fa-trash"></i></button>
        <button type="submit" class="btn btn-close btn-fill-horz">SAVE</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-multiple").select2({
            tags: true,
            tokenSeparators: [","]
        });
    });
    $(document).ready(function () {
        $(".advance-select").select2({
            theme: "bootstrap",
            allowClear: true,
        });
        $('form').submit(function () {
            $('#modal-edit').modal("hide");
        });
    });
</script>