﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.Language

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Edit language</h4>
</div>

<form method="post" 
      asp-controller="Candidate" 
      asp-action="EditLanguage" 
      data-ajax="true" 
      data-ajax-method="POST" 
      data-ajax-loading="#loading-area"
      data-updated-block="#candidate-languages" 
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="LanguageId"></label>
                    <select class="form-control advance-select" asp-for="LanguageId"  asp-items="@Model.List"></select>
                    <span asp-validation-for="LanguageName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Certification"></label>
                    <input asp-for="Certification" class="form-control" />
                    <span asp-validation-for="Certification" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ScoreOrLevel"></label>
                    <input asp-for="ScoreOrLevel" class="form-control" />
                    <span asp-validation-for="ScoreOrLevel" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button onclick='deleteLanguage("#candidate-languages",@Model.Id, "@Url.Action("RemoveLanguage","Candidate")")' type="button" id="delete-language" class="btn btn-delete"><i class="fa fa-trash"></i></button>
        <button type="submit" class="btn btn-close btn-fill-horz">SAVE</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-multiple").select2({
            tags: true,
            tokenSeparators: [","]
        });
    });
    $(document).ready(function () {
        $(".advance-select").select2({
            theme: "bootstrap",
            allowClear: true,
        }).val(@Model.LanguageId).trigger('change');
    });
</script>