﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.Reference

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Update your reference</h4>
</div>

<form method="post" 
      asp-controller="Candidate" 
      asp-action="EditReference" 
      data-ajax="true" 
    data-ajax-method="POST" 
      data-ajax-loading="#loading-area"
      data-updated-block="#candidate-reference" 
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Position"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Company"></label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button onclick='deleteReference("#candidate-reference",@Model.Id, "@Url.Action("RemoveReference","Candidate")")' type="button" id="delete-reference" class="btn btn-delete"><i class="fa fa-trash"></i></button>
        <button type="submit" class="btn btn-close btn-fill-horz">Save</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">Close</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('form').submit(function () {
            $('#modal-edit').modal("hide");
        });
    })
</script>