﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.EmploymentHistory
<script src="~/lib/tinymce/tinymce.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.normal-editor"
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Update Employment History</h4>
</div>

<form method="post"
      asp-controller="Candidate"
      asp-action="EditEmployerHistory"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-updated-block="#employment-history"
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Position"></label>
                    <input asp-for="Position" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Company"></label>
                    <input asp-for="Company" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="From"></label>
                    <input asp-for="From" class="form-control mydatetime" placeholder="MM/yyyy" />
                    <span asp-validation-for="From" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="To"></label>
                    <input asp-for="To" class="form-control mydatetime" placeholder="MM/yyyy" />
                    <span asp-validation-for="To" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control normal-editor"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button onclick='deleteEmployment("#employment-history",@Model.Id, "@Url.Action("RemoveEmployment","Candidate")")' type="button" id="delete-employment" class="btn btn-delete"><i class="fa fa-trash"></i></button>
        <button type="submit" class="btn btn-close btn-fill-horz">Save</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">Close</button>
    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {
        //jQuery('.mydatetime').datetimepicker({
        //    timepicker: false,
        //    daypicker:false,

        //    //format: 'd/m/Y'      
        //});
        $('.mydatetime').MonthPicker({ Button: false });
        $('#Company').typeahead({
            ajax: '@Url.Action("ListCompany")'
        });

        $('#Position').typeahead({
            ajax: '@Url.Action("ListPostion")'
        });
    });
</script>

