@model MIC.AseanTalentSearch.Web.Models.Candidate.SocialNetwork

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Edit Social Network</h4>
</div>

<form method="post"
      asp-controller="Candidate"
      asp-action="EditSocialNetwork"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-updated-block="#candidate-socialnetwork"
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Facebook"></label>
                    <input asp-for="Facebook" class="form-control" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Instagram"></label>
                    <input asp-for="Instagram" class="form-control" />
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LinkedIn"></label>
                    <input asp-for="LinkedIn" class="form-control" />
                    <span asp-validation-for="LinkedIn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Twitter"></label>
                    <input asp-for="Twitter" class="form-control" />
                    <span asp-validation-for="Twitter" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Youtube"></label>
                    <input asp-for="Youtube" class="form-control" />
                    <span asp-validation-for="Youtube" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-close btn-fill-horz">SAVE</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('form').submit(function () {
            $('#modal-edit').modal("hide");
        });
    })
</script>
