﻿@model ProfileViewModel
@{
}
<div class="nav-menu">
    <p>MANAGER ACCOUNT</p>
    <ul class="nav nav-pills nav-stacked">
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Profile", "Candidate"))?"active":"")'><a asp-controller="Candidate" asp-action="Profile">Profile</a></li>
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("ListCV", "CurriculumVitae"))?"active":"")'><a asp-controller="CurriculumVitae" asp-action="ListCV">CV</a></li>
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "Comment"))?"active":"")'><a asp-controller="Comment" asp-action="Index" asp-route-candidateId="@Model.CvId">Comments</a></li>
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("ListSavedJob", "Candidate"))?"active":"")'><a asp-controller="Candidate" asp-action="ListSavedJob">Saved Jobs</a></li>
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("ListAppliedJob", "Candidate"))?"active":"")'><a asp-controller="Candidate" asp-action="ListAppliedJob">Applied Jobs</a></li>
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("InterviewInvitation", "Candidate"))?"active":"")'><a asp-controller="Candidate" asp-action="InterviewInvitation">Interview Invitations <span class="badge">@Model.InterviewInvitationCount</span></a></li>
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "EmployerView"))?"active":"")'><a asp-controller="EmployerView" asp-action="Index">Employers Views</a></li>
        <hr />
        <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("ChangePassword", "Candidate"))?"active":"")'><a asp-controller="Candidate" asp-action="ChangePassword">Reset Password</a></li>

        <li>
            <a asp-controller="Account" asp-action="LogOff">@T.T("Home.Sign.Out")</a>
        </li>
        <li>
            <div style="padding-top:15px;padding-left:30px;">
                <h5 class="pull-left no-margin" style="font-weight:700; color:#5d626f;">Publish CV?</h5>
                <label class="switch" style="margin-right:10px;margin-top:-4px;">
                    @{var isCheck1 = "";
                    if (Model.IsPublishCV.HasValue)
                    {
                        isCheck1 = Model.IsPublishCV.Value == true ? "checked = checked" : "";
                    }
                    }
                    <input name="isPublish" id="isPublish" type="checkbox" @isCheck1>
                    <div class="slider round"></div>
                </label>
            </div>
        </li>
    </ul>
</div>