﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.PersonalInformation
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Edit Information</h4>
</div>

<form method="post" 
      asp-controller="Candidate" 
      asp-action="UpdateInfomation" 
      data-ajax="true" 
      data-ajax-method="POST" 
      data-ajax-loading="#loading-area"
      data-updated-block="#contact-info" 
      data-ajax-success="OnUpdateSuccess">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control text_without_html" required/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" required />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DateOfBirth"></label>
                        <input asp-for="DateOfBirth" class="form-control datetimepicker" required placeholder="dd/MM/yyyy" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Nationality"></label>
                        <input asp-for="Nationality" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" asp-items="@Model.Genders" class="form-control advance-select"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="MaritalStatusValue"></label>
                        <select asp-for="MaritalStatusValue" asp-items="@Model.MaritalStatus" required class="form-control advance-select">
                        </select>
                        <span asp-validation-for="MaritalStatusValue" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="YearsOfExperience"></label>
                        <input asp-for="YearsOfExperience" class="form-control" required/>
                        <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Country"></label>
                        <select asp-for="Country" asp-items="@Model.Countries" id="ddlCountry" class="form-control advance-select" required>
                            <option value="">---Select---</option>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="HomeCity"></label>
                        <select asp-for="HomeCity" asp-items="@Model.HomeCities" class="form-control advance-select" id="ddlState" required>
                            <option value="">---Select---</option>
                        </select>
                        <span asp-validation-for="HomeCity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="HomeDistrict"></label>
                        <select asp-for="HomeDistrict" asp-items="@Model.HomeDictricts" class="form-control advance-select" id="ddlDistrict">
                            <option value="">---Select---</option>
                        </select>
                        <span asp-validation-for="HomeDistrict" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-close btn-fill-horz">SAVE</button>
            <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
        </div>
    </form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".advance-select").select2({
            theme: "bootstrap",
            allowClear: true,
        });

        $('form').submit(function () {
            $('#modal-edit').modal("hide");
        });
    });
    $(document).ready(function () {

        jQuery('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y'
        });
    });

    $(document).ready(function () {
        $('#ddlCountry').change(function () {
            $.ajax({
                type: "get",
                url: '@Url.Action("FindStateByCountryName")',
                data: { id: $('#ddlCountry').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var state = '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        state = state + '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                    }
                    state = state + '</select>';
                    $('#ddlState').html(state);
                }
            });
        });
    });

     $(document).ready(function () {
        $('#ddlState').change(function () {
            $.ajax({
                type: "get",
                url: '@Url.Action("FindStateByStateName")',
                data: { id: $('#ddlState').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district = '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        district = district + '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                    }
                    district = district + '</select>';
                    $('#ddlDistrict').html(district);
                }
            });
        });
    });
</script>