﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.Sumary
<script src="~/lib/tinymce/tinymce.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.normal-editor"
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    <h4 class="modal-title">Update Summary</h4>
</div>

<form method="post"
      asp-controller="Candidate"
      asp-action="UpdateSummary"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-updated-block="#personal-sumary"
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" class="form-control normal-editor" rows="5"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-close btn-fill-horz">SAVE</button>
        <button type="button" class="btn btn-close btn-fill-horz" data-dismiss="modal">CLOSE</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('form').submit(function () {
            $('#modal-edit').modal("hide");
        });
    })
</script>
