﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.Language

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><img src="@Url.Content("~/images/close.png")" alt=""></button>
    <h4 class="modal-title">Update Information</h4>
</div>

<form 
    method="post"  
    asp-controller="Candidate"
      asp-action="EditLanguage"
    data-ajax="true" 
    data-ajax-method="POST" 
      data-ajax-loading="#loading-area"
      data-updated-block="#candidate-reference" 
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="LanguageId"></label>
                    <select asp-for="LanguageId" asp-items="@Model.List" class="form-control js-example-basic-multiple" data-live-search="true">
                        <option value="value">text</option>
                    </select>
                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-multiple").select2({
            tags: true,
            tokenSeparators: [","]
            //createTag: function (tag) {
            //    return {
            //        id: tag.term,
            //        text: tag.term
            //    };
            //}
        });
    });
</script>
