﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.KeySkill

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title">Update Skill</h4>
</div>

<form method="post"
      asp-controller="Candidate"
      asp-action="UpdateSkill" 
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-updated-block="#key-skill"
      data-ajax-success="OnUpdateSuccess">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    @if (Model.SkillName.Any())
            {
                foreach (var item in Model.SkillName)
                {
                            <li>@item</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="SkillId"></label>
                    <select asp-for="SkillId" asp-items="@Model.List" class="form-control js-example-basic-multiple" data-live-search="true" style="width: 100%;"></select>
                    <span asp-validation-for="SkillId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-multiple").select2({
            tags: true,
            tokenSeparators: [","]
            //createTag: function (tag) {
            //    return {
            //        id: tag.term,
            //        text: tag.term
            //    };
            //}
        });
    });
</script>