﻿@model MIC.AseanTalentSearch.Web.EF.Candidate
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <form method="post" asp-controller="Candidate" asp-action="UploadFilesAjax" enctype="multipart/form-data">
            <div class="widget-user-header bg-yellow">
                <div class="widget-user-image">
                    <input type="file" name="files" id="files" style="display: none;" />
                    <img onclick="preventDefault(event); document.getElementById('files').click();" class="img-circle equalsize" src="@(String.IsNullOrEmpty(Model?.Image) ? Url.Content("~/images/noimage.png") : Url.Content(PathOptions.Value.FrontImage + Model.Image))" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">@(Model?.IdNavigation?.GeneralProfile?.FirstName??"Updating...")</h3>
                @*<h5 class="widget-user-desc">Lead Developer</h5>*@
            </div>
        </form>
        <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
                <li><a asp-controller="Candidate" asp-action="Profile">Profile</a></li>
                <li><a asp-controller="CurriculumVitae" asp-action="ListCV">CV</a></li>
                <li><a asp-controller="Candidate" asp-action="ListSavedJob">Saved Job</a></li>
                <li><a asp-controller="Manage" asp-action="ChangePassword">Change Password</a></li>
                @*<li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>*@
            </ul>
        </div>
    </div>

<script>
    function preventDefault(e) {
        e.preventDefault();
    }
    $(document).ready(function () {
        @if (!ViewData.ModelState.IsValid)
        {
            foreach (var value in ViewData.ModelState.Values)
            {
                foreach (var item in value.Errors)
                {
                    @:toastr.warning("@item.ErrorMessage");
                }
            }
        }

        $("#files").change(function (evt) {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadFilesAjax")",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    @if (!ViewData.ModelState.IsValid)
                    {
                        @:toastr.success('Update successed!');
                    }                       
                    $(".box-profile").html(result);
                    },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.warning('Warning! An error is occurred, please try again!');
                }
            });
        });
    });
</script>