﻿@model MIC.AseanTalentSearch.Web.Models.Candidate.ProfileViewModel
@{
    ViewData["Title"] = "AddOrUpdateProfile";
}

<section id="recruiment-banner" class="fill" style="background: url('images/bgchitietcty.png'); height: 365px;"></section>

<section id="search-section">
    <div class="container">
        <form class="flat-form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select style="width: 100%" id="job-select" class="form-control">
                            <option value="">Ngành nghề</option>
                            <option value="1">IT</option>
                            <option value="2">Art</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Tiêu đề công việc">
                            <span class="input-group-addon">
                                <button type="button">
                                    <span class="fa fa-briefcase"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Địa điểm">
                            <span class="input-group-addon">
                                <button type="button">
                                    <span class="fa fa-location-arrow"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <a href="#" class=" btn btn-border-w"><i class="fa fa-search" aria-hidden="true"></i> TÌM KIẾM</a>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- thêm thẻ a cho div.item -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="site-bar">
                <div id="menu-infor">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-avatar box-profile box-edit">
                                <div class="box-body text-center">
                                    <a class="btn btn-details" href="#"><i class="fa fa-camera" aria-hidden="true"></i></a>
                                    <a href="#"><img src="images/ml.png" class="img-responsive img-center" alt=""></a>
                                    <h1 class="box-body-title"><a href="#">Nguyễn Thị Thu Hiền</a></h1>
                                    <p class="text-center">Kế toán - Kiểm toán</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="sidebar-nav">
                                <!-- <div class="navbar navbar-default" role="navigation"> -->
                                <div class="navbar-collapse sidebar-navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>Trang cá nhân</a></li>
                                        <li class="active"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Cập nhật thông tin</a></li>
                                        <li><a href="#"><i class="fa fa-key" aria-hidden="true"></i>Đổi mật khẩu</a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Việc làm đã lưu</a></li>
                                        <li><a href="#"><i class="fa fa-suitcase" aria-hidden="true"></i>Việc làm đã ứng tuyển</a></li>
                                        <li><a href="#"><i class="fa fa-file-o" aria-hidden="true"></i>Giao diện CV</a></li>
                                        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a></li>
                                    </ul>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="main-content">
                <div id="update-infor">
                    <h1 class="section-title section-title-1">Thông tin cá nhân</h1>
                    <hr class="underline underline-left">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.FullName"></label>
                                <input asp-for="PersonalInformation.FullName" class="form-control"  placeholder="@Html.DisplayNameFor(m=>m.PersonalInformation.FullName)">
                                <span asp-validation-for="PersonalInformation.FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.DateOfBirth"></label>
                                <input asp-for="PersonalInformation.DateOfBirth" placeholder="@Html.DisplayNameFor(m=>m.PersonalInformation.DateOfBirth)" class="form-control" >
                                <span asp-validation-for="PersonalInformation.DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.Phone"></label>
                                <input asp-for="PersonalInformation.Phone" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.PersonalInformation.Phone)">
                                <span asp-validation-for="PersonalInformation.Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.MaritalStatus"></label>
                                <select style="width: 100%" class="form-control advance-select" asp-for="PersonalInformation.MaritalStatus" asp-items="@Model.PersonalInformation.MaritalItems">                                                                    
                                </select>
                                <span asp-validation-for="PersonalInformation.MaritalStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.Gender"></label>
                                <select asp-for="PersonalInformation.Gender" asp-items="@Model.PersonalInformation.GenderList" style="width: 100%" class="form-control advance-select">
                                </select>
                                <span asp-validation-for="PersonalInformation.Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.Email"></label>
                                <input asp-for="PersonalInformation.Email" class="form-control"  placeholder="@Html.DisplayNameFor(m=>m.PersonalInformation.Email)">
                                <span asp-validation-for="PersonalInformation.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.EducationLevel"></label>
                                <select asp-for="PersonalInformation.EducationLevel" asp-items="@Model.PersonalInformation.EducationLevels" style="width: 100%" class="form-control advance-select">
                                    
                                </select>
                                <span asp-validation-for="PersonalInformation.EducationLevel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.YearsOfExperience"></label>
                                <input asp-for="PersonalInformation.YearsOfExperience" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.PersonalInformation.YearsOfExperience)" />
                                <span asp-validation-for="PersonalInformation.YearsOfExperience" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.Nationality"></label>
                                <input asp-for="PersonalInformation.Nationality" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.PersonalInformation.Nationality)" />
                                <span asp-validation-for="PersonalInformation.Nationality" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                            <div class="form-group">
                                <label asp-for="PersonalInformation.Address"></label>
                                <input asp-for="PersonalInformation.Address" class="form-control"  placeholder="@Html.DisplayNameFor(m=>m.PersonalInformation.Address)">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h1 class="section-title section-title-2">Công việc mong muốn</h1>
                    <hr class="underline underline-left">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="">Nơi làm việc:</label>
                                <select style="width: 100%" class="form-control advance-select">
                                    <option selected disabled value="">Nơi làm việc</option>
                                    <option value="1">IT</option>
                                    <option value="2">Art</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="">Mức lương:</label>
                                <input type="text" class="form-control" id="name" placeholder="Mức lương">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="">Ngành nghề:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ngành nghề ">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="">Loại hình công việc:</label>
                                <select style="width: 100%" class="form-control advance-select">
                                    <option selected disabled value="">Loại hình công việc</option>
                                    <option value="1">IT</option>
                                    <option value="2">Art</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="">Cấp bậc:</label>
                                <input type="text" class="form-control" id="name" placeholder="Cấp bậc:">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group form-tag">
                                <label for="">Ngôn ngữ:</label>
                                <select style="width: 100%" class="form-control advance-select-tag">
                                    <option value="1">Tiếng anh</option>
                                    <option value="2">Tiểng pháp</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h1 class="section-title section-title-2">Kỹ năng bản thân</h1>
                    <hr class="underline underline-left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control form-large"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h1 class="section-title section-title-2">Học vấn bằng cấp</h1>
                    <hr class="underline underline-left">
                    <div class="row">
                        <div class="tab-content">
                            <div id="timelineMain" class="tab-pane fade in active">
                                <div class="col-md-12">
                                    <div class="timeline-profile">
                                        <ul class="timeline">
                                            <li>
                                                <div class="timeline-badge info"></div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-body">
                                                        <div class=" row">
                                                            <div class="col-md-4">
                                                                <div class="box-label box-label-date ">
                                                                    12/2/2017 - 14/4/2018
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p class="timeline-title">Kế toán - Kiểm toán</p>
                                                                <ul class="list-unstyled">
                                                                    <li>Đại Học Kinh Tế Luật - Đại Học Quốc Gia Thành phố Hồ Chí Minh</li>
                                                                    <li>Bachelor - Cử nhân</li>
                                                                    <li>Nội dung: GPA: Good</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="timeline-badge primary"></div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-body">
                                                        <div class=" row">
                                                            <div class="col-md-4">
                                                                <div class="box-label box-label-date ">
                                                                    12/2/2017 - 14/4/2018
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p class="timeline-title">Word, excel, PP</p>
                                                                <ul class="list-unstyled">
                                                                    <li>Đại Học Khoa Học Tự Nhiên - Đại Học Quốc Gia Hồ Chí Minh</li>
                                                                    <li>Computer - Bằng B tin học văn phòng</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="timeline-badge warning"></div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-body">
                                                        <div class=" row">
                                                            <div class="col-md-4">
                                                                <div class="box-label box-label-date ">
                                                                    12/2/2017 - 14/4/2018
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p class="timeline-title">Chief Accountant certificate - Kế toán trưởng</p>
                                                                <ul class="list-unstyled">
                                                                    <li>Đại Học Kinh tế Thành phố Hồ Chí Minh</li>
                                                                    <li>Chief Accountant - Kế toán trưởng</li>
                                                                    <li>Nội dung: GPA: Good</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="editTimeline" class="tab-pane fade">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Bằng cấp/chứng chỉ:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Bằng cấp-chứng chỉ">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Trường:</label>
                                        <select style="width: 100%" class="form-control advance-select">
                                            <option selected disabled value=""></option>
                                            <option value="1">IT</option>
                                            <option value="2">Art</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Xếp loại:</label>
                                        <select style="width: 100%" class="form-control advance-select">
                                            <option selected disabled value=""></option>
                                            <option value="1">Xuất sắc</option>
                                            <option value="2">Giỏi</option>
                                            <option value="2">Khá</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Từ tháng:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Từ tháng">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Đến tháng:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Đến tháng">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Thông tin bổ sung:</label>
                                        <textarea class="form-control form-large"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="active">
                                <a class="btn btn-add" data-toggle="pill" onclick="addButon()" href="#editTimeline">THÊM MỚI</a>
                            </div>
                            <div id="myDIV" style="display: none;">
                                <a class="btn btn-cancel" data-toggle="pill" onclick="cancelButton()" href="#timelineMain">HỦY BỎ</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h1 class="section-title section-title-2">Kinh nghiệm làm việc</h1>
                    <hr class="underline underline-left">
                    <div class="row">
                        <div class="tab-content">
                            <div id="timelineMain1" class="tab-pane fade in active">
                                <div class="col-md-12">
                                    <div class="timeline-profile">
                                        <ul class="timeline">
                                            <li>
                                                <div class="timeline-badge info"></div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-body">
                                                        <div class=" row">
                                                            <div class="col-md-4">
                                                                <div class="box-label box-label-date ">
                                                                    12/2/2017 - 14/4/2018
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p class="timeline-title">Accountant</p>
                                                                <ul class="list-unstyled">
                                                                    <li>Đại Học Kinh Tế Luật - Đại Học Quốc Gia Thành phố Hồ Chí Minh</li>
                                                                    <li>Bachelor - Cử nhân</li>
                                                                    <li>Nội dung: GPA: Good</li>
                                                                </ul>
                                                                <p>Mô tả công việc</p>
                                                                <ul class="list-unstyled">
                                                                    <li>- Nhận các hóa đơn, phiếu thu chi… và nhập dữ liệu lên phần mềm Effect ERP</li>
                                                                    <li>- Kiểm tra lại tất cả hóa đơn từ nhà cung cấp khoảng 2000 hóa đơn và chứng từ xuất nhập khẩu hàng tháng.</li>
                                                                    <li>- Tổng hợp tình hình hiện tại từ các thông tin của bảng cân đối kế toán về doanh thu, lợi nhuận và làm các báo cáo khác .</li>
                                                                    <li>- Duy trì, kiểm soát các hoạt động kế toán bằng cách thiết lập quy trình.</li>
                                                                    <li>- Hướng dẫn cho các nhân viên kế toán mới và trả lời các vướng mắc.</li>
                                                                    <li>- Cân đối sổ sách thuế và tình hình thực tế.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="timeline-badge primary"></div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-body">
                                                        <div class=" row">
                                                            <div class="col-md-4">
                                                                <div class="box-label box-label-date ">
                                                                    12/2/2017 - 14/4/2018
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p class="timeline-title">Accountant</p>
                                                                <ul class="list-unstyled">
                                                                    <li>Đại Học Kinh Tế Luật - Đại Học Quốc Gia Thành phố Hồ Chí Minh</li>
                                                                    <li>Bachelor - Cử nhân</li>
                                                                    <li>Nội dung: GPA: Good</li>
                                                                </ul>
                                                                <p>Mô tả công việc</p>
                                                                <ul class="list-unstyled">
                                                                    <li>- Nhận các hóa đơn, phiếu thu chi… và nhập dữ liệu lên phần mềm Effect ERP</li>
                                                                    <li>- Kiểm tra lại tất cả hóa đơn từ nhà cung cấp khoảng 2000 hóa đơn và chứng từ xuất nhập khẩu hàng tháng.</li>
                                                                    <li>- Tổng hợp tình hình hiện tại từ các thông tin của bảng cân đối kế toán về doanh thu, lợi nhuận và làm các báo cáo khác .</li>
                                                                    <li>- Duy trì, kiểm soát các hoạt động kế toán bằng cách thiết lập quy trình.</li>
                                                                    <li>- Hướng dẫn cho các nhân viên kế toán mới và trả lời các vướng mắc.</li>
                                                                    <li>- Cân đối sổ sách thuế và tình hình thực tế.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="editTimeline1" class="tab-pane fade">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Vị trí:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Vị trí">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Tên công ty:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Tên công ty:">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Địa chỉ:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Địa chỉ:">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Từ tháng:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Từ tháng">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Đến tháng:</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Mô tả công việc:</label>
                                        <textarea class="form-control form-large"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="active">
                                <a class="btn btn-add" data-toggle="pill" onclick="addButon1()" href="#editTimeline1">THÊM MỚI</a>
                            </div>
                            <div id="myDIV1" style="display: none;">
                                <a class="btn btn-cancel" data-toggle="pill" onclick="cancelButton1()" href="#timelineMain1">HỦY BỎ</a>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center ">
                        <a class="btn btn-details" href="#">CẬP NHẬT THÔNG TIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

