<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="/images/close.png" alt="">
    </button>
    <h4 class="modal-title">@(ViewBag.CVLink==null? "Add Your CV" : "Update Your CV")</h4>
</div>

<form method="post"
      asp-controller="Candidate"
      asp-action="AddYourCV"
      enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-ajax-success="OnInsertCVSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>CV File</label>
                    <input type="file" id="cvFile" name="cvFile" accept=".doc,.docx,.pdf">
                    <p class="help-block">You can only attach .doc, .docx, and .pdf file that is less than 2MB in size</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Set Active</label>
                    <input type="checkbox" value="true" checked id="isActive" name="isActive">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>