﻿@using MIC.AseanTalentSearch.Web.EF
@model MIC.AseanTalentSearch.Web.EF.JobApplication
@{
    Candidate candidate = (Candidate) ViewData["Candidate"];
    PositionJob positionJob = (PositionJob) ViewData["Position"];
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="/images/close.png" alt="">
    </button>
    <h4 class="modal-title">You are applying for <span class="text-bold">@(positionJob?.PositionTitle ?? "No position")</span></h4>
</div>

<form method="post"
      asp-controller="Candidate"
      asp-action="ApplyCV"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-loading="#loading-area"
      data-ajax-success="OnUpdateSuccess" enctype="multipart/form-data">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="CandidateId" type="hidden" value="@candidate?.Id"/>
        <input asp-for="PositionJobId" type="hidden" value="@positionJob?.Id"/>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="file">CV File</label>
                    <input type="file" id="file" name="file">
                    <p class="help-block">You can only attach .doc, .docx, and .pdf file that is less than 2MB in size</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="JobApplicationName"></label>
                    <input asp-for="JobApplicationName" class="form-control"/>
                    <span asp-validation-for="JobApplicationName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="CoverLetter"></label>
                    <textarea asp-for="CoverLetter" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="CoverLetter" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>
