@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<div id="banner-child" class="fill" style="background:url('/images/image-new/banner-profile.jpg')">
    <div class="container">
        <div class="manager-banner">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <form method="post" asp-controller="Candidate" asp-action="UploadFilesAjax" enctype="multipart/form-data">
                                <div class="avatar-profile">
                                    <input type="file" name="files" id="files" style="display: none;" />
                                    <img onclick="preventDefault(event); document.getElementById('files').click();" style="width:120px;height:120px" src="@(String.IsNullOrEmpty(Model.Candidate?.Image) ? Url.Content("~/images/avatar.jpg") : Url.Content(Model.Candidate.Image))" alt="User Avatar">
                                </div>
                            </form>
                        </li>
                        <li class="info-user">
                            <h4>@Model.Candidate.FullName</h4>
                            <p></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <h3 style="text-transform:uppercase">Looking for a Job</h3>
                        <p class="text-right">Join thousand of emplyers and earn what you deserve</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="manager-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                @await Component.InvokeAsync("CanidateProfileSitebar")
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="tab-content " style="background-color: #fff;">
                    <div id="mn-change-password" class="tab-pane fade in active ">
                        @Html.Partial("~/Views/Shared/Components/Candidate/ChangePassword.cshtml", new ChangePasswordViewModel())
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>