﻿@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@model MIC.AseanTalentSearch.Web.EF.Candidate
@{
    ViewData["Title"] = "Interview Invitation";
}
<style>
    .detail_invitation {
    }

        .detail_invitation i {
            top: 0 !important;
        }
</style>
@*@await Component.InvokeAsync("JobSearchForm", new { bgUrl = "~/images/bgchitietcty.png" })*@
<!-- thêm thẻ a cho div.item -->
<div id="banner-child" class="fill" style="background:url('/images/image-new/banner-profile.jpg')">
    <div class="container">
        <div class="manager-banner">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <form method="post" asp-controller="Candidate" asp-action="UploadFilesAjax" enctype="multipart/form-data">
                                <div class="avatar-profile">
                                    <input type="file" name="files" id="files" style="display: none;" />
                                    <img onclick="preventDefault(event); document.getElementById('files').click();" style="width:120px;height:120px" src="@(String.IsNullOrEmpty(Model?.Image) ? Url.Content("~/images/avatar.jpg") : Url.Content(Model.Image))" alt="User Avatar">
                                </div>
                            </form>
                        </li>
                        <li class="info-user">
                            <h4>@Model.FullName</h4>
                            <p></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <h3 style="text-transform:uppercase">Looking for a Job</h3>
                        <p class="text-right">Join thousand of emplyers and earn what you deserve</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="manager-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                @await Component.InvokeAsync("CanidateProfileSitebar")
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="tab-content " style="background-color: #fff;">
                    <div id="mn-interview-inviations" class="tab-pane fade in active ">
                        @await Component.InvokeAsync("InterviewInvitation")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section id="candidate-pofile">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <div class="box-profile">
                        @await Component.InvokeAsync("CanidateProfileSitebar")
                    </div>
                </div>

                <div class="col-md-10">
                    <form asp-controller="Candidate" asp-action="RemoveInterviewInvitation" method="post">
                        <div id="list-savedjob">
                            <div id="job-search-result" class="box box-solid box-default">
                                <div class="box-heading">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <i class="fa fa-save"></i>
                                            <p class="box-title">Interview Invitation</p>
                                        </div>
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-default">Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">

                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <div class="job-item">
                                                <div class="relative">
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-lg-2 job-search__logo-col">
                                                            <div class="logo job-search__logo">
                                                                <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.Id" class="job-logo">
                                                                    @{
                                                                        var logoSrc = item.Company.Logo ?? "images/employerlogo1.png";
                                                                    }
                                                                    <img title="@(item.Company.Name ?? "No name")" class="img-responsive" src="@logoSrc">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-lg-10 job-search__job-info-col">
                                                            <div class="clearfix">
                                                                <div class="col-sm-9">
                                                                    <span>
                                                                        <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.Id" title="@(item.PositionJob.PositionTitle)" class="job-item-info">
                                                                            <strong class="job-title"> @(item.PositionJob.PositionTitle)</strong>
                                                                        </a>
                                                                    </span>
                                                                    <span class="company " style="display: block;">
                                                                        <a class="job-search__company" asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid"><span data-url="@Url.Action("Details", "Company", new { id = item.CompanyId })" title="@(item.Company.Name ?? "No name")">@(item.Company.Name ?? "No name")</span></a>


                                                                            @*<span class="hidden-xs text-gray-a separator">|</span>
                                                                            @{
                                                                                var locations = item.JobLocation.Select(m => m.Location);
                                                                            }
                                                                            @for (int i = 0; i < locations.Count(); i++)
                                                                            {
                                                                                <a asp-controller="Recruiment" asp-action="Index" asp-route-LocationId="@locations.ElementAt(i).Id" class="location"> @locations.ElementAt(i).Name</a>
                                                                                if (i < locations.Count() - 1)
                                                                                {
                                                                                    @:,
                                                                                }
                                                                            }
                                                                    </span>
    <span>
        @string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreatedDate)
    </span>
    @* <span style="display: block; margin-top: 10px;" class="job-search__date-posted gray-light text-muted ">@string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)</span>
                                                                </div>
    <div class="pull-right">
        <div class="checkbox">
            <label><input name="invitation[]" type="checkbox" value="@item.Id"></label>
        </div>
    </div>
    <div class="col-md-12 pull-left">
        <a data-toggle="collapse" href="#collapseInterviewInvitation_@item.Id" aria-expanded="false" class="text-aqua btnShow">Detail Invitation</a>
    </div>
                                                            </div>
                                                        </div>

                                                    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="collapseInterviewInvitation_@item.Id" class="pad panel-collapse collapse out" aria-expanded="false">
                <div class="detail_invitation panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">From :</span>
                                <input readonly="readonly" class="form-control" value="@item.Company.Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Subject :</span>
                                <input readonly="readonly" class="form-control" value="@item.Title" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                                        <input readonly="readonly" class="form-control" value="@item.ContactPhone" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                        <input readonly="readonly" class="form-control" value="@item.ContactEmail" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-o fa-fw"></i></span>
                                        <input readonly="readonly" class="form-control" value="@item.ContactPersonName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            @Html.Raw(item.LetterContent)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                </div>
                                            </div>
                                                                        }
    <div class="text-center">
        <div class="navigation-a">
            <pager />
        </div>
    </div>
                                                                        }
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>*@
@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $(".btnShow").on("click", function () {
                if ($(this).attr("aria-expanded") == "false") {
                    $(this).text("Hide Invitation");
                }
                else {
                    $(this).text("Detail Invitation");
                }
            })
        });
    </script>
}


