﻿@{
    ViewData["Title"] = "My Friends";
}
<style>
    .align_center{
        text-align:center;
    }
</style>
@await Component.InvokeAsync("JobSearchForm", new { bgUrl = "~/images/bgchitietcty.png" })
<section id="candidate-pofile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="box-profile">
                    @await Component.InvokeAsync("CanidateProfileSitebar")
                </div>
            </div>
            <div class="col-lg-10 col-md-9">


                <div class="box box-solid">
                    <div class="box-header with-border">
                        <label>Invitations(1)</label>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-xs-4">
                                    <img src="~/images/avatar.png" />
                                </div>
                                <div class="col-xs-8">
                                    <h3>Thuy Dung</h3>
                                    <p>Học lập trình web miễn phí</p>
                                    <p>Laedaily.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button style="margin-left:20px;" class="btn btn-primary pull-right">Accept</button>
                                <button class="btn btn-danger pull-right">Ignore</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box box-solid">

                    <div class="box-body">
                        <div class="row">
                            <div>
                                <h2>Add personal contacts</h2>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text" /><button class="btn">Continue</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <label>People you may know</label>
                    </div>
                    <div class="box-body">
                        <div class="row">
                           <div class="col-md-4">
                               <center>
                                   <img src="~/images/avatar.png" />
                                   
                               </center>
                               <center>
                                   <b>Giang Nguyễn Hồng</b>
                                   <p class="align_center">Technical Expert at Duy Tan University</p>
                                   <p class="align_center">Mai Quoc Bao and 4 others</p>

                                   <button class="btn btn-primary">Connect</button>
                               </center>
                           </div>
                            <div class="col-md-4">
                                <center>
                                    <img src="~/images/avatar.png" />
                                </center>
                                <center>
                                    <b>Duy Minh</b>
                                    <p class="align_center">nguyenminhduy@duytan.edu.vn</p>
                                    <button class="btn btn-primary">Connect</button>
                                </center>
                            </div>
                            <div class="col-md-4">
                                <center>
                                    <img src="~/images/avatar.png" />
                                </center>
                                <center>
                                    <b>Hoa Nguyen</b>
                                    <p class="align_center">Lecturer at Duy Tan University</p>
                                    <p class="align_center">Truong Vu and 5 others</p>
                                    <button class="btn btn-primary">Connect</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>


@section Scripts
    {
    <script type="text/javascript">

    </script>
}


