﻿@model MIC.AseanTalentSearch.Web.EF.Candidate
    @{
        ViewData["Title"] = "Candidate  Profile";
    }
<script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
<link href="~/lib/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/lib/datetimepicker/jquery.datetimepicker.js"></script>
@*@await Component.InvokeAsync("SubJobSearchForm", new { bgUrl = "~/images/bgchitietcty.png" })*@
<div id="banner-child" class="fill" style="background:url('/images/image-new/banner-profile.jpg')">
    <div class="container">
        <div class="manager-banner">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <form method="post" asp-controller="Candidate" asp-action="UploadFilesAjax" enctype="multipart/form-data">
                                <div class="avatar-profile">
                                    <input type="file" name="files" id="files" style="display: none;" />
                                    <img onclick="preventDefault(event); document.getElementById('files').click();" style="width:120px;height:120px" src="@(String.IsNullOrEmpty(Model?.Image) ? Url.Content("~/images/avatar.jpg") : Url.Content(Model.Image))" alt="User Avatar">
                                </div>
                            </form>
                        </li>
                        <li class="info-user">
                            <h4>@Model.FullName</h4>
                            <p></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <h3 style="text-transform:uppercase">Looking for a Job</h3>
                        <p class="text-right">Join thousand of emplyers and earn what you deserve</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="manager-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                @await Component.InvokeAsync("CanidateProfileSitebar")
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="tab-content " style="background-color: #fff;">
                    <!-- Profile -->
                    <div id="mn-profile" class="tab-pane fade   in active">
                        <div id="contact-info">
                            @await Component.InvokeAsync("PersonalInformation")
                        </div>
                        <hr>
                        <div id="personal-sumary">
                            @await Component.InvokeAsync("CandidateSumary")
                        </div>
                        <hr>
                        <div id="key-skill">
                            @await Component.InvokeAsync("CandidateSkill")
                        </div>
                        <hr>
                        <div id="candidate-socialnetwork">
                            @await Component.InvokeAsync("CandidateSocialNetwork")
                        </div>
                        <hr>
                        <div id="education-history">
                            @await Component.InvokeAsync("EducationHistory")
                        </div>
                        <hr />
                        <div id="employment-history">
                            @await Component.InvokeAsync("EmploymentHistory")
                        </div>
                        <hr>
                        <div id="candidate-reference">
                            @await Component.InvokeAsync("CandidateReference")
                        </div>
                        <hr />
                        <div id="working-preferences">
                            @await Component.InvokeAsync("WorkingPreference")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section id="candidate-pofile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="box-profile">
                    @await Component.InvokeAsync("CanidateProfileSitebar")
                </div>
            </div>
            <div class="col-lg-5 col-md-9">
                
                <div id="contact-info">
                    @await Component.InvokeAsync("PersonalInformation")
                </div>

                <div id="personal-sumary">
                    @await Component.InvokeAsync("CandidateSumary")
                </div>

                <div id="key-skill">
                    @await Component.InvokeAsync("CandidateSkill")
                </div>
                <div id="candidate-languages">
                    @await Component.InvokeAsync("CandidateLanguage")
                </div>

                <div id="candidate-socialnetwork">
                    @await Component.InvokeAsync("CandidateSocialNetwork")
                </div>
                       

            </div>
            <div class="col-lg-5 col-md-12">
                <div id="education-history">
                    @await Component.InvokeAsync("EducationHistory")
                </div>
                <div id="employment-history">
                    @await Component.InvokeAsync("EmploymentHistory")
                </div>
                <div id="candidate-reference">
                    @await Component.InvokeAsync("CandidateReference")
                </div>

                <div id="working-preferences">
                    @await Component.InvokeAsync("WorkingPreference")
                </div>
            </div>
        </div>

    </div>
</section>*@
@*@await Component.InvokeAsync("CanidateProfileSitebar")*@

@section Scripts
{
    <script type="text/javascript">

</script>
}
