﻿@{
    string youtube = (string)ViewBag.Youtube;
    string fb = (string)ViewBag.Facebook;
}

<ul class="nav navbar-nav navbar-right social">
    <li><a target="_blank" href="@youtube.Replace("<p>", "").Replace("</p>", "")" class="icon fa fa-youtube"></a></li>
    <li><a target="_blank" href="@ViewBag.GooglePlus" class="icon fa fa-google-plus"></a></li>
    <li><a target="_blank" href="@fb.Replace("<p>", "").Replace("</p>", "")" class="icon fa fa-facebook"></a></li>
</ul>