﻿<form asp-action="Upload" method="post" asp-controller="Image" enctype="multipart/form-data">
    <table style="width: 100%;">
        <tr>
            <td style="width: 141px; vertical-align: middle;"><label style="font-weight: normal;">Source</label></td>
            <td style="vertical-align: middle;">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse&hellip; <input type="file" id="file" name="file">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 141px; vertical-align: middle; padding-top: 20px;"><label style="font-weight: normal;">Image Description</label></td>
            <td style="vertical-align: middle; padding-top: 20px;">
                <input id="desc" name="desc" type="text" class="form-control">
            </td>
        </tr>
    </table>
</form>