﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="pull-left image">
                    <img src="~/areas/admin/images/user.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@UserManager.GetUserName(User)</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            }
            else
            {
                <div class="pull-left image">
                    <img src="~/areas/admin/images/user.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Anonymous</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            }       
        </div>s
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
           @* <li class="header">HEADER</li>*@
            <!-- Optionally, you can add icons to the links -->
            <li><a asp-controller="Role" asp-action="Index" asp-area="admin"><i class="fa fa-group"></i> <span>@T.T("Admin.Role")</span></a></li>
            <li><a asp-controller="User" asp-action="Index" asp-area="admin"><i class="fa fa-user"></i> <span>@T.T("Admin.User")</span></a></li>
            <li><a asp-controller="Candidate" asp-action="Index" asp-area="admin"><i class="fa fa-user"></i> <span>@T.T("Admin.Candidate")</span></a></li>
            <li><a asp-controller="Instructor" asp-action="Index" asp-area="admin"><i class="fa fa-user"></i> <span>@T.T("Admin.Instructor")</span></a></li>
            <li><a asp-controller="PositionJob" asp-action="Index" asp-area="admin"><i class="fa fa-toggle-on"></i> <span>@T.T("Admin.ActivePositionJob")</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder-open" aria-hidden="true"></i> <span>@T.T("Admin.CategoryManager")</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-action="Index" asp-controller="News" asp-area="Admin"><i class="fa fa-pencil"></i>@T.T("Admin.News")</a></li>
                    <li><a asp-action="Index" asp-controller="Startup" asp-area="Admin"><i class="fa fa-pencil"></i>@T.T("Admin.Startup")</a></li>
                    <li><a asp-controller="Category" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.Category")</span></a></li>
                    <li><a asp-controller="Benefit" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.Benefit")</span></a></li>
                    <li><a asp-controller="EducationLevel" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.EducationLevel")</span></a></li>
                    <li><a asp-controller="JobLevel" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.JobLevel")</span></a></li>
                    <li><a asp-controller="JobType" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.JobType")</span></a></li>
                    <li><a asp-controller="Language" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.Language")</span></a></li>
                    <li><a asp-controller="Layout" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.LayoutForCV")</span></a></li>
                    <li><a asp-controller="Location" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.Location")</span></a></li>
                    <li><a asp-controller="Major" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.Major")</span></a></li>          
                    @*<li><a asp-controller="Religion" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>Religion</span></a></li>*@
                    <li><a asp-controller="Skill" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.JobSkill")</span></a></li>
                    <li><a asp-controller="University" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.University")</span></a></li>             
                    <li><a asp-controller="Company" asp-action="Index" asp-area="admin"><i class="fa fa-pencil"></i> <span>@T.T("Admin.Company")</span></a></li>
    
                </ul>
            </li>
            <li><a asp-controller="SiteConfig" asp-action="Index" asp-area="admin"><i class="fa fa-cog"></i> <span>@T.T("Admin.ConfigSite")</span></a></li>
           
            <li><a asp-area="Admin" asp-action="LogOff" asp-controller="User"><i  class="fa fa-sign-out"></i> <span>@T.T("Admin.Logout")</span></a></li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<script>
    $(function () {
        function stripTrailingSlash(str) {
            if (str.substr(-1) == '/') {
                return str.substr(0, str.length - 1);
            }
            return str;
        }

        var url = window.location.pathname;
        var activePage = stripTrailingSlash(url);

        $('.treeview-menu li a').each(function () {
            var currentPage = stripTrailingSlash($(this).attr('href'));

            if (activePage == currentPage) {
                $(this).parent().parent().addClass('active menu-open');
                $(this).parent().parent().parent().addClass('active');
                $(this).parent().addClass('active');
                $(this).parent().parent().css("display", "block");
            }
        });
    });
</script>