@model MIC.AseanTalentSearch.Web.Areas.Instructor.Models.InstructorSlideBarViewModel
@using Microsoft.AspNetCore.Identity



<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">

            <form method="post" asp-controller="Home" asp-action="UploadAvatar" enctype="multipart/form-data">

                <div class="pull-left image">
                    <input type="file" name="files" id="files" style="display: none;" />
                    <img style="width: 45px;height: 45px;" onclick="preventDefault(event); document.getElementById('files').click();" src="@(Model.Image??"/areas/admin/images/user.png")" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info" style="padding: 15px 5px 5px 15px;line-height: 1;position: absolute;left: 55px; color:#fff;">
                    <p>@Model.FullName</p>
                </div>
            </form>



        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            @*<li class="header">HEADER</li>*@
            <!-- Optionally, you can add icons to the links -->
            <li><a asp-controller="Home" asp-action="Index" asp-area="Instructor"><i class="fa fa-group"></i> <span>Profile</span></a></li>

            @if (Model.IsAdmin)
            {
                <li><a asp-controller="Home" asp-action="ListInstructor"><i class="fa fa-group"></i><span>Instructor Change</span></a></li>          
            }
            <li><a asp-controller="Home" asp-action="ListStudent" asp-area="Instructor"><i class="fa fa-group"></i> <span>Student</span></a></li>
            <li><a asp-action="LogOff" asp-controller="Account" asp-area=""><i class="fa fa-sign-out"></i> <span>Sign out</span></a></li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<script>
    function preventDefault(e) {
        e.preventDefault();
    }

    $(document).ready(function () {

        $("#files").change(function (evt) {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadAvatar")",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.warning('Warning! An error is occurred, please try again!');
                }
            });
        });
    });
</script>
