@model IQueryable<MIC.AseanTalentSearch.Web.EF.News>
@{

}
<div class="row">
    <div class="col-md-12">
        <h3 class="title-news">@T.T("Home.LatestNews")</h3>
    </div>
    @foreach (var item in Model)
    {
        @*<div class="col-md-4 col-sm-6">
            <div class="card" style="padding:0px">
                <img class="card-img-top" src="@item.Picture" alt="@item.Title">
                <div class="card-body">
                    <h4 class="card-title">@item.Title</h4>
                    <p class="card-text">@Html.Raw(item.Description)</p>
                    <a asp-action="Detail" asp-controller="News" asp-route-id="@item.NewsId" class="btn btn-orange btn-fill-horz">Read more</a>
                </div>
            </div>
        </div>*@
        <div class="col-md-4 col-sm-6 padding-card">
            <div class="card cardindex" style="padding:0px">
                <div class="modal-img">
                    <a asp-action="Detail" asp-controller="News" asp-route-id="@item.NewsId">
                        <img class="card-img-top" src="@item.Picture" alt="@item.Title">
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><a asp-action="Detail" asp-controller="News" asp-route-id="@item.NewsId">@item.Title</a></h4>
                    <p class="card-text">@Html.Raw(item.Description)</p>
                    @*<a asp-action="Detail" asp-controller="News" asp-route-id="@item.NewsId" class="btn btn-orange btn-fill-horz">Read more</a>*@
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        var panels = document.getElementsByClassName('cardindex');
        console.log(panels);
        var maxHeight = Array.prototype.map.call(panels, function (panel) {
            return parseInt(getComputedStyle(panel).height, 10);
        })
            .reduce(function (a, b) {
                return Math.max(a, b);
            });

        for (var i = panels.length; i-- > 0;) {
            panels[i].style.height = maxHeight + 'px';
        }
        console.log(maxHeight);
    })
</script>