@model List<MIC.AseanTalentSearch.Web.EF.Benefit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section heading{
    <h1>Benefit</h1>
}
<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<style>

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: none;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                <a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> @T.T("Admin.Create")</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 50%;">
                                @T.T("Admin.Name")
                            </th>

                            <th style="width: 50%;">@T.T("Admin.Action")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> @T.T("Admin.Delete")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<div class="text-center">
                    <ul class="pagination">
                        <pager />
                    </ul>
                </div>*@
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<script>
    $(function () {
        $(".table").DataTable();

    })
</script>



@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
