﻿﻿@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using MIC.AseanTalentSearch.Web.Areas.Employer.Helpers
@model CandidateSearchViewModel
@{
    ViewData["Title"] = "Search Candidate";
    long companyId;
    var comId = long.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out companyId) ? (object)companyId : null;
    var listCandidate = (Sakura.AspNetCore.IPagedList<Candidate>)ViewData["ListCandidate"];
    var page = ViewContext.HttpContext.Request.Query["page"].Count() == 0 ? "1" : ViewContext.HttpContext.Request.Query["page"].ToString();
}
@*<div class="row">
    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">FILTER BY</h3>
            </div>
            <div class="box-body">
                <form id="FormCandidateSearch" asp-area="Employer" asp-controller="Candidates" asp-action="Filter" data-ajax="true" data-ajax-method="post" data-ajax-update="#Outer_CandidateSearch" data-ajax-failure="notifyStatusCode(xhr)">
                    <div class="form-group">
                        <label><i class="fa fa-product-hunt text-aqua margin-r-5"></i>@Html.DisplayNameFor(m => m.CategoryFilters)</label>
                        <div class="checkbox">
                            <div>
                                @if (Model.CategoryFilters.Any())
                                {
                                    var categoryLen = Model.CategoryFilters.Count();
                                    for (var i = 0; i < categoryLen && i < 4; i++)
                                    {
                                        <label>
                                            <input type="hidden" name="CategoryFilters[@i].Id" value="@Model.CategoryFilters.ElementAt(i).Id"/>
                                            <input type="hidden" name="CategoryFilters[@i].Name" value="@Model.CategoryFilters.ElementAt(i).Name"/>
                                            <input type="checkbox" name="CategoryFilters[@i].Selected" value="true"/>
                                            <span>@Model.CategoryFilters.ElementAt(i).Name</span>
                                        </label>
                                        <br/>
                                    }
                                    if (categoryLen > 4)
                                    {
                                        <div id="collapseCategoryFilters" class="panel-collapse collapse out" aria-expanded="true">
                                            @for (var i = 4; i < categoryLen; i++)
                                            {
                                                <label>
                                                    <input type="hidden" name="CategoryFilters[@i].Id" value="@Model.CategoryFilters.ElementAt(i).Id"/>
                                                    <input type="hidden" name="CategoryFilters[@i].Name" value="@Model.CategoryFilters.ElementAt(i).Name"/>
                                                    <input type="checkbox" name="CategoryFilters[@i].Selected" value="true"/>
                                                    <span>@Model.CategoryFilters.ElementAt(i).Name</span>
                                                </label>
                                                <br/>
                                            }
                                        </div>
                                        <a data-toggle="collapse" href="#collapseCategoryFilters" aria-expanded="true" style="margin-top: 10px"><h5 class="text-bold text-aqua categoryFilter">Show more...</h5></a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><i class="fa fa-map-marker text-aqua margin-r-5"></i>@Html.DisplayNameFor(m => m.NationId)</label>
                        <p>
                            <select asp-for="NationId" asp-items="@ViewBag.NationId" onchange="NationChange();" class="form-control select2">
                                <option value="">-- Select nation --</option>
                            </select>
                        </p>
                        <p>
                            <select asp-for="ProvinceId" asp-items="@ViewBag.ProvinceId" class="form-control select2">
                                <option value="">-- Select city / province --</option>
                            </select>
                        </p>
                        @*<p>
                            <select asp-for="ProvinceId" asp-items="@ViewBag.ProvinceId" onchange="ProvinceChange();" class="form-control select2">
                                <option value="">-- Select city / province --</option>
                            </select>
                        </p>*@
@*<select asp-for="DistrictId" asp-items="@ViewBag.DistrictId" class="form-control select2">
                                <option value="">-- Select district --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-share-alt text-aqua margin-r-5"></i>@Html.DisplayNameFor(m => m.SkillFilters)</label>
                            <div class="checkbox">
                                <div>
                                    @if (Model.SkillFilters.Any())
                                    {
                                        var skillLen = Model.SkillFilters.Count();
                                        for (var i = 0; i < skillLen && i < 4; i++)
                                        {
                                            <label>
                                                <input type="hidden" name="SkillFilters[@i].Id" value="@Model.SkillFilters.ElementAt(i).Id" />
                                                <input type="hidden" name="SkillFilters[@i].Name" value="@Model.SkillFilters.ElementAt(i).Name" />
                                                <input type="checkbox" name="SkillFilters[@i].Selected" value="true" />
                                                <span>@Model.SkillFilters.ElementAt(i).Name</span>
                                            </label>
                                            <br />
                                        }
                                        if (skillLen > 4)
                                        {
                                            <div id="collapseSkillFilters" class="panel-collapse collapse out" aria-expanded="true">
                                                @for (var i = 4; i < skillLen; i++)
                                                {
                                                    <label>
                                                        <input type="hidden" name="SkillFilters[@i].Id" value="@Model.SkillFilters.ElementAt(i).Id" />
                                                        <input type="hidden" name="SkillFilters[@i].Name" value="@Model.SkillFilters.ElementAt(i).Name" />
                                                        <input type="checkbox" name="SkillFilters[@i].Selected" value="true" />
                                                        <span>@Model.SkillFilters.ElementAt(i).Name</span>
                                                    </label>
                                                    <br />
                                                }
                                            </div>
                                            <a data-toggle="collapse" href="#collapseSkillFilters" aria-expanded="true" style="margin-top: 10px"><h5 class="text-bold text-aqua skillFilters">Show more...</h5></a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-star text-aqua margin-r-5"></i>@Html.DisplayNameFor(m => m.JobLevelFilters)</label>
                            <div class="checkbox">
                                <div>
                                    @if (Model.JobLevelFilters.Any())
                                    {
                                        var jobLevelLen = Model.JobLevelFilters.Count();
                                        for (var i = 0; i < jobLevelLen && i < 4; i++)
                                        {
                                            <label>
                                                <input type="hidden" name="JobLevelFilters[@i].Id" value="@Model.JobLevelFilters.ElementAt(i).Id" />
                                                <input type="hidden" name="JobLevelFilters[@i].Name" value="@Model.JobLevelFilters.ElementAt(i).Name" />
                                                <input type="checkbox" name="JobLevelFilters[@i].Selected" value="true" />
                                                <span>@Model.JobLevelFilters.ElementAt(i).Name</span>
                                            </label>
                                            <br />
                                        }
                                        if (jobLevelLen > 4)
                                        {
                                            <div id="collapseJobLevelFilters" class="panel-collapse collapse out" aria-expanded="true">
                                                @for (var i = 4; i < jobLevelLen; i++)
                                                {
                                                    <label>
                                                        <input type="hidden" name="JobLevelFilters[@i].Id" value="@Model.JobLevelFilters.ElementAt(i).Id" />
                                                        <input type="hidden" name="JobLevelFilters[@i].Name" value="@Model.JobLevelFilters.ElementAt(i).Name" />
                                                        <input type="checkbox" name="JobLevelFilters[@i].Selected" value="true" />
                                                        <span>@Model.JobLevelFilters.ElementAt(i).Name</span>
                                                    </label>
                                                    <br />
                                                }
                                            </div>
                                            <a data-toggle="collapse" href="#collapseJobLevelFilters" aria-expanded="true" style="margin-top: 10px"><h5 class="text-bold text-aqua jobLevelFilters">Show more...</h5></a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-language text-aqua margin-r-5"></i>@Html.DisplayNameFor(m => m.LanguageFilters)</label>
                            <div class="checkbox">
                                <div>
                                    @if (Model.LanguageFilters.Any())
                                    {
                                        for (var i = 0; i < Model.LanguageFilters.Count(); i++)
                                        {
                                            <label>
                                                <input type="hidden" name="LanguageFilters[@i].Id" value="@Model.LanguageFilters.ElementAt(i).Id" />
                                                <input type="hidden" name="LanguageFilters[@i].Name" value="@Model.LanguageFilters.ElementAt(i).Name" />
                                                <input type="checkbox" name="LanguageFilters[@i].Selected" value="true" />
                                                <span>@Model.LanguageFilters.ElementAt(i).Name</span>
                                            </label>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group with-border">
                            <label><i class="fa fa-dollar text-aqua margin-r-5"></i>@Html.DisplayNameFor(m => m.MinPay)</label>
                            <div class="input-group">
                                <span class="input-group-addon">From</span>
                                <input class="form-control" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Min salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                                <input type="hidden" asp-for="MinPay"/>
                                <span class="input-group-addon">to</span>
                                <input class="form-control" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Max salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                                <input type="hidden" asp-for="MaxPay" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-sort-numeric-asc text-aqua margin-r-5"></i>Year of experience</label>
                            <input asp-for="MinExperienceYear" class="form-control" placeholder="Minium year of experience"/>
                            <input type="hidden" id="page" value="@page" />
                        </div>
                        <button type="submit" class="btn btn-block btn-info btn-flat">Search</button>
                    </form>
                </div>
            </div>
        </div>
    <div class="col-md-9">
        <div id="Outer_CandidateSearch">

        </div>
        <div>

            @await Component.InvokeAsync("SuggestCandidate", comId)
        </div>
        @await Html.PartialAsync("../Candidates/FilterIndex", (List<Candidate>) ViewBag.Candidates, new ViewDataDictionary(ViewData)
        {
            {"TitlePartial", "Lastest candidate"},
        })

    </div>
    </div>*@
<div class="row">
    <form id="FormCandidateSearch" asp-area="Employer" asp-controller="Candidates" asp-action="Filter" data-ajax="true" data-ajax-method="post" data-ajax-update="#Outer_CandidateSearch" data-ajax-failure="notifyStatusCode(xhr)">
        <div class="col-md-4">
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.NationId)</label>
                <select asp-for="NationId" asp-items="@ViewBag.NationId" onchange="NationChange();" class="form-control">
                    <option value="">-- Select nation --</option>
                </select>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="add">&nbsp;</label>
                <select asp-for="ProvinceId" asp-items="@ViewBag.ProvinceId" class="form-control">
                    <option value="">-- Select city / province --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Year of experience</label>
                <input asp-for="MinExperienceYear" class="form-control" placeholder="Minium year of experience" />
                <input type="hidden" id="page" value="@page" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.CategoryFilters)</label><br />
                <select name="CategoryFilters" class="form-control selectpicker" data-live-search="true" title="Choose Category" multiple="multiple">
                    @if (Model.CategoryFilters.Any())
                {
                    var categoryLen = Model.CategoryFilters.Count();
                    for (var i = 0; i < categoryLen; i++)
                    {
                                            @*<input type="hidden" name="CategoryFilters[@i].Id" value="@Model.CategoryFilters.ElementAt(i).Id"/>
                                            <input type="hidden" name="CategoryFilters[@i].Name" value="@Model.CategoryFilters.ElementAt(i).Name"/>*@
                        <option value="@Model.CategoryFilters.ElementAt(i).Id">@Model.CategoryFilters.ElementAt(i).Name</option>
                }
            }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.SkillFilters)</label><br />
                <select name="SkillFilters" class="form-control selectpicker" data-live-search="true" title="Choose Skill" multiple="multiple">
                    @if (Model.SkillFilters.Any())
                {
                    var skillLen = Model.SkillFilters.Count();
                    for (var i = 0; i < skillLen; i++)
                    {
                        <option value="@Model.SkillFilters.ElementAt(i).Id">@Model.SkillFilters.ElementAt(i).Name</option>
                }
            }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.JobLevelFilters)</label><br />
                <select name="JobLevelFilters" class="form-control selectpicker" data-live-search="true" title="Choose Level" multiple="multiple">
                    @if (Model.JobLevelFilters.Any())
                {
                    var levelLen = Model.JobLevelFilters.Count();
                    for (var i = 0; i < levelLen; i++)
                    {
                        <option value="@Model.JobLevelFilters.ElementAt(i).Id">@Model.JobLevelFilters.ElementAt(i).Name</option>
                }
            }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.LanguageFilters)</label><br />
                <select name="LanguageFilters" class="form-control selectpicker" data-live-search="true" title="Choose Language" multiple="multiple">
                    @if (Model.LanguageFilters.Any())
                {
                    var langLen = Model.LanguageFilters.Count();
                    for (var i = 0; i < langLen; i++)
                    {
                        <option value="@Model.LanguageFilters.ElementAt(i).Id">@Model.LanguageFilters.ElementAt(i).Name</option>
                }
            }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.MinPay)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                    <input class="form-control" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Min salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                    <input type="hidden" asp-for="MinPay" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.MaxPay)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                    <input class="form-control" oninput="$(this).next().val($(this).val().replace(/[^0-9]/g,''))" placeholder="Max salary" data-mask="000.000.000.000" data-mask-reverse="true" />
                    <input type="hidden" asp-for="MaxPay" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-employer btn-fill-horz">Search</button>

        </div>
    </form>
    </div>
<div class="row" id="mn-searchcandidate">
    <div id="Outer_CandidateSearch">

        </div>
        <div>

            @await Component.InvokeAsync("SuggestCandidate", comId)
        </div>
        
</div>
@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
}
<script>
    $(document).on("click",
        ".text-center li a",
        function (e) {
            var data = $("#FormCandidateSearch").serializeArray();
            var page = $(this).text();
            data.push({ name: "page", value: page });
            //***
            //data.push({ name: 'JobLevelId', value: $('#JobLevelId').val() });
            $.ajax({
                type: "post",
                url: "/Employer/Candidates/FilterMore",
                data: data,
                beforeSend: function (data) { // Are not working with dataType:'jsonp'
                    $('#Outer_CandidateSearch').html('<div style="width:200px; margin:auto;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><div>');
                }
            })
                .success(function (result) {
                    $("#Outer_CandidateSearch").html(result);
                })
                .fail(function () {
                    $("#Outer_CandidateSearch").text("An error occured");
                });
        });
    $(document).ready(function () {
        $("#collapseCategoryFilters").on("hide.bs.collapse",
            function () {
                $(".categoryFilter").html('Show more...');
            });
        $("#collapseCategoryFilters").on("show.bs.collapse",
            function () {
                $(".categoryFilter").html('Show less...');
            });
        $("#collapseSkillFilters").on("hide.bs.collapse",
            function () {
                $(".skillFilters").html('Show more...');
            });
        $("#collapseSkillFilters").on("show.bs.collapse",
            function () {
                $(".skillFilters").html('Show less...');
            });
        $("#collapseJobLevelFilters").on("hide.bs.collapse",
            function () {
                $(".jobLevelFilters").html('Show more...');
            });
        $("#collapseJobLevelFilters").on("show.bs.collapse",
            function () {
                $(".jobLevelFilters").html('Show less...');
            });
    });
    function NationChange() {
        var nationId = $("#NationId").val();
        var $province = $("#ProvinceId");
        var provinceId = $province.val();
        var $district = $("#DistrictId");
        var districtId = $district.val();

        $.ajax({
            type: "GET",
            url: "/Employer/Home/GetListProvince",
            data: {
                nationId: nationId
            },
            success: (function (resual) {
                $province.empty();
                $province.append(new Option("--Select Province--"));
                $.each(resual, function (key, item) {
                    var nItem = new Option(item['name'], item['id']);
                    if (item['id'] == provinceId) {
                        nItem.selected = true;
                    }
                    $province.append(nItem);
                });
                if ($province.val() > 0) {
                    $district.empty();
                    $district.append(new Option("--Select District--"));
                } else {
                    // ProvinceChange();
                }
            })
        });
    }
        //function ProvinceChange()
        //{
        //    var $province = $("#ProvinceId");
        //    var provinceId = $province.val();
        //    var $district = $("#DistrictId");
        //    $.ajax({
        //        type: "GET",
        //        url: "/Employer/Home/GetListDistrict",
        //        data: {
        //            provinceId: provinceId
        //        },
        //        success: (function (resual) {
        //            $district.empty();
        //            $district.append(new Option("--Select District--"));
        //            $.each(resual, function (key, item) {
        //                var nItem = new Option(item['name'], item['id']);
        //                if (item['id'] == provinceId) {
        //                    nItem.selected = true;
        //                }
        //                $district.append(nItem);
        //            });
        //        })
        //    });
        //}
</script>
