@using System.Security.Claims
@model IEnumerable<JobApplication>
@{
    ViewData["Title"] = "Candidate submitted";
    long companyId;
    var comId = long.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out companyId) ? (object)companyId : null;
}
@*@if (Model.Any())
    {
        int i = 0;
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-info">
                    <div class="box-header with-border bg-gray-light">
                        <h3 class="box-title">
                            Job application submitted : <span class="badge bg-yellow">@Model.Count()</span> <small class="text-muted">candiddates</small>
                        </h3>
                    </div>
                </div>
            </div>

            @foreach (var item in Model)
            {
                i++;
                <div class="col-md-3 col-sm-6">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-aqua">
                            <div class="widget-user-image">
                                @if (item.Candidate.Image == null)
                                {
                                    <img src="~/images/avatar.png" class="img-bordered" />
                                }
                                else if (item.Candidate.Image.Contains("http"))
                                {
                                    <img src="@Url.Content(item.Candidate.Image)" class="img-bordered" />
                                }
                                else
                                {
                                    //var avatar = PathUpLoad.Value.FrontImage + item.Candidate.Image;
                                    <img src="@item.Candidate.Image" class="img-bordered" />
                                }
                            </div>
                            <h3 class="widget-user-username">@item.JobApplicationName</h3>
                            <h5 class="widget-user-desc">
                                <span title="@item.PositionJob.PositionTitle">Position : @item.PositionJob.PositionTitle</span> <br />
                                <span>Submitted : @string.Format("{0:d}", item.CreatedDate)</span>
                                <span>Modified : @string.Format("{0:d}", item.ModifiedDate)</span>
                            </h5>
                        </div>
                        <div class="box-footer no-padding">
                            <div id="collapseJobApplication_@item.Id" class="pad panel-collapse collapse out" aria-expanded="false">
                                <dl>
                                    <dt><i class="fa fa-user-o fa-fw text-aqua margin-r-5"></i>Candidate Name</dt>
                                    <dd style="margin-left: 24px">@item.Candidate.FullName</dd>
                                    <dt><i class="fa fa-phone fa-fw text-aqua margin-r-5"></i>Phone</dt>
                                    <dd style="margin-left: 24px">@item.Candidate.PhoneNumber</dd>
                                    <dt><i class="fa fa-product-hunt text-aqua margin-r-5"></i>Position</dt>
                                    <dd style="margin-left:24px;overflow:hidden;">@item.PositionJob.PositionTitle</dd>
                                    <dt><i class="fa fa-star fa-fw text-aqua margin-r-5"></i>Expected Job Level</dt>
                                    <dd style="margin-left: 24px">@if (item.Candidate.ExpectedJobLevel == null)
                                        { @Html.Raw("");
                                        }
                                        else
                                        {
                                            @Html.Raw(item.Candidate.ExpectedJobLevel.JobLevelName);
                                        }
                                    </dd>
                                    <dt><i class="fa fa-dollar fa-fw text-aqua margin-r-5"></i>Expected Salary</dt>
                                    <dd style="margin-left: 24px">@string.Format("{0:N0}", item.Candidate.ExpectedSalary)</dd>
                                    <dt><i class="fa fa-asterisk fa-fw text-aqua margin-r-5"></i>References</dt>
                                    <dd style="margin-left: 24px">
                                        @if (item.Candidate.Reference.Any())
                                        {
                                            foreach (var reference in item.Candidate.Reference)
                                            {
                                                <span class="margin-r-5">@reference.FullName</span><br/>
                                                <span class="label label-default">@reference.Company</span><br/>
                                                <span class="label label-default">@reference.Position</span><br />
                                                <span class="label label-default">@reference.Email</span><br />
                                                <span class="label label-default">@reference.PhoneNumber</span><br />
                                            }
                                        }
                                        else
                                        {
                                            <span class="text-muted">No data ...</span>
                                        }
                                    </dd>
                                    <dt><i class="fa fa-user-o fa-fw text-aqua margin-r-5"></i>Applied Information:  <a href="@Url.Content("/Uploads/CV/"+item.Linkfile)">Link CV</a></dt>
                                    <dd style="margin-left: 24px">@item.CoverLetter</dd>
                                </dl>
                            </div>
                            <div class="btn-group-justified">
                                <a href="@Url.Content("/CurriculumVitae/ShowCv?id=" + item.Candidate.Cvid)" target="blank" class="btn btn-default btn-flat text-aqua">Profile</a>
                                <a asp-area="Employer"
                                    asp-controller="InterviewInvitations"
                                    asp-action="Create"
                                    asp-route-candidateId="@item.Candidate.Id"
                                    asp-route-companyId="@ViewBag.CompanyId"
                                    asp-route-positionJobId="@item.PositionJob.Id"
                                    target="blank"
                                    class="btn btn-default btn-flat text-aqua">
                                    Invite</a>
                                <a data-toggle="collapse" href="#collapseJobApplication_@item.Id" aria-expanded="false" class="btn btn-default btn-flat text-aqua btnShow">Show all.</a>
                            </div>
                        </div>
                    </div>
                </div>
                if (i == 3)
                {
                    i = 0;
                    <div style="clear:both"></div>
                }
            }
        </div>

    }
    else
    {
        <div class="result-empty">
            <img src="/images/search-empty-employer.jpg" alt="">
            <p class="text-center">Search for Candidates</p>
        </div>
    }*@

@if (Model.Any())
{
<div class="row" id="mn-submitted">
    <h3 class="title-nav">Submitted Candidates</h3>

    <table class="table">
        <tbody>
            @foreach (var item in Model)
            { 
                <tr>
                    <td><i class="fa fa-circle" aria-hidden="true"></i>
                        @item.Candidate.FullName
                        <p class="info-candidate">
                            <span class="fa fa-phone"></span> : @item.Candidate.PhoneNumber
                        </p>
                    </td>
                    <td>
                        @item.JobApplicationName
                        <p class="info-candidate" style="margin-left:0px">
                            <span class="fa fa-envelope"></span> : @item.Candidate.Email
                        </p>
                    </td>
                    <td><span> @string.Format("{0:dd.MM.yyyy| HH:mm}", item.CreatedDate)</span></td>
                    <td>
                        <p><a href="@Url.Content("/Uploads/CV/"+item.Linkfile)" target="_blank" title="Link CV"><span class="fa fa-file-text-o"></span></a></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
    <div class="result-empty">
        <img src="/images/search-empty-employer.jpg" alt="">
        <p class="text-center">Search for Candidates</p>
    </div>
}

<div id="Outer_InterviewInvitation">
    @await Component.InvokeAsync("InterviewInvitationLetter", comId)
</div>


@*@await Html.PartialAsync("../Candidates/FilterIndex", Model, new ViewDataDictionary(ViewData)
    {
        {"TitlePartial", "Lastest candidate"},
    })*@


@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
    <script>
        $(function () {
            /* $("#demo").on('submit', function(e) {
                 e.preventDefault();
                 console.log($(this).serializeArray());
             });*/
        });
        $(document).ready(function () {
            $(".btnShow").on("click", function () {
                if ($(this).attr("aria-expanded") == "false") {
                    $(this).text("Show less.");
                }
                else {
                    $(this).text("Show all.");
                }
            })
        });
    </script>

}