@model Sakura.AspNetCore.IPagedList<MIC.AseanTalentSearch.Web.EF.SaveCandidate>
@{
    ViewData["Title"] = "Search Candidate";
}
@if (Model.Any())
{
    <div class="row" id="mn-searchcandidate">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="title-nav">Saved Candidate</h3>
                </div>
            </div>
            @await Html.PartialAsync("Partial/_ModelStatePartial")
            <div class="row" id="ShowListCandidate">
                @{int i = 0; }
                @foreach (var item in Model)
                {
                    i++;
                    <div class="result">
                        <div class="row">
                            <div class="col-md-2">
                                @if (item.Candidate.Image == null)
                                {
                                    <div class="result-img fill" style="background-image: url(/images/avatar.png)"></div>
                                }
                                else if (item.Candidate.Image.Contains("http"))
                                {
                                    <div class="result-img" style="background-image: url('@Url.Content(item.Candidate.Image)');"></div>
                                }
                                else
                                {
                                    var avatar = item.Candidate.Image;
                                    <div class="result-img" style="background-image: url('@avatar');"></div>
                                }
                            </div>
                            <div class="col-md-5">
                                <p class="result-title">
                                    <a href="@Url.Content("/CurriculumVitae/ShowCv?id=" + item.Candidate.Cvid)" target="blank">@item.Candidate.FullName</a>
                                </p>
                                <p>
                                    @foreach (var lo in item.Candidate.CandidateCategory)
                                    {
                                        if (item.Candidate.CandidateCategory.Last() == lo)
                                        {
                                            <span>@lo.Category.Name</span>
                                        }
                                        else
                                        {
                                            <span>@lo.Category.Name,</span>
                                        }
                                    }
                                </p>
                                <p>
                                    @foreach (var lo in item.Candidate.CandidateLocation)
                                    {
                                        if (item.Candidate.CandidateLocation.Last() == lo)
                                        {
                                            <span>@lo.Location.Name</span>
                                        }
                                        else
                                        {
                                            <span>@lo.Location.Name,</span>
                                        }
                                    }
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="saved-info">@item.CreatedDate <br />Saved date</p>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Content("/CurriculumVitae/ShowCv?id=" + item.Candidate.Cvid)" target="blank" class="btn btn-add-n btn-fill-horz">Profile</a>
                                <a asp-action="DeleteSaved" asp-controller="Candidates" asp-area="Employer" asp-route-id="@item.CandidateId" title="Delete">
                                    <i class="fa fa-trash-o" style="font-size:20px; margin-left: 5px; vertical-align: middle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}
else
{
    <div class="callout callout-info">
        <h4>Notification !</h4>
        There is no saved candidate of your company ...
    </div>
}
@{ if (Model.Count() > 0)
    {
        <div class="text-center">
            <pager current-page="@Model.PageIndex" total-page="@Model.TotalPage" setting-link-attr-data-ajax="true"
                   setting-link-attr-data-ajax-method="get" />
        </div>
    }
}
<style>
    .saved-info {
        vertical-align: middle;
        text-align: center;
    }

    .result-title {
        vertical-align: middle;
    }

        .result-title a {
            text-decoration: none;
            color: #000
        }
</style>