@model MIC.AseanTalentSearch.Web.Models.ManageViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div id="mn-profile-setting" class="mn-tab tab-pane fade active in">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Home" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <div>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <div>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <div>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-blue btn-fill-horz" style="margin-top:30px;">SAVE CHANGE</button>
            </form>
        </div>
    </div>
</div>
<hr />