﻿@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
    long companyId;
    var comId = long.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out companyId) ? (object)companyId : null;
}
@*<div class="row">
        <div class="col-md-8">
            @await Component.InvokeAsync("LatestPositionJob", comId)
        </div>
        <div class="col-md-4">
            @await Component.InvokeAsync("ProfileSumary", comId)
        </div>
        <div class="col-md-8">
            @await Component.InvokeAsync("SuggestCandidate", comId)
        </div>
    </div>*@

<div id="mn-manager-page">
    @await Component.InvokeAsync("ProfileSumary", comId)
    @await Component.InvokeAsync("LatestPositionJob", comId)
</div>

