﻿@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model Company

@{
    bool isAjaxCall = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest";
    if (isAjaxCall)
    {
        Layout = null;
    }
}
@*<div class="row">
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border bg-gray-light">
                    <h3 class="box-title text-bold text-aqua">Profile settings</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_profile" data-toggle="tab" aria-expanded="false"><i class="fa fa-info-circle margin-r-5"></i>Information</a>
                            </li>
                            <li class="">
                                <a href="#tab_benefit" data-toggle="tab" aria-expanded="false"><i class="fa fa-paper-plane margin-r-5"></i>Benefits</a>
                            </li>
                            <li class="">
                                <a href="#tab_media" data-toggle="tab" aria-expanded="false"><i class="fa fa-play margin-r-5"></i>Medias Link</a>
                            </li>
                            <li class="">
                                <a href="#tab_category" data-toggle="tab" aria-expanded="false"><i class="fa fa-th-large margin-r-5"></i>Categories</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_profile">
                                <div id="Outer_Company">@await Html.PartialAsync("../Companies/Edit")</div>
                            </div>
                            <div class="tab-pane" id="tab_benefit">
                                <br />
                                <div id="Outer_CompanyBenefit">
                                    @await Html.PartialAsync("../CompanyBenefits/Index", Model.CompanyBenefit, new ViewDataDictionary(ViewData)
                            {
                                {"CompanyId", Model.Id},
                            })
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_media">
                                <br />
                                <div id="Outer_CompanyMedia">
                                    @await Html.PartialAsync("../CompanyMedias/Index", Model.CompanyMedia, new ViewDataDictionary(ViewData)
                            {
                                {"CompanyId", Model.Id},
                            })
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_category">
                                <br />
                                <div id="Outer_CompanyCategory">
                                    @await Html.PartialAsync("../CompanyCategories/Index", Model.CompanyCategory, new ViewDataDictionary(ViewData)
                            {
                                {"CompanyId", Model.Id},
                            })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-gray-light"><i class="fa fa-play text-aqua"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Link Medias</span>
                    <span class="info-box-number">@ViewBag.MediaCount</span>
                </div>
            </div>

            <div class="info-box animated">
                <span class="info-box-icon bg-gray-light"><i class="fa fa-paper-plane-o text-aqua"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Benefits</span>
                    <span class="info-box-number">@ViewBag.BenefitCount</span>
                </div>
            </div>

            <div class="info-box animated">
                <span class="info-box-icon bg-gray-light"><i class="fa fa-th-large text-aqua"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Categories</span>
                    <span class="info-box-number">@ViewBag.CategoryCount</span>
                </div>
            </div>
        </div>
    </div>*@
<div id="mn-profile-setting" class="mn-tab tab-pane fade active in">
    <h3 class="title-nav">Profile settings</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#p-infor">Information</a></li>
        <li><a data-toggle="tab" href="#p-benefit">Benefits</a></li>
        <li><a data-toggle="tab" href="#p-media">Media links</a></li>
        <li><a data-toggle="tab" href="#p-cate">Categories</a></li>
    </ul>
    <div class="tab-content">
        <div id="p-infor" class="tab-pane fade in active">
            <div id="Outer_Company">
                @Html.Partial("../Companies/Edit")
            </div>
        </div>
        <div id="p-benefit" class="tab-pane fade">
            <div id="Outer_CompanyBenefit">
                @await Html.PartialAsync("../CompanyBenefits/Index", Model.CompanyBenefit, new ViewDataDictionary(ViewData)
                        {
                            {"CompanyId", Model.Id},
                        })
            </div>
        </div>
        <div id="p-media" class="tab-pane fade">
            <div id="Outer_CompanyMedia">
                @await Html.PartialAsync("../CompanyMedias/Index", Model.CompanyMedia, new ViewDataDictionary(ViewData)
                        {
                            {"CompanyId", Model.Id},
                        })
            </div>
        </div>
        <div id="p-cate" class="tab-pane fade">
            <div id="Outer_CompanyCategory">
                @await Html.PartialAsync("../CompanyCategories/Index", Model.CompanyCategory, new ViewDataDictionary(ViewData)
                    {
                        {"CompanyId", Model.Id},
                    })
            </div>
        </div>
    </div>
</div>
<hr />
<script>
    function NationChange()
    {
        var nationId = $("#NationSelect option:selected").val();
        var provinceId = @Model.LocationId;
        var province = document.getElementById("LocationId");
        $.ajax({
            type: "GET",
            url: "/Employer/Home/GetListProvince",
            data: {
                nationId: nationId
            },
            success: (function (resual) {
                while (province.options.length) {
                    province.remove(0);
                }
                province.options.add(new Option("--Select Province--"));
                $.each(resual, function (key, item) {
                    var nItem = new Option(item['name'], item['id']);
                    if (item['id'] == provinceId) {
                        nItem.selected = true;
                    }
                    province.options.add(nItem);
                });
                $("#LocationId").selectpicker('refresh');
            })
        });
    }
</script>