﻿@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    ViewData["Title"] = "Index";
}
@*<div class="row">
        <div class="col-md-8">
            @await Html.PartialAsync("../PositionJobs/Create", new PositionJob() {CompanyId = ViewBag.CompanyId}, null)
        </div>
        <div class="col-md-4">
            @await Html.PartialAsync("../PositionJobs/LastestPositionJob", (List<PositionJob>)ViewBag.PositionJobs ?? new List<PositionJob>(), null)
        </div>
    </div>*@
<h3 class="title-nav">Add New Recruiments</h3>
@await Html.PartialAsync("../PositionJobs/Create", new PositionJob() { CompanyId = ViewBag.CompanyId }, null)