﻿@using System.Linq
@using Microsoft.AspNetCore.Razor.Parser.SyntaxTree
@model System.Collections.Generic.IEnumerable<MIC.AseanTalentSearch.Web.EF.PositionJob>
<span hidden>@((int)ViewBag.JobCount)</span>
<script>
    function myfunction(data) {
        location.href = "Recruiment/Details/"+data+"#detail";
    }
</script>
<style>
    .table-responsive tr{
        cursor: pointer;
    }
</style>
<div class="table-responsive">
    <table class="table table-condensed table-striped">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
        <tr onclick="myfunction(@item.Id)">
                <td class="td_image">
                    <div class="td-img-content">
                        <img class="img-responsive" src="@item.Company.Logo" title="@item.Company.Name" />
                    </div>
                </td>
                <td class="text-left">
                    <a href="Recruiment/Details/@item.Id#detail" title="@item.PositionTitle">
                        <p class="text-bold">@item.PositionTitle</p>

                    </a>
                    <p>
                        <em>@item.Company.Name</em>
                    </p>
                </td>
                <td>
                    <p class="position">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        @foreach (var location in item.JobLocation)
                        {
                            <a style="color:#000;" asp-controller="Recruiment" asp-action="Index" asp-route-locationId="@location.LocationId">@(location != item.JobLocation.Last() ? location.Location.Name + "," : location.Location.Name)</a>
                        }
                    </p>
                </td>
                <td>
                    <p class="position">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        @string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)
                    </p>
                </td>
                <td>
                    <p class="text-bold position">
                        @{string salary = "Negotiation";
                        }
                        @if (item.PayStatusView == true)
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                if (item.MinPay != null && item.MaxPay != null)
                                {
                                    salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                                }
                                else if (item.MinPay != null && item.MaxPay == null)
                                {
                                    salary = $"From: ${item.MinPay:N0}";
                                }
                                else if (item.MinPay == null && item.MaxPay != null)
                                {
                                    salary = $"Up to: ${item.MaxPay:N0}";
                                }
                            }
                            else
                            {
                                salary = "Salary: Login to see";
                            }
                        }
                        else
                        {
                            if (item.MinPay != null && item.MaxPay != null)
                            {
                                salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                            }
                            else if (item.MinPay != null && item.MaxPay == null)
                            {
                                salary = $"From: ${item.MinPay:N0}";
                            }
                            else if (item.MinPay == null && item.MaxPay != null)
                            {
                                salary = $"Up to: ${item.MaxPay:N0}";
                            }
                        }
                        @salary
                    </p>
                </td>
                @*<td>
            <a asp-controller="Recruiment" asp-action="Details" class="btn btn-orange btn-fill-horz" asp-route-id="@item.Id">View more</a>
        </td>*@
        </tr>
                }
            }
            else
            {
                <tr>
                    <td>@T.T("Home.NoJobFound")</td>
                </tr>
            }
    </table>
</div>
