@model Location
@{
    Layout = null;
    //Location parentLocation = ViewData["parentLocation"];
}
<form asp-action="AddSave" data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="OnInsertSuccess"
      method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Add @Html.Raw(Model!=null&&Model.Type == 1 ? "Province" : Model != null && Model.Type == 2 ? "District" : "Nation")</strong></h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-12">

                <div class="box-body">

                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" name="pId" value="@Html.Raw(Model!=null?Model.Id:0)" />

                        @if (Model != null)
                        {
                            <div class="form-group">
                                <label class="col-md-2 control-label">@Html.Raw(Model.Type == 1 ? "Nation" : Model.Type == 2 ? "Province" : "")</label>
                                <div class="col-md-10">
                                    <input class="form-control" disabled value="@Html.Raw(Model.Name)" />
                                </div>
                            </div>
                            Model.Id = 0;
                            Model.Parent = null;
                            Model.Name = null;
                            Model.EnglishName = null;
                            Model.Zipcode = null;
                            Model.Population = null;
                            Model.ModifiedDate = null;
                            Model.ModifiedBy = null;
                            Model.Type = 0;
                            Model.Long = null;
                            Model.Lat = null;
                            Model.Comment = null;
                        }
                        
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label">@T.T("Admin.Name")</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnglishName" class="col-md-2 control-label">@T.T("Admin.EnglishName")</label>
                            <div class="col-md-10">
                                <input asp-for="EnglishName" class="form-control" />
                                <span asp-validation-for="EnglishName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Zipcode" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Zipcode" class="form-control" />
                                <span asp-validation-for="Zipcode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Population" class="col-md-2 control-label">@T.T("Admin.Population")</label>
                            <div class="col-md-10">
                                <input asp-for="Population" class="form-control" />
                                <span asp-validation-for="Population" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lat" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Lat" class="form-control" />
                                <span asp-validation-for="Lat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Long" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Long" class="form-control" />
                                <span asp-validation-for="Long" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comment" class="col-md-2 control-label">@T.T("Admin.Comment")</label>
                            <div class="col-md-10">
                                <input asp-for="Comment" class="form-control" />
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@T.T("Admin.Close")</button>
        <button type="submit" class="btn btn-primary">@T.T("Admin.Save")</button>
    </div>
</form>



