@model Location
@{
    Layout = null;
    //Location parentLocation = ViewData["parentLocation"];
}
<form asp-action="DeleteConfirmed" data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="OnDeleteSuccess"
      method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Delete @Html.Raw(Model != null && Model.Type == 1 ? "Nation" : Model != null && Model.Type == 2 ? "Province" : "District")</strong></h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-12">

                <div class="box-body">

                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <p class="lead text-danger">Are you sure you want to delete @Model.Name?</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Delete</button>
    </div>
</form>

