@model Location
@{
    Layout = null;
}
<form asp-action="EditSave" data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="OnUpdateSuccess"
      method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Edit @Html.Raw(Model.Type == 1 ? "Nation" : Model.Type == 2 ? "Province" : "District")</strong></h4>
    </div>
    <div class="modal-body">



        <div class="row">
            <div class="col-xs-12">

                <div class="box-body">

                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Type" />
                        <input type="hidden" asp-for="ParentId" />

                       
                        @if (Model.Type == 2 || Model.Type == 3)
                        {
                            <div class="form-group">

                                @if (Model.Type == 2)
                                {
                                    <label class="col-md-2 control-label">@T.T("Admin.Nation")</label>
                                }
                                else
                                {
                                    <label class="col-md-2 control-label">@T.T("Admin.Province")</label>
                                }

                                <div class="col-md-10">
                                    <select asp-items="@(ViewBag.ParentLocations)" name="parentIdEdit" class="form-control">
                                        @*<option value="0">--No Parent--</option>*@
                                    </select>
                                    @Html.ValidationMessage("validateParent", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label">@T.T("Admin.Name")</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnglishName" class="col-md-2 control-label">@T.T("Admin.EnglishName")</label>
                            <div class="col-md-10">
                                <input asp-for="EnglishName" class="form-control" />
                                <span asp-validation-for="EnglishName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Zipcode" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Zipcode" class="form-control" />
                                <span asp-validation-for="Zipcode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Population" class="col-md-2 control-label">@T.T("Admin.Population")</label>
                            <div class="col-md-10">
                                <input asp-for="Population" class="form-control" />
                                <span asp-validation-for="Population" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lat" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Lat" class="form-control" />
                                <span asp-validation-for="Lat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Long" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Long" class="form-control" />
                                <span asp-validation-for="Long" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comment" class="col-md-2 control-label">@T.T("Admin.Comment")</label>
                            <div class="col-md-10">
                                <input asp-for="Comment" class="form-control" />
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@T.T("Admin.Close")</button>
        <button type="submit" class="btn btn-primary">@T.T("Admin.Save")</button>
    </div>
</form>
