﻿@model IEnumerable<AdminLocationView>
@{
    ViewData["Title"] = "List Location";

}
@section heading{
    <h1>Location</h1>
}


<link href="~/areas/admin/css/location.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                <a class="btn btn-primary"
                   title="Add Province"
                   asp-action="AddLocation"
                   data-ajax="true"
                   data-toggle="modal"
                   data-target="#myModal"
                   data-ajax-update="#myModal .modal-content">
                    <i class='fa fa-plus'></i> @T.T("Admin.Create") @T.T("Admin.Nation")
                </a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    </div>
                </div>
            </div>



            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                <div class="tree well">
                    <ul>
                        @foreach (var nation in Model)
                        {
                            <li class="nation">
                                <span><i class="glyphicon glyphicon-folder-close" data-id="@nation.Location.Id"></i> @T.T("Admin.Nation")</span> 
                                <p style="display:inline;font-size:120%;">@nation.Location.Name</p>
                                <div class="pull-right btn-group btn-group-sm">
                                    <a title="Add Province"
                                       asp-action="AddLocation"
                                       asp-route-id="@nation.Location.Id"
                                       data-ajax="true"
                                       data-toggle="modal"
                                       data-target="#myModal"
                                       data-ajax-update="#myModal .modal-content"
                                       class="btn btn-primary">
                                        <i class="glyphicon glyphicon-plus" style="color:black"></i>
                                    </a>

                                    <a title="Edit Nation"
                                       asp-action="EditForm"
                                       asp-route-id="@nation.Location.Id"
                                       data-ajax="true"
                                       data-toggle="modal"
                                       data-target="#myModal"
                                       data-ajax-update="#myModal .modal-content"
                                       class="btn btn-info">
                                        <i class="glyphicon glyphicon-edit" style="color:black"></i>
                                    </a>

                                    @if (!(nation.Child != null && nation.Child.Count > 0))
                                    {
                                        <a title="Delete Nation"
                                           asp-action="DeleteLocation"
                                           asp-route-id="@nation.Location.Id"
                                           data-ajax="true"
                                           data-toggle="modal"
                                           data-target="#myModal"
                                           data-ajax-update="#myModal .modal-content"
                                           class="btn btn-warning">
                                            <i class="glyphicon glyphicon-trash" style="color:black"></i>
                                        </a>
                                    }




                                </div>
                                <ul>
                                    @foreach (var province in nation.Child)
                                    {
                                        <li class="province" style="display:none;">
                                            <span><i class="glyphicon glyphicon-folder-close"></i> @T.T("Admin.Province")</span> <p style="display:inline;font-size:110%;">@province.Location.Name</p>
                                            <div class="pull-right btn-group btn-group-sm">
                                                <a title="Add District"
                                                   asp-action="AddLocation"
                                                   asp-route-id="@province.Location.Id"
                                                   data-ajax="true"
                                                   data-toggle="modal"
                                                   data-target="#myModal"
                                                   data-ajax-update="#myModal .modal-content"
                                                   class="btn btn-primary">
                                                    <i class="glyphicon glyphicon-plus" style="color:black"></i>
                                                </a>

                                                <a title="Edit Province"
                                                   asp-action="EditForm"
                                                   asp-route-id="@province.Location.Id"
                                                   data-ajax="true"
                                                   data-toggle="modal"
                                                   data-target="#myModal"
                                                   data-ajax-update="#myModal .modal-content"
                                                   class="btn btn-info">
                                                    <i class="glyphicon glyphicon-edit" style="color:black"></i>
                                                </a>

                                                @if (!(province.Child != null && province.Child.Count > 0))
                                                {
                                                    <a title="Delete Province"
                                                       asp-action="DeleteLocation"
                                                       asp-route-id="@province.Location.Id"
                                                       data-ajax="true"
                                                       data-toggle="modal"
                                                       data-target="#myModal"
                                                       data-ajax-update="#myModal .modal-content"
                                                       class="btn btn-warning">
                                                        <i class="glyphicon glyphicon-trash" style="color:black"></i>
                                                    </a>
                                                }
                                            </div>
                                            <ul>
                                                @foreach (var district in province.Child)
                                                {
                                                    <li class="district" style="display:none;">
                                                        <span><i class="icon-leaf"></i> @T.T("Admin.District")</span> <p style="display:inline;">@district.Location.Name</p>
                                                        <div class="pull-right btn-group btn-group-sm">

                                                            <a title="Edit Province"
                                                               asp-action="EditForm"
                                                               asp-route-id="@district.Location.Id"
                                                               data-ajax="true"
                                                               data-toggle="modal"
                                                               data-target="#myModal"
                                                               data-ajax-update="#myModal .modal-content"
                                                               class="btn btn-info">
                                                                <i class="glyphicon glyphicon-edit" style="color:black"></i>
                                                            </a>

                                                            <a title="Delete District"
                                                               asp-action="DeleteLocation"
                                                               asp-route-id="@district.Location.Id"
                                                               data-ajax="true"
                                                               data-toggle="modal"
                                                               data-target="#myModal"
                                                               data-ajax-update="#myModal .modal-content"
                                                               class="btn btn-warning">
                                                                <i class="glyphicon glyphicon-trash" style="color:black"></i>
                                                            </a>

                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Expand this branch');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Expand this branch').find(' > i').removeClass('glyphicon glyphicon-folder-open').addClass('glyphicon glyphicon-folder-close');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Collapse this branch').find(' > i').removeClass('glyphicon glyphicon-folder-close').addClass('glyphicon glyphicon-folder-open');
                }
                e.stopPropagation();
            });
        });
    </script>
}