@model MIC.AseanTalentSearch.Web.EF.Instructor

@{

}

<form asp-action="ActiveInstructor">
    <div class="form-horizontal">
        <h4>Instructor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="University" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="University.Name" class="form-control" disabled>
                <span asp-validation-for="University.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Department" class="form-control" disabled>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" disabled>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10 checkbox" style="padding-top:0;">
                <input id="toggle-activeStatus" type="checkbox" @Html.Raw(Model.Status != null && Model.Status.Value ? "checked" : "") data-toggle="toggle" data-on="Activated" data-off="Not Activated" data-onstyle="success" data-offstyle="warning">
                <input id="activeStatus-value" type="hidden" asp-for="Status" value="@Html.Raw(Model.Status != null && Model.Status.Value ? "True" : "False")" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="ListInstructor" asp-controller="Home" asp-areas="Instructor">Back to List</a>
</div>

@* change active status *@
<script>
    $(function () {
        $('#toggle-activeStatus').change(function () {

            alert("sdfsdfdsf");

            $('#activeStatus-value').val($(this).prop('checked'));
        })
    }
</script>
