﻿@model MIC.AseanTalentSearch.Web.Areas.Instructor.Models.CommentViewModel

@{
    ViewData["Title"] = "Comment";
}
@section heading{
    <h1>Comment for student @ViewData["SudentName"]</h1>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="CommentCandidate" mothod="post">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <input type="hidden" asp-for="CandidateId" />
                        <input type="hidden" asp-for="UserCommentId" />
                        <div class="form-group">
                            <label asp-for="Comment" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <textarea asp-for="Comment" class="form-control normal-editor"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>