﻿@model List<Candidate>
@{
    ViewData["Title"] = "List student";

}
@section heading{
    <h1>Student</h1>
}
<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(m => m.FirstOrDefault().FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.FirstOrDefault().EducationHistory.FirstOrDefault().Major.University)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.FirstOrDefault().EducationHistory.FirstOrDefault().Major)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.FirstOrDefault().EducationHistory.FirstOrDefault().Ranking)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.FirstOrDefault().EducationHistory.FirstOrDefault().BeginDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.FirstOrDefault().EducationHistory.FirstOrDefault().EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.FirstOrDefault().EducationHistory.FirstOrDefault().GraduatedYear)
                            </th>
                            <th>
                                CV
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string layout = item.Layout == null ? "" : item.Layout.Title;
                            if(item.EducationHistory.Count>0)
                            {
                                foreach (var major in item.EducationHistory)
                                {
                                    @*if(item.EducationHistory.Count>1){
                                        if (item.EducationHistory.FirstOrDefault() == major)
                                        {
                                        <tr>
                                            <td rowspan="@item.EducationHistory.Count">
                                                @item.FullName
                                            </td>
                                            <td>@major.Major.University.Name</td>
                                            <td>
                                                @major.Major.Name
                                            </td>
                                            <td>
                                                @major.Ranking
                                            </td>
                                            <td>
                                                @String.Format("{0:MM/yyyy}",major.BeginDate)
                                            </td>
                                            <td>@String.Format("{0:MM/yyyy}", major.EndDate)</td>
                                            <td>
                                                @String.Format("{0:MM/yyyy}", major.GraduatedYear)

                                            </td>
                                           <td rowspan="@item.EducationHistory.Count">
                                                <a asp-area="" asp-controller="CurriculumVitae" asp-action="Index" asp-route-id="@item.Cvid" asp-route-name="@layout"><i class="fa fa-address-book"></i></a>
                                            </td>
                                            <td rowspan="@item.EducationHistory.Count">
                                                <a asp-action="CommentCandidate" asp-route-candidateId="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> Comment</a>
                                            </td>
                                        </tr>
                                        }
                                        else
                                        {
                                        <tr>
                                            <td>@major.Major.University.Name</td>
                                            <td>
                                                @major.Major.Name
                                            </td>
                                            <td>
                                                @major.Ranking
                                            </td>
                                            <td>
                                                @String.Format("{0:MM/yyyy}", major.BeginDate)

                                            </td>
                                            <td>@String.Format("{0:MM/yyyy}", major.EndDate)</td>
                                            <td>
                                                @String.Format("{0:MM/yyyy}", major.GraduatedYear)

                                            </td>

                                        </tr>
                                        }
                                    }
                                    if(item.EducationHistory.Count == 1)
                                    {*@
                                        <tr>
                                            <td>
                                                @item.FullName
                                            </td>
                                            <td>
                                                @major.Major.University.Name
                                            </td>
                                            <td>@major.Major.Name</td>
                                            <td>
                                                @major.Ranking
                                            </td>
                                            <td>@String.Format("{0:MM/yyyy}", major.BeginDate)</td>
                                            <td>
                                                @String.Format("{0:MM/yyyy}", major.EndDate)

                                            </td>
                                            <td>
                                                @String.Format("{0:MM/yyyy}", major.GraduatedYear)

                                            </td>
                                            <td>
                                                <a asp-area="" asp-controller="CurriculumVitae" asp-action="Index" asp-route-id="@item.Cvid" asp-route-name="@layout"><i class="fa fa-address-book"></i></a>
                                            </td>
                                            <td>
                                                <a asp-action="CommentCandidate" asp-route-candidateId="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> Comment</a>
                                            </td>
                                        </tr>
                                    //}
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script>
    $(function () {
         $('.table').DataTable({
            
        });        
    })
    
</script>
