@*@model Sakura.AspNetCore.IPagedList<Instructor>*@
@model IEnumerable<Instructor>
@{
    ViewData["Title"] = "List Instrutor Change";

}
@section heading{
    <h1>Instructor</h1>
}

<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            @*<div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                    <a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> Create</a>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 30%;">
                                Name
                            </th>

                            <th style="width: 20%;">
                                Department
                            </th>
                            <th style="width: 20%;">
                                Position
                            </th>
                            <th class="text-center" style="width: 20%;">
                                Active Status
                            </th>
                            <th class="text-center" style="width: 10%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>


                                <td>
                                    @Html.DisplayFor(m => item.Department)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Position)
                                </td>
                                <td class="text-center">
                                    @if (item.Status != null && item.Status.Value)
                                    {
                                        <span class="label label-success">Activated  </span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">Not Activated</span>
                                    }
                                </td>
                                <td class="text-center">
                                    <a asp-action="ActiveInstructor" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> Edit</a>
                                    @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<div class="text-center">
                    <ul class="pagination">
                        <pager />
                    </ul>
                </div>*@
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script>
    
    $(function () {
        $(".table").DataTable({
            "order":[[3, "desc"]]
        });
    })
</script>