﻿@model MIC.AseanTalentSearch.Web.Areas.Instructor.Models.ProfileViewModel

@{
    ViewData["Title"] = "Update profile";
}
@section heading{
    <h1>Profile</h1>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Update">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="UniversityId" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <select asp-for="UniversityId" asp-items="@Model.University" class="form-control select2">
                                    
                                </select>
                                <span asp-validation-for="UniversityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Department" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Department" class="form-control" />
                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Position" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Position" class="form-control" />
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script>
    $().ready(function () {
        $(".select2").select2({})
    })
</script>