﻿@using System
@model FilterControl
@{
    int skillCount = 0;
    int categoryCount = 0;
    int jobLevelCount = 0;
    int locationCount = 0;
    int salaryLevelCount = 0;
}
<div class="box box-default box-solid">
    @*<div class="box-header with-border">
        <h3 class="box-title">FILTER BY</h3>
    </div>*@
    <!-- /.box-header -->
    @{
        string currentCategoryId = ViewContext.HttpContext.Request.Query["CategoryId"];
        string currentJobName = ViewContext.HttpContext.Request.Query["JobName"];
        string currentLocationId = ViewContext.HttpContext.Request.Query["LocationId"];
        string currentJobLevelId = ViewContext.HttpContext.Request.Query["JobLevelId"];
    }
    <div class="box-body">
        <form id="filterControl" asp-controller="Recruiment" asp-action="RecruitSearch" method="get">
            <div id="skill-control">
                <strong class="text-uppercase">@T.T("Jobs.Skill")</strong>
                <ul class="list-unstyled filter-control">
                    @foreach (var item in Model.Skills)
                    {
                        skillCount++;
                        <li class="checkbox"><label><input name="skillId" value="@item.Id" @(item.Name.Equals(currentJobName,StringComparison.OrdinalIgnoreCase)?"checked='checked'":"") type="checkbox" /> @item.Name</label></li>
                    }
                </ul>
                @if (skillCount > 5)
                {
                    <a href="#" class="btn-toggle">@T.T("Jobs.ShowAll")</a>
                }
            </div>
            <hr />
            <div id="category-control">
                <strong class="text-uppercase">@T.T("Jobs.Category")</strong>
                <ul class="list-unstyled filter-control">
                    @foreach (var item in Model.Categories)
                    {
                        categoryCount++;
                        <li class="checkbox"><label><input name="categoryId" value="@item.Id" type="checkbox" @(item.Id.ToString().Equals(currentCategoryId,StringComparison.OrdinalIgnoreCase)?"checked='checked'":"") /> @item.Name</label></li>
                    }
                </ul>
                @if (categoryCount > 5)
                {
                    <a href="#" class="btn-toggle">@T.T("Jobs.ShowAll")</a>
                }
            </div>

            <hr />
            <div id="job-level-control">
                <strong class="text-uppercase">@T.T("Jobs.JobLevel")</strong>
                <ul class="list-unstyled filter-control">
                    @foreach (var item in Model.JobLevels)
                    {
                        jobLevelCount++;
                        <li class="checkbox"><label><input name="jobLevelId" value="@item.JobLevelId" type="checkbox" @(item.JobLevelId.ToString().Equals(currentJobLevelId,StringComparison.OrdinalIgnoreCase)?"checked='checked'":"")/> @item.JobLevelName</label></li>
                    }
                </ul>
                @if (jobLevelCount > 5)
                {
                    <a href="#" class="btn-toggle">@T.T("Jobs.ShowAll")</a>
                }
            </div>
            
            <hr />
            <div id="location-control">
                <strong class="text-uppercase">@T.T("Jobs.Location")</strong>
                <ul class="list-unstyled filter-control">
                    @foreach (var item in Model.Locations)
                    {
                        locationCount++;
                        <li class="checkbox"><label><input name="locationId" value="@item.Id" type="checkbox" @(item.Id.ToString().Equals(currentLocationId,StringComparison.OrdinalIgnoreCase)?"checked='checked'":"")/> @item.Name</label></li>
                    }
                </ul>
                @if (locationCount > 5)
                {
                    <a href="#" class="btn-toggle">@T.T("Jobs.ShowAll")</a>
                }
            </div>
            <hr />
            <div id="salary-control">
                <strong class="text-uppercase">@T.T("Jobs.Salary")</strong>
                <ul id="control-three" class="list-unstyled filter-control">
                    <li class="radio"><label><input name="salaryLevel" value="" type="radio" checked="checked" /> All </label></li>
                    @foreach (var item in Model.SalaryLevel)
                    {
                        salaryLevelCount++;
                        <li class="radio"><label><input name="salaryLevel" value="@item" type="radio" />@item</label></li>
                    }                 
                </ul>
                @if (salaryLevelCount > 5)
                {
                    <a href="#" class="btn-toggle">@T.T("Jobs.ShowAll")</a>
                }
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>


<script>
    $(document).ready(function() {
        $(".btn-toggle").click(function (e) {
            e.preventDefault();
            $this = $(this);
            if ($this.text() === "Show All") {
                $this.text("Show Less");
            } else {
                $this.text("Show All");
            }
            $this.siblings(".filter-control").toggleClass("in");
        });
    })
</script>