﻿@model MIC.AseanTalentSearch.Web.EF.University
@{
    ViewData["Title"] = "University - " + Model.Name;
}
@await Component.InvokeAsync("SubJobSearchForm")
<section class="alljob-content content-company-detail">
    <div class="container">
        <div class="info-job">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="job-detail-img">
                                <img src="@Model.Logo" alt="@Model.Name" />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <h4 class="info-job-t">@Model.Name</h4>
                            <p>
                                <span>@T.T("University.Phone"):</span>
                                @Model.Phone
                            </p>
                            <p>
                                <span>@T.T("University.Email"):</span>
                                @Model.Email
                            </p>
                        </div>
                        <div class="col-sm-4 left">
                            <p>
                                <span>@T.T("University.Website"):</span>
                                <a href="@Model.Website" target="_blank">@Model.Website</a>
                            </p>
                            <p>
                                <span>@T.T("University.Address"):</span>
                                <span id="address-map" style="font-weight:400">@Model.Address</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="job-detail">
            <div class="row">
                <div class="col-md-8">
                    <div class="job-detail-modal height">
                        <h4 class="job-detail-t">@T.T("University.Introduction")</h4>
                        <div class="company-detail-text">
                            @Html.Raw(Model.Introduction)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="height">
                        <div class="share-job">
                            <p class="job-detail-header" style="text-transform:uppercase">
                                <i class="fa fa-square" aria-hidden="true"></i>
                                @T.T("University.LocationMap")
                            </p>
                            <div id="map-page">
                                <div id="map"></div>
                            </div>
                            <p class="job-detail-header" style="margin-bottom:20px;text-transform:uppercase">
                                <i class="fa fa-square" aria-hidden="true"></i>
                                @T.T("University.FollowUs")
                            </p>
                            <div class="share">
                                @if (Model.Facebook != null && Model.Facebook.ToLower().Contains("http://"))
                                {
                                    <a target="_blank" href="@Model.Facebook" class="facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                }
                                else
                                {
                                    <a target="_blank" href="@Html.Raw("http://"+Model.Facebook)" class="facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                }
                                @if (Model.Twitter != null && Model.Twitter.ToLower().Contains("http://"))
                                {
                                    <a target="_blank" href="@Model.Twitter" class="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                }
                                else
                                {
                                    <a target="_blank" href="@Html.Raw("http://"+Model.Twitter)" class="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                }
                                @if (Model.Instagram != null && Model.Instagram.ToLower().Contains("http://"))
                                {
                                    <a target="_blank" href="@Model.Instagram" class="googleplus">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                }
                                else
                                {
                                    <a target="_blank" href="@Html.Raw("http://"+Model.Instagram)" class="googleplus">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                }
                                @if (Model.LinkedIn != null && Model.LinkedIn.ToLower().Contains("http://"))
                                {
                                    <a target="_blank" href="@Model.LinkedIn" class="linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                }
                                else
                                {
                                    <a target="_blank" href="@Html.Raw("http://" + Model.LinkedIn)" class="linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div id="banner" class="fill" style="background: url('@Url.Content("~/images/banner_university.png")');"></div>*@
<!-- thêm thẻ a cho div.item -->
@*<section id="company-detail" class="pull-up-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <div class="box box-widget">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="img-container">
                                    <img src="@Model.Logo" alt="Logo university" class="img-responsive img-center" width="190"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="general-infor-left">
                                    <ul class="list-unstyled">
                                        <li><h3 class="text-bold title-university text-uppercase three-dots-nowrap">@Model.Name</h3></li>
                                        <li><i class="fa fa-location-arrow" aria-hidden="true"></i> @Model.Location?.Name</li>
                                        <li id="address-map"><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Address</li>
                                        <li><i class="fa fa-phone" aria-hidden="true">@Model.Phone</i></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> @ViewBag.StudentCount</li>                                     
                                    </ul>
                                </div>
                            </div>  
                            <div class="col-md-3">
                                <div class="general-infor-right">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i>@Model.Email</li>
                                        @if (Model.Website != null && Model.Website.ToLower().Contains("http://"))
                                        {
                                        <li><i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank" href="@Html.Raw(Model.Website)">@Model.Website</a></li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank" href="@Html.Raw("http://" + Model.Website)">@Model.Website</a></li>
                                        }
                                    </ul>
                                    <ul class="icons">
                                        @if (Model.Facebook != null && Model.Facebook.ToLower().Contains("http://"))
                                        {
                                            <li><a target="_blank" href="@Model.Facebook" class="icon fa fa-facebook-square"></a></li>
                                        }
                                        else
                                        {
                                            <li><a target="_blank" href="@Html.Raw("http://"+Model.Facebook)" class="icon fa fa-facebook-square"></a></li>
                                        }
                                        @if (Model.Twitter != null && Model.Twitter.ToLower().Contains("http://"))
                                        {
                                            <li><a target="_blank" href="@Model.Twitter" class="icon fa fa-twitter-square"></a></li>
                                        }
                                        else
                                        {
                                            <li><a target="_blank" href="@Html.Raw("http://"+Model.Twitter)" class="icon fa fa-twitter-square"></a></li>
                                        }
                                        @if (Model.Instagram != null && Model.Instagram.ToLower().Contains("http://"))
                                        {
                                            <li><a target="_blank" href="@Model.Instagram" class="icon fa fa-instagram"></a></li>
                                        }
                                        else
                                        {
                                            <li><a target="_blank" href="@Html.Raw("http://"+Model.Instagram)" class="icon fa fa-instagram"></a></li>
                                        }
                                        @if (Model.LinkedIn != null && Model.LinkedIn.ToLower().Contains("http://"))
                                        {
                                            <li><a target="_blank" href="@Model.LinkedIn" class="icon fa fa-linkedin-square"></a></li>
                                        }
                                        else
                                        {
                                            <li><a target="_blank" href="@Html.Raw("http://" + Model.LinkedIn)" class="icon fa fa-linkedin-square"></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="box box-widget">
                    <div class="box-body">

                        <h3>Introduction</h3>
                        <p class="university_content">@Html.Raw(Model.Introduction??"")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-widget">
                    <div class="box-body">
                        <section id="map-page">
                            <div id="map_company"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<script>
    function initMap() {
        var addressCompany = $("#address-map").text();
        var api = "https://maps.googleapis.com/maps/api/geocode/json?address=" + addressCompany + "&key=AIzaSyAtdbIhcOlK2AaOs8xrt8xoNTj2AB71Kok";
        var uluru;

        jQuery.getJSON(api, function (r) {
            var abc = $.parseJSON(JSON.stringify(r));
            var lat = abc['results'][0].geometry.location.lat;
            var lng = abc['results'][0].geometry.location.lng;
            uluru = { lat: lat, lng: lng };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        });
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtdbIhcOlK2AaOs8xrt8xoNTj2AB71Kok&callback=initMap" async defer></script>