﻿@model Sakura.AspNetCore.IPagedList<HottestUniversityViewModel>
@{
    ViewData["Title"] = "Universities";
}
@await Component.InvokeAsync("SubJobSearchForm")

@*<section id="hottest-list">
    <div class="container">
        <h3 class="text-center text-uppercase"> @ViewData["Title"]</h3>
        <hr class="text-center"/>
        <div id="job-search-result" class="box box-solid box-default">
            <div class="box-body">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="job-item">
                            <div class="relative">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-lg-2">
                                        <div class="logo job-search__logo">
                                            <a class="job-logo" asp-controller="University" asp-action="Detail" asp-route-id="@item.University.Id">
                                                @{
                                                    var logoSrc = item.University.Logo ?? Url.Content("~/images/noimage.png");
                                                }
                                                <img title="@(item.University.Name??"No name")" class="img-responsive" src="@logoSrc">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-9 col-lg-10">
                                        <a asp-controller="University" asp-action="Detail" asp-route-id="@item.University.Id" title="@(item.University.Name)" class="relative">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span>
                                                        <strong class="job-title"> @item.University.Name</strong>
                                                    </span>
                                                    <span class="address">@item.University.Address</span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="location">
                                                        @item.Location?.Name<br />
                                                    <span style="color:#3c8dbc">Students: @item.StudentCount</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="text-center">
                        <ul class="pagination">
                            <pager />
                        </ul>
                    </div>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                            No result found!
                        </div>
                    }
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>*@
<section class="alljob-content-footer content-company">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="text-left title-header">@T.T("University.Universities")</h3>
                <div class="alljob-table">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="td_image">
                                                <a class="job-logo" asp-controller="University" asp-action="Detail" asp-route-id="@item.University.Id">
                                                <div class="td-img-content">
                                                    <img class="img-responsive" src="@item.University.Logo" />
                                                </div>
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a class="job-logo" asp-controller="University" asp-action="Detail" asp-route-id="@item.University.Id">
                                                <p class="text-bold">@item.University.Name</p>
                                                </a>
                                                <p>
                                                    <em>@item.University.Address /</em>
                                                    <span>@item.Location.Name</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    Student: @item.StudentCount
                                                </p>
                                            </td>
                                            @*<td>
                                                <a class="btn btn-orange btn-fill-horz" asp-controller="University" asp-action="Detail" asp-route-id="@item.University.Id">
                                                    View more
                                                </a>
                                            </td>*@
                                        </tr>

                                    }

                                    <tr class="pagination-table">
                                        <td colspan="4">
                                            <pager />
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="alert alert-warning">
                                        <td colspan="4">
                                            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                                            @T.T("Home.NoUniversityFound")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center"></div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="job-detail-header" style="text-transform:uppercase">
                    <i class="fa fa-square" aria-hidden="true"></i>
                    @T.T("Home.FeaturedJobs")
                </p>
                <div class="for-card owl-carousel owl-theme">
                    @await Component.InvokeAsync("FeaturedWork")
                </div>
            </div>
        </div>
    </div>
</section>