@model MIC.AseanTalentSearch.Web.EF.News
@{
    ViewBag.Title = Model.Title;
}
<div id="banner-child" class="fill" style="background:url('/images/banner-startup.jpg'); height:270px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">StartUp</h2>
                <p class="text-center">
                    <a asp-controller="Home" asp-action="Index" style="color:white">Home</a> |
                    <a asp-controller="Startup" asp-action="Index" style="color:white">StartUp</a>
                </p>
            </div>
        </div>
    </div>
</div>
<section class="content-new">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="list-news" style="display:none"></div>
                <div id="detail-new">
                    <h4 class="news-title-detail">@Model.Title</h4>
                    <p class="news-time detail-time">@string.Format("{0:dd.MM.yyyy - HH:mm}", Model.CreatedDate)</p>
                    <div class="news-content-detail">
                        @Html.Raw(Model.Description)
                        @Html.Raw(Model.Content)
                    </div>
                </div>
                
            </div>
            <div class="col-md-3">
                @Html.Partial("SearchForm")
                @await Component.InvokeAsync("RecentNews", false)
            </div>
        </div>
    </div>
</section>