@model List<MIC.AseanTalentSearch.Web.EF.News>
@{
    ViewBag.Title = "StartUp";
}
<div id="banner-child" class="fill" style="background:url('/images/banner-startup.jpg'); height:270px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">StartUp</h2>
                <p class="text-center">
                    <a asp-controller="Home" asp-action="Index" style="color:white">Home</a> |
                    <a asp-controller="Startup" asp-action="Index" style="color:white"> StartUp</a>
                </p>
            </div>
        </div>
    </div>
</div>
<section class="content-new">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="list-news">

                </div>

            </div>
            <div class="col-md-3">
                @Html.Partial("SearchForm")
                @await Component.InvokeAsync("RecentNews", false)
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var data = $("#searchNewsForm").serializeArray();
            data.push({ name: 'stringSearch', value: $('#stringSearch').val() });
            //***
            //data.push({ name: 'JobLevelId', value: $('#JobLevelId').val() });
            $.ajax({
                    type: "get",
                    url: "@Url.Action("SearchNews")",
                    data: data,
                    beforeSend: function (data) { // Are not working with dataType:'jsonp'
                        $('#list-news').html('<div style="width:200px; margin:auto;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><div>');
                    }
                })
                .success(function (result) {
                    $("#list-news").html(result);
                })
                .fail(function () {
                    $("#list-news").text("An error occured");
                });
            $(document).on("click",
                "#searchNewsForm :button",
                function(e) {
                    var data = $("#searchNewsForm").serializeArray();
                    data.push({ name: 'stringSearch', value: $('#stringSearch').val() });
                    //***
                    //data.push({ name: 'JobLevelId', value: $('#JobLevelId').val() });
                    $.ajax({
                        type: "get",
                        url: "@Url.Action("SearchNews")",
                        data: data,
                        beforeSend: function (data) { // Are not working with dataType:'jsonp'
                            $('#list-news').html('<div style="width:200px; margin:auto;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><div>');
                        }
                    })
                    .success(function (result) {
                        $("#list-news").html(result);
                    })
                    .fail(function () {
                        $("#list-news").text("An error occured");
                    });
                });
        });

    </script>
}
