@model Sakura.AspNetCore.IPagedList<MIC.AseanTalentSearch.Web.EF.News>
    @{
        Layout = null;
    }
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="news">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="img-news">
                            <a asp-action="Detail" asp-route-id="@item.NewsId">
                                <img src="@item.Picture" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <a asp-action="Detail" asp-route-id="@item.NewsId" class="news-title">
                            <span>&nbsp;</span>
                            @item.Title
                        </a>
                        <p class="news-time">@string.Format("{0:dd/MM/yyyy - HH:mm}", item.CreatedDate)</p>
                        <p class="news-text">
                            @Html.Raw(item.Description)
                        </p>
                    </div>
                </div>
            </div>
        }
        <hr style="margin-bottom:0px" />
        <div class="text-center">
            <ul class="pagination">
                <pager />
            </ul>
        </div>
    }
    else
    {
        <div class="alert alert-warning" style="text-align:center">
            <h4>
                <i class="fa fa-warning"></i>
                Alert!
            </h4>
            No result found!
        </div>
    }
