@model EducationLevel

@{
    ViewData["Title"] = "Delete Education Level";
}
@section heading{
    <h1>Education Level</h1>
}

<div class="row">
<div class="col-xs-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewData["Title"]</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <p class="lead text-danger">Are you sure you want to delete @Model.Name ? </p>
            <form asp-action="Delete">
                <div class="form-actions no-color">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                       
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>




@*<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EducationLevel</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>*@
