@using MIC.AseanTalentSearch.Web.EF
@model MIC.AseanTalentSearch.Web.EF.CompanyBenefit

@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") {Layout = null;}
}

<section class="animated fadeIn">
    <form asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Create" asp-route-companyId="@ViewBag.CompanyId" data-ajax="true" data-ajax-method="post" data-ajax-update="#Outer_CompanyBenefit" data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr);">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @await Html.PartialAsync("Partial/_ModelStatePartial")
                </div>
            </div>

            <input type="hidden" asp-for="CompanyId" />
            <input type="hidden" asp-for="ActiveBy" value="@User.Identity.Name" />
            <div class="form-group">
                <label asp-for="BenefitId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="BenefitId" class="form-control" asp-items="ViewBag.BenefitId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveDate" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input class="form-control datepicker" value="@string.Format("{0:d}",Model.ActiveDate)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))"/>
                    <input asp-for="ActiveDate" type="hidden" />
                    <span asp-validation-for="ActiveDate" class="text-danger"></span>
                </div>
                <label asp-for="ActiveClosed" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input class="form-control datepicker" value="@string.Format("{0:d}", Model.ActiveClosed)" onchange="$(this).next().val((moment($(this).val(), ['DD-MM-YYYY','MM-DD-YYYY']).format('YYYY-MM-DD')))"/>
                    <input asp-for="ActiveClosed" type="hidden" />
                    <span asp-validation-for="ActiveClosed" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActiveStatus" class="col-md-2 control-label"></label>
                <div class="col-md-10 checkbox">
                    @Html.RadioButton("ActiveStatus", true, Model.ActiveStatus ?? false, new { @class = "" }) <span class="margin-r-5">Yes</span>
                    @Html.RadioButton("ActiveStatus", false, !Model.ActiveStatus ?? true, new { @class = "" }) <span class="margin-r-5">No</span>
                </div>
            </div>
            <div class="form-group modal-footer">
                <div class="col-md-offset-2 col-md-10 pull-right">
                    <button type="submit" class="btn btn-fill-horz btn-employer">Create</button>
                    <a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Index" asp-route-companyId="@Model.CompanyId" class="btn btn-default btn-flat" 
                       data-ajax="true" data-ajax-method="get" data-ajax-update="#Outer_CompanyBenefit" style="margin-top:30px">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</section>

@{
    await Html.RenderPartialAsync("_RegisterComponentScriptsPartial");
}