@model MIC.AseanTalentSearch.Web.EF.CompanyBenefit

@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
}

<div class="animated fadeIn">
    <dl class="dl-horizontal">
        <dd>
            <h3 class="text-danger">Are you sure you want to delete this?</h3>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Benefit.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd>
            @if (Model.ActiveStatus ?? false)
            {
                <span class="label label-success">Actived</span>
            }
            else
            {
                <span class="label label-warning">No actived</span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>
        <dd>
            @string.Format("{0:d}", Model.ActiveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveClosed)
        </dt>
        <dd>
            @string.Format("{0:d}", Model.ActiveClosed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @string.Format("{0:d}", Model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dd>
            <br/>
            <form asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Delete" asp-route-benefitId="@Model.BenefitId" asp-route-companyId="@Model.CompanyId" data-ajax="true" data-ajax-method="post" data-ajax-update="#Outer_CompanyBenefit" data-ajax-failure="$(this).displayValidation(xhr);notifyStatusCode(xhr);">
                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-danger btn-flat">Delete</button>
                    <a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Index" asp-route-companyId="@Model.CompanyId" class="btn btn-default btn-flat" data-ajax="true" data-ajax-method="get" data-ajax-update="#Outer_CompanyBenefit">Back to List</a>
                </div>
            </form>
        </dd>
    </dl>
</div>
