@model IEnumerable<MIC.AseanTalentSearch.Web.EF.CompanyBenefit>
@{
    if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest") { Layout = null; }
}
@*<section class="animated fadeIn">
        @await Html.PartialAsync("Partial/_ModelStatePartial")
        <a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Create" asp-route-companyId="@ViewBag.CompanyId" class="btn btn-info btn-flat" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyBenefit">Add new</a>
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                <tr>
                    <th>@@</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Benefit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveClosed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Edit" asp-route-benefitId="@item.BenefitId" asp-route-companyId="@item.CompanyId" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyBenefit"><i class="fa fa-pencil text-info margin-r-5"></i></a>
                            <a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Delete" asp-route-benefitId="@item.BenefitId" asp-route-companyId="@item.CompanyId" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyBenefit"><i class="fa fa-trash-o text-danger margin-r-5"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Benefit.Name)
                        </td>
                        <td>
                            @if (item.ActiveStatus ?? false)
                            {
                                <span class="label label-success">Actived</span>
                            }
                            else
                            {
                                <span class="label label-warning">No actived</span>
                            }
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ActiveDate)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ActiveClosed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActiveBy)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ModifiedDate)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h4 class="text-gray">No data ..</h4>
        }
    </section>*@

<section class="animated fadeIn">
    @await Html.PartialAsync("Partial/_ModelStatePartial")
    <a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Create" asp-route-companyId="@ViewBag.CompanyId" 
       class="btn btn-add-n btn-fill-horz" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyBenefit">
        <i class="fa fa-plus" aria-hidden="true"></i> Add new</a>
    @if (Model.Any())
    {
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Benefit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveClosed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Benefit.Name)
                        </td>
                        <td>
                            @if (item.ActiveStatus ?? false)
                            {
                                <span class="full-time">Actived</span>
                            }
                            else
                            {
                                <span class="part-time">No actived</span>
                            }
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ActiveDate)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ActiveClosed)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.ModifiedDate)
                        </td>
                        <td>
                            <ul>
                                <li><a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Edit" asp-route-benefitId="@item.BenefitId" asp-route-companyId="@item.CompanyId" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyBenefit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                                <li><a asp-area="Employer" asp-controller="CompanyBenefits" asp-action="Delete" asp-route-benefitId="@item.BenefitId" asp-route-companyId="@item.CompanyId" data-ajax="true" data-ajax-method="GET" data-ajax-update="#Outer_CompanyBenefit"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-gray">No data ..</h4>
    }
</section>


