@model IEnumerable<MIC.AseanTalentSearch.Web.EF.Candidate>
    @{
        ViewData["Title"] = "List Candidate";
    }
    @section heading{
        <h1>Candidate</h1>
    }

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewData["Title"]</h3>

                    <div class="box-tools">

                    </div>
                </div>
                <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                    @*<a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> Create</a>*@
                    <form method="get" class="pull-right">
                        <div class="input-group" style="width:240px;">
                            <input type="text" class="form-control" name="search" placeholder="Name" aria-describedby="basic-addon1">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                                </button>
                                @*<button class="btn btn-secondary" type="button">Go!</button>*@
                            </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @T.T("Admin.Fullname")
                                </th>
                                <th>
                                    @T.T("Admin.Email")
                                </th>
                                <th>
                                    @T.T("Admin.CreateDate")
                                </th>
                                
                                <th class="text-right" style="padding-right:100px;">@T.T("Admin.ActiveStatus")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Email)
                                    </td>
                                    <td>
                                        @Html.Raw(item.CreatedDate?.ToString("dd/MM/yyyy"))
                                    </td>
                                    <td class="text-center" width="15%">
                                        <input id="ActiveBotton_@item.Id" value="@item.Id" onchange="StatusChange(@item.Id)" type="checkbox" @Html.Raw(item.ActiveStatus!=null?(item.ActiveStatus.Value==true?"checked":""):"")
                                               data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <ul class="pagination">
                            <pager />
                        </ul>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <script>
    function StatusChange(val) {
        var activeStatus = document.getElementById("ActiveBotton_" + val).checked ? true : false;     
        $.ajax({
            url: "/Admin/Candidate/Edit",
            type: "post",
            data: {
                Id: val,
                ActiveStatus: activeStatus,              
            },
            success: function (resual) {
                toastr.success('Update successed!');
            }
        });
    }
    </script>
