﻿@using System.Linq
@using Microsoft.AspNetCore.Razor.Parser.SyntaxTree
@model System.Collections.Generic.IEnumerable<MIC.AseanTalentSearch.Web.EF.PositionJob>
@*<div class="job-list">
    @if (Model.Any())
    {
            @foreach (var item in Model)
            {
                <ul class="list-group" id="related-job">
                    <li class="list-group-item three-dots">
                        <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item?.Id" title="@item?.PositionTitle">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i><strong class="related-job__title "> @item?.PositionTitle</strong>
                        </a>
                    </li>
                </ul>
            }
    }
    else
    {
        <span>No job found!</span>
    }
</div>*@
<table class="table table-condensed table-striped">
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr class="list-group" id="related-job">
                    <td class="td_image">
                        <div class="td-img-content">
                            <img class="img-responsive" src="@item?.Company.Logo" alt="@item?.Company.Name" />
                        </div>
                    </td>
                    <td class="text-left">
                        <a href="/Recruiment/Details/@item?.Id#detail" title="@item?.PositionTitle">
                            <p class="text-bold"> @item?.PositionTitle</p>
                        </a> 
                        <p>
                            <em>
                                @item?.Company.Name
                            </em>
                                @if (item?.JobLocation.Count > 0)
                                {
                                    @Html.Raw("/")
                                }
                                <span>
                                    @foreach (var local in item?.JobLocation)
                                    {
                                        <a asp-controller="Recruiment" asp-action="Index" asp-route-locationId="@local.LocationId">@(local != item?.JobLocation.Last() ? local.Location.Name + "," : local.Location.Name)</a>
                                    }
                                </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            @string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)
                        </p>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td>No job found!</td></tr>
        }
    </tbody>
</table>