@model RegisterViewModel

<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="row">
            <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" id="email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" id="pwd" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" id="confirm" required>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label style="font-weight:400"><input checked="checked" type="radio" asp-for="Role" value="Candidate">Candidate</label>
                </div>
                <div class="col-xs-4">
                    <label style="font-weight:400"><input type="radio" asp-for="Role" value="Employer">Employer</label>
                </div>
                <div class="com-xs-4">
                    <label style="font-weight:400"><input type="radio" asp-for="Role" value="Instructor">Instructor</label>
                </div>
                <p class="info">By clicking on "Register". I have read and accepted <a asp-controller="Home" asp-action="Policy">Privacy Policy</a> of Contact Asean</p>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p"></div>
                    @Html.ValidationMessage("recaptchaValidation", new { @class = "text-danger" })
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-orange btn-fill-horz">SIGN UP</button>
                </div>
                <div class="col-xs-6">
                    <a href="" data-dismiss="modal" class="btn btn-fill-horz btn-close">CLOSE</a>
                </div>
            </form>
        </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}