﻿@{
    ViewData["Title"] = "Access Denied";
}
@await Component.InvokeAsync("SubJobSearchForm")
<section class="alljob-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-danger">Access Denied.</h1>
                <p class="text-danger">You do not have access to this resource.</p>
            </div>
        </div>
    </div>
</section>
