﻿@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";

    Layout = "_AccountLayout";
}

@*<h2>@ViewData["Title"].</h2>*@
<h3>Associate your @ViewData["LoginProvider"] account.</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    @*<a class="pull-right" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home page</a>*@
    @*<h4>Association Form</h4>*@
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
        Please enter an email address and select type of account for this site below and click the Register button to finish
        logging in.
        <br />  
        <br /> 
    </p>
    <div class="form-group">
        @*<label asp-for="Email"></label>*@
        <div>
            <input asp-for="Email" class="form-control" placeholder="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group text-center" id="third-radio">
        <label class="radio-inline"><input checked="checked" type="radio" asp-for="Role" value="Candidate">Candidate</label>
        <label class="radio-inline"><input type="radio" asp-for="Role" value="Employer">Employer</label>
        <label class="radio-inline"><input type="radio" asp-for="Role" value="Instructor">Instructor</label>
    </div>
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-default text-uppercase">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
