@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginAndRegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager

<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

@*<script src="https://www.google.com/recaptcha/api.js"></script>*@

<style>
    .loginSocial {
        margin-top: 20px;
        border: none;
        padding: 6px 12px 6px 44px !important;
    }
</style>

<div class="modal-header">
    <ul class="nav nav-tabs">
        <li class="@((Model==null||Model.IsRegister==false)?Html.Raw("active"):Html.Raw(""))"><a style="margin-left:0;text-transform:uppercase" data-toggle="tab" href="#modal-signin">@T.T("Home.Sign.In")</a></li>
        <li class="@((Model!=null&&Model.IsRegister==true)?Html.Raw("active"):Html.Raw(""))"><a style="text-transform:uppercase" data-toggle="tab" href="#modal-signup">@T.T("Home.Sign.Up")</a></li>
    </ul>
</div>
<div class="modal-body">
    <div class="tab-content">
        <div id="modal-signin" class="tab-pane fade @((Model==null||Model.IsRegister==false)?Html.Raw("in active"):Html.Raw(""))">
            <p class="text-center"><em>@T.T("Home.Sign.In.With")</em></p>
            <div class="row">
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="col-md-12">
                        @ViewData["ReturnUrl"]
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" name="provider" value="Facebook" title="Facebook" class="btn btn-block btn-social btn-facebook loginSocial"><span class="fa fa-facebook fa-fw"></span> Facebook</button>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" name="provider" title="Google" value="Google" class="btn btn-block btn-social btn-google loginSocial"><span class="fa fa-google fa-fw"></span> Google</button>

                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <hr>
                    <p class="text-center or"><em>Or</em></p>
                </div>
                <form asp-controller="Account" asp-action="LoginAndRegister" asp-route-returnurl="@ViewData["ReturnUrl"]"
                      method="post" data-ajax="true" data-ajax-method="POST" id="demo-form"
                      data-ajax-loading="#lr-loading-area" data-ajax-success="LoginResult">
                    @if (Model != null && Model.IsRegister == false)
                    {
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    }
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" id="email">
                            @if (Model != null && Model.IsRegister == false)
                            {
                                <span asp-validation-for="Email" class="text-danger"></span>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control">
                            @if (Model != null && Model.IsRegister == false)
                            {
                                <span asp-validation-for="Password" class="text-danger"></span>
                            }
                        </div>
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe"><em>Remember me?</em>
                            </label>
                            <a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                        </div>
                        <div class="form-group">
                            @*<div id="RecaptchaField1"></div>*@
                            @*<div class="g-recaptcha" data-sitekey="6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p"></div*@
                            @*@Html.ValidationMessage("recaptchaValidationLogin", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-orange btn-fill-horz text-uppercase">@T.T("Home.Sign.In")</button>
                    </div>
                    <div class="col-xs-6">
                        <a href="" data-dismiss="modal" class="btn btn-fill-horz btn-close">CLOSE</a>
                    </div>
                </form>
            </div>
        </div>
        <div id="modal-signup" class="tab-pane fade @((Model!=null&&Model.IsRegister==true)?Html.Raw("in active"):Html.Raw(""))">
            <div class="row">
                <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="LoginAndRegister"
                      data-ajax="true" data-ajax-method="POST"
                      data-ajax-loading="#lr-loading-area" data-ajax-success="RegisterResult">
                    <input asp-for="IsRegister" type="hidden" value="true" />
                    @if (Model != null && Model.IsRegister == true)
                    {
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    }
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="RegisterEmail"></label>
                            <input asp-for="RegisterEmail" class="form-control">
                            @if (Model != null && Model.IsRegister == true)
                            {
                                <span asp-validation-for="RegisterEmail" class="text-danger"></span>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="RegisterPassword"></label>
                            <input asp-for="RegisterPassword" class="form-control">
                            @if (Model != null && Model.IsRegister == true)
                            {
                                <span asp-validation-for="RegisterPassword" class="text-danger"></span>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="RegisterConfirmPassword"></label>
                            <input asp-for="RegisterConfirmPassword" class="form-control" id="confirm">
                            @if (Model != null && Model.IsRegister == true)
                            {
                                <span asp-validation-for="RegisterConfirmPassword" class="text-danger"></span>
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <label style="font-weight:400"><input checked="checked" type="radio" asp-for="Role" value="Candidate">Candidate</label>
                            </div>
                            <div class="col-xs-4">
                                <label style="font-weight:400"><input type="radio" asp-for="Role" value="Employer">Employer</label>
                            </div>
                            <div class="col-xs-4">
                                <label style="font-weight:400"><input type="radio" asp-for="Role" value="Instructor">Instructor</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="info">By clicking on "Sign Up". I have read and accepted <a asp-controller="Home" asp-action="Policy">Privacy Policy</a> of Contact Asean</p>

                    </div>
                    <div class="col-md-12">
                        @*<div id="RecaptchaField2"></div>*@
                        @*<div class="g-recaptcha" data-sitekey="6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p"></div>*@
                        @*@Html.ValidationMessage("recaptchaValidationRegister", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-orange btn-fill-horz">SIGN UP</button>
                    </div>
                    <div class="col-xs-6">
                        <a href="" data-dismiss="modal" class="btn btn-fill-horz btn-close">CLOSE</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="lr-loading-area" style="display:none; position: fixed; top: 50%; left: 50%; z-index: 1000;">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}
<script type="text/javascript">
    var CaptchaCallback = function () {
        grecaptcha.render('RecaptchaField1', { 'sitekey': '6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p' });
        grecaptcha.render('RecaptchaField2', { 'sitekey': '6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p' });
    };
</script>
@*<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>*@
<script>
    function LoginResult(result) {
        if (result.success) {
            //alert("thanh cong");
            location.reload();
        } else {
            //alert("heloo");
            $("#modal-edit .modal-content").html(result);
        }
    }
    //var target = "";
    //$("a[data-target=#modal-default]").click(function (ev) {
    //    ev.preventDefault();
    //    target = $(this).attr("href");
    //    alert($(this).attr("href"));
    //});

    function RegisterResult(result) {
        if (result.success) {
            //alert("thanh cong");
            if (result.role === "Candidate") {
                location.replace("/Candidate/Profile");
            }
            else if (result.role === "Employer") {
                location.replace("/Employer/Home");
            } else if (result.role === "Instructor") {
                location.replace("/Instructor/Home");
            };
            //location.reload();
        } else {
            //alert("heloo");
            $("#modal-default .modal-content").html(result);
        }
    }
</script>