﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "_AccountLayout";
}
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
@*<ul class="nav nav-pills">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="active"><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" id="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="pwd">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label asp-for="RememberMe" style="font-weight: bold;">
                        <input asp-for="RememberMe">Remember me?
                    </label>
                </div>

                <p class="forgot-pass"><a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a></p>
                <div class="clear"></div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p"></div>

                    @Html.ValidationMessage("recaptchaValidation", new { @class = "text-danger" })
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-default text-uppercase">LOGIN</button>
                </div>


            </form>
            <p class="text-center" style="color:#000; margin-top: 10px;">Or sign up with</p>
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="socical text-center">
                    <button type="submit" name="provider" value="Facebook" title="Facebook" class="btn btn-facebook"><i class="fa fa-facebook fa-fw"></i> Facebook</button>
                    <button type="submit" name="provider" title="Google" value="Google" class="btn btn-google"><i class="fa fa-google fa-fw"></i> Google</button>
                </div>
                @*<div>
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                        }
                    </p>
                </div>*@
@*</form>


        </div>

    </div>*@
<div id="modal-signin" class="tab-pane fade  in active">
    <p class="text-center"><em>Sign up with</em></p>
    <div class="row">
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div class="col-md-6 col-sm-6">
                <button type="submit" name="provider" value="Facebook" title="Facebook" class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Facebook</button>
            </div>
            <div class="col-md-6 col-sm-6">
                    <button type="submit" name="provider" title="Google" value="Google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Google</button>
            </div>
        </form>
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <p class="text-center"><em style="margin-top: 20px; margin-bottom: 20px;">Or</em></p>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" id="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="pwd">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label asp-for="RememberMe" style="font-weight: bold;">
                        <input asp-for="RememberMe">Remember me?
                    </label>
                </div>

            </div>
            <div class="clear"></div>
            <div class="form-group">
                @*<div class="g-recaptcha" data-sitekey="6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p"></div>*@

                @Html.ValidationMessage("recaptchaValidation", new { @class = "text-danger" })
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-form-sg" style="margin-top:30px">SIGN IN</button>
            </div>
        </form>
    </div>
</div>
            @section scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }

