﻿@model RegisterViewModel
@{
    Layout = "_AccountLayout";
}

@*<ul class="nav nav-pills">
        <li class="active"><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" id="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="pwd">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" id="confirm">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group text-center" id="third-radio">
                    <label class="radio-inline"><input checked="checked" type="radio" asp-for="Role" value="Candidate">Candidate</label>
                    <label class="radio-inline"><input type="radio" asp-for="Role" value="Employer">Employer</label>
                    <label class="radio-inline"><input type="radio" asp-for="Role" value="Instructor">Instructor</label>
                </div>
                <p class="info">By clicking on "Register". I have read and accepted <a asp-controller="Home" asp-action="Policy">Privacy Policy</a> of Contact Asean</p>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p"></div>

                    @Html.ValidationMessage("recaptchaValidation", new { @class = "text-danger" })
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default text-uppercase">REGISTER</button>
                </div>
            </form>
        </div>
    </div>*@

<div id="modal-signup" class="tab-pane fade  in active">
    <div class="row">
        <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" id="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="pwd">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" id="confirm">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center" id="third-radio">
                <label class="radio-inline"><input checked="checked" type="radio" asp-for="Role" value="Candidate">Candidate</label>
                <label class="radio-inline"><input type="radio" asp-for="Role" value="Employer">Employer</label>
                <label class="radio-inline"><input type="radio" asp-for="Role" value="Instructor">Instructor</label>
            </div>
            <div class="col-md-12">
                <p>By clicking on "Sign Up". I have read and accepted Privacy Policy of Contact Asean</p>
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LdoTyYUAAAAAHQRjNRJp1Z50PoiGGMlci5zcf7p"></div>

                @Html.ValidationMessage("recaptchaValidation", new { @class = "text-danger" })
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-form-sg" style="margin-top: 30px;">SIGN UP</button>
            </div>
        </form>
</div>
</div>
@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}