@model List<MIC.AseanTalentSearch.Web.EF.News>
@{
    ViewBag.Title = "News";
}
<div id="banner-child" class="fill" style="background:url('/images/banner-new.jpg'); height:270px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">@T.T("Home.News")</h2>
                <p class="text-center">
                    <a asp-controller="Home" asp-action="Index" style="color:white">@T.T("Home.Home")</a> | 
                    <a asp-controller="News" asp-action="Index" style="color:white">@T.T("Home.News")</a>
                </p>
            </div>
        </div>
    </div>
</div>
<section class="content-new">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="list-news">

                </div>
                
            </div>
            <div class="col-md-3">
                @Html.Partial("SearchForm")
                @await Component.InvokeAsync("RecentNews",true)
            </div>
        </div>
    </div>
</section>
