<p class="job-detail-header"> <i class="fa fa-square" aria-hidden="true"></i>@T.T("News.Search")</p>
<div id="custom-search-input">
    <form asp-action="Index" asp-controller="News" method="get" id="searchNewsForm">
        <div class="input-group col-md-12">
            <input type="text" id="stringSearch" name="stringSearch" class="search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
</div>

    <script>
        $(document).ready(function () {
            var strings = getParameterByName('stringSearch');
            if (strings != null)
            {
                $('#stringSearch').val(strings);
            }
            var data = $("#searchNewsForm").serializeArray();
            data.push({ name: 'stringSearch', value: $('#stringSearch').val() });
            //***
            //data.push({ name: 'JobLevelId', value: $('#JobLevelId').val() });
            $.ajax({
                    type: "get",
                    url: "@Url.Action("SearchNews")",
                    data: data,
                    beforeSend: function (data) { // Are not working with dataType:'jsonp'
                        $('#list-news').html('<div style="width:200px; margin:auto;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><div>');
                    }
                })
                .success(function (result) {
                    $("#list-news").html(result);
                })
                .fail(function () {
                    $("#list-news").text("An error occured");
                });
            $(document).on("click",
                "#searchNewsForm :button",
                function(e) {
                    var data = $("#searchNewsForm").serializeArray();
                    data.push({ name: 'stringSearch', value: $('#stringSearch').val() });
                    //***
                    //data.push({ name: 'JobLevelId', value: $('#JobLevelId').val() });
                    $.ajax({
                        type: "get",
                        url: "@Url.Action("SearchNews")",
                        data: data,
                        beforeSend: function (data) { // Are not working with dataType:'jsonp'
                            $('#list-news').html('<div style="width:200px; margin:auto;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><div>');
                        }
                    })
                    .success(function (result) {
                        $("#list-news").html(result);
                        $("#list-news").attr('style', 'display:block');
                        $("#detail-new").attr('style', 'display:none');
                    })
                    .fail(function () {
                        $("#list-news").text("An error occured");
                    });
                });
        });
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
