<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <!-- Default to the left -->
    <strong>&copy; @DateTime.Now.Year <a href="#">Contact Asean</a>.</strong> All rights
</footer>