@model MIC.AseanTalentSearch.Web.EF.CandidateComment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CandidateComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StarRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StarRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Candidate.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserComment.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
