@model MIC.AseanTalentSearch.Web.Areas.Instructor.Models.CommentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>CandidateComment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<input type="hidden" asp-for="Id" />*@
        <div class="form-group">
            <label asp-for="UserCommentId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="UserCommentId" class="form-control" />
                <span asp-validation-for="UserCommentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CandidateId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="CandidateId" class="form-control" />
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
        </div>       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
