﻿@using System.Linq
@model System.Collections.Generic.IEnumerable<MIC.AseanTalentSearch.Web.EF.PositionJob>

            @foreach (var item in Model)
            {
                <div class="card card-home">
                    <div class="card-img">
                        <a href="Recruiment/Details/@item.Id#detail">
                            <img class="card-img-top" src="@item.Company.Logo" alt="@item.Company.Name" />
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title text-center">
                            <a href="Recruiment/Details/@item.Id#detail" title="@item.PositionTitle" style="color:#000">@item.PositionTitle</a>
                        </h4>
                        <p class="card-text text-center">
                            <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid" style="color:#000"><em>@item.Company.Name</em></a>
                        </p>
                        <p class="card-addr text-center">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            @foreach (var location in item.JobLocation)
                            {
                                <a style="color:#3c8dbc;" asp-controller="Recruiment" asp-action="Index" asp-route-locationId="@location.LocationId">@(location != item.JobLocation.Last() ? location.Location.Name + "," : location.Location.Name)</a>
                            }
                            @*@(item.JobLocation.Select(m=>m.Location.Name).Any()? string.Join(",", item.JobLocation.Select(m => m.Location.Name).ToArray()):"Updating..." )*@
                        </p>
                        <p class="card-addr text-center">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> @string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)
                        </p>
                        <a href="Recruiment/Details/@item.Id#detail" class="btn btn-orange btn-fill-horz">@T.T("Home.ViewJob")</a>
                    </div>

                </div>
            }