﻿
@{
    ViewData["Title"] = "Article";
}

<section id="recruiment-banner" class="fill" style="background: url('images/bg-tintuc.png'); height: 365px;"></section>
<section id="search-section">
    <div class="container">
        <form class="flat-form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select style="width: 100%" id="job-select" class="form-control">
                            <option value="">Ngành nghề</option>
                            <option value="1">IT</option>
                            <option value="2">Art</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Tiêu đề công việc">
                            <span class="input-group-addon">
                                <button type="button">
                                    <span class="fa fa-briefcase"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Địa điểm">
                            <span class="input-group-addon">
                                <button type="button">
                                    <span class="fa fa-location-arrow"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <a href="#" class=" btn btn-border-w"><i class="fa fa-search" aria-hidden="true"></i> TÌM KIẾM</a>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9" id="main-content">
                <div id="news-box">
                    <h1 class="section-title">TIN TỨC</h1>
                    <hr class="underline underline-left">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="images/img-tintuc1.png" class="img-responsive img-center" alt="">
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled">
                                    <li class="heading-title text-bold"><a href="#">1001… chuyện phỏng vấn khiến bạn phải nghĩ “Trên đời này cái “quái” gì cũng có thể xảy ra”</a></li>
                                    <li class="text-muted"><i class="fa fa-calendar"></i> 23 tháng 2, 2017</li>
                                    <li>
                                        Đến công ty phỏng vấn bị bảo vệ tòa nhà bắt đi chỗ khác gửi xe, loay hoay tìm chỗ gửi nên đi trễ 10 phút. Những tình huống “tréo ngoe” như vậy nhiều khi không chỉ là câu chuyện của riêng bạn gặp phải, có những tình
                                        huống “dở khóc dở cười”...<a class="text-site" href="#">Xem thêm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="images/img-tintuc4.png" class="img-responsive img-center" alt="">
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled">
                                    <li class="heading-title text-bold"><a href="#">1001… chuyện phỏng vấn khiến bạn phải nghĩ “Trên đời này cái “quái” gì cũng có thể xảy ra”</a></li>
                                    <li class="text-muted"><i class="fa fa-calendar"></i> 23 tháng 2, 2017</li>
                                    <li>
                                        Đến công ty phỏng vấn bị bảo vệ tòa nhà bắt đi chỗ khác gửi xe, loay hoay tìm chỗ gửi nên đi trễ 10 phút. Những tình huống “tréo ngoe” như vậy nhiều khi không chỉ là câu chuyện của riêng bạn gặp phải, có những tình
                                        huống “dở khóc dở cười”...<a class="text-site" href="#">Xem thêm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="images/img-tintuc3.png" class="img-responsive img-center" alt="">
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled">
                                    <li class="heading-title text-bold"><a href="#">1001… chuyện phỏng vấn khiến bạn phải nghĩ “Trên đời này cái “quái” gì cũng có thể xảy ra”</a></li>
                                    <li class="text-muted"><i class="fa fa-calendar"></i> 23 tháng 2, 2017</li>
                                    <li>
                                        Đến công ty phỏng vấn bị bảo vệ tòa nhà bắt đi chỗ khác gửi xe, loay hoay tìm chỗ gửi nên đi trễ 10 phút. Những tình huống “tréo ngoe” như vậy nhiều khi không chỉ là câu chuyện của riêng bạn gặp phải, có những tình
                                        huống “dở khóc dở cười”...<a class="text-site" href="#">Xem thêm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="images/img-tintuc4.png" class="img-responsive img-center" alt="">
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled">
                                    <li class="heading-title text-bold"><a href="#">1001… chuyện phỏng vấn khiến bạn phải nghĩ “Trên đời này cái “quái” gì cũng có thể xảy ra”</a></li>
                                    <li class="text-muted"><i class="fa fa-calendar"></i> 23 tháng 2, 2017</li>
                                    <li>
                                        Đến công ty phỏng vấn bị bảo vệ tòa nhà bắt đi chỗ khác gửi xe, loay hoay tìm chỗ gửi nên đi trễ 10 phút. Những tình huống “tréo ngoe” như vậy nhiều khi không chỉ là câu chuyện của riêng bạn gặp phải, có những tình
                                        huống “dở khóc dở cười”...<a class="text-site" href="#">Xem thêm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="images/img-tintuc5.png" class="img-responsive img-center" alt="">
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled">
                                    <li class="heading-title text-bold"><a href="#">1001… chuyện phỏng vấn khiến bạn phải nghĩ “Trên đời này cái “quái” gì cũng có thể xảy ra”</a></li>
                                    <li class="text-muted"><i class="fa fa-calendar"></i> 23 tháng 2, 2017</li>
                                    <li>
                                        Đến công ty phỏng vấn bị bảo vệ tòa nhà bắt đi chỗ khác gửi xe, loay hoay tìm chỗ gửi nên đi trễ 10 phút. Những tình huống “tréo ngoe” như vậy nhiều khi không chỉ là câu chuyện của riêng bạn gặp phải, có những tình
                                        huống “dở khóc dở cười”...<a class="text-site" href="#">Xem thêm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="images/img-tintuc1.png" class="img-responsive img-center" alt="">
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled">
                                    <li class="heading-title text-bold"><a href="#">1001… chuyện phỏng vấn khiến bạn phải nghĩ “Trên đời này cái “quái” gì cũng có thể xảy ra”</a></li>
                                    <li class="text-muted"><i class="fa fa-calendar"></i> 23 tháng 2, 2017</li>
                                    <li>
                                        Đến công ty phỏng vấn bị bảo vệ tòa nhà bắt đi chỗ khác gửi xe, loay hoay tìm chỗ gửi nên đi trễ 10 phút. Những tình huống “tréo ngoe” như vậy nhiều khi không chỉ là câu chuyện của riêng bạn gặp phải, có những tình
                                        huống “dở khóc dở cười”...<a class="text-site" href="#">Xem thêm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="site-bar">
                <div id="popular-job">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="section-title">VIỆC LÀM NỔI BẬT</h1>
                            <hr class="underline underline-left">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-4">
                            <div class="box">
                                <div class="box-heading">
                                    <div class="box-label box-label-blue">
                                        FULL-TIME
                                    </div>
                                    <img src="images/employer1.png" class="img-responsive img-center" alt="">
                                </div>
                                <div class="box-body">
                                    <ul class="list-unstyled">
                                        <li class="box-title">
                                            <a href="#">Nhân viên buồng phòng</a>
                                        </li>
                                        <li class="box-sub-title">
                                            <a href="#">Khách sạn Mường Thanh</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng
                                        </li>
                                        <li>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017
                                        </li>
                                        <li>
                                            <span class="text-site text-bold" style="font-size:16px;">3 triệu - 5 triệu</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-footer text-center">
                                    <a class="btn btn-details" href="#">CHI TIẾT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-4">
                            <div class="box">
                                <div class="box-heading">
                                    <div class="box-label box-label-blue">
                                        FULL-TIME
                                    </div>
                                    <img src="images/employer1.png" class="img-responsive img-center" alt="">
                                </div>
                                <div class="box-body">
                                    <ul class="list-unstyled">
                                        <li class="box-title">
                                            <a href="#">Nhân viên buồng phòng</a>
                                        </li>
                                        <li class="box-sub-title">
                                            <a href="#">Khách sạn Mường Thanh</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng
                                        </li>
                                        <li>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017
                                        </li>
                                        <li>
                                            <span class="text-site text-bold" style="font-size:16px;">3 triệu - 5 triệu</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-footer text-center">
                                    <a class="btn btn-details" href="#">CHI TIẾT</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-4">
                            <div class="box">
                                <div class="box-heading">
                                    <div class="box-label box-label-blue">
                                        FULL-TIME
                                    </div>
                                    <img src="images/employer1.png" class="img-responsive img-center" alt="">
                                </div>
                                <div class="box-body">
                                    <ul class="list-unstyled">
                                        <li class="box-title">
                                            <a href="#">Nhân viên buồng phòng</a>
                                        </li>
                                        <li class="box-sub-title">
                                            <a href="#">Khách sạn Mường Thanh</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> Đà Nẵng
                                        </li>
                                        <li>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> 03/02 - 15/03/2017
                                        </li>
                                        <li>
                                            <span class="text-site text-bold" style="font-size:16px;">3 triệu - 5 triệu</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-footer text-center">
                                    <a class="btn btn-details" href="#">CHI TIẾT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

