@model University
@{
    ViewData["Title"] = "Create University";
}
@section heading{
    <h1>University</h1>
}
@*@foreach (var item in ViewContext.ViewData.ModelState.Select(m=>m.Value))
{
    @foreach (var error in item.Errors)
    {
        <div>@error.ErrorMessage</div>
    }
}*@
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label">@T.T("Admin.Name")</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="col-md-2 control-label">@T.T("Admin.Address")</label>
                            <div class="col-md-10">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label asp-for="Logo" class="col-md-2 control-label">@T.T("Admin.Logo")</label>
                            <div class="col-md-10 checkbox" style="padding-top:0;">
                                <input type="file" id="logo" name="logo" />
                                <div id="logoshow">

                                </div>
                                <p class="help-block">The file type be gif, png, jpeg or jpg and less than 2MB in size</p>

                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Introduction" class="col-md-2 control-label">@T.T("Admin.Introduction")</label>
                            <div class="col-md-10">
                                <textarea  style="min-height:320px;" asp-for="Introduction" class="form-control advanced-editor"></textarea>
                                <span asp-validation-for="Introduction" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label asp-for="ActiveStatus" class="col-md-2 control-label">@T.T("Admin.ActiveStatus")</label>
                            <div class="col-md-10 checkbox" style="padding-top:0;">
                                <input id="toggle-activeStatus" type="checkbox" data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                                <input id="activeStatus-value" type="hidden" asp-for="ActiveStatus" value="False" />
                                <span asp-validation-for="ActiveStatus" class="text-danger"></span>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.Nation")</label>
                            <div class="col-md-10">
                                <select  asp-items="@(ViewBag.Locations)" id="country" class="form-control">
                                    <option value="0">--Select--</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.Province")</label>
                            <div class="col-md-10">
                                <select name="province" id="province" class="form-control">
                                    <option value="0">--Select--</option>
                                </select>
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@T.T("Admin.Create")" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


<div>
    <a asp-action="Index">Back to list</a>
</div>
@* change active status *@
<script>
    $(function () {
        $('#toggle-activeStatus').change(function () {

            $('#activeStatus-value').val($(this).prop('checked'));
        })

        $("#logo").change(function (e) {

            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                var file = e.originalEvent.srcElement.files[i];

                var img = document.createElement("img");
                img.width = 100;
                img.height = 100;
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#logoshow").html(img);
            }
        });
    });
</script>

@section Scripts {
<script type="text/javascript">

    $(document).ready(function () {
        $('#country').change(function () {
            $.ajax({
                type: "get",
                url: '@Url.Action("FindProvinceByCountryId", "University", new { area = "Admin"})',
                data: { id: $('#country').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var state = '<option value="0">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        state = state + '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                    }
                    state = state + '</select>';
                    $('#province').html(state);
                }
            });
        });
    });     
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}