@model University
@{
    ViewData["Title"] = "Update University";
}
@section heading{
    <h1>University</h1>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Edit"  enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label">@T.T("Admin.Name")</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="col-md-2 control-label">@T.T("Admin.Address")</label>
                            <div class="col-md-10">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Logo" class="col-md-2 control-label">@T.T("Admin.Logo")</label>
                            <input type="hidden" asp-for="Logo" />
                            <div class="col-md-10 checkbox" style="padding-top:0;">
                                <input type="file" id="logo" name="logo" />
                                <div id="logoshow">
                                    <img height="100" src="@Model.Logo??''" alt="Photo">
                                </div>
                                <p class="help-block">The file type be gif, png, jpeg or jpg and less than 2MB in size</p>

                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="col-md-2 control-label">@T.T("Admin.Phone")</label>
                            <div class="col-md-10">
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label">@T.T("Admin.Email")</label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Website" class="col-md-2 control-label">@T.T("Admin.Website")</label>
                            <div class="col-md-10">
                                <input asp-for="Website" class="form-control" />
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Facebook" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Facebook" class="form-control" />
                                <span asp-validation-for="Facebook" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Twitter" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Twitter" class="form-control" />
                                <span asp-validation-for="Twitter" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Instagram" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Instagram" class="form-control" />
                                <span asp-validation-for="Instagram" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LinkedIn" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="LinkedIn" class="form-control" />
                                <span asp-validation-for="LinkedIn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Introduction" class="col-md-2 control-label">@T.T("Admin.Introduction")</label>
                            <div class="col-md-10">
                                <textarea style="min-height:320px;" asp-for="Introduction" class="form-control advanced-editor"></textarea>
                                <span asp-validation-for="Introduction" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="ActiveStatus" class="col-md-2 control-label">@T.T("Admin.ActiveStatus")</label>
                            <div class="col-md-10 checkbox" style="padding-top:0;">
                                <input id="toggle-activeStatus" type="checkbox" @Html.Raw(Model.ActiveStatus != null && Model.ActiveStatus.Value ? "checked" : "") data-toggle="toggle" 
                                       data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning">
                                <input id="activeStatus-value" type="hidden" asp-for="ActiveStatus" value="@Html.Raw(Model.ActiveStatus != null && Model.ActiveStatus.Value ? "True" : "False")" />
                                <span asp-validation-for="ActiveStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.Nation")</label>
                            <div class="col-md-10">                              
                                <select  asp-items="@(ViewBag.NationLocations)" id="country" class="form-control">
                                    <option value="0">--Select--</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">@T.T("Admin.Province")</label>
                            <div class="col-md-10">
                                <select asp-items="@(ViewBag.ProvinceLocations)" name="province" id="province" class="form-control">
                                    <option value="0">--Select--</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@T.T("Admin.Save")" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>



<div>
    <a asp-action="Index">Back to list</a>
</div>
@* change active status *@
<script>
    $(function () {
        $('#toggle-activeStatus').change(function () {

            $('#activeStatus-value').val($(this).prop('checked'));
        })

        //change logo selected
        $("#logo").change(function (e) {

            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                var file = e.originalEvent.srcElement.files[i];

                var img = document.createElement("img");
                img.width = 100;
                img.height = 100;
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#logoshow").html(img);
            }
        });
    })
</script>

@section Scripts {
<script type="text/javascript">

    $(document).ready(function () {
        $('#country').change(function () {
            $.ajax({
                type: "get",
                url: '@Url.Action("FindProvinceByCountryId", "University", new { area = "Admin"})',
                data: { id: $('#country').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var state = '<option value="0">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        state = state + '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                    }
                    state = state + '</select>';
                    $('#province').html(state);
                }
            });
        });
    });
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}