@model Sakura.AspNetCore.IPagedList<University>
@{
    ViewData["Title"] = "List University";

}
@section heading{
    <h1>University</h1>
}
<link href="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<style>

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: none;
    }

    .input-group-btn button {
        background-color: #fff;
        left: -35px;
        padding: 5px 10px;
        z-index:9999 !important;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>

                <div class="box-tools">

                </div>
            </div>
            <div class="box-operation clearfix" style="border-bottom: 1px solid #eeeeea">
                <div class="col-md-8">
                    <a asp-action="Create" class="btn btn-primary"><i class='fa fa-plus'></i> @T.T("Admin.Create")</a>
                    <a asp-action="Index" class="btn btn-primary"><i class='fa fa-recycle'></i> @T.T("Refetch")</a>
                </div>
                <div class="col-md-4">
                    <form asp-action="Index" asp-controller="University" asp-area="Admin" method="get">
                        <div class="col-md-12 input-group">
                            <input type="text" id="uSearch" name="search" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 30%;">
                                @T.T("Admin.Name")
                            </th>
                            <th style="width: 10%;">
                                @T.T("Admin.Logo")
                            </th>
                            <th>
                                National
                            </th>
                            <th class="text-center" style="width: 30%;">
                                @T.T("Admin.ActiveStatus")
                            </th>
                            <th class="text-center" style="width: 30%;">@T.T("Admin.Action")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td>
                                    <img style="height:40px;" class="salesLogoImage img-responsive" src="@item.Logo??''" alt="Photo">
                                </td>
                                <td>
                                    @if (item.Location != null)
                                    {
                                        @item.Location.Name

                                    }
                                </td>
                                <td class="text-center">
                                    @{ 
                                        var active = (item.ActiveStatus != null && item.ActiveStatus.Value) ? true : false;
                                    }
                                    <input id="item_IsActive_@item.Id" asp-for="@active" onchange="StatusChange(@item.Id)" type="checkbox"
                                           data-toggle="toggle" data-on="@T.T("Admin.Active")" data-off="@T.T("Admin.NotActive")" data-onstyle="success" data-offstyle="warning" />
                                    
                                </td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-pencil"></i> @T.T("Admin.Edit")</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> @T.T("Admin.Delete")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination">
                        <pager />
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script>
    function StatusChange(val) {
        var IsActive = document.getElementById("item_IsActive_" + val).checked ? true : false;
        $.ajax({
            url: "/Admin/University/Update",
            type: "post",
            data: {
                Id: val,
                IsActive: IsActive
            },
            success: function (resual) {
                toastr.success('Update successed!');
            }
        });
    }
</script>