@model MIC.AseanTalentSearch.Web.EF.JobApplication

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.JobApplicationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobApplicationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoverLetter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoverLetter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Linkfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Linkfile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Candidate.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionJob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionJob.JobDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
