@model MIC.AseanTalentSearch.Web.EF.JobApplication

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>JobApplication</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="JobApplicationName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobApplicationName" class="form-control" />
                <span asp-validation-for="JobApplicationName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PositionJobId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PositionJobId" class="form-control" asp-items="ViewBag.PositionJobId"></select>
                <span asp-validation-for="PositionJobId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CandidateId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"></select>
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CoverLetter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CoverLetter" class="form-control" />
                <span asp-validation-for="CoverLetter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreateBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobStatus" class="form-control" />
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Linkfile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Linkfile" class="form-control" />
                <span asp-validation-for="Linkfile" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>