@using System.Linq
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model MIC.AseanTalentSearch.Web.EF.PositionJob
@{
    ViewData["Title"] = Model.PositionTitle;
}
<style>
    .title-company {
        padding: 3px 0px;
    }
</style>
@await Component.InvokeAsync("SubJobSearchForm")
<a id="detail" aria-hidden="true"></a>
<section class="alljob-detail">
    <div class="container">
        <div class="info-job">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="info-job-t">
                        @Model.PositionTitle |
                        <span>@(string.Format("{0:dd/MM/yyyy}", Model?.OpenDate)) - @(string.Format("{0:dd/MM/yyyy}", Model?.ClosedDate))</span>
                    </h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>@T.T("Jobs.Salary")</p>
                            <p class="info-job-d">
                                @{
                                    string salary = "Negotiation";
                                    if (Model.PayStatusView == true)
                                    {
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            if (Model.MinPay != null && Model.MaxPay != null)
                                            {
                                                salary = $"${Model.MinPay:N0} - ${Model.MaxPay:N0}";
                                            }
                                            else if (Model.MinPay != null && Model.MaxPay == null)
                                            {
                                                salary = $"From: ${Model.MinPay:N0}";
                                            }
                                            else if (Model.MinPay == null && Model.MaxPay != null)
                                            {
                                                salary = $"Up to: ${Model.MaxPay:N0}";
                                            }
                                        }
                                        else
                                        {
                                            salary = "Salary: Login to see";
                                        }
                                    }
                                    else
                                    {
                                        if (Model.MinPay != null && Model.MaxPay != null)
                                        {
                                            salary = $"${Model.MinPay:N0} - ${Model.MaxPay:N0}";
                                        }
                                        else if (Model.MinPay != null && Model.MaxPay == null)
                                        {
                                            salary = $"From: ${Model.MinPay:N0}";
                                        }
                                        else if (Model.MinPay == null && Model.MaxPay != null)
                                        {
                                            salary = $"Up to: ${Model.MaxPay:N0}";
                                        }
                                    }

                                }
                                @salary
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>@T.T("Jobs.Location")</p>
                            <p class="info-job-d">
                                @(Model?.Company?.Address ?? "<No adrress>" )
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>@T.T("Jobs.City")</p>
                            <p class="info-job-d">
                                @foreach (var location in Model.JobLocation)
                                {
                                    <a asp-controller="Recruiment" asp-action="Index" asp-route-locationId="@location.LocationId">@(location != Model.JobLocation.Last() ? location.Location.Name + "," : location.Location.Name)</a>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <form asp-controller="Candidate" asp-action="SaveJob" method="post" class="form-apply">
                            <input type="hidden" asp-for="Id" />
                            @if (Model.ClosedDate >= DateTime.Now)
                            {
                                @if (User.IsInRole("Candidate"))
                                {
                                    if (ViewBag.Applied != null && ViewBag.Applied == true)
                                    {
                                        <div class="row">
                                            <div class="col-md-12 col-sm-6">
                                                <button disabled="disabled" class="btn btn-orange btn-info text-bold text-uppercase" style="width:100%;margin-top:20px">
                                                    Applied
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-12 col-sm-6">
                                                <a asp-controller="Candidate"
                                                   asp-action="ApplyCV"
                                                   asp-route-positionJobId="@Model.Id"
                                                   class="btn btn-orange btn-fill-horz btn-info text-bold text-uppercase"
                                                   data-ajax="true"
                                                   data-toggle="modal"
                                                   data-target="#modal-default"
                                                   data-ajax-loading="#loading-area"
                                                   data-ajax-failure="OnFailure"
                                                   data-ajax-update="#modal-default .modal-content">

                                                    @T.T("Jobs.ApplyNow")
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                                @if (User.IsInRole("Candidate"))
                                {
                                    if (ViewBag.Saved == null)
                                    {

                                        <div class="row">
                                            <div class="col-md-12 col-sm-6">
                                                <button type="submit" class="btn btn-green btn-fill-horz text-uppercase" style="margin-top:20px;width:100%">@T.T("Jobs.SaveThisJob")</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="row">
                                            <div class="col-md-12 col-sm-6">
                                                <button type="submit" class="btn btn-gray btn-danger text-bold text-uppercase" style="margin-top:20px;width:100%">@T.T("Jobs.Saved")</button>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="job-detail">
            <div class="row">
                <div class="col-md-8">
                    <div class="job-detail-modal height">
                        <h4 class="job-detail-t">@T.T("Jobs.Summary")</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <p>@T.T("Jobs.JobLevel")</p>
                                <a asp-controller="Recruiment" asp-action="Index" asp-route-jobLevelId="@Model?.JobLevel?.JobLevelId">
                                    <p class="info-job-d">
                                        @Model?.JobLevel?.JobLevelName
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <p>@T.T("Jobs.JobCategories")</p>
                                @foreach (var item in Model.JobCategory.Select(m => m.Category))
                                {
                                    <a asp-controller="Recruiment" asp-action="Index" asp-route-categoryId="@item.Id">
                                        <p class="info-job-d">@item.Name</p>
                                    </a>
                                }
                            </div>
                            <div class="col-md-4">
                                <p>@T.T("Jobs.PreferredLanguage")</p>
                                @foreach (var item in Model.JobLanguage.Select(m => m.Language))
                                {
                                    <a asp-controller="Recruiment" asp-action="Index" asp-route-categoryId="@item.Id">
                                        <p class="info-job-d">@item.Name</p>
                                    </a>
                                }
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>
                        <h4 class="job-detail-t sub">@T.T("Jobs.WhatYouWillDo")</h4>
                        <p>
                            @Html.Raw(Model.Responsibilities)
                        </p>
                        <h4 class="job-detail-t sub">@T.T("Jobs.WhatYouAreGoodAt")</h4>
                        <p class="detail-text">
                            @Html.Raw(Model.SkillRequirement)
                        </p>
                        <h4 class="job-detail-t sub">@T.T("Jobs.YouShouldBeAt")</h4>
                        <ul class="list-inline list-skill">
                            @foreach (var item in Model.JobSkill.Select(m => m.KeySkill.Name))
                            {
                                <li><a asp-controller="Recruiment" asp-action="Index" asp-route-JobName="@item" class="btn btn-blue btn-fill-horz">@item</a></li>
                            }
                        </ul>
                    </div>
                    <p class="job-detail-header" style="font-size:24px">
                        <i class="fa fa-square"></i>
                        @T.T("Jobs.RelatedJobs")
                    </p>
                    <div class="job-detail-related">
                        @await Component.InvokeAsync("RelatedJob", new { id = Model.Id })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="height">
                        <div class="share-job">
                            <p class="job-detail-header text-uppercase">
                                <i class="fa fa-square" aria-hidden="true"></i>
                                @T.T("Jobs.ShareThisJob")
                            </p>
                            @{
                                var UrlFb = Context.Request.Host + Context.Request.Path;
                            }
                            <div class="share">
                                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=@UrlFb&src=sdkpreparse" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="twitter" href="https://twitter.com/intent/tweet?status=@Model.PositionTitle+&url=@UrlFb" target="blank"><i class="fa fa-twitter"></i></a>
                                <!-- google plus -->
                                <a class="googleplus" href="https://plus.google.com/share?url=@UrlFb" target="blank"><i class="fa fa-google-plus"></i></a>
                                <!-- linkedin -->
                                <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=@UrlFb&title=@Model.PositionTitle&source={{source}}" target="blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="info-job-detail">
                            <div class="job-detail-img">
                                <a asp-action="Details" asp-controller="Company" asp-route-id="@Model.Company.Guid">
                                    <img src="@Model.Company.Logo" height="120" alt="@Model.Company.Name" />
                                </a>
                            </div>
                            <p class="text-center name-company">@Model.Company.Name</p>
                            <p class="job-detail-header">
                                <i class="fa fa-square" aria-hidden="true"></i>
                                @T.T("Jobs.AboutOurCompany")
                            </p>
                            <p>Company size: @Model.Company.CompanySize</p>
                            <p>
                                @Html.Raw(Model.Company.Summary ?? "")
                            </p>
                            <p class="job-detail-header">
                                <i class="fa fa-square"></i>
                                @T.T("Jobs.Contact")
                            </p>
                            <p>Phone: @Model.Company.Phone</p>
                            <p>Email: @Model.Company.Email</p>
                            <p>Website: @Model.Company.Website</p>
                            <p>Address: @Model.Company.Address</p>
                            <p>Contact Person: @Model.Company.ContactPerson</p>
                            <div class="share">
                                <a target="_blank" title="Facebook" href="@(string.IsNullOrEmpty(Model.Company.Facebook)?"#":Model.Company.Facebook.Contains("http")?@Model.Company.Facebook:"https://"+@Model.Company.Facebook)" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a target="_blank" title="Twitter" href="@(string.IsNullOrEmpty(Model.Company.Twitter)?"#":(Model.Company.Twitter.Contains("http")?Model.Company.Twitter:"https://"+@Model.Company.Twitter))" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a target="_blank" title="Instargram" href="@(string.IsNullOrEmpty(Model.Company.Instagram)?"#":(Model.Company.Instagram.Contains("http")?@Model.Company.Instagram:"https://"+@Model.Company.Instagram))" style="background:#d10869">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a target="_blank" title="Linked In" href="@(string.IsNullOrEmpty(Model.Company.LinkedIn)?"#":(Model.Company.LinkedIn.Contains("http")?@Model.Company.LinkedIn:"https://"+@Model.Company.LinkedIn))" class="linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12">
            <div class="box box-widget">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-container">
                                <img src="@(Model?.Company?.Logo??"~/images/noimage.png")" alt="Logo company" class="img-responsive img-center" width="180" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="general-infor">
                                <ul class="list-unstyled">
                                    <li><h3 class="text-bold title-company text-uppercase three-dots">@(Model.PositionTitle ?? "<No title>")</h3></li>
                                    <li>

                                        <div class="details-salary">

                                            @{
                                                string salary1 = "Negotiation";
                                                if (Model.PayStatusView == true)
                                                {
                                                    if (User.Identity.IsAuthenticated)
                                                    {
                                                        if (Model.MinPay != null && Model.MaxPay != null)
                                                        {
                                                            salary = $"${Model.MinPay:N0} - ${Model.MaxPay:N0}";
                                                        }
                                                        else if (Model.MinPay != null && Model.MaxPay == null)
                                                        {
                                                            salary = $"From: ${Model.MinPay:N0}";
                                                        }
                                                        else if (Model.MinPay == null && Model.MaxPay != null)
                                                        {
                                                            salary = $"Up to: ${Model.MaxPay:N0}";
                                                        }
                                                    }
                                                    else
                                                    {
                                                        salary = "Salary: Login to see";
                                                    }
                                                }
                                                else
                                                {
                                                    if (Model.MinPay != null && Model.MaxPay != null)
                                                    {
                                                        salary = $"${Model.MinPay:N0} - ${Model.MaxPay:N0}";
                                                    }
                                                    else if (Model.MinPay != null && Model.MaxPay == null)
                                                    {
                                                        salary = $"From: ${Model.MinPay:N0}";
                                                    }
                                                    else if (Model.MinPay == null && Model.MaxPay != null)
                                                    {
                                                        salary = $"Up to: ${Model.MaxPay:N0}";
                                                    }
                                                }

                                            }
                                            @salary
                                        </div>
                                    </li>
                                    <li class="lead" style="margin-bottom: 3px;"><a asp-controller="Company" asp-action="Details" asp-route-id="@Model?.Company?.Guid">@(Model?.Company?.Name ?? "<No name>")</a></li>
                                    <li><i class="fa fa-home" aria-hidden="true" style="color:#14b1bb;font-size:18px;"></i> @(Model?.Company?.Address ?? "<No adrress>" )</li>
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true" style="color:#14b1bb;font-size:18px; margin-right:4px;"></i>
                                        @* @string.Join(", ", Model.JobLocation.Select(m => m.Location.Name))*@
    @*@foreach (var location in Model.JobLocation)
                                            {
                                                <a asp-controller="Recruiment" asp-action="Index" asp-route-locationId="@location.LocationId">@(location != Model.JobLocation.Last() ? location.Location.Name + "," : location.Location.Name)</a>
                                            }

                                        </li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true" style="color:#14b1bb;font-size:18px;"></i> @(string.Format("{0:dd/MM/yyyy}", Model?.OpenDate)) - @(string.Format("{0:dd/MM/yyyy}", Model?.ClosedDate))</li>
                                        <li><i class="fa fa-user-o" aria-hidden="true" style="color:#14b1bb;font-size:18px;margin-right:4px;"></i>@Model.Quantity</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <form asp-controller="Candidate" asp-action="SaveJob" method="post" class="form-apply">
                                    <input type="hidden" asp-for="Id" />

                                    @if (Model.ClosedDate >= DateTime.Now)
                                    {
                                        @if (User.IsInRole("Candidate"))
                                        {
                                            if (ViewBag.Applied != null && ViewBag.Applied == true)
                                            {
                                                <a disabled="disabled" class="btn btn-block btn-info text-bold text-uppercase">
                                                    Applied
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Candidate"
                                                   asp-action="ApplyCV"
                                                   asp-route-positionJobId="@Model.Id"
                                                   class="btn btn-block btn-info text-bold text-uppercase"
                                                   data-ajax="true"
                                                   data-toggle="modal"
                                                   data-target="#modal-default"
                                                   data-ajax-loading="#loading-area"
                                                   data-ajax-failure="OnFailure"
                                                   data-ajax-update="#modal-default .modal-content">

                                                    Apply now
                                                </a>
                                            }
                                        }


                                        @if (User.IsInRole("Candidate"))
                                        {
                                            if (ViewBag.Saved == null)
                                            {
                                                <button type="submit" class="btn btn-block btn-success text-bold text-uppercase">SAVE THIS JOB</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-block btn-danger text-bold text-uppercase">SAVED</button>
                                            }
                                        }
                                    }

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="row">
        <div class="col-md-8">
            <div class="box box-widget">
                <div class="box-body">

                    <h3>You should be best at</h3>
                    <ul class="list-inline list-skill">
                        @foreach (var item in Model.JobSkill.Select(m => m.KeySkill.Name))
                        {
                            <li><a asp-controller="Recruiment" asp-action="Index" asp-route-JobName="@item" class="btn btn-default">@item</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="box box-widget">
                <div class="box-body">
                    <h3>What You Will Do</h3>
                    <p class="three-dots-nowrap">@Html.Raw(Model.Responsibilities)</p>
                </div>
            </div>
            <div class="box box-widget">
                <div class="box-body">
                    <h3>What You Are Good At</h3>
                    <p class="three-dots-nowrap">@Html.Raw(Model.SkillRequirement)</p>
                </div>
            </div>
            <div class="box box-widget">
                <div class="box-body about-company">
                    <h3>About Our Company</h3>
                    <ul class="list-unstyled">
                        <li class="text-bold lead" style="margin-bottom: 5px;"><a asp-controller="Company" asp-action="Details" asp-route-id="@Model.Company.Guid">@(Model?.Company?.Name)</a></li>
                        <li><label>Phone:</label> @(Model?.Company?.Phone)</li>
                        <li><label>Email:</label> @(Model?.Company?.Email)</li>
                        <li><label>Website:</label> <a href="@(Model?.Company?.Website)" target="_blank">@(Model?.Company?.Website)</a></li>
                        <li><label>Address:</label> @(Model?.Company?.Address)</li>
                        <li><label>Contact person:</label> <span class="text-bold">@(Model?.Company?.ContactPerson)</span></li>
                        <li>
                            @{
                                string companysize = Model?.Company?.CompanySize;
                            }
                            <label>Company size:</label> <span class="text-bold">@(companysize)</span>
                        </li>

                    </ul>
                    <p>@Html.Raw(Model?.Company?.Introduction)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="box box-widget">
                <div class="box-body">
                    <h3 class="title-slidebar">Summary Job Details</h3>
                    <ul class="list-group">
                        <li class="list-group-item ">
                            <h5>Job Level</h5>
                            <a asp-controller="Recruiment" asp-action="Index" asp-route-jobLevelId="@Model?.JobLevel?.JobLevelId">@Model?.JobLevel?.JobLevelName</a>
                            @*Model?.JobLevel?.JobLevelName*@
    @*</li>
        <li class="list-group-item">
            <h5>Job Categories</h5>
            @foreach (var item in Model.JobCategory.Select(m => m.Category))
            {
                <a asp-controller="Recruiment" asp-action="Index" asp-route-categoryId="@item.Id">@item.Name</a>
                @*item.Name*@
    @*<br />
                                }
                            </li>
                            <li class="list-group-item">
                                <h5>Preferred Language</h5>
                                @foreach (var item in Model.JobLanguage.Select(m => m.Language))
                                {
                                    @item.Name
                                    <br />
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box box-widget">
                    <div class="box-body">
                        <h3 class="title-slidebar" style="margin-bottom:10px;">Related Jobs</h3>
                        @await Component.InvokeAsync("RelatedJob", new { id = Model.Id })
                    </div>
                </div>
            </div>
        </div>*@
</section>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=4574118779565602';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>