﻿@{
    ViewData["Title"] = "Recruiment";
}
@*@await Component.InvokeAsync("JobSearchForm")*@
@await Component.InvokeAsync("SubJobSearchForm")
@*<section class="alljob-content">
    <div class="container">
        <div class="row">
            <h3 class="text-center text-uppercase title-header"> Featured jobs</h3>
            <div id="popular-show" class="owl-carousel owl-theme">
                @await Component.InvokeAsync("FeaturedWork")
            </div>
        </div>
    </div>
</section>*@
<section id="recuitment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left title-header">@T.T("Home.Jobs")</h3>
            </div>
            <div class="col-sm-3">
                @await Component.InvokeAsync("RecruimentFilterControl")
            </div>
            <div class="col-sm-9">
                <div id="new-job">

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var data = $("#filterControl").serializeArray();
            data.push({ name: 'CategoryId', value: $('#CategoryId').val() });
            data.push({ name: 'JobName', value: $('#JobName').val() });
            data.push({ name: 'LocationId', value: $('#LocationId').val() });
            //***
            //data.push({ name: 'JobLevelId', value: $('#JobLevelId').val() });
            $.ajax({
                    type: "get",
                    url: "@Url.Action("RecruitSearch")",
                    data: data,
                    beforeSend: function (data) { // Are not working with dataType:'jsonp'
                        $('#new-job').html('<div style="width:200px; margin:auto;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><div>');
                    }
                })
                .success(function (result) {
                    $("#new-job").html(result);
                })
                .fail(function () {
                    $("#new-job").text("An error occured");
                });
            $(document).on("change",
                "#filterControl :input",
                function(e) {
                    var data = $("#filterControl").serializeArray();
                    data.push({ name: 'CategoryId', value: $('#CategoryId').val() });
                    data.push({ name: 'JobName', value: $('#JobName').val() });
                    data.push({ name: 'LocationId', value: $('#LocationId').val() });
                    //***
                    //data.push({ name: 'JobLevelId', value: $('#JobLevelId').val() });
                    $.ajax({
                        type: "get",
                        url: "@Url.Action("RecruitSearch")",
                        data: data,
                        beforeSend: function (data) { // Are not working with dataType:'jsonp'
                            $('#new-job').html('<div style="width:200px; margin:auto;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><div>');
                        }
                    })
                    .success(function (result) {
                        $("#new-job").html(result);
                    })
                    .fail(function () {
                        $("#new-job").text("An error occured");
                    });
                });
           
            $(".jobItem").click(function () {
               // window.location = $(this).data("href");
                alert("sdfdsf");
            });

        });

    </script>
}
