﻿@using System.Linq
@using System.Diagnostics
@model JobSearchViewModel
@{
    Layout = null;
}
<style>
    .table-responsive tr.jobItem td{
        cursor: pointer;
    }
</style>
<script>
    function myfunction(data) {
        location.href = "/Recruiment/Details/" + data + "#detail";
    }
</script>
<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <tbody>
            @if (Model.Result.Any())
            {
                foreach (var item in Model.Result)
                {
                  
                        <tr class="jobItem" onclick="myfunction(@item.Id)">
                            <td class="td_image">
                                <div class="td-img-content">
                                  
                                        @{
                                            var logoSrc = item.Company.Logo ?? "images/employerlogo1.png";
                                        }
                                        <img title="@(item.Company.Name ?? "No name")" class="img-responsive" src="@logoSrc">
                                   
                                </div>
                            </td>
                            <td class="text-center">
                                <p class="text-bold">
                                    <a href="Recruiment/Details/@item.Id#detail" title="@(item.PositionTitle)" class="job-item-info">
                                        <span>
                                            <strong class="job-title"> @(item.PositionTitle)</strong>
                                        </span>
                                    </a>
                                </p>
                                <p>
                                    <span class="company " style="display:block;">
                                        <a class="job-search__company" asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid">
                                            <em data-url="@Url.Action("Details", "Company", new { id = item.CompanyId })" title="@(item.Company.Name ?? "No name")">@(item.Company.Name ?? "No name")</em>
                                        </a><br />

                                        @{
                                            var locations = item.JobLocation.Select(m => m.Location);
                                        }
                                        @if (locations.Count() > 0)
                                        {
                                        @for (int i = 0; i < locations.Count(); i++)
                                        {
                                            <a asp-controller="Recruiment" asp-action="Index" asp-route-LocationId="@locations.ElementAt(i).Id" class="location">@(i < locations.Count() - 1 ? locations.ElementAt(i).Name + "," : locations.ElementAt(i).Name )</a>

                                        }}

                                    </span>

                                </p>
                            </td>
                            <td>
                                <p>
                                    <i class="fa fa-clock-o"></i>
                                    @string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)
                                </p>
                            </td>
                            <td>
                                <p class="text-bold text-right">
                                    @{
                                        string salary = "Negotiation";
                                        if (item.PayStatusView == true)
                                        {
                                            if (User.Identity.IsAuthenticated)
                                            {
                                                if (item.MinPay != null && item.MaxPay != null)
                                                {
                                                    salary = $"${item.MinPay} - ${item.MaxPay}";
                                                }
                                                else if (item.MinPay != null && item.MaxPay == null)
                                                {
                                                    salary = $"From: ${item.MinPay:N0}";
                                                }
                                                else if (item.MinPay == null && item.MaxPay != null)
                                                {
                                                    salary = $"Up to: ${item.MaxPay:N0}";
                                                }
                                            }
                                            else
                                            {
                                                salary = "Salary: Login to see";
                                            }
                                        }
                                        else
                                        {
                                            if (item.MinPay != null && item.MaxPay != null)
                                            {
                                                salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                                            }
                                            else if (item.MinPay != null && item.MaxPay == null)
                                            {
                                                salary = $"From: ${item.MinPay:N0}";
                                            }
                                            else if (item.MinPay == null && item.MaxPay != null)
                                            {
                                                salary = $"Up to: ${item.MaxPay:N0}";
                                            }
                                        }

                                    }
                                    @salary
                                </p>
                            </td>
                            @*<td>
                                <div class="col-xs-8 col-sm-9 col-lg-10 job-search__job-info-col">

                                    <a asp-controller="Recruiment" asp-action="Details" asp-route-id="@item.Id" title="@(item.PositionTitle)" class="job-item-info">
                                        <span>
                                            <strong class="job-title"> @(item.PositionTitle)</strong>
                                        </span>
                                        <span class="company " style="display:block;">
                                            <a class="job-search__company" asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Guid"><span data-url="@Url.Action("Details", "Company", new { id = item.CompanyId })" title="@(item.Company.Name ?? "No name")">@(item.Company.Name ?? "No name")</span></a>
                                            <span class="hidden-xs text-gray-a separator">|</span>
                                            @{
                                                var locations1 = item.JobLocation.Select(m => m.Location);
                                            }
                                            @for (int i = 0; i < locations.Count(); i++)
                                            {
                                            <a asp-controller="Recruiment" asp-action="Index" asp-route-LocationId="@locations.ElementAt(i).Id" class="location">@(i < locations.Count() - 1 ? locations.ElementAt(i).Name + "," : locations.ElementAt(i).Name )</a>
                                            @*Html.ActionLink(locations.ElementAt(i).Name,"Recruiment/"+locations.ElementAt(i).Id)
                                            @*if (i < locations.Count() - 1)
                                            {
                                                @:,
                                                //@Html.Raw(", ");
                                            }

                                            }

                                        </span>
                                        <span class="extra-info salary text-clip">
                                            @{
                                                string salary1 = "Negotiation";
                                                if (item.PayStatusView == true)
                                                {
                                                    if (User.Identity.IsAuthenticated)
                                                    {
                                                        if (item.MinPay != null && item.MaxPay != null)
                                                        {
                                                            salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                                                        }
                                                        else if (item.MinPay != null && item.MaxPay == null)
                                                        {
                                                            salary = $"From: ${item.MinPay:N0}";
                                                        }
                                                        else if (item.MinPay == null && item.MaxPay != null)
                                                        {
                                                            salary = $"Up to: ${item.MaxPay:N0}";
                                                        }
                                                    }
                                                    else
                                                    {
                                                        salary = "Salary: Login to see";
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.MinPay != null && item.MaxPay != null)
                                                    {
                                                        salary = $"${item.MinPay:N0} - ${item.MaxPay:N0}";
                                                    }
                                                    else if (item.MinPay != null && item.MaxPay == null)
                                                    {
                                                        salary = $"From: ${item.MinPay:N0}";
                                                    }
                                                    else if (item.MinPay == null && item.MaxPay != null)
                                                    {
                                                        salary = $"Up to: ${item.MaxPay:N0}";
                                                    }
                                                }

                                            }
                                            <span id="span-money">@salary</span>
                                            <span class="separator">
                                                |
                                            </span>
                                            <span class="job-search__date-posted gray-light text-muted">@string.Format("{0:dd/MM/yyyy}", item.OpenDate) - @string.Format("{0:dd/MM/yyyy}", item.ClosedDate)</span>

                                        </span>
                                    </a>

                                </div>

                                                    </td>*@
                        </tr>


                        }
                        <tr>
                            <td colspan="4">
                                <div class="text-center">
                                    <ul class="pagination">
                                        <pager source="@Model.Result" setting-link-attr-data-ajax="true" setting-link-attr-data-ajax-update="#new-job" />
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        }
                        else
                        {
                        <tr>
                            <td>
                                <div class="alert alert-warning">
                                    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                                    No result found!
                                </div>
                            </td>
                        </tr>

                        }
</tbody>
    </table>
    <!-- /.box-body -->
</div>

    


