﻿#comment {
    background-color: #ecf0f5;
    padding-top: 10px;
    margin-top: 70px;
}

    #comment #comment-container {
        margin-bottom: 20px;
    }

.comment-item {
    background: #fff;
    border-bottom: 1px solid #c9d0d8;
    margin: 20px 0;
    padding: 10px 0;
}

.instructor-img {
    float: left;
}

.instructor-img img{
    width:80px;
    height:80px;
}

.instructor {
    min-height: 80px;
}

.instructor-name {
    margin: 0px 0 0 90px;
    padding-bottom: 5px;
    color: #14b1bb;
}

.instructor-desc {
    padding-top: 12px;
}

.instructor-university {
    color: #000;
    font-weight: bold;
    padding-left: 90px;
}

.comment-date {
    text-align: right;
    padding-left: 90px;
    color: #9da3ac;
}

.comment-content {
    padding-top: 10px;
}

.comment-info {
    display: block;
}

.comment-info-column {
    flex: none;
}

.comment-date {
    text-align: left;
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .comment-info {
        display: -webkit-flex; /* Safari */
        display: flex;
    }

    .comment-info-column {
        -webkit-flex: 1; /* Safari 6.1+ */
        -ms-flex: 1; /* IE 10 */
        flex: 1;
    }

    .comment-date {
        text-align: right;
    }

    .instructor-name {
        margin: 8px 0 0 90px;
        padding-bottom: 5px;
        color: #14b1bb;
    }

    .instructor-university {
        padding-left: 10px;
    }
}
