    /*----------------------------------
TABLE OF CONTENTS: HOME
------------------------------------

1 - Reset
2 - header-navbar
3 - header-banner
4 - Featured-jobs
5 - Hottest
6 - latest news
7 - work-step
8 - banner-footer
9 - header-footer
10 - footer
11 - reponsive-home
12 - Modal-signin/signup
----------------------------------*/
    /*----------------------------------
1 - Reset
----------------------------------*/
    /*button*/

    body {
        color: #000;
        font-family: var(--font-mon);
        --btn_red: #da251c;
        --main-color: #002d8d;
        --sub-color: #a41b32;
        --btn_hover: #393e46;

        --textnav_color: #8691a8;
        --font-cabin: 'Cabin', sans-serif;
        --font-mon: 'Montserrat', sans-serif;
    }
    .btn-fill-horz.btn-employer:hover {
        border-color: var(--main-color);
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-orange {
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        color: #fff;
    }

    .btn-fill-horz.btn-close {
        background-color: #0742c2;
        border: 1px solid #0742c2;
        color: #fff;
    }

    .btn-fill-horz.btn-green {
        background-color: #62b23b;
        border: 1px solid #62b23b;
        color: #fff;
    }

    .btn-fill-horz.btn-silver {
        background-color: #d7dce2;
        border: 1px solid #d7dce2;
        color: #000;
    }

    .btn-fill-horz.btn-orange:before,
    .btn-fill-horz.btn-orange:after {
        background-color: #0742c2;
    }

    .btn-fill-horz.btn-orange:hover {
        border-color: #0742c2;
    }

    .btn-fill-horz.btn-green:before,
    .btn-fill-horz.btn-green:after {
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-green:hover {
        border-color: var(--main-color);
    }

    .btn-fill-horz.btn-close:before,
    .btn-fill-horz.btn-close:after {
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-close:hover {
        border-color: var(--main-color);
    }

    .btn-fill-horz.btn-silver:before,
    .btn-fill-horz.btn-silver:after {
        background-color: var(--btn_red);
        color: #fff;
    }

    .btn-fill-horz.btn-silver:hover {
        border-color: var(--btn_red);
        color: #fff;
    }



    .animate,
    .btn,
    .btn-fill-horz:before,
    .btn-fill-horz:after {
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .btn-fill-horz:hover:before,
    .btn-fill-horz:hover:after {
        width: 50%;
        opacity: 1;
    }

    .btn-fill-horz {
        overflow: hidden;
    }

    .btn-fill-horz:before,
    .btn-fill-horz:after {
        content: '';
        width: 0;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .btn-fill-horz:before {
        left: 50%;
    }

    .btn-fill-horz:after {
        right: 50%;
    }

    .btn-fill-horz:hover {
        color: #fff;
    }

    .btn {
        position: relative;
        opacity: .999;
    }
    /*----------------------------------
2 - banner-employer
----------------------------------*/

    #banner-employer h2 {
        color: #fff;
        font-size: 50px;
        font-family: var(--font-mon);
        margin-top: 50px;
    }

    #banner-employer p {
        color: #fff;
    }
    /*----------------------------------
2 - banner-employer
    /*----------------------------------

TABLE OF CONTENTS: manager-account
------------------------------------
1 - manager-banner
2 - manager-menu
4 - change-password
3 - reponsive manager
----------------------------------*/
    /*----------------------------------
1 - manager-banner
----------------------------------*/

    .manager-banner-e {
        padding: 30px 0;
    }

    .manager-banner-e ul li {
        display: inline-block;
    }

    .manager-banner-e .avatar-profile-e {
        display: inline-block;
        height: 100px;
        width: 100px;
        background-color: #fff;
        border-radius: 4px;
        margin-top: 15px;
    }

    .manager-banner-e .avatar-profile-e img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100px;
        width: 100px;
        height: 100px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px;
    }

    .manager-banner-e .info-user {
        position: relative;
        top: -30px;
        margin-left: 20px;
    }

    .manager-banner-e .info-user h4 {
        font-family: var(--font-mon);
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }

    .manager-banner-e .text-right {
        margin-top: 30px;
    }

    .manager-banner-e .text-right h3 {
        font-weight: 700;
        font-size: 24px;
        font-family: var(--font-mon);
        color: #fff;
    }

    .manager-banner-e .text-right p {
        font-size: 18px;
    }
    /*----------------------------------
1 - manager-banner
----------------------------------*/
    /*----------------------------------
2 - manager-menu
----------------------------------*/

    .manager-menu-e .tab-content {
        background-color: #fff;
        padding: 20px 30px 40px 30px;
        margin-top: 30px;
    }

    .manager-menu-e {
        padding: 40px 0 60px 0;
        margin-bottom: 0!important;
        background-color: #f0f3fa;
    }

    .manager-menu-e .nav-menu {
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fff;
        margin-top: 30px;
    }

    .manager-menu-e .nav-menu p {
        font-family: var(--font-mon);
        font-weight: 700;
        color: #000;
        padding-left: 20px;
    }

    .manager-menu-e .nav-menu li a {
        color: #5d626f;
        font-weight: 700;
        padding-left: 25px;
        border-radius: 0;
        border-left: 3px solid transparent;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px 0;
    }

    .manager-menu-e .nav-menu li.active a,
    .manager-menu-e .nav-menu li.active a:hover,
    .manager-menu-e .nav-menu li.active a:focus,
    .manager-menu-e .nav-menu li a:hover,
    .manager-menu-e .nav-menu li a:focus {
        background-color: transparent;
        border-left: 3px solid var(--sub-color);
        color: #000;
    }

    .manager-menu-e .nav-menu li a .badge {
        background-color: #0742c2;
        color: #fff;
        opacity: 1;
        float: right;
    }

    .manager-menu-e .nav-menu li label {
        float: right;
        padding-top: 15px;
        padding-left: 0;
        padding-right: 10px;
    }

    .manager-menu-e .title-nav {
        font-size: 20px;
        font-family: var(--font-mon);
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 20px;
    }
    /*----------------------------------
2 - manager-menu
----------------------------------*/

    #mn-manager-page .content-p {
        border: 1px solid #e2e5ee;
        padding: 20px 0;
    }

    #mn-manager-page .content-p ul {
        padding-left: 0 !important;
    }

    #mn-manager-page .content-p ul li {
        display: inline-block;
    }

    #mn-manager-page .content-p i {
        font-size: 30px;
        color: var(--main-color);
        margin-right: 10px;
        margin-top: 10px;
    }

    #mn-manager-page .content-p ul li span {
        font-size: 18px;
        font-weight: 700;
        color: #000 !important;
    }

    #mn-manager-page .content-p ul li {
        font-weight: 700;
        color: #717782;
    }

    .title-employer i {
        font-size: 14px;
        color: var(--sub-color);
        margin-right: 10px;
    }

    .title-employer {
        font-size: 18px;
        font-family: var(--font-mon);
        color: #000;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #mn-manager-page table th {
        color: #a2aab4;
        font-size: 12px;
        font-family: var(--font-mon);
        text-transform: uppercase;
    }

    #mn-manager-page .table>tbody>tr>td {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #mn-manager-page .table>tbody>tr>td ul {
        padding-left: 0!important;
    }

    #mn-manager-page .table>tbody>tr>td ul li:first-child {
        font-weight: 700;
        margin-bottom: 5px;
    }

    #mn-manager-page .table>tbody>tr>td ul li {
        list-style-type: none;
    }

    #mn-manager-page .table>tbody>tr>td span.full-time {
        background-color: #0fa65d;
        padding: 2px 10px;
        border-radius: 5px;
        color: #fff;
    }

    #mn-manager-page .table>tbody>tr>td span.part-time {
        background-color: #f88b0a;
        padding: 2px 10px;
        border-radius: 5px;
        color: #fff;
    }

    #mn-manager-page .table>tbody>tr>td i {
        margin-right: 5px;
    }

.mn-tab .nav-tabs > li.active > a,
.mn-tab .nav-tabs > li.active > a:focus,
.mn-tab .nav-tabs > li.active > a:hover {
    border-top: 4px solid var(--sub-color);
    color: #000;
    margin: 0px;
    padding: 8px 15px;
}
.mn-tab .nav-tabs li a:hover{
    background-color:#eee;
}
.mn-tab .nav-tabs li{
    margin-bottom: -2px;
}
    .mn-tab .nav>li>a {
        border-top: 4px solid transparent;
        border-radius: 0;
        padding: 7px 15px;
        background-color:#fff;
        font-family: var(--font-mon);
        font-weight: 600;
        color: #909aa8;
        font-size: 14px;
        margin-bottom: -1px;
        margin-top:0px;
    }

    .mn-tab .btn-employer {
        margin-top: 30px;
    }

    .mn-tab .radio input[type=radio] {
        margin-left: 15px;
    }

    .btn-fill-horz.btn-employer {
        background-color: var(--sub-color);
        border: 1px solid var(--sub-color);
        color: #fff;
    }

    .btn-fill-horz.btn-employer:before,
    .btn-fill-horz.btn-employer:after {
        background-color: var(--main-color);
    }

    .manager-menu-e .form-control:focus {
        border-color: #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .manager-menu-e .btn-flat {
        background: #d7dbe2;
        color:#525a5f;
        border:none;
    }
        .manager-menu-e .btn-flat:hover {
            background: var(--sub-color);
            color: #fff;
        }
    .btn-add-n {
        background-color: var(--main-color);
        padding: 5px 10px;
        color: #fff;
    }

        .btn-add-n:hover,
        .btn-add-n:focus {
            color: #fff;
            background-color: var(--sub-color);
        }
    /*mn-profile-setting*/

    #mn-profile-setting table {
        margin-top: 20px;
    }

    #mn-profile-setting table th {
        color: #000;
        font-size: 12px;
        font-family: var(--font-mon);
    }

    #mn-profile-setting .table>tbody>tr>td {
        padding-top: 20px;
        padding-bottom: 20px;

    }

    #mn-profile-setting .table>tbody>tr>td ul {
        padding-left: 0!important;
    }

    #mn-profile-setting .table>tbody>tr>td ul li {
        display: inline-block;
        list-style-type: none;
    }

    #mn-profile-setting .table>tbody>tr>td ul li a {
        color: #909aa8;
    }

    #mn-profile-setting .table>tbody>tr>td ul li a:hover {
        color: var(--sub-color);
    }

    #mn-profile-setting .table>tbody>tr>td ul li a i {
        font-size: 20px;
    }

    #mn-profile-setting .table>tbody>tr>td span.full-time {
        background-color: #0fa65d;
        padding: 2px 10px;
        border-radius: 5px;
        color: #fff;
    }

    #mn-profile-setting .table>tbody>tr>td span.part-time {
        background-color: #f88b0a;
        padding: 2px 10px;
        border-radius: 5px;
        color: #fff;
    }

    #mn-profile-setting .table>tbody>tr>td span.type-vd {
        background-color: #1ac1ed;
        padding: 2px 10px;
        border-radius: 5px;
        color: #fff;
    }

    #mn-profile-setting .table>tbody>tr>td span.type-im {
        background-color: #d2d6de;
        padding: 2px 10px;
        border-radius: 5px;
        color: #000;
    }

    #mn-profile-setting .table>tbody>tr>td i {
        margin-right: 5px;
    }

    #mn-profile-setting .tab-content {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    #mn-profile-setting .table>tbody>tr>td .link {
        display: block;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
    }


    /*recuitment*/
    #mn-recruiment table {
        margin-top: 20px;
    }
    #mn-recruiment table th {
        color: #a2aab4;
        font-size: 12px;
        font-family: var(--font-mon);
        text-transform: uppercase;

    }
    #mn-recruiment .table > tbody > tr > td ul li a {
        color: #909aa8;
    }
    #mn-recruiment .table > tbody > tr > td ul li a:hover {
        color: var(--sub-color);
    }
    #mn-recruiment .table > tbody > tr > td ul li a i{
        font-size:20px;
    }
    #mn-recruiment .table>tbody>tr>td {
        padding: 20px 5px;
    }

    #mn-recruiment .table>tbody>tr>td ul {
        padding-left: 0!important;
    }

    #mn-recruiment .table>tbody>tr>td ul li:first-child {
        font-weight: 700;
        margin-bottom: 5px;
    }

    #mn-recruiment .table>tbody>tr>td ul li {
        list-style-type: none;
    }

    #mn-recruiment .table>tbody>tr>td span.full-time {
        background-color: #0fa65d;
        padding: 2px 10px;
        border-radius: 5px;
        color: #fff;
    }

    #mn-recruiment .table>tbody>tr>td span.part-time {
        background-color: #f88b0a;
        padding: 2px 10px;
        border-radius: 5px;
        color: #fff;
    }

    #mn-recruiment .table>tbody>tr>td i {
        margin-right: 5px;
        margin-top:3px;
    }
    #mn-recruiment .button-r li{
        display: inline-block;
    }
    #mn-recruiment .btn-close,#mn-submitted .btn-close{
        background-color: #c7ccd8;
        border: none;
        color: #fff;
        margin-left: 15px;
    }
    #mn-recruiment .btn-close:hover,#mn-submitted .btn-close:hover{
        background-color: var(--btn_red);
    }
    /*recuitment*/

    /*submitted*/
    #mn-submitted .table{
        margin-top: 30px;
    }
    #mn-submitted .table>tbody>tr:first-child td{
        border-top: none;
    }
    #mn-submitted .table>tbody>tr>td i{
        font-size: 10px;
        color: var(--sub-color);
        margin-right: 5px;
    }
    #mn-submitted .table>tbody>tr>td{
        font-weight: 600;
        color: #000;
    }
    #mn-submitted .table>tbody>tr>td span{
        color: #888;
    }
    #mn-submitted .table td>p.info-candidate{
        font-weight: 400;
        margin-left: 20px;
    }
    /*submitted*/
    
    /*search candidate*/
    #mn-searchcandidate .form-group label{
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
    }
    #mn-searchcandidate .result-img{
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
    }
    #mn-searchcandidate .result-empty{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    #mn-searchcandidate .result-empty img{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        padding-bottom: 20px;
    }
    #mn-searchcandidate .result-empty p{
        font-family: var(--font-mon);
        font-weight: 700;
        font-size: 16px;
        color: #adb9c8;
    }
    #mn-searchcandidate .result-title{
        font-weight: 700;
        color: #000;
    }
    #mn-searchcandidate .result {
        border-bottom: 1px solid #e7eaf3;
        margin-bottom: 15px;
    }
    /*search candidate*/
    /*----------------------------------
3 - change-password
----------------------------------*/

    #mn-change-password .form-control {
        height: 40px;
        border: 1px solid #c5cbd8;
    }

    #mn-change-password label {
        margin-bottom: 10px;
    }
    /*----------------------------------
3 - change-password
----------------------------------*/
    /*----------------------------------
4 - comments
----------------------------------*/

    #mn-comments ul li {
        display: inline-block;
    }

    #mn-comments .avatar-cmt {
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        top: 10px;
    }

    #mn-comments .info-user h4 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    #mn-comments .info-user {
        margin-left: 15px;
    }

    #mn-comments .rate p {
        font-size: 12px;
        color: #888d9b;
        margin-top: 15px;
    }

    #mn-comments .content {
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #mn-comments .comments {
        border-bottom: 1px solid #e7eaf3;
        margin-bottom: 30px;
    }

    #mn-comments .comments:last-child {
        border-bottom: 1px solid transparent;
        margin-bottom: 0px;
    }
    /*----------------------------------
4 - comments
----------------------------------*/
    /*----------------------------------
5 - Interview Inviations
----------------------------------*/

    #mn-interview-inviations ul li {
        display: inline-block;
    }

    #mn-interview-inviations .logo-job {
        display: inline-block;
        height: 70px;
        width: 70px;
        background-color: #fff;
        border: 1px solid #d9dfe3;
    }

    #mn-interview-inviations .logo-job img {
        display: block;
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #mn-interview-inviations .info-job-ii {
        margin-left: 20px;
        position: relative;
        bottom: 5px;
    }

    #mn-interview-inviations .info-job-ii h4 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 16px;
        color: #000;
    }

    #mn-interview-inviations .info-job-ii .time {
        font-size: 12px;
        color: #888d9b;
        margin-top: 10px;
    }

    #mn-interview-inviations .content {
        text-align: justify;
        margin-bottom: 30px;
    }

    #mn-interview-inviations .inviation {
        border-bottom: 1px solid #e7eaf3;
        margin-bottom: 30px;
        display: block;
    }

    #mn-interview-inviations .inviation:hover .info-job-ii h4 {
        color: var(--main-color);
    }

    .manager-menu .btn-silver {
        position: absolute;
        top: 40px;
        right: 30px;
    }

    #mn-interview-inviations .checkbox-inline {
        margin: 20px 0;
    }

    #mn-interview-inviations .info-invia i {
        margin-right: 5px;
    }

    #mn-interview-inviations .info-invia span {
        margin-right: 40px;
    }
    /*----------------------------------
5 - Interview Inviations
----------------------------------*/
    /*----------------------------------
6 - Applied Jobs
----------------------------------*/

    .manager-menu .job-detail-related .table-striped>tbody>tr:last-child {
        border-bottom: 1px solid #e7eaf3;
    }

    .manager-menu .job-detail-related .table-striped>tbody>tr {
        border-bottom: 1px solid #e7eaf3;
    }

    .manager-menu .td_image .td-img-content {
        width: 70px;
        height: 70px;
        background-color: #fff;
    }

    .manager-menu .td_image .td-img-content img {
        display: block;
        width: auto;
        height: auto;
        max-width: 80%;
        max-height: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*----------------------------------
6 - Applied Jobs
----------------------------------*/
    /*----------------------------------
7 - CV
----------------------------------*/

    #mn-cv .active-cv {
        margin: 20px 0;
    }

    #mn-cv .thumb-cv {
        margin-top: 20px;
        display: inline-block;
        height: 180px;
        width: 100%;
    }

    #mn-cv .thumb-cv img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 180px;
        width: auto;
        height: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #mn-cv .active-cv p {
        font-family: var(--font-mon);
        font-weight: 700;
        float: left;
        margin-top: 5px;
    }

    #mn-cv .active-cv .btn-close {
        background-color: #122d72;
        padding: 3px 15px;
    }
    /*----------------------------------
7 - CV
----------------------------------*/
    /*----------------------------------
8 - Profile
----------------------------------*/

    #mn-profile .job-detail-header {
        font-size: 18px;
    }

    .th-info {
        font-weight: 700;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    #mn-profile .btn-edit {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px 20px;
    }

    #mn-profile .contact-info {
        margin-bottom: 40px;
        position: relative;
    }

    #mn-profile .summary {
        position: relative;
        margin-bottom: 40px;
    }

    #mn-profile .summary .content {
        text-align: justify;
        margin-top: 30px;
        line-height: 25px;
    }

    #mn-profile .skill {
        position: relative;
        margin-bottom: 40px;
    }

    #mn-profile .skill-progress {
        margin-top: 30px;
    }

    #mn-profile .title-progress {
        margin-bottom: 10px;
        font-weight: 700;
    }

    #mn-profile .progress {
        height: 10px;
        overflow: hidden;
        background-color: #e9ecf3;
        border-radius: 7px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    #mn-profile .progress-bar {
        background-color: #0642c2;
    }

    #mn-profile .language a {
        margin-left: 15px;
    }

    #mn-profile .social-net {
        position: relative;
        margin-bottom: 30px;
    }

    #mn-profile .social-net a.link {
        color: #000;
    }

    #mn-profile .social-net a.link:hover,
    #mn-profile .social-net a.link:focus {
        color: var(--main-color);
    }

    #mn-profile .social-net a.none {
        color: #a1a6b3;
    }

    #mn-profile .social-net a.none:hover,
    #mn-profile .social-net a.none:focus {
        color: #a1a6b3;
    }

    #mn-profile .history {
        position: relative;
        margin-bottom: 30px;
    }

    .history .history-content .name {
        font-weight: 700;
        font-size: 14px;
        font-family: var(--font-mon);
    }

    .history .history-content .name i {
        color: var(--main-color);
        margin-right: 10px;
        font-size: 18px;
    }

    .history .history-content .years {
        color: #8e93a2;
        margin: 10px 25px;
    }

    .history .history-content .major {
        margin-left: 25px;
    }

    .history .history-content .content {
        margin-left: 25px;
        text-align: justify;
        line-height: 25px;
    }

    .preferences {
        position: relative;
        margin-bottom: 30px;
    }

    .preferences .prefer-content .btn-orange {
        margin-right: 20px;
        margin-top: 10px;
    }
    /*----------------------------------
8 - Profile
----------------------------------*/
    /*----------------------------------
9 - modal-Profile-edit
----------------------------------*/

    .modals-custom .modal-title {
        font-size: 18px;
        font-weight: 700;
    }

    .modals-custom .modal-header .close {
        background-color: var(--btn_red);
        opacity: 1;
        padding: 0 4px;
        border-radius: 2px;
        color: #fff;
    }

    .modals-custom .btn-close {
        background-color: #c7ccd8;
        border: 1px solid #c7ccd8;
    }

    .modals-custom .modal-body {
        padding: 30px;
    }

    .modals-custom .modal-body label {
        font-weight: 700;
        font-size: 15px;
        margin-top: 15px;
    }

    .modals-custom .modal-body .form-control {
        height: 40px;
        border: 1px solid #c5cbd8;
    }

    .modals-custom .select2-container--bootstrap .select2-selection {
        margin: 0;
        height: 40px;
        border: 1px solid #c5cbd8;
        padding: 10px;
    }

    .modals-custom textarea {
        height: auto !important;
    }

    #modal-preferences .select2-container--bootstrap .select2-selection {
        padding: 5px;
    }

    #modal-preferences .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
        width: 120px !important;
    }

    .avatar-nav {
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        top: 15px;
        margin-left: 20px;
    }

    .info-nav p {
        color: #fff;
        margin-left: 15px;
    }

    .child .header-child .header-content .navigation a {
        padding-top: 25px;
    }
    /*----------------------------------
9 - modal-Profile-edit
----------------------------------*/
    /*----------------------------------
10 - connnection see all
----------------------------------*/

    #mn-connection-see {
        position: relative;
    }

    #mn-connection-see .input-group {
        width: 40%;
        position: absolute;
        top: 0;
        right: -25px;
    }

    #mn-connection-see .form-control {
        height: 40px;
        border: 1px solid #c5cbd8;
    }

    #mn-connection-see .btn-danger {
        background-color: #FFF;
        border-color: transparent;
        color: #c5cbd8;
        position: relative;
        right: 30px;
        z-index: 10;
        padding: 5px;
    }

    .see-all {
        margin-top: 40px;
    }

    .see-all ul li {
        display: inline-block;
    }

    .see-all .avatar-fr {
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .see-all .info-user h4 {
        margin: 0;
    }

    .see-all .message {
        text-align: right;
    }

    .see-all .message .btn-orange {
        margin-top: 20px;
    }
    /*----------------------------------
10 - connnection see all
----------------------------------*/
    /*----------------------------------
11 - add contact
----------------------------------*/

    #mn-connection-see .add-contact {
        margin: -20px -30px;
        padding: 30px;
        background-color: #fff;
        border-bottom: 30px solid #f0f3fa;
    }

    .see-all .message .btn-close {
        margin-top: 20px;
        color: #525a5f;
        margin-left: 15px;
        background-color: #d7dbe2;
        border-color: #d7dbe2;
    }

    .see-all .message .btn-close:hover {
        color: #fff;
        border-color: var(--main-color);
    }

    #mn-connection-see .inviations {
        margin: 20px -30px 0 -30px;
        background-color: #fff;
        border-bottom: 30px solid #f0f3fa;
    }
    /*----------------------------------
11 - add contact
----------------------------------*/
    /*----------------------------------
10 - reponsive manager-account
----------------------------------*/

    @media screen and (max-width: 991px) {
        .manager-banner .text-right {
            text-align: left;
        }
        #mn-comments .rate {
            text-align: left;
        }
        .see-all .message {
            text-align: left;
        }
        #mn-interview-inviations .info-invia span {
            display: block;
            margin-bottom: 20px;
        }
        #mn-connection-see .input-group {
            width: 50%;
            position: absolute;
            top: 0;
            right: -25px;
        }
    }

    @media screen and (max-width: 499px) {
        #mn-interview-inviations .info-job-ii {
            margin-left: 0px;
            position: relative;
            bottom: 5px;
            margin-top: 15px;
        }
        #mn-interview-inviations .btn-silver {
            top: 20px;
        }
    }

    @media screen and (max-width: 767px) {
        #mn-interview-inviations .checkbox-inline {
            margin-left: 20px;
        }
        #mn-applied-jobs .pagination {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 1024px) {
        .info-nav p {
            text-align: center;
            font-size: 20px;
        }
        .avatar-nav {
            overflow: hidden;
            background-repeat: no-repeat !important;
            background-attachment: scroll !important;
            background-position: center center !important;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            background-size: cover !important;
            -o-background-size: cover !important;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: relative;
            left: 48%;
            transform: translate( -50%);
        }
    }
    /*----------------------------------
}
10 - reponsive manager-account
----------------------------------*/