﻿body {
    overflow-x: hidden;
    background-color: #14b1bb;
}

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2,
h3,
h4,
span,
h1,
div,
p {
    font-family: 'Cabin', sans-serif
}

a {
    text-decoration: none;
    outline: none;
    font-family: 'Cabin', sans-serif
}

    a:hover,
    a:focus,
    a:active {
        outline: none;
        text-decoration: none;
    }

ul {
    list-style-type: none;
    font-family: 'Cabin', sans-serif
}

p {
    text-align: justify;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#register--center {
    height: 580px;
}
#register--center .nav-pills{
    margin-bottom: 10px;
}
.img-center {
    margin: 0 auto;
    display: block
}

.text-center {
    text-align: center;
}

.register__form {
    padding: 20px 10px;
    position: relative;
}

.home-page {
    position: absolute;
    top: 2em;
    right: 1em;
}

    .home-page span {
        color: #14b1bb;
        margin-top: 5px;
    }

.nav-pills {
    margin-bottom: 20px;
}

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
        color: #14b1bb;
        background-color: transparent;
        font-size: 28px;
        padding: 0;
        margin-right: 30px;
    }

    .nav-pills > li > a,
    .nav-pills > li > a:focus,
    .nav-pills > li > a:hover {
        color: #e6e9ec;
        background-color: transparent;
        font-size: 28px;
        margin-right: 30px;
        padding: 0;
    }

.form-control:focus {
    border-color: var(--sub-color);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.info {
    color: #6a6f75;
    margin: 10px 0;
}
.forgot-pass {
    color: #6a6f75;
}
    .info a, .forgot-pass a {
        color: #14b1bb;
        font-weight: bold;
    }

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background-color: #14b1bb;
    padding: 8px 20px;
    border:none;
}

    .btn-default:hover,
    .btn-default:focus {
        opacity: 0.8;
    }
.register__form .btn-default, .register__form .btn-default:hover, .register__form .btn-default:focus {
    width: 100%;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.form-inline .checkbox label {
    font-size: 14px;
    font-weight: bold;
}

.form-inline .checkbox .checkbox--center {
    margin: 0 3em;
}

.form-inline .checkbox label input[type=checkbox] {
    margin-right: 7px !important;
}

.intro-form {
    padding: 20px;
    color: #fff;
    height:580px;
}

    .intro-form p {
        margin-top: 30px;
        font-size: 34px;
    }

    .intro-form h2 {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom:20px;
    }

    .intro-form img {
        width: 250px;
        
    }



@media (max-width: 768px) {
    #register--center {
        width: 400px;
    }
}

@media (max-width: 480px) {
    #register--center {
        width: 350px;
    }

    .form-inline .checkbox .checkbox--center {
        margin: 0 2em;
    }

    .register__form {
        padding: 20px 0px;
        position: relative;
    }
}

@media (max-width: 320px) {
    #register--center {
        width: 310px;
    }

    .form-inline .checkbox .checkbox--center {
        margin: 0 7px;
    }

    .register__form {
        padding: 20px 0px;
        position: relative;
    }

    .home-page {
        position: absolute;
        top: 2em;
        right: 0em;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
        color: #14b1bb;
        background-color: transparent;
        font-size: 28px;
        padding: 0;
        margin-right: 10px;
    }

    .nav-pills > li > a,
    .nav-pills > li > a:focus,
    .nav-pills > li > a:hover {
        color: #e6e9ec;
        background-color: transparent;
        font-size: 28px;
        margin-right: 10px;
        padding: 0;
    }
}
.g-recaptcha {
    margin-bottom:20px;
    margin-top:10px;
}
#bg-login {
    background-position: center center !important;
    background-size: cover !important;
    width: 100%;
    margin: auto;
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
    min-height:1300px;
}
.footer-login {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}
.footer-login {
    background-color: #0d1e30 !important;
    color: #fff;
    border: none;
    padding: 10px;
}
.footer-login a{
    color:#fff;
}
#menu1 .checkbox label{
    float:left;
}
#menu1 .forgot-pass a {
    float: right;
}
.clear {clear:both;}
.btn-facebook {
    background: #063b8f;
    padding: 5px 35px !important;
}
    .btn-facebook:link, .btn-facebook:visited, .btn-google:link, .btn-google:visited {
        color: #fff;
    }
.btn-facebook:active, .btn-facebook:hover {
        background: #263961;
        color: #fff;
 }
.btn-google {
    background: #dd4b39;
    padding:5px 42px !important;
}
.btn-google:active, .btn-google:hover {
        background: #a81a20;
        color: #fff;
    }
.btn-google, .btn-facebook {
    border-radius: 0;
    color: #fff !important;
    margin-left:10px;
    margin-right:10px;
    border-radius:3px;
    margin: 10px 10px 0 10px;
}
#menu1 .socical {
    margin-top:10px;
}
#third-radio {
    color:#000;
}
#third-radio label{
    margin: 0 10px;
    font-weight:bold;
}
.change-password, .forgot-password {
    color: var(--sub-color);
    font-size: 28px;
    margin: 5px 0 20px 0;
}