    /*----------------------------------
TABLE OF CONTENTS: HOME
------------------------------------

1 - Reset
2 - header-navbar
3 - header-banner
4 - Featured-jobs
5 - Hottest
6 - latest news
7 - work-step
8 - banner-footer
9 - header-footer
10 - footer
11 - reponsive-home
12 - Modal-signin/signup
----------------------------------*/
    /*----------------------------------
1 - Reset
----------------------------------*/
    /*button*/

    .btn-fill-horz.btn-orange {
        background-color: var(--sub-color);
        border: 1px solid var(--sub-color);
        color: #fff;
    }
    .btn-fill-horz.btn-blue {
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        color: #fff;
    }
    .btn-fill-horz.btn-close {
        background-color: #d7dbe2;
        border: 1px solid #d7dbe2;
        color: #525a5f;
    }
    #detail-new a{
        font-weight:600;
        color:#000;
        font-size:15px;
    }
    #detail-new a:hover{
        color:var(--main-color);
    }
    .btn-fill-horz.btn-green {
        background-color: #62b23b;
        border: 1px solid #62b23b;
        color: #fff;
    }

    .btn-fill-horz.btn-orange:before,
    .btn-fill-horz.btn-orange:after {
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-orange:hover {
        border-color: var(--main-color);
    }
    .btn-fill-horz.btn-blue:before,
    .btn-fill-horz.btn-blue:after {
        background-color: var(--sub-color) !important;
    }

.btn-fill-horz.btn-blue:hover {
    border-color: var(--sub-color);
    background-color: var(--sub-color) !important;
}
    .btn-fill-horz.btn-green:before,
    .btn-fill-horz.btn-green:after {
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-green:hover {
        border-color: var(--main-color);
    }

    .btn-fill-horz.btn-close:before,
    .btn-fill-horz.btn-close:after {
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-close:hover {
        border-color: var(--main-color);
    }

    .animate,
    .btn,
    .btn-fill-horz:before,
    .btn-fill-horz:after {
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .btn-fill-horz:hover:before,
    .btn-fill-horz:hover:after {
        width: 50%;
        opacity: 1;
    }

    .btn-fill-horz {
        overflow: hidden;
    }

    .btn-fill-horz:before,
    .btn-fill-horz:after {
        content: '';
        width: 0;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .btn-fill-horz:before {
        left: 50%;
    }

    .btn-fill-horz:after {
        right: 50%;
    }

    .btn-fill-horz:hover {
        color: #fff;
    }

    .btn {
        position: relative;
        opacity: .999;
    }
    /*button*/

    * {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

body {
    color: #000;
    font-family: var(--font-cabin);
    --btn_red: #da251c;
    --table-color:#f1f6fa;
    --main-color: #a41b32;
    --sub-color: #002d8d;
    --btn_hover: #393e46;
    --textnav_color: #8691a8;
    --font-cabin: 'Cabin', sans-serif;
    --font-mon: 'Montserrat', sans-serif;
}

    h2,
    h3,
    h4,
    span,
    h1,
    div {
        font-family: var(--font-cabin);
    }

    .img-center {
        margin: auto;
    }

    a {
        text-decoration: none;
        outline: none;
        font-family: var(--font-cabin)
    }

    a:hover,
    a:focus,
    a:active {
        outline: none;
        text-decoration: none;
        color: #14b1bb;
    }

    ul {
        list-style-type: none;
    }

    ul li {
        font-family: var(--font-cabin);
    }

    p {
        margin: 0;
        color: #000;
        font-family: var(--font-cabin);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    section {
        margin-bottom: 70px !important;
    }
    /*----------------------------------
1 - Reset
----------------------------------*/
    /*----------------------------------
2 - header-navbar
----------------------------------*/

    #header {
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    #header .header-content {
        margin: 0 auto;
        padding: 30px 0;
        width: 100%;
        -moz-transition: padding 0.3s;
        -o-transition: padding 0.3s;
        -webkit-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    #header .logo {
        float: left;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-top: -10px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 7px;
    }

        #header.fixed {
            background-color: #002d8d;
        }

    #header.fixed .header-content {
        border-bottom: 0;
    }

    #header.fixed .nav-toggle {
        top: 18px;
        color: #000;
    }

    #header.fixed .header-content .logo img {
        margin-top: 23px;
    }

    #header.fixed .navigation a {
        border-bottom: none;
        border-top: 3px solid transparent;
        padding-top: 23px;
        padding-bottom: 15px;
        display: block;
        transition: none;
    }

    #header.fixed .navigation a:hover,
    #header.fixed .navigation a.active,
    #header.fixed .navigation li.active a {
        border-top: 3px solid #fff ;
        color: #fff !important;
        text-decoration:none;
    }

    #header.fixed .call-to-action a,
    #header.fixed .call-to-action a:hover,
    #header.fixed .call-to-action a:focus {
        color: #fff !important;
        border-color: transparent;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navigation.open {
        opacity: 0.9;
        visibility: visible;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

    .navigation {
        float: right;
    }

    .navigation li {
        display: inline-block;
    }

    .navigation a {
        color: rgba(255, 255, 255, 0.75);
        font-size: 13px;
        font-weight: 700;
        margin-left: 40px;
        padding-bottom: 5px;
    }

    .navigation a:hover,
    .navigation a.active,
    .navigation li.active a {
        color: #fff !important;
        border-bottom-width: 3px;
    }

    .navigation a {
        border-bottom: 0px solid #fff;
        transition: .3s all;
        border-bottom-width: 0px;
    }

    .nav-toggle {
        display: none;
        height: 44px;
        overflow: hidden;
        position: fixed;
        right: 5%;
        text-indent: 100%;
        top: 32px;
        white-space: nowrap;
        width: 44px;
        z-index: 99999;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nav-toggle:before,
    .nav-toggle:after {
        border-radius: 50%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
    }

    .nav-toggle:before {
        background-color: #e84545;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .nav-toggle:after {
        background-color: #e84545;
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }

    .nav-toggle span {
        background-color: #fff;
        bottom: auto;
        display: inline-block;
        height: 3px;
        left: 50%;
        position: absolute;
        right: auto;
        top: 50%;
        width: 18px;
        z-index: 10;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .nav-toggle span:before,
    .nav-toggle span:after {
        background-color: #fff;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.3s;
        -o-transition: -o-transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .nav-toggle span:before {
        -moz-transform: translateY(-6px) rotate(0deg);
        -ms-transform: translateY(-6px) rotate(0deg);
        -webkit-transform: translateY(-6px) rotate(0deg);
        transform: translateY(-6px) rotate(0deg);
    }

    .nav-toggle span:after {
        -moz-transform: translateY(6px) rotate(0deg);
        -ms-transform: translateY(6px) rotate(0deg);
        -webkit-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
    }

    .nav-toggle.close-nav:before {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .nav-toggle.close-nav:after {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .nav-toggle.close-nav span {
        background-color: rgba(255, 255, 255, 0);
    }

    .nav-toggle.close-nav span:before,
    .nav-toggle.close-nav span:after {
        background-color: #fff;
    }

    .nav-toggle.close-nav span:before {
        -moz-transform: translateY(0) rotate(45deg);
        -ms-transform: translateY(0) rotate(45deg);
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }

    .nav-toggle.close-nav span:after {
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -webkit-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }

    #header .divider {
        color: #fff;
        font-size: 18px;
        margin-left: 40px;
    }

    #header .language-choose a {
        border-bottom: none;
    }

    #header .language-choose a:hover,
    #header .language-choose a:focus {
        border-bottom: none;
    }

    #header .language-choose a img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-left: 8px;
        border-radius: 50%;
    }

    #header .dropdown-menu {
        min-width: max-content;
        top: 30px;
        padding-bottom: 0px;
        padding-top: 8px;
    }

    #header .dropdown-menu>li>a {
        margin-left: 0;
        padding: 0;
        padding-bottom: 8px;
        border-bottom: 3px solid transparent;
        background-color: transparent;
    }

    #header .dropdown-menu>li>a:hover,
    #header .dropdown-menu>li>a:focus {
        border-bottom: 3px solid var(--main-color);
    }

    #header.fixed .dropdown-menu {
        min-width: max-content;
        top: 69px;
        padding-bottom: 0px;
        padding-top: 8px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-color: transparent;
    }

    #header.fixed .dropdown-menu>li>a {
        margin-left: 0;
        padding: 0;
        padding-bottom: 8px;
        border-bottom: 3px solid transparent;
        background-color: transparent;
        border-top: 0;
    }

    #header.fixed .dropdown-menu>li>a:hover,
    #header .dropdown-menu>li>a:focus {
        border-bottom: 3px solid var(--main-color);
        border-top: 0;
    }

    #header .call-to-action a {
        padding: 10px 10px;
        border: none;
        background-color: var(--btn_red);
        color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        font-size: 14px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #header .call-to-action a:hover {
        background-color: #0742c2;
        color: #fff !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #header.fixed .header-content {
        /* padding: 20px 0 10px 0; */
        padding: 0px !important;
    }
    /*----------------------------------
2 - header-navbar
----------------------------------*/
    /*----------------------------------
3 - header-banner
----------------------------------*/

    .fill {
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 100%;
    }

    .banner {
        margin: auto;
        height: 700px;
    }

    .banner-text h2 {
        font-family: var(--font-mon);
        font-size: 26px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 30px;
    }

    .banner-text h2 span {
        font-size: 32px;
        font-weight: 700;
    }

    .form-control {
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        color: #555;
        border: none;
        border-radius: 5px;
        font-family: var(--font-cabin);
        margin-bottom: 10px;
    }

    #banner-content p em {
        color: #fff;
        font-family: var(--font-cabin);
    }

    .select2-container--bootstrap .select2-selection--single {
        height: 40px;
        padding: 10px 24px 10px 12px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .select2-container--bootstrap .select2-selection {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        border-radius: 5px;
    }

    .select2-container--bootstrap .select2-dropdown {
        border-color: transparent;
        border: none;
        z-index: 9999;
    }

    .select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
        background-color: var(--main-color);
    }

    .btn-job {
        background-color: var(--main-color);
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 5px;
        color: #fff;
        border:none;
        font-family: var(--font-cabin);
        opacity:1;
    }

        .btn-job:hover,
        .btn-job:focus {
            opacity: 0.7;
            background-color: var(--main-color);
        }

    .btn-primary.active.focus,
    .btn-primary.active:focus,
    .btn-primary.active:hover,
    .btn-primary:active.focus,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .open>.dropdown-toggle.btn-primary.focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .open>.dropdown-toggle.btn-primary:hover {
        background-color: transparent;
        border: 2px solid #fff;
    }

    .banner-content-left {
        padding-top: 40%;
    }

    .banner-content-right {
        padding-top: 22%;
    }

    #intro .slide {
        height: auto;
        width: 85%;
        -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        -moz-border-radius: 80%;
        -webkit-border-radius: 80%;
        border-radius: 80%;
        margin-bottom: 10px;
    }
    #sub-intro .slide {
        height: auto;
        width:70%;
        -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        -moz-border-radius: 80%;
        -webkit-border-radius: 80%;
        border-radius: 80%;
        margin-bottom: 10px;
        margin-top:40px;
    }
    #banner-child .owl-theme .owl-dots .owl-dot.active span, #banner-child .owl-theme .owl-dots .owl-dot:hover span{
        background-color: transparent;
        border: 2px solid #fff;
        height: 14px;
        width: 14px;
        margin: 5px;
    }
    #banner-content .owl-theme .owl-nav.disabled+.owl-dots {
        position: absolute;
        top: 50%;
        right: 0;
    }
    #banner-child .owl-theme .owl-dots .owl-dot{
        display:block;
    }
    #banner-child .owl-theme .owl-nav.disabled+.owl-dots {
        position: absolute;
        top: 50%;
        right: 0;
    }
    #banner-content .owl-theme .owl-dots .owl-dot {
        display: block;
    }

    #banner-content .owl-theme .owl-dots .owl-dot span {
        background-color: #fff;
        height: 8px;
        width: 8px;
        margin: 8px;
    }

    #banner-content .owl-theme .owl-dots .owl-dot.active span,
    #banner-content .owl-theme .owl-dots .owl-dot:hover span {
        background-color: transparent;
        border: 2px solid #fff;
        height: 14px;
        width: 14px;
        margin: 5px;
    }
    /*----------------------------------
3 - header-banner
----------------------------------*/
    /*----------------------------------
4 - Featured-jobs
----------------------------------*/

    .td_image {
        width: 100px;
        margin: auto;
    }

    .td_image .td-img-content {
        width: 80px;
        height: 80px;
        background-color: #fff;
    }

    .td_image .td-img-content img {
        display: block;
        width: auto;
        height: auto;
        max-width: 80%;
        max-height: 80px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        text-align: center;
        vertical-align: middle;
    }

    .table-condensed>tbody>tr>td {
        padding: 20px !important;
    }

    .table {
        margin-bottom: 0px;
    }

    .table td p>i {
        margin-right: 5px;
        color: #000;
    }

    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        padding: 10px;
    }

    .table .text-bold {
        font-weight: 700;
    }

    .table em {
        font-size: 12px;
    }

    .btn-gray {
        background-color: var(--main-color);
        color: #fff;
        padding: 8px 20px 8px 20px;
        border: none;
        font-weight: 600;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        border-top: none;
    }

    .btn-gray:hover {
        background-color: #0742c2;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .table .text-left p {
        text-align: left;
    }

    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: var(--table-color);
    }

    .nav-tabs {
        border-bottom: none;
        background-color: transparent;
        border-bottom: 1px solid #b4bfc5;
    }

    #hottest-jobs.active>a,
    #hottest-jobs.active>a:focus,
    #hottest-jobs.active>a:hover {
        margin-right: 0px;
        margin-left: 10px;
    }

    #title-jobs {
        color: #000;
        font-size: 22px;
        font-family: var(--font-mon);
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #title-jobs span {
        color: var(--main-color);
        font-weight: 800;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border: none;
        color: #fff;
        background-color: var(--main-color);
        margin-right: 10px;
        padding-top: 25px;
        margin-top: 0px;
    }

.nav-tabs > li > a {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    padding: 15px 35px 20px 35px;
    font-family: var(--font-mon);
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background-color: #f1f6fa;
    margin-bottom: 1px;
    margin-top: 10px;
}

    .nav-tabs>li>a:hover {
        background-color: var(--main-color);
        color:#fff;
    }
    #jobs {
        margin-top:70px;
    }
    /*----------------------------------
4 - Featured jobs
----------------------------------*/
    /*----------------------------------
5 - Hottest
----------------------------------*/

    #hottest {
        height: 550px;
        padding-top: 60px;
    }

    #hottest .device {
        color: #fff;
        font-size: 26px;
        font-weight: 500;
        padding: 15px 20px;
    }

    #hottest .nav-tabs>li.active>a,
    #hottest .nav-tabs>li.active>a:focus,
    #hottest .nav-tabs>li.active>a:hover {
        color: #fff;
        padding: 20px 0 15px 0;
    }

    #hottest .nav>li>a {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);
        font-size: 22px;
        font-weight: 700;
        background-color: transparent;
        padding: 20px 0 15px 0px;
        margin: 0;
    }

    #hottest .nav-tabs {
        border-bottom: none;
    }

    #hottest .nav-tabs>li>a::after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 4px;
        background-color: transparent;
        left: 0;
        bottom: 0;
    }

    #hottest .nav-tabs>li.active>a::after {
        background-color: #fff;
    }

    #hottest .tab-content {
        margin-top: 40px;
    }

    #hottest .cusLogo {
        display: inline-block;
        height: 100px;
        width: 100%;
        margin: 5px;
        text-decoration: none;
        background-color: #fff;
        margin-bottom: 20px;
    }

    #hottest .cusLogo img {
        display: block;
        margin: auto;
        max-width: 60%;
        max-height: 70px;
        width: auto;
        height: auto;
        border: 1px solid #fff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    #hottest .btn-fill-horz {
        padding: 10px 25px;
    }
    /*----------------------------------
5 - Hottest
----------------------------------*/
    /*----------------------------------
6 - latest news
----------------------------------*/

    #latest-news {
        margin-bottom: 50px !important;
    }

    #latest-news .card {
        margin-bottom: 20px;
        padding:0;
        margin-top:10px;
    }

    #latest-news .card-body {
        border-top: none;
        margin-top: -11px;
        padding: 20px;
    }

    #latest-news .card{
        border:1px solid #ccc;
    }

    #latest-news .card-body .card-title {
        color: #000;
        font-family: var(--font-mon);
        font-size: 16px;
        text-align: left;
        font-weight: 700;
        line-height: 22px;
    }

    #latest-news .card-body .card-text {
        margin-bottom: 20px;
    }

    #latest-news .card-img-top {
        width: 100%;
        height: auto;
    }

    #latest-news .title-news {
        margin-top: 0px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 28px;
        font-family: var(--font-mon);
    }
    /*----------------------------------
6 - latest news
----------------------------------*/
    /*----------------------------------
7 - work-step
----------------------------------*/

    #work-step {
        padding: 60px 0 0px 0;
        margin-bottom: 0px !important;
    }

    #work-step .img-step img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    #work-step .title-section {
        font-family: var(--font-mon);
        font-weight: 700;
        font-size: 28px;
        color:#fff;
    }

    #work-step .steps li {
        margin-top: 20px;
    }

    #work-step .steps li a {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        opacity: 0.4;
    }

    #work-step .steps li a:hover,
    #work-step .steps li a:focus {
        opacity: 1;
    }

    #work-step .steps li.active a {
        opacity: 1;
    }

    #work-step .steps li a span {
        font-family: var(--font-mon);
        color: #fff;
        font-weight: 700;
        margin-right: 10px;
    }

    .owl-theme .owl-nav [class*=owl-] {
        display: inline-block;
        text-align: center;
        padding: 8px 10px;
        background-color: #fff;
        color: #000;
        position: relative;
        top: -35px;
    }

    .owl-theme .owl-nav .owl-prev {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        margin-right: -2px;
    }

    .owl-theme .owl-nav .owl-next {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        margin-left: -2px;
    }

    .owl-theme .owl-nav [class*=owl-] {
        border-radius: 0px;
    }
    /*----------------------------------
7 - work-step
----------------------------------*/
    /*----------------------------------
8 - banner-footer
----------------------------------*/

    #banner-footer {
        padding: 60px 0 100px 0;
        margin-bottom: 0px !important;
    }

    #banner-footer h3 {
        margin: 0px;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        font-family: var(--font-mon);
    }

    #banner-footer .btn-fill-horz {
        padding: 10px 40px;
        font-size: 14px;
        font-family: var(--font-mon);
        font-weight: 700;
    }
    /*----------------------------------
8 - banner-footer
----------------------------------*/
    /*----------------------------------
9 - header-footer
----------------------------------*/

    #header-footer {
        background-color: #202020;
        margin-bottom: 0px !important;
    }

    .footer-item p {
        text-align: center;
    }

    #header-footer img {
        width: 150px;
        height: auto;
    }

    #header-footer p {
        color: #fff;
        margin-top: 20px;
    }

    #header-footer p>i {
        margin-right: 10px;
        color: #fff;
    }

    #navbar-footer {
        background-color: transparent;
        border-color: transparent;
        border-top: 1px solid #393939;
        margin-top: 30px;
    }

    #navbar-footer .nav>li>a {
        padding: 30px 0;
        margin-right: 40px;
        font-weight: 500;
        border-top: 3px solid transparent;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #navbar-footer .navbar-nav>.active>a,
    #navbar-footer .navbar-nav>.active>a:focus,
    #navbar-footer .navbar-nav>.active>a:hover {
        color: #fff;
        background-color: transparent;
        border-top: 3px solid #fff;
    }

    #navbar-footer .navbar-nav>li>a:focus,
    #navbar-footer .navbar-nav>li>a:hover {
        color: #fff;
        border-top: 3px solid #fff;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #navbar-footer .social>li>a:focus,
    #navbar-footer .social>li>a:hover {
        border-top: 3px solid transparent;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #navbar-footer .social>li>a {
        font-size: 20px;
        margin-right: 20px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    /*----------------------------------
9 - header-footer
----------------------------------*/
    /*----------------------------------
10 -footer
----------------------------------*/

    #footer {
        background-color: #181818;
        padding: 20px 0;
        margin-bottom: 0 !important;
    }

    #footer p {
        color: #fff;
        font-weight: 600;
    }

    #footer p a {
        color: var(--main-color);
    }
    /*----------------------------------
10 -footer
----------------------------------*/
    /*----------------------------------
11 - reponsive-home
----------------------------------*/

    @media screen and (max-width: 1200px) {
        .banner-content-right {
            padding-top: 35%;
        }
        .banner-text h2 {
            font-size: 22px;
        }
        .banner-text h2 span {
            font-size: 28px;
        }
        #hottest .nav>li>a {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1024px) {
        #header .open .divider {
            display: none;
        }
        #header .open a {
            border-bottom: 3px solid transparent;
            transition: none;
        }
        #header .open a:hover,
        #header .open a:focus,
        #header .open li.active a {
            border-bottom: 3px solid #fff;
            color: var(--main-color) !important;
        }
        #header.fixed .header-content .logo img {
            margin-bottom: 10px;
        }
        #header.fixed .nav-toggle {
            top: 10px;
        }
        #header.fixed .navigation a:hover,
        #header.fixed .navigation a.active,
        #header.fixed .navigation li.active a {
            border-top: none;
        }
        #header.fixed .navigation a {
            color: #fff;
            border-bottom: none;
            padding-bottom: 8px;
            padding-top: 0;
            border-top: none;
        }
        #header.fixed .call-to-action a,
        #header.fixed .call-to-action a:hover,
        #header.fixed .call-to-action a:focus {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #header .open .call-to-action a:hover,
        #header .open .call-to-action a:focus {
            color: #fff !important;
        }
        #header .dropdown-menu {
            left: 44%;
            top: 60px;
        }
        #header .dropdown-menu a i {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1200px){
        #title-jobs {
            width: 100%;
        }
    }

    @media screen and (max-width: 991px) {
        .banner-content-left {
            padding-top: 25%;
        }
       
        .banner {
            margin-bottom: 150px !important;
        }
        #hottest {
            background: #f1b306 !important;
        }
        #navbar-footer {
            border-top: none;
        }
        #navbar-footer .navbar-nav>li>a:focus,
        #navbar-footer .navbar-nav>li>a:hover,
        #navbar-footer .navbar-nav>.active>a {
            border-top: none;
        }
        #navbar-footer .nav>li>a {
            border-top: none;
        }
        #banner-footer .btn-fill-horz {
            float: none !important;
            margin-top: 30px;
        }
        #banner-footer {
            padding: 60px 0 60px 0;
        }
        #banner-footer h3 {
            font-size: 20px;
        }
        #work-step .title-section {
            font-size: 24px;
        }
        #work-step .steps li a {
            font-size: 18px;
        }
        #work-step {
            padding-top: 40px;
        }
        .modal-custom hr {
            display: none;
        }
        .modal-custom .or em {
            padding: 10px !important;
        }
    }

    @media screen and (max-width: 419px) {
        #jobs .nav-tabs>li>a {
            padding: 10px;
            font-size: 14px;
            margin-top: 10px;
        }
        #hottest .device {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        #navbar-footer .navbar-nav>li {
            float: none;
        }
        #navbar-footer .nav>li {
            display: inline-block;
        }
        #navbar-footer .navbar-nav {
            margin: 0;
        }
        #navbar-footer .nav>li>a {
            padding: 0;
        }
        #navbar-footer .navbar-right {
            margin-top: 20px;
        }
        .footer-item p {
            text-align: left;
        }
        .modal-custom hr {
            display: block;
        }
        .modal-custom .or em {
            padding: 10px !important;
        }
        .table-responsive {
            border: none;
        }
    }

    @media (min-width: 768px) {
        .modal-custom {
            width: 465px;
            margin: 60px auto;
        }
    }

    @media screen and (max-width: 1024px) {
        #header .header-content {
            padding: 40px 0;
        }
        #header.fixed a {
            color: #000;
        }
        .nav-toggle {
            display: block;
        }
        .navigation {
            position: fixed;
            background-color: #000;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99999;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
            transition: opacity 0.5s, visibility 0s 0.5s;
        }
        .navigation .primary-nav {
            position: relative;
            top: 45%;
            -moz-transform: translateY(-45%);
            -ms-transform: translateY(-45%);
            -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
        }
        .navigation li {
            display: block;
            margin-bottom: 20px;
        }
        .navigation a {
            display: block;
            font-size: 25px;
            margin: 0;
            text-align: center;
        }
        .person {
            margin: 0 auto 50px;
        }
        .person-content {
            text-align: center;
        }
        .person .social-icons li {
            display: inline-block;
            float: none;
            margin-bottom: 5px;
        }
        .testimonials blockquote {
            padding: 20px 5% 0;
        }
        .testimonials p {
            font-size: 12px;
        }
        .flex-control-nav {
            bottom: 20px;
        }
    }

    @media screen and (max-width: 355px) {
        .modal-custom .nav-tabs>li>a {
            font-size: 16px !important;
        }
    }

@media screen and (max-width: 320px) {
    #title-jobs {
        margin-top: -180px;
    }
}
    /*----------------------------------
11 - reponsive
----------------------------------*/
    /*----------------------------------
12 - Modal-signin/signup
----------------------------------*/

    .modal-custom .modal-header {
        padding: 0;
        border-bottom: none;
    }

    .modal-custom p em {
        color: #9da4b4;
    }

    .modal-custom .modal-body {
        padding: 15px 30px 30px 30px;
    }

    .modal-custom a.btn-block {
        margin-top: 20px;
        border: none;
    }

    .modal-custom hr {
        margin: 30px 0 15px 0;
    }

    .modal-custom .or {
        position: relative;
        top: -25px;
    }

    .modal-custom .or em {
        background-color: #fff;
        padding: 10px;
    }

    .modal-custom .form-control {
        padding: 10px;
        border: 1px solid #c5cbd8;
        height: 40px;
    }

    .modal-custom .checkbox a {
        float: right;
        color: #153a97;
    }

    .modal-custom .checkbox a:hover {
        color: #153a97;
        opacity: 0.8;
    }

    .modal-custom .btn-fill-horz {
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px;
    }

    .modal-custom .btn-fill-horz:hover {
        color: #fff;
    }

    .modal-custom .nav-tabs>li {
        width: 50%;
    }

    .modal-custom .nav-tabs>li.active>a,
    .modal-custom .nav-tabs>li.active>a:focus,
    .modal-custom .nav-tabs>li.active>a:hover {
        margin-right: 0px;
        background-color: #fff;
        color: #000;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .modal-custom .nav-tabs>li>a {
        margin-top: 0px;
        text-align: center;
        padding: 25px 35px;
        background-color: var(--main-color);
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        margin-right: 0;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    .modal-custom label {
        color: #000;
    }

    .modal-custom .nav-tabs {
        border-bottom: none;
    }
    /*----------------------------------
12 - Modal-signin/signup
----------------------------------*/
    /*----------------------------------
TABLE OF CONTENTS: POLICY
------------------------------------
1 - Navigation-policy
2 - banner-child-policy
3 - content-child-policy
4 - reponsive-child-policy
----------------------------------*/
    /*----------------------------------
1 - Navigation-policy
----------------------------------*/

    .child {
        margin-bottom: 0 !important;
    }

        .child .header-child {
            background-color: #002d8d;
        }
        .child .header-child .header-content .navigation a.nav-user{
            border-top: none;
        }
            .child .header-child .header-content .navigation a.nav-user:hover, .child .header-child .header-content .navigation a.nav-user:focus, .child .header-child .header-content .navigation li.active a.nav-user {
                border-top: none;
            }
    .child .header-child .dropdown-menu {
        min-width: 120px;
        top: 67px !important;
        padding-bottom: 0px;
        padding-top: 8px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-color: transparent;
    }

    .child .header-child .dropdown-menu>li>a {
        margin-left: 0;
        padding: 0;
        padding-bottom: 8px;
        border-bottom: 3px solid transparent;
        background-color: transparent;
        border-top: 0 !important;
    }

    .child .header-child .dropdown-menu>li>a:hover,
    #header .dropdown-menu>li>a:focus {
        border-bottom: 3px solid var(--main-color);
        border-top: 0 !important;
    }

    .child .header-child .header-content {
        padding: 0 !important;
    }

    .child .header-child .header-content .navigation a {
        padding-top: 23px;
        padding-bottom: 15px;
        display: block;
        border-top: 3px solid transparent;
        border-bottom: none;
    }

    .child .header-child .header-content .navigation a:hover,
    .child .header-child .header-content .navigation a:focus,
    .child .header-child .header-content .navigation li.active a {
        border-top: 3px solid #fff;
        border-bottom: none;
        color: #fff !important;
        opacity: 1;
    }

    .child .header-child .header-content .navigation .call-to-action a,
    .child .header-child .header-content .navigation .call-to-action a:hover,
    .child .header-child .header-content .navigation .call-to-action a:focus {
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: none;
        color: #fff !important;
    }

    .child .header-child .header-content .logo img {
        margin-top: 20px;
    }
    /*----------------------------------
1 - Navigation-policy
----------------------------------*/
    /*----------------------------------
2 - banner-child-policy
----------------------------------*/

    #banner-child h2 {
        color: #fff;
        font-size: 50px;
        font-family: var(--font-mon);
        margin-top: 50px;
    }

    #banner-child p {
        color: #fff;
    }
    /*----------------------------------
2 - banner-child-policy
----------------------------------*/
    /*----------------------------------
3 - content-child-policy
----------------------------------*/

    #content-child h2 {
        font-family: var(--font-mon);
        font-size: 28px;
        font-weight: 700;
    }

    #content-child {
        margin-top: 40px;
    }

    #content-child p {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    /*----------------------------------
3 - content-child-policy
----------------------------------*/
    /*----------------------------------
4 - reponsive-child-policy
----------------------------------*/

    @media screen and (max-width: 1024px) {
        .child .header-child .header-content .logo img {
            padding-bottom: 10px;
        }
        .child .header-child .header-content .nav-toggle {
            top: 10px;
        }
        #header .open a:hover,
        #header .open a:focus,
        #header .open a:hover,
        #header .open a:hover,
        #header .open a:hover,
        #header .open li.active a {
            border-color: transparent;
        }
        .child .header-child .header-content .navigation a {
            padding-top: 0px;
            padding-bottom: 8px;
        }
        .child .header-child .dropdown-menu {
            left: 44% !important;
        }
    }
    /*----------------------------------
4 - reponsive-child-policy
----------------------------------*/
    /*----------------------------------
TABLE OF CONTENTS: 404
------------------------------------
1 - banner-404
2 - banner-child-policy
3 - content-child-policy
4 - reponsive-child-policy
----------------------------------*/
    /*----------------------------------
1 - banner-404
----------------------------------*/

    #banner-child .banner-text h2 {
        font-size: 26px;
        margin-top: 30px;
    }

    #banner-child .img-404 {
        margin-top: 70px;
    }

    #content-child .content-404 h1 {
        font-family: var(--font-mon);
        font-size: 150px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 0px;
        color: #000;
    }

    #content-child .content-404-img img {
        margin-top: 80px;
        width: 90%;
        height: auto;
    }

    #content-child .content-404 h2 {
        font-size: 24px;
        margin-top: 0;
    }

    #content-child .content-404 p {
        font-size: 16px;
    }

    #content-child .content-404 a {
        background-color: #0742c2;
        margin-top: 30px;
    }
    /*----------------------------------
1 - banner-404
----------------------------------*/
    /*----------------------------------
2 - reponsive-child-404
----------------------------------*/

    @media screen and (max-width: 767px) {
        #banner-child .btn-job {
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: 991px) {
        #content-child .content-404-img {
            float: none !important;
            display: none;
        }
        #content-child .content-404 {
            text-align: center;
        }
    }
    /*----------------------------------
2 - reponsive-child-404
----------------------------------*/
    /*----------------------------------
TABLE OF CONTENTS: Alljob
------------------------------------
1 - content-alljob
2 - Job-items
3 - reposive-Alljob
----------------------------------*/
    /*----------------------------------
1 - content-alljob
----------------------------------*/

    .alljob-content {
        background-color: #a41b32;
        margin-bottom: 0 !important;
        padding: 40px 0 60px 0;
    }
    .content-company-detail{
        background-color:#f0f3fa;
    }
    .title-header {
        font-size: 28px;
        color:#000;
        font-family: var(--font-mon);
        font-weight: 700;
    }
    .alljob-content .card{
        margin: 30px 15px 0px 15px;
    }
    .card {
        padding: 30px;
        background-color: #fff;
        min-height: 370px;
        margin-top: 30px;
    }
    .card .card-img {
        height: 100px;
        width: 100%;
        display: inline-block;
    }

    .card .card-img .card-img-top {
        display: block;
        max-width: 100%;
        max-height: 70px;
        width: auto;
        height: auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card .card-body .card-title {
        font-size: 16px;
        font-family: var(--font-mon);
        font-weight: 700;
        min-height: 40px;
    }

    .card .card-body .card-addr {
        margin: 10px 0;
    }

    .card .card-body .card-addr i {
        font-size: 18px;
        color: var(--sub-color);
        margin-right: 10px;
    }

    .card .card-body .btn-orange {
        margin-top: 40px;
        padding: 10px 25px;
    }

    .card-body .btn-gray:hover .card {
        background-color: #000;
    }
    /*----------------------------------
1 - content-alljob
----------------------------------*/
    /*----------------------------------
2 - Job-items
----------------------------------*/

    .alljob-content-footer {
        padding-top: 40px;
    }

    .alljob-content-footer .skill-job {
        padding: 20px;
        border: 1px solid #d6d9e1;
        margin-top: 20px;
    }

    .alljob-content-footer .skill-job .skill-items {
        margin-bottom: 30px;
    }

    .alljob-content-footer .skill-job .skill-items h4 {
        font-family: var(--font-mon);
        font-weight: 700;
        font-size: 14px;
    }
    .alljob-content-footer .owl-theme .owl-nav [class*=owl-]:hover{
        background-color:transparent;
    }
    .alljob-content-footer .alljob-table p{
        text-align:left;
    }
    .alljob-content-footer .alljob-table a{
        color:#000;
        font-size:15px;
        font-weight:600;
    }
    .alljob-content-footer .alljob-table a:hover{
        color:var(--main-color);
    }
    .alljob-content-footer .alljob-table .job-ratio {
        text-align: right;
        position: relative;
        top: -30px;
    }

    .alljob-content-footer .pagination li.prev a {
        color: #fff;
        border-radius: 4px;
    }

    .alljob-content-footer .pagination li.next a {
        color: #fff;
        border-radius: 4px;
    }

    .pagination li a {
        font-family: var(--font-mon);
        font-size: 12px;
        font-weight: 800;
        background-color: transparent;
        border: none;
        color: #888fa3;
        margin-left: 5px;

    }

    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
        background-color: var(--main-color);
        border-color: transparent;
        color: #fff;
    }

    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover {
        color: #000;
        background-color: transparent;
        border-color: transparent;
    }

    .pagination {
        margin: 0px;
    }
    /*----------------------------------
2 - Job-items
----------------------------------*/
    /*----------------------------------
3 - reposive-Alljob
----------------------------------*/

    @media screen and (max-width: 767px) {
        .alljob-content-footer .alljob-table .job-ratio {
            text-align: left;
            position: static;
            margin: 30px 0;
        }
    }
    /*----------------------------------
3 - reposive-Alljob
----------------------------------*/
    /*----------------------------------
TABLE OF CONTENTS: Alljob-detail
------------------------------------
1 - info-job
2 - Job-detail
3 - Modal apply now
4 - reposive-Alljob-detail
----------------------------------*/
    /*----------------------------------
1 - info-job
----------------------------------*/

    .alljob-detail {
        background-color: #f0f3fa;
        margin-bottom: 0!important;
        padding: 60px 0;
    }

    .info-job {
        background-color: #fff;
        padding: 30px;
        margin-bottom: 40px;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    }

    .info-job h4 {
        font-size: 24px;
        font-weight: 700;
        font-family: var(--font-mon);
        margin-bottom: 20px;
        margin-top: 0;
    }

    .info-job h4 span {
        font-size: 18px;
        font-family: var(--font-cabin);
    }

    .info-job-d {
        font-size: 14px;
        font-weight: 700;
        margin-top: 10px;
    }
    .info-job-d a{
        color:#000;
        font-weight:600;
    }
    .info-job-d a:hover{
        color:var(--main-color);
    }
    .info-job a {
        width: 100%;
        margin-top: 20px;
        border: none;
    }
    /*----------------------------------
1 - info-job
----------------------------------*/
    /*----------------------------------
2 - job-detail
----------------------------------*/

    .job-detail .job-detail-t {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .job-detail hr {
        border-color: #c5cbd8;
        margin-top: 30px;
    }

    .job-detail .detail-text {
        line-height: 30px;
    }

    .job-detail .sub {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .job-detail .btn-orange {
        margin-right: 20px;
    }

    .job-detail .job-detail-modal {
        background-color: #fff;
        padding: 30px;
        margin-bottom: 30px;
    }

    .job-detail .share-job {
        padding: 30px;
        background-color: #fff;
    }

    .job-detail .share-job ul li {
        display: inline-block;
    }

    .job-detail-header {
        font-family: var(--font-mon);
        font-weight: 700;
    }

    .job-detail-header i {
        color: var(--main-color);
        margin-right: 5px;
    }

    .share {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    /* buttons */

    .share a {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 8px;
        border-radius: 50%;
        font-size: 24px;
        color: #fff;
        opacity: 1;
        transition: opacity 0.15s linear;
    }

    .share a:hover {
        opacity: 0.7;
    }
    /* icons */

    .share i {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }
    /* colors */

    .facebook {
        background: #3b5998;
    }

    .twitter {
        background: #55acee;
    }

    .googleplus {
        background: #dd4b39;
    }

    .linkedin {
        background: #0077b5;
    }

    .job-detail .info-job-detail {
        margin-top: 30px;
        background-color: #fff;
        padding: 30px;
    }

    .job-detail-img {
        display: inline-block;
        height: 120px;
        width: 100%;
        text-decoration: none;
        background-color: #fff;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .job-detail-img img {
        display: block;
        max-width: 80%;
        max-height: 80px;
        width: auto;
        height: auto;
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .job-detail .info-job-detail .name-company {
        font-size: 18px;
        font-weight: 700;
    }

    .job-detail .info-job-detail .job-detail-header {
        margin-top: 15px;
    }

    .job-detail .info-job-detail p {
        line-height: 30px;
    }

    .job-detail-related table {
        background-color: #fff;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .job-detail-related .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #fff;
    }

    .job-detail-related .table-striped>tbody>tr {
        border-bottom: 1px solid #ccc;
    }

    .job-detail-related .table-striped>tbody>tr:last-child {
        border-bottom: 0;
    }

    .td_image .td-img-content {
        border: 1px solid #d9dfe3;
    }
    /*----------------------------------
2 - job-detail
----------------------------------*/
    /*----------------------------------
3 - Modal apply now
----------------------------------*/

    #applynow .modal-header {
        padding: 30px;
    }

    #applynow .modal-header .modal-title {
        font-size: 20px;
        font-family: var(--font-mon);
        font-weight: 700;
    }

    #applynow .modal-header .close {
        background-color: #da251c;
        padding: 0px 5px;
        border-radius: 4px;
        opacity: 1;
        color: #fff;
    }

    #applynow .modal-body {
        padding: 30px;
    }

    #applynow .modal-body p {
        margin-top: 15px;
    }

    #applynow .form-control {
        padding: 10px;
        border: 1px solid #c5cbd8;
        /* height: 40px; */
    }

    #applynow .cv-file {
        color: #000;
        font-weight: 700;
        display: block;
        margin-bottom: 15px;
    }

    #applynow .modal-footer {
        padding: 30px;
    }

    #applynow .modal-footer a {
        width: 100%;
    }

    @media (min-width: 768px) {
        #applynow .modal-dialog {
            width: 465px;
            margin: 60px auto;
        }
    }
    /*----------------------------------
3 - Modal apply now
----------------------------------*/
    /*----------------------------------
4 - reposive-Alljob-detail
----------------------------------*/

    @media screen and (max-width: 991px) {
        .job-detail hr {
            margin-top: 120px;
        }
    }

    @media screen and (max-width: 767px) {
        .job-detail hr {
            margin-top: 30px;
        }
        .info-job-d {
            margin-bottom: 20px;
        }
    }
    /*----------------------------------
4 - reposive-Alljob-detail
----------------------------------*/
    /*----------------------------------
TABLE OF CONTENTS: NEW - NEW-DETAIL
------------------------------------
1 - content-new
2 - content-new(detail)
3 - reponsive new
----------------------------------*/
    /*----------------------------------
1 - content-new
----------------------------------*/

    .content-new {
        padding: 60px 0;
        margin-bottom: 0 !important;
    }

    .content-new .news {
        margin-bottom: 30px;
    }
    /*  .content-new .img-news {
        display: inline-block;
        height: 200px;
        width: 100%;
    }

    .content-new .img-news img {
        display: block;
        max-width: 100%;
        max-height: 200px;
        width: auto;
        height: auto;
        border-radius: 5px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */

    .img-news {
        overflow: hidden;
        width: 100%;
        border-radius: 5px;
        border:1px solid #ccc;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .img-news img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 280px;
        max-height: 200px;
    }

    .img-news:hover img {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .content-new .news .news-title {
        font-size: 18px;
        font-family: var(--fon-mon);
        font-weight: 600;
        margin-top: 10px;
        display: block;
        color: #000;
    }

    .content-new .news .news-title:hover,
    .content-new .news .news-title:focus {
        color: var(--main-color);
    }

    .content-new .news .news-title span {
        background-color: var(--main-color);
        margin-right: 5px;
        font-size: 14px;
    }

    .content-new .news .news-time {
        color: #747c8f;
        margin-bottom: 15px;
    }

    .content-new .news .news-text {
        text-align: justify;
        line-height: 25px;
    }

    #custom-search-input {
        margin-top: 20px;
    }

    #custom-search-input .form-control {
        height: 40px;
        border: 1px solid #c2cadb;
    }

    #custom-search-input {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        margin-bottom: 0;
        color: #000;
        background-color: #fff;
    }

    #custom-search-input .input-group .form-control:focus {
        z-index: 0;
    }

    .recent-news {
        margin-top: 15px;
    }

    .recent-news .news-title {
        color: #000;
        display: block;
        margin-bottom: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .recent-news .custom-col {
        padding-right: 0 !important;
    }

    .recent-news .news-title:hover,
    .recent-news .news-title:focus {
        color: var(--main-color);
    }

    .news-time {
        color: #747c8f;
        font-size: 12px;
    }

    .recent-news .img-news-recent img {
        margin-top: 6px;
        border-radius: 3px;
        border:1px solid #ccc;
        max-height: 50px;
        width: 80px;
    }

    .content-new .pagination {
        margin-top: 30px;
    }
    /*----------------------------------
1 - content-new
----------------------------------*/
    /*----------------------------------
2 - content-new(detail)
----------------------------------*/

    .content-new .news-title-detail {
        font-family: var(--font-mon);
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
        line-height: 25px;
    }

    .content-new .detail-time {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .content-new .news-content-detail p {
        line-height: 25px;
        text-align: justify;
    }

    .content-new .news-content-detail {
        margin-bottom: 20px;
    }

    .content-new .news-content-detail img {
        width: 80%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: 15px 0;
    }

    .content-new hr {
        margin: 30px 0;
    }

    .content-new .node-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .content-new .card-img-top {
        height: 200px;
        border-radius: 5px;
    }

    .content-new .card-time {
        margin-top: 10px;
    }

    .content-new .card-title {
        font-size: 14px;
        font-family: var(--font-mon);
        font-weight: 700;
        line-height: 25px;
        color: #000;
    }

    .content-new .card-title:hover,
    .content-new .card-title:focus {
        color: var(--main-color);
    }

    .content-new .card {
        margin-bottom: 20px;
    }
    /*----------------------------------
2 - content-new-detail
----------------------------------*/
    /*----------------------------------
3 - reponsive-new
----------------------------------*/

    @media screen and (max-width: 767px) {
        .content-new .pagination {
            margin-bottom: 30px;
        }
        .img-news img {
            width: auto;
            max-height: 100%;
        }
    }

    @media screen and (max-width: 1024px) {
        .recent-news .img-news-recent img {
            max-height: 100%;
            width: auto;
        }
    }
    /*----------------------------------
3 - reponsive-new
----------------------------------*/
    /*----------------------------------
TABLE OF CONTENTS: Conpanies,companies-detail
------------------------------------
1 - content-Conpanies
2 - content-new(detail)
3 - reponsive Conpanies,companies-detail
----------------------------------*/
    /*----------------------------------
1 - content-Conpanies
----------------------------------*/

    .content-company .job-detail-header {
        margin-top: 30px;
    }

    .content-company .for-card {
        margin-top: 30px;
    }

    .content-company .for-card .card {
        margin-top: 0;
        border: 1px solid #d6d9e1;
    }

    .content-company .owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        top: -40px;
        right: 0;
    }

    .content-company .owl-theme .owl-nav [class*=owl-] {
        background-color: transparent;
    }

    .content-company .owl-theme .owl-nav [class*=owl-]:hover i {
        color: var(--main-color);
    }
    /*----------------------------------
1 - content-Conpanies
----------------------------------*/
    /*----------------------------------
2 - content-new(detail)
----------------------------------*/
    .content-company-detail .info-job p a{
        color:#000;
        font-weight:600;
    }
    .content-company-detail .info-job p a:hover{
        color: var(--main-color);
    }
    .content-company-detail .job-detail-img {
        margin: 0;
        height: 140px;
    }

    .content-company-detail .job-detail-img img {
        max-width: 90%;
        max-height: 100px;
    }

    .content-company-detail .info-job p span {
        font-weight: 700;
        margin-right: 5px;
    }

    .content-company-detail .info-job p {
        margin-bottom: 10px;
    }

    .content-company-detail .left {
        margin-top: 45px;
    }

    .content-company-detail .company-detail-text p {
        text-align: justify;
        line-height: 25px;
    }

    .content-company-detail .company-detail-text h5 {
        font-weight: 700;
    }

    #map {
        width: 100%;
        height: 300px;
        margin: 20px 0;
    }

    .content-company-detail .company-information p {
        line-height: 15px;
        margin: 20px 0;
    }

    .content-company-detail .share {
        margin-bottom: 20px;
    }

    .content-company-detail .form-control {
        border: 1px solid #c2cadb;
        border-radius: 5px;
        height: 40px;
    }

    .content-company-detail textarea.form-control {
        height: auto;
    }

    .content-company-detail .btn-green {
        padding: 10px 20px;
        background-color: #11c859;
    }

    .content-company-detail .btn-green i {
        margin-right: 10px;
    }

    .content-company-detail .benefits p {
        margin-bottom: 15px;
        font-weight: 700;
    }

    .content-company-detail .benefits p i {
        margin-right: 10px;
        font-size: 16px;
    }
    /*----------------------------------
2 - content-new(detail)
----------------------------------*/
    /*----------------------------------
3 - reponsive Conpanies,companies-detail
----------------------------------*/

    @media screen and (max-width: 767px) {
        .content-company-detail .left {
            margin-top: 15px;
        }
    }
    /*----------------------------------
}
3 - reponsive Conpanies,companies-detail
----------------------------------*/
/*----------------------------------
TABLE OF CONTENTS: manager-account
------------------------------------
1 - manager-banner
2 - manager-menu
4 - change-password
3 - reponsive manager
----------------------------------*/
/*----------------------------------
1 - manager-banner
----------------------------------*/

.manager-banner {
    padding: 30px 0;
}

    .manager-banner ul li {
        display: inline-block;
    }

    .manager-banner .avatar-profile {
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: relative;
        top: 10px;
    }

    .manager-banner .info-user {
        position: relative;
        top: -30px;
        margin-left: 20px;
    }

        .manager-banner .info-user h4 {
            font-family: var(--font-mon);
            font-size: 20px;
            font-weight: 700;
            color: #fff;
        }

    .manager-banner .text-right {
        margin-top: 20px;
    }

        .manager-banner .text-right h3 {
            font-weight: 700;
            font-size: 24px;
            font-family: var(--font-mon);
            color: #fff;
        }

        .manager-banner .text-right p {
            font-size: 18px;
        }
/*----------------------------------
1 - manager-banner
----------------------------------*/
/*----------------------------------
2 - manager-menu
----------------------------------*/

.manager-menu .tab-content {
    background-color: #fff;
    padding: 20px 30px 40px 30px;
    margin-top: 20px;
}
.manager-menu input[type=checkbox]{
    margin-top:-20px;
}
.manager-menu {
    padding: 40px 0 60px 0;
    margin-bottom: 0 !important;
    background-color: #f0f3fa;
}

    .manager-menu .nav-menu {
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fff;
        margin-top: 20px;
    }

        .manager-menu .nav-menu p {
            font-family: var(--font-mon);
            font-weight: 700;
            color: #000;
            padding-left: 20px;
        }

        .manager-menu .nav-menu li a {
            color: #5d626f;
            font-weight: 700;
            border-radius: 0;
            border-left: 3px solid transparent;
            padding: 5px 30px 5px 25px !important;
            margin-right:0px!important;
            margin: 10px 0;
            font-size:14px !important;
        }

            .manager-menu .nav-menu li.active a,
            .manager-menu .nav-menu li.active a:hover,
            .manager-menu .nav-menu li.active a:focus,
            .manager-menu .nav-menu li a:hover,
            .manager-menu .nav-menu li a:focus {
                background-color: transparent;
                border-left: 3px solid var(--main-color);
                color: #000;
            }

            .manager-menu .nav-menu li a .badge {
                background-color: #0742c2;
                color: #fff;
                opacity: 1;
                float: right;
            }

        .manager-menu .nav-menu li label {
            float: right;
            padding-left: 0;
            padding-right: 10px;
        }

    .manager-menu .title-nav {
        font-size: 20px;
        font-family: var(--font-mon);
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 20px;
    }
/*----------------------------------
2 - manager-menu
----------------------------------*/
/*----------------------------------
3 - change-password
----------------------------------*/

#mn-change-password .form-control {
    height: 40px;
    border: 1px solid #c5cbd8;
}

#mn-change-password label {
    margin-bottom: 10px;
}
/*----------------------------------
3 - change-password
----------------------------------*/
/*----------------------------------
4 - comments
----------------------------------*/

#mn-comments ul li {
    display: inline-block;
}

#mn-comments .avatar-cmt {
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

#mn-comments .info-user h4 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

#mn-comments .info-user {
    margin-left: 15px;
}

#mn-comments .rate p {
    font-size: 12px;
    color: #888d9b;
    margin-top: 15px;
}

#mn-comments .content {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
}

#mn-comments .comments {
    border-bottom: 1px solid #e7eaf3;
    margin-bottom: 30px;
}

    #mn-comments .comments:last-child {
        border-bottom: 1px solid transparent;
        margin-bottom: 0px;
    }
/*----------------------------------
4 - comments
----------------------------------*/
/*----------------------------------
5 - Interview Inviations
----------------------------------*/

#mn-interview-inviations ul li {
    display: inline-block;
}

#mn-interview-inviations .logo-job {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: #fff;
    border: 1px solid #d9dfe3;
}

    #mn-interview-inviations .logo-job img {
        display: block;
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

#mn-interview-inviations .info-job-ii {
    margin-left: 20px;
    position: relative;
    bottom: 5px;
}

    #mn-interview-inviations .info-job-ii h4 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 16px;
        color: #000;
    }

    #mn-interview-inviations .info-job-ii .time {
        font-size: 12px;
        color: #888d9b;
        margin-top: 10px;
    }

#mn-interview-inviations .content {
    text-align: justify;
    margin-bottom: 30px;
}

#mn-interview-inviations .inviation {
    border-bottom: 1px solid #e7eaf3;
    margin-bottom: 30px;
    display: block;
}

    #mn-interview-inviations .inviation:hover .info-job-ii h4 {
        color: var(--main-color);
    }

.manager-menu .btn-silver {
    position: absolute;
    top: 40px;
    right: 30px;
}

#mn-interview-inviations .checkbox-inline {
    margin: 20px 0;
}

#mn-interview-inviations .info-invia i {
    margin-right: 5px;
}

#mn-interview-inviations .info-invia span {
    margin-right: 40px;
}
/*----------------------------------
5 - Interview Inviations
----------------------------------*/
/*----------------------------------
6 - Applied Jobs
----------------------------------*/

.manager-menu .job-detail-related .table-striped > tbody > tr:last-child {
    border-bottom: 1px solid #e7eaf3;
}

.manager-menu .job-detail-related .table-striped > tbody > tr {
    border-bottom: 1px solid #e7eaf3;
}

.manager-menu .td_image .td-img-content {
    width: 70px;
    height: 70px;
    background-color: #fff;
}

    .manager-menu .td_image .td-img-content img {
        display: block;
        width: auto;
        height: auto;
        max-width: 80%;
        max-height: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*----------------------------------
6 - Applied Jobs
----------------------------------*/
/*----------------------------------
7 - CV
----------------------------------*/

#mn-cv .active-cv {
    margin: 20px 0;
}

#mn-cv .thumb-cv {
    margin-top: 20px;
    display: inline-block;
    height: 180px;
    width: 100%;
}

    #mn-cv .thumb-cv img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 180px;
        width: auto;
        height: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

#mn-cv .active-cv p {
    font-family: var(--font-mon);
    font-weight: 700;
    float: left;
    margin-top: 5px;
}

#mn-cv .active-cv .btn-close {
    background-color: #122d72;
    padding: 3px 15px;
}
/*----------------------------------
7 - CV
----------------------------------*/
/*----------------------------------
8 - Profile
----------------------------------*/

#mn-profile .job-detail-header {
    font-size: 18px;
}

.th-info {
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 5px;
}
#mn-profile .btn-pencil {
    position: absolute;
    top: 0px;
    right: 0px;
    padding:0;
    outline:none;
}
#mn-profile .btn-pencil i{
    color: #a6acba;
    font-size: 18px;
}
    #mn-profile .btn-pencil:hover i {
        color: var(--main-color);
        outline: none;
    }
#mn-profile .btn-edit {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 20px;
}

#mn-profile .contact-info {
    margin-bottom: 40px;
    position: relative;
}

#mn-profile .summary {
    position: relative;
    margin-bottom: 40px;
}

    #mn-profile .summary .content {
        text-align: justify;
        margin-top: 30px;
        line-height: 25px;
    }

#mn-profile .skill {
    position: relative;
    margin-bottom: 40px;
}

#mn-profile .skill-progress {
    margin-top: 30px;
}
#layout-grid{
    padding-top:100px;
}
#mn-profile .title-progress {
    margin-bottom: 10px;
    font-weight: 700;
}
#key-skill a i {
    color: #a6acba;
}
#key-skill a i:hover {
    color: var(--main-color);
}
#mn-profile .progress {
    height: 10px;
    overflow: hidden;
    background-color: #e9ecf3;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#mn-profile .progress-bar {
    background-color: #0642c2;
}

#mn-profile .language a {
    margin-left: 15px;
}

#mn-profile .social-net {
    position: relative;
    margin-bottom: 30px;
}

    #mn-profile .social-net a.link {
        color: #000;
    }

        #mn-profile .social-net a.link:hover,
        #mn-profile .social-net a.link:focus {
            color: var(--main-color);
        }

    #mn-profile .social-net a.none {
        color: #a1a6b3;
    }

        #mn-profile .social-net a.none:hover,
        #mn-profile .social-net a.none:focus {
            color: #a1a6b3;
        }

#mn-profile .history {
    position: relative;
    margin-bottom: 30px;
}

.history .history-content .name {
    font-weight: 700;
    font-size: 14px;
    font-family: var(--font-mon);
}

    .history .history-content .name i {
        color: var(--main-color);
        margin-right: 10px;
        font-size: 18px;
    }
    .history .history-content .name a:hover i{
        color:var(--main-color) !important;
    }

.history .history-content .years {
    color: #8e93a2;
    margin: 10px 25px;
}

.history .history-content .major {
    margin-left: 25px;
}

.history .history-content .content {
    margin-left: 25px;
    text-align: justify;
    line-height: 25px;
}

.preferences {
    position: relative;
    margin-bottom: 30px;
}

    .preferences .prefer-content .btn-orange {
        margin-right: 20px;
        margin-top: 10px;
    }
/*----------------------------------
8 - Profile
----------------------------------*/
/*----------------------------------
10 - reponsive manager-account
----------------------------------*/

@media screen and (max-width: 991px) {
    .manager-banner .text-right {
        text-align: left;
    }

    #mn-comments .rate {
        text-align: left;
    }

    #mn-interview-inviations .info-invia span {
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 499px) {
    #mn-interview-inviations .info-job-ii {
        margin-left: 0px;
        position: relative;
        bottom: 5px;
        margin-top: 15px;
    }

    #mn-interview-inviations .btn-silver {
        top: 20px;
    }
}

@media screen and (max-width: 767px) {
    #mn-interview-inviations .checkbox-inline {
        margin-left: 20px;
    }

    #mn-applied-jobs .pagination {
        margin-top: 30px;
    }
}
/*----------------------------------
}
10 - reponsive manager-account
----------------------------------*/


/**************************CUSTOM CSS***********************************/
#jobs .nav-tabs > li > a{
    margin-right:0px !important;
    margin-left:10px;
    padding-top:20px;
}
#jobs .nav-tabs > li.active > a, #jobs .nav-tabs > li.active > a:focus, #jobs .nav-tabs > li.active > a:hover {
    margin-top:5px;
    padding-top:25px !important;
}
#jobSearchForm .select2-container .select2-selection--single {
    border-radius: 4px;
    border: none;
}
#jobSearchForm .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #999;
    padding: 0;
}
#jobSearchForm .btn-job {
    width: 100%;
    margin-top: 20px;
}
#jobSearchForm .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-search--dropdown .select2-search__field {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #fff;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
}
#jobSearchForm .select2-results__option.select2-results__option--highlighted {
    background-color: var(--btn_red);
}
#work-step .owl-theme .owl-nav [class*=owl-] {
    position: relative;
    top: -35px;
}
#work-step .owl-theme .owl-nav {
    margin-top: 30px !important;
}
.card-home .card-img {
    position:relative;
}
.card .card-body .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height:0px;
}
.card .card-body .card-title a:hover{
    color:var(--main-color) !important;
}
.card-home .card-img .card-img-top {
    position:absolute;
}
.card-home .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .card-body .card-addr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .card-body .card-addr a{
    color:#000 !important;
}
.card .card-body .card-addr a:hover {
    color: var(--main-color) !important;
}
.card .card-text a:hover {
    color: var(--main-color) !important;
}
.alljob-content {
    padding-bottom: 50px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #ccd5da;
}
#hottest .btn-fill-horz{
    position:relative;
    left:5px;
}
#footer p {
    margin-top:0 !important;
}
#banner-footer h3{
    margin-top: 5px;
}
#header.fixed .navigation a{
    margin-top:0;
}
#header .user-menu {
    position:relative;
}
.user-menu .dropdown-menu {
    background-color: #fff !important;
    margin-top:30px;
    margin-left:40px;
}
#header .user-menu .dropdown-menu .user-footer a {
    color:#181818;
    margin-left:10px;
    margin-right:10px;
    text-align:center;
    border-bottom:none;
    border-top:none;
}
    #header .user-menu .dropdown-menu .user-footer a:hover {
        color: #a41b32 !important;
        border-bottom: none;
    }
#header.fixed .user-menu .dropdown-menu {
    margin-top: 3px;
    margin-left: 40px;
    padding-top:0px;
}
#header.fixed .user-menu .dropdown-menu a{
    border-top:none;
}
#header.fixed .user-menu .dropdown-menu a:hover{
    border-top:none;
}

#header.fixed .call-to-action{
    margin-top:0px;
}
.child .header-child .user-menu .dropdown-menu a{
    padding: 10px 10px;
}
.child .header-child .user-menu .dropdown-menu {
   margin-top:5px;
}
#hottest .cusLogo {
    border: 3px solid #1145b5;
    border-radius: 2px;
}
#recuitment .box-body{
    padding:20px;
}
@media screen and (max-width:1024px){
    .info-nav p{
        text-align:center;
    }
    .avatar-nav{
        position:relative;
        left:46%;
    }
    .child .nav-toggle {
        top: 10px;
    }
}
#filterControl strong {
    font-family: var(--font-mon);
    font-weight: 700;
    font-size: 14px;
}
#recuitment .title-header{
    margin-bottom:30px;
}
#filterControl .btn-toggle{
    color:#000;
}
#filterControl .btn-toggle:hover {
    color: var(--main-color);
}
#new-job .job-item-info .job-title{
    color:#000;
}
#new-job .job-item-info:hover .job-title {
    color: var(--main-color);
}
#new-job .company .job-search__company em,#new-job .company .location{
    color:#000;
}
#new-job .company .job-search__company:hover em, #new-job .company .location:hover {
    color: var(--main-color);
}
#modal-edit .modal-title {
    font-size: 18px;
    font-weight: 700;
}
#modal-edit .modal-header .close i {
    color: var(--btn_red);
}
#modal-edit .modal-header .close{
    opacity:0.5;
}
#modal-edit .modal-header .close:hover {
    opacity: 1;
}
#modal-edit .modal-body label {
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
}
#modal-edit .modal-body .form-control {
    height: 40px;
    border: 1px solid #c5cbd8;
}
#modal-edit .modal-body {
    padding: 30px;
}
#modal-edit .btn-close {
    background-color: #c7ccd8;
    border: 1px solid #c7ccd8;
}
#modal-edit .btn-close:hover {
    border: 1px solid var(--main-color);
}
#modal-edit .select2-container .select2-selection--single {
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100% !important;
    border: 1px solid #c5cbd8;
    padding: 15px 24px 10px 12px;
}
#modal-edit .select2-container--bootstrap {
    width: 100% !important;
}
.btn-delete:hover{
    background-color:var(--btn_red);
    color:#fff;
}
.btn-delete{
    font-family:var(--font-cabin);
}
#AddMajor{
    position:relative;
    top:10px;
    color:var(--main-color);
}
#modal-edit .select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    border: 1px solid #c5cbd8;
    border-radius: 5px;
    min-height:40px;
}
#modal-edit .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    background-color: #0dbe2f;
    color: #fff;
    margin: 8px 0 0 6px;
    border:none;
}
#modal-edit .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    color:#fff;
}
#modal-edit .input-group .input-group-addon {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.mce-panel{
    border-radius:5px;
}
.tag-profile {
    background-color: #0dbe2f;
    color: #fff;
    padding: 6px 20px;
    border-radius:4px;
    display:inline-block;
}
.prefer-content .tag-profile {
    margin-top:10px;
    margin-right:5px;
}
.fa-pencil{
    color:var(--main-color);
}
#mn-interview-inviations .logo-job img {
    position: absolute;
}
#mn-interview-inviations .logo-job{
    position:relative;
}
.manager-menu .td_image .td-img-content img{
    position:absolute;
}
.manager-menu .td_image .td-img-content{
    position:relative;
}
input:checked + .slider{
    background-color:var(--main-color);
    border:none;
}
.manager-menu .nav-menu li label{
    width:40px;
    height:10px;
}
.slider:before {
    height: 14px;
    width: 14px;
    position: absolute;
    left: 0px;
    background-color: #fff;
    top: 0px;
    border: 2px solid var(--main-color);
}
@media screen and (max-width:991px){
    #mn-profile .btn-edit{
        right:-15px;
    }
}
@media screen and (max-width: 1024px) {
    .navigation {
        position: fixed;
        background-color: #000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5000;
    }
    #header.fixed .call-to-action a{
        background-color:var(--main-color);
        text-align:center;
    }
}
.modal{
    z-index:9000;
}
#RecaptchaField1, #RecaptchaField2 {
    transform: scale(1.32);
    -webkit-transform: scale(1.32);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
#RecaptchaField2{
    margin-bottom:20px;
}
@media screen and (max-width: 500px) {
    #RecaptchaField1, #RecaptchaField2 {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
.modal-custom .nav-tabs > li.active > a,
.modal-custom .nav-tabs > li.active > a:focus,
.modal-custom .nav-tabs > li.active > a:hover {
    background-color: var(--main-color);
    color: #fff;
    border-bottom: 1px solid var(--main-color);
}
.modal-custom .nav-tabs > li > a {
    background-color: #fff;
    color: #000;
    /*border-bottom: 1px solid var(--main-color);*/
}
#modal-signup input[type=radio]{
    margin-right:5px;
}
.loginSocial{
    margin-left:0;
}
.alljob-content{
    padding-bottom:30px;
}
.alljob-content .owl-theme .owl-nav{
    display:none;
}
.alljob-content .owl-theme .owl-dots{
    margin-top: 20px;
}
.alljob-content .owl-theme .owl-dots .owl-dot:hover span, .alljob-content .owl-theme .owl-dots .owl-dot.active span{
    background-color: transparent;
    border: 2px solid #fff;
    height: 14px;
    width: 14px;
    margin: 5px;
}
.alljob-content .owl-theme .owl-dots .owl-dot span{
    background-color:#fff;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    border-bottom: 1px solid #ccd5da;
}
.table-striped > tbody > tr > td a:hover p{
    color:var(--main-color);
}
.table-striped > tbody > tr > td .position a:hover{
    color:var(--main-color) !important;
}
.table-striped > tbody > tr {
    border-bottom: 1px solid #ccd5da;
}
.pagination-table{
    background-color:transparent !important;
    border-bottom:none !important;
}
#jobSearchForm .btn, #jobSearchForm .form-control {
     height: 50px;
}
#latest-news .modal-img {
    overflow: hidden;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#latest-news .modal-img .card-img-top {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    max-height: 270px;
}
    #latest-news .modal-img:hover .card-img-top {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
@media screen and (max-width:767px){
    #latest-news .modal-img .card-img-top{
        max-height:none;
        height:auto;
    }
}
#latest-news .card-body .card-title a{
    color: #000;
    font-family: var(--font-mon);
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    line-height: 22px;
}
#header .call-to-action{
    margin-top:25px;
}
#header.header-child .call-to-action{
    margin-top: 15px;
}
#header.header-child{
    position:fixed;
}
#banner-child{
    padding-top:72px;
}