    /*button*/

    .btn-fill-horz.btn-employer:hover {
        border-color: var(--btn_red);
    }

    .btn-fill-horz.btn-orange {
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        color: #fff;
    }

    .btn-fill-horz.btn-close {
        background-color: #0742c2;
        border: 1px solid #0742c2;
        color: #fff;
    }

    .btn-fill-horz.btn-green {
        background-color: #62b23b;
        border: 1px solid #62b23b;
        color: #fff;
    }

    .btn-fill-horz.btn-silver {
        background-color: #d7dce2;
        border: 1px solid #d7dce2;
        color: #000;
    }

    .btn-fill-horz.btn-orange:before,
    .btn-fill-horz.btn-orange:after {
        background-color: #0742c2;
    }

    .btn-fill-horz.btn-orange:hover {
        border-color: #0742c2;
    }

    .btn-fill-horz.btn-green:before,
    .btn-fill-horz.btn-green:after {
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-green:hover {
        border-color: var(--main-color);
    }

    .btn-fill-horz.btn-close:before,
    .btn-fill-horz.btn-close:after {
        background-color: var(--main-color);
    }

    .btn-fill-horz.btn-close:hover {
        border-color: var(--main-color);
    }

    .btn-fill-horz.btn-silver:before,
    .btn-fill-horz.btn-silver:after {
        background-color: var(--btn_red);
        color: #fff;
    }

    .btn-fill-horz.btn-silver:hover {
        border-color: var(--btn_red);
        color: #fff;
    }

    .animate,
    .btn,
    .btn-fill-horz:before,
    .btn-fill-horz:after {
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .btn-fill-horz:hover:before,
    .btn-fill-horz:hover:after {
        width: 50%;
        opacity: 1;
    }

    .btn-fill-horz {
        overflow: hidden;
    }

    .btn-fill-horz:before,
    .btn-fill-horz:after {
        content: '';
        width: 0;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .btn-fill-horz:before {
        left: 50%;
    }

    .btn-fill-horz:after {
        right: 50%;
    }

    .btn-fill-horz:hover {
        color: #fff;
    }

    .btn {
        position: relative;
        opacity: .999;
    }
    /*button*/

    * {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        color: #000;
        font-family: var(--font-cabin);
        --btn_red: #da251c;
        --main-color: #002d8d;
        --sub-color: #a41b32;
        --btn_hover: #393e46;

        --textnav_color: #8691a8;
        --font-cabin: 'Cabin', sans-serif;
        --font-mon: 'Montserrat', sans-serif;
    }

    h2,
    h3,
    h4,
    span,
    h1,
    div {
        font-family: var(--font-cabin);
    }

    .img-center {
        margin: auto;
    }

    a {
        text-decoration: none;
        outline: none;
        font-family: var(--font-cabin)
    }

    a:hover,
    a:focus,
    a:active {
        outline: none;
        text-decoration: none;
        color: #14b1bb;
    }

    ul {
        list-style-type: none;
    }

    ul li {
        font-family: var(--font-cabin);
    }

    p {
        margin: 0;
        color: #000;
        font-family: var(--font-cabin);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    section {
        margin-bottom: 70px !important;
    }
    /*----------------------------------
1 - Reset
----------------------------------*/
    /*----------------------------------
2 - header-navbar
----------------------------------*/

    #header {
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    #header .header-content {
        margin: 0 auto;
        padding: 30px 0;
        width: 100%;
        -moz-transition: padding 0.3s;
        -o-transition: padding 0.3s;
        -webkit-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    #header .logo {
        float: left;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-top: -10px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 7px;
    }

    #header.fixed {
        background-color: #181818;
    }

    #header.fixed .header-content {
        border-bottom: 0;
    }

    #header.fixed .nav-toggle {
        top: 18px;
        color: #000;
    }

    #header.fixed .header-content .logo img {
        margin-top: 23px;
    }

    #header.fixed .navigation a {
        border-bottom: none;
        border-top: 3px solid transparent;
        padding-top: 23px;
        padding-bottom: 15px;
        display: block;
        transition: none;
    }

    #header.fixed .navigation a:hover,
    #header.fixed .navigation a.active,
    #header.fixed .navigation li.active a {
        border-top: 3px solid var(--main-color);
        color: var(--main-color) !important;
    }

    #header.fixed .call-to-action a,
    #header.fixed .call-to-action a:hover,
    #header.fixed .call-to-action a:focus {
        color: #fff !important;
        border-color: transparent;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navigation.open {
        opacity: 0.9;
        visibility: visible;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

    .navigation {
        float: right;
    }

    .navigation li {
        display: inline-block;
    }

    .navigation a {
        color: rgba(255, 255, 255, 0.75);
        font-size: 13px;
        font-weight: 700;
        margin-left: 40px;
        padding-bottom: 5px;
    }

    .navigation a:hover,
    .navigation a.active,
    .navigation li.active a {
        color: #fff !important;
        border-bottom-width: 3px;
    }

    .navigation a {
        border-bottom: 0px solid #fff;
        transition: .3s all;
        border-bottom-width: 0px;
    }

    .nav-toggle {
        display: none;
        height: 44px;
        overflow: hidden;
        position: fixed;
        right: 5%;
        text-indent: 100%;
        top: 32px;
        white-space: nowrap;
        width: 44px;
        z-index: 99999;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nav-toggle:before,
    .nav-toggle:after {
        border-radius: 50%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
    }

    .nav-toggle:before {
        background-color: #e84545;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .nav-toggle:after {
        background-color: #e84545;
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }

    .nav-toggle span {
        background-color: #fff;
        bottom: auto;
        display: inline-block;
        height: 3px;
        left: 50%;
        position: absolute;
        right: auto;
        top: 50%;
        width: 18px;
        z-index: 10;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .nav-toggle span:before,
    .nav-toggle span:after {
        background-color: #fff;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.3s;
        -o-transition: -o-transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .nav-toggle span:before {
        -moz-transform: translateY(-6px) rotate(0deg);
        -ms-transform: translateY(-6px) rotate(0deg);
        -webkit-transform: translateY(-6px) rotate(0deg);
        transform: translateY(-6px) rotate(0deg);
    }

    .nav-toggle span:after {
        -moz-transform: translateY(6px) rotate(0deg);
        -ms-transform: translateY(6px) rotate(0deg);
        -webkit-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
    }

    .nav-toggle.close-nav:before {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .nav-toggle.close-nav:after {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .nav-toggle.close-nav span {
        background-color: rgba(255, 255, 255, 0);
    }

    .nav-toggle.close-nav span:before,
    .nav-toggle.close-nav span:after {
        background-color: #fff;
    }

    .nav-toggle.close-nav span:before {
        -moz-transform: translateY(0) rotate(45deg);
        -ms-transform: translateY(0) rotate(45deg);
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }

    .nav-toggle.close-nav span:after {
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -webkit-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }

    #header .divider {
        color: #fff;
        font-size: 18px;
        margin-left: 40px;
    }

    #header .language-choose a {
        border-bottom: none;
    }

    #header .language-choose a:hover,
    #header .language-choose a:focus {
        border-bottom: none;
    }

    #header .language-choose a img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-left: 8px;
    }

    #header .dropdown-menu {
        min-width: 120px;
        top: 30px;
        padding-bottom: 0px;
        padding-top: 8px;
    }

    #header .dropdown-menu>li>a {
        margin-left: 0;
        padding: 0;
        padding-bottom: 8px;
        border-bottom: 3px solid transparent;
        background-color: transparent;
    }

    #header .dropdown-menu>li>a:hover,
    #header .dropdown-menu>li>a:focus {
        border-bottom: 3px solid var(--main-color);
    }

    #header.fixed .dropdown-menu {
        min-width: 120px;
        top: 69px;
        padding-bottom: 0px;
        padding-top: 8px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-color: transparent;
    }

    #header.fixed .dropdown-menu>li>a {
        margin-left: 0;
        padding: 0;
        padding-bottom: 8px;
        border-bottom: 3px solid transparent;
        background-color: transparent;
        border-top: 0;
    }

    #header.fixed .dropdown-menu>li>a:hover,
    #header .dropdown-menu>li>a:focus {
        border-bottom: 3px solid var(--main-color);
        border-top: 0;
    }

    #header .call-to-action a {
        padding: 10px 10px;
        border: none;
        background-color: var(--btn_red);
        color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        font-size: 14px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #header .call-to-action a:hover {
        background-color: #0742c2;
        color: #fff !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #header.fixed .header-content {
        /* padding: 20px 0 10px 0; */
        padding: 0px !important;
    }
    /*----------------------------------
2 - header-navbar
----------------------------------*/
    /*----------------------------------
3 - header-banner
----------------------------------*/

    #banner-content-sg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #banner-content-sg .title-sg{
        margin-top: 40%;
    }
    #banner-content-sg .title-sg h3 {
        font-size: 50px;
        font-family: var(--font-mon);
        color: #fff;
        font-weight: 700;
    }

    #banner-content-sg .title-sg h4 {
        font-size: 30px;
        font-family: var(--font-mon);
        color: #fff;
    }

    #banner-content-sg .form-sg-body {
        background-color: #fff;
        padding: 30px;
        margin-top: 30px;
        border-radius: 8px;
    }

    #banner-content-sg .form-sg-body em {
        margin-bottom: 30px;
        display: inline-block;
        color: #9da4b4;
    }

    #banner-content-sg .form-sg-body .btn-form-sg {
        background-color: var(--sub-color);
        color: #fff;
        width: 100%;
    }
    #banner-content-sg .form-sg-body .btn-form-sg:hover {
        background-color: var(--main-color);
    }
    #banner-content-sg .btn-social {
        border: none;
    }

    #banner-content-sg .btn-social>:first-child {
        border: none;
    }

    #banner-content-sg .btn-google span {
        background-color: var(--btn_red);
    }

    #banner-content-sg .btn-facebook span {
        background-color: var(--main-color);
    }

    #banner-content-sg .nav-tabs {
        border: none;
    }

    #banner-content-sg .nav-tabs>li>a {
        padding: 0;
        color: #fff;
        opacity: 0.6;
        font-weight: 700;
        font-size: 24px;
        font-family: var(--font-mon);
        border: none;
    }

    #banner-content-sg .nav-tabs>li span {
        color: #fff;
        padding: 0 15px;
        font-size: 24px;
    }

    #banner-content-sg .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: transparent;
        border-color: transparent;
        margin-right: 0;
    }

    #banner-content-sg .nav-tabs>li.active>a,
    #banner-content-sg .nav-tabs>li.active>a:focus,
    #banner-content-sg .nav-tabs>li.active>a:hover {
        opacity: 1;
        color: #fff;
        border: none;
        background-color: transparent;
        border-bottom-color: transparent;
    }

    .fill {
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        width: 100%;
    }
.g-recaptcha {
    transform: scale(1.28);
    -webkit-transform: scale(1.28);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    margin-left:10px;
    float: left;
}
    /*----------------------------------
3 - header-banner
----------------------------------*/