﻿body{
    background:none;
}
#main-navbar .navbar-brand {
    padding: 0px;
}

#main-navbar .navbar-custom {
}

#main-navbar .navbar-brand > img {
    height: 70px;
    padding: 15px;
    width: auto;
}

#main-navbar .navbar-brand > img {
    padding: 7px 15px;
}


.relative {
    position: relative;
}

.equalsize {
    width: 65px!important;
    height: 65px!important;
    cursor: pointer;
}

.fill {
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    margin: auto;
}

.list-skill li {
    margin-bottom: 5px;
}

section.content {
    padding: 0;
}

/*-----------------------------carousel-----------------------------*/
#search-widget-wrapper {
    height: 550px;
    width: 100%;
    min-height: 500px;
    background: #fff no-repeat top center;
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 767px) {

    #search-widget-wrapper {
        height: 550px;
        background: 0 0 !important;
        background-color: #00b9f2 !important;
    }
}

#feature-work {
    position: relative;
}

    #feature-work .owl-stage-outer {
        width: 100%;
    }

    #feature-work .owl-dots {
        position: absolute;
        z-index: 1001;
        width: 100%;
        bottom: 10px;
    }

@media (max-width: 767px) {
    #feature-work .owl-dots {
        display: none !important;
    }
}

#feature-work .item {
    height: 400px;
    width: 100%;
    background: blue;
}

#feature-work .item-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

    #feature-work .item-inner a.hot-corner {
        position: absolute;
        min-width: 420px;
        width: auto;
        max-width: 520px;
        padding: 13px 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        z-index: 10;
        bottom: 15px;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        background-color: rgba(0,0,0,.35);
        display: block;
        color: rgba(255,255,255,.9);
        cursor: pointer;
        -webkit-transition: background-color .3s;
        transition: background-color .3s;
    }

#feature-work a.hot-corner .hot-corner-logo {
    width: 130px;
    height: 60px;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#feature-work .item-inner a.hot-corner .hot-corner-logo img {
    padding: 5px;
    max-height: 100%;
    max-width: 100%;
}

.hot-corner-description {
    position: relative;
    height: 100%;
}

.no-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.hot-corner__description:first-child {
    font-weight: 700;
}

.hot-corner__description {
    font-weight: 100;
    font-size: 15px;
    line-height: 26px;
    padding-right: 30px;
    height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
}

.hot-corner-view-link {
    position: absolute;
    font-weight: 100;
    font-size: 14px;
    opacity: .9;
    filter: alpha(opacity=90);
    color: transparent !important;
    height: 100%;
    width: 25px;
    background: rgba(255,255,255,.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(255,255,255,.25);
}

    .hot-corner-view-link img {
        height: 16px;
        opacity: .6;
        filter: alpha(opacity=60);
        position: absolute;
        top: 50%;
        margin-top: -8px;
        margin-right: -5px;
        right: 5px;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
    }


#jobSearchForm .form-control {
    height: 44px;
}

#jobSearchForm .btn {
    height: 44px;
}

#search-widget {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

    #search-widget .bg-grey {
        border-radius: 2px;
        box-shadow: none;
        margin-left: -5px;
        margin-right: -5px;
        background: rgba(0,0,0,.65);
        color: #fff;
        padding: 30px 20px 70px 20px; 
        height: 100%;
    }

#jobSearchForm h1 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 0;
}

@media (max-width: 767px) {
    #search-widget {
        width: 100%;
        height: 100%;
    }

    #jobSearchForm h1 {
        margin-top: 0;
        text-align: center;
        margin-bottom: 15px;
        position: static;
        font-size: 24px;
    }
}

#search-widget .btn-search-all {
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

#search-widget .btn-search-all {
    height: 44px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-color: #fff;
}

#search-widget .btn {
    font-size: 14px;
    padding: 10px 25px;
    font-weight: 700;
}
/*top companies ads*/
#top-ads-companies {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 25px 0 25px;
}

    #top-ads-companies a {
        color: #555;
    }

    #top-ads-companies .single-ad {
        background: #fff;
        border: 1px #e5e5e5 solid;
        display: block;
        text-decoration: none;
        overflow: hidden;
        padding: 15px 0;
        height: 95px;
    }

    #top-ads-companies .ads-item {
        padding: 0 5px;
    }

@media (max-width: 767px) {
    #top-ads-companies .single-ad {
        margin: 5px 0;
        border: 1px #eee solid;
        border-radius: 4px;
        height: 80px;
    }
}

#top-ads-companies .single-ad img {
    display: block;
    margin: 0 auto;
    max-height: 43px;
    max-width: 125px;
}

#top-ads-companies .single-ad .ad-slogan {
    text-align: center;
    display: block;
    color: #555;
    line-height: 14px;
    margin-top: 5px;
}

@media (max-width: 767px) {

    #top-ads-companies {
        padding: 20px 15px 0 20px;
        margin-top: 0;
    }
}

/* hot-possition */
#hot-positions .tab-content {
    border: 0;
    padding-bottom: 25px;
    height: 700px;
    overflow: hidden;
}

#hot-positions .job-list {
    overflow: auto;
    margin-right: 0;
    height: auto;
}
#hot-positions .btn-default{

}

#hot-positions .job-list ul li {
    float: left;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px dotted #ccc;
    padding-top: 8px;
}

@media (max-width: 991px) {
    #hot-positions .job-list ul li {
        width: 100%;
    }
}

#hot-positions .job-list ul li a {
    color: #555;
}

#hot-positions .job-list .score {
    float: left;
    width: 40px;
    display: block;
    margin-right:10px;
}



#hot-positions .job-list .job-title {
    float: left;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.text-clip {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
}

/*top-companies*/

#top-companies {
    text-align: center;
}

    #top-companies .cusLogo {
        display: inline-block;
        height: 65px;
        width: 140px;
        margin: 5px;
        text-decoration: none;
    }

    #top-companies img {
        display: block;
        margin: 5px auto;
        /*height: 45px;
        width: 90px;*/
        max-width:100px;
        max-height:50px;
        width:auto;
        height:auto;
        border: 1px solid #fff;
    }

#ads-blocks {
    padding-bottom: 20px;
}

.skin-blue .main-header .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
    .skin-blue .main-header .navbar .nav > li > a {
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
    }
    .skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
        background: rgba(0,0,0,0.1);
        color: #000;
    }


/*recuitment*/

#recuitment {
    padding-top: 30px;
    padding-bottom: 15px;
}

#job-search-result .job-item h3 {
    margin-top: 5px !important;
}

#job-search-result .job-item {
    border-bottom: 1px dashed #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

#job-search-result .job-item:last-child {
    border-bottom: 0;
}

#popular-show .box {
    margin-bottom: 0;
}

#popular-show .item {
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin: 20px 15px;
    padding: 0;
}
#popular-show .box-label{
    padding: 10px 20px;
    color: #fff;
    width: 100px;
    font-size: 12px;
    text-align: center;
    margin-top: 0;
}
#popular-show .box-body {
    padding: 0px 30px;
}
#popular-show .box-body .box-title a,#popular-show .box-body .box-sub-title a,#popular-show .box-body li {
    color: #000;
    font-family: 'Cabin',sans-serif;
    padding: 5px 0;
}
#popular-show .box-body .box-title a{
    font-size: 18px;
    font-weight: 700;
}
#popular-show .box-body .box-sub-title a {
    font-size: 16px;
}
#popular-show .box-body li {
    font-size: 14px;
}
#popular-show .box-heading .image-container {
    padding: 10px 30px;
}
#popular-show .box-heading .image-container img {
    width: 100%;
    margin: auto;
}
/*#popular-show .box-footer {
    margin-bottom: 20px;
    margin-top: 20px;
}*/
#popular-show .box-footer a.btn{
    margin-top: 0;
}

.skin-blue .main-header li.user-header {
    background: #14B1BB;
    color: #000;
}

#candidate-pofile {
    padding-top: 15px;
    padding-bottom: 15px;
}

.referenceItem {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
}

.referenceItem:last-child {
    border-bottom: none;
}

.filter-control {
    transition: all 10s ease;
}

.filter-control li {

    display: none;
}

.filter-control li:nth-child(-n+5) {
    display: block;
}

.filter-control.in li {
    display: block!important;
}

#recuitment-details {
    padding-bottom: 15px;
    margin-top:-30px;
}

.img-container {
    height: 150px;
    width: auto;
    position: relative;
    margin-top:20px;
}

    .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
.general-infor {
    margin-bottom: 15px;
}

.general-infor ul li {
    margin-bottom: 3px;
}

#layout-grid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.extra-info.salary {
    color: #00c0ef;
}

.widget-user-2 .widget-user-username {
    margin-top: 17px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}

.logo.job-search__logo .img-responsive {
    /*max-height: 100px;
    object-fit: contain;*/
    /*display:block;*/
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:100px;
}
.logo.job-search__logo .job-logo{
    display:block;
    position:relative;
    height:100px;
}
/**
* Change three lines
*
/* line 11 */
.select2-container .select2-selection--single {
    box-sizing: border-box;
    padding: 6px 12px;
    cursor: pointer;
    display: block;
    height: 44px;
    user-select: none;
    -webkit-user-select: none;
}

/* line 131 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 0;
}

/* line 139 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 7px;
    right: 1px;
    width: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#control-three.filter-control li {
    display: block;
}