
.timeline {
  list-style: none;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #eeeeee;
  left: 25px;
  margin-right: -1.5px;
}

.timeline > li {
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc( 100% - 35px );
  float: right;
  padding: 20px;
  position: relative;
}

    .timeline > li > .timeline-badge {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: 18px;
        left: 17px;
        background-color: #f39c12;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
 
.timeline .timeline-body .box-label-date {
  width: 160px !important;
  font-size: 14px !important;
  padding: 14px 15px  !important;
  margin-bottom:0px !important; 
  font-weight:bold;
}
.timeline .timeline-body .timeline-title{
  font-weight: bold;
}
.timeline .timeline-body p {
  
  margin-top: 15px;
  margin-bottom: 10px;
}

.timeline .timeline-body ul li{
  margin-bottom: 10px;
}