﻿<!-- This load with API of TinyMCE Edit account firephi92@gmail.com-->
@*<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=gj84u7tjzzmnwp82shqwlui9jp9fjinl6ixisz1t347wu7cf"></script>*@
<script src="~/lib/tinymce/tinymce.js"></script>
<script>
    $(function () {
        tinymce.init({
            menubar: false,
            selector: '.tinymce',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak'
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link'

            //selector: ".tinymce",
            //theme: "modern",
            //plugins: [
            //    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            //    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            //    "save table contextmenu directionality emoticons template paste textcolor",
            //    /*"base64_image"*/,
            //    "code"
            //],
            //content_css: "/lib/tinymce/skins/lightgray/content.min.css",
            //menubar: "insert",
            //toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons | base64_image | code",
            //image_advtab: true,
            //style_formats: [
            //    { title: 'Bold text', inline: 'b' },
            //    { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
            //    { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
            //    { title: 'Example 1', inline: 'span', classes: 'example1' },
            //    { title: 'Example 2', inline: 'span', classes: 'example2' },
            //    { title: 'Table styles' },
            //    { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            //]

        });
    });
</script>
