﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact Asean</title>

    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/favicons/manifest.json">
    <link rel="mask-icon" href="~/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/areas/employer/lib/animate.css/animate.min.css">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/areas/employer/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/areas/employer/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    </environment>

    @RenderSection("styles", required: false)
    @*<link rel="stylesheet" href="~/lib/AdminLTE/dist/css/AdminLTE.min.css" />*@
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Montserrat:400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />

    <link rel="stylesheet" href="~/areas/employer/lib/pnotify/dist/pnotify.css">
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/datepicker/datepicker3.css">
    @*<link rel="stylesheet" href="~/lib/AdminLTE/dist/css/AdminLTE.min.css">*@
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/skins/skin-black-light.min.css">
    <link rel="stylesheet" href="~/css/employer.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #00c0ef;
        }

            .nav-tabs-custom > .nav-tabs > li.active > a {
                color: #00c0ef !important
            }

        .border-aqua {
            border-color: #b0e0e6 !important
        }
    </style>
</head>
<body>
    
    @await Html.PartialAsync("Partial/_TopNavigator")
    <section class="manager-menu-e">
            @await Component.InvokeAsync("EmployerSidenav")
        <div class="container" style="min-height:550px">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="nav-menu">
                        <p style="margin-bottom: 10px">MANAGE ACCOUNT</p>
                        <ul class="nav nav-pills nav-stacked">
                            <li class='@(ViewContext.HttpContext.Request.Path.Value.Equals(Url.Action("Index", "Home"))?"active":"")'>
                                <a asp-area="Employer" asp-controller="Home" asp-action="Index">Management Page</a>
                            </li>
                            <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Profile", "Home"))?"active":"")'>
                                <a asp-area="Employer" asp-controller="Home" asp-action="Profile">Profile settings</a>
                            </li>
                            <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("Index", "PositionJobs"))?"active":"")'>
                                <a asp-area="Employer" asp-controller="PositionJobs" asp-action="Index">Recruitment</a>
                            </li>
                            <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("CandidateSearch", "Home"))?"active":"")'>
                                <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSearch">Search Candidate</a>
                            </li>
                            <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("CandidateSaved", "Home"))?"active":"")'>
                                <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSaved">Saved Candidate</a>
                            </li>
                            <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("CandidateSubmit", "Home"))?"active":"")'>
                                <a asp-area="Employer" asp-controller="Home" asp-action="CandidateSubmit">Submitted Candidates</a>
                            </li>
                            <li class='@(ViewContext.HttpContext.Request.Path.Value.Contains(Url.Action("ChangePassword", "Home"))?"active":"")'>
                                <a asp-area="Employer" asp-controller="Home" asp-action="ChangePassword">Change password</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="LogOff" asp-area="default">@T.T("Home.Sign.Out")</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="tab-content" style="background-color: #fff">
                        <div id="mn-recruiment" class="mn-tab tab-pane fade in active">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </section>
    <div class="clearfix"></div>

    <footer class="main-footer no-margin" style="padding:15px">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>&copy; @DateTime.Now.Year <a href="#">Contact Asean</a>.</strong> All rights
    </footer>
   
<environment names="Development">
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>

<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

    </script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
</environment>
<script src="~/areas/employer/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="~/areas/employer/lib/pnotify/dist/pnotify.js"></script>
<script src="~/areas/employer/lib/pnotify/dist/pnotify.animate.js"></script>
<script src="~/lib/AdminLTE/plugins/select2/select2.min.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/lib/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/lib/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.vi.js"></script>
<script src="~/lib/AdminLTE/dist/js/app.js"></script>
<script src="~/areas/employer/js/app.js" asp-append-version="true"></script>


<script>
    PNotify.prototype.options.styling = "bootstrap3";
    PNotify.prototype.options.delay = 3000;
</script>

@RenderSection("scripts", required: false)

</body>
</html>